<?php
$result = $this->getBlockData();
$block = $result['block'];
$banners = $result['banners'];
$banner_ids = array();
$banner_note_ids = array();
$url = $this->getUrl('bannerslider/index/impress');
$config = Mage::getStoreConfig('bannerslider/homepage');
$config2 = Mage::getStoreConfig('bannerslider/general');
?>

<?php if (count($banners) && count($block->getData())): ?>
<?php if($config2['enable']):?>
<?php if ($block['status'] == 0): ?>

        <?php if ($block['show_title'] == 0): ?>
            <div class="banner-title"><?php echo $block['title']; ?></div>
        <?php endif; ?>
        
        <!--banner content static block content-->
                <div class="banner-slider">
                        <?php if ($block->getStyleContent() == "0"): ?>
                            <div class="banner-standard">
                                <?php echo $this->returntemplateSlider($block->getStyleSlide(), $result) ?>
                            </div>    
                        <?php endif; ?>
                </div>
        <!--end -->




        <?php 
        foreach ($banners as $banner) {
            $banner_ids[$banner["banner_id"]] = $banner["banner_id"];
        }
        ?>
        <script type="text/javascript">
            Event.observe(window, 'load', function() {
                banner_ids = '<?php echo implode(",", $banner_ids); ?>';
                slider_id = '<?php echo $block['bannerslider_id'];?>';
                imp_url = '<?php echo $url; ?>';								
                new Ajax.Request(imp_url, {
                    method: 'post',
                    parameters:{banner_ids: banner_ids, slider_id:slider_id,imp_url: imp_url},
                    onFailure: '',
                    onSuccess: ''

                });
            });
        </script>
<?php endif; ?>
<?php endif; ?>
<?php endif; ?>