<?php
$block_data = $this->getBlockData();
$blocks = $block_data['block'];
$banners = $block_data['banners'];
$click_url = $this->getUrl('bannerslider/index/click');

 foreach ($banners as $banner)
 {
	$bann= $banner['layer_data'];
	$exp=explode(';',$bann);
 }

?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mdl/bannerslider/jquery.themepunch.plugins.min.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mdl/bannerslider/jquery.themepunch.revolution.min.js') ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/mdl/bannerslider/settings.css') ?>" />    
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/mdl/bannerslider/captions.css') ?>" />

	<!-- START REVOLUTION SLIDER 2.3.91 -->
			<style type='text/css'>
				#rev_slider_1_1, #rev_slider_1_1_wrapper { max-width:100%; }
			</style>				<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper" >
			<div id="rev_slider_1_1" class="rev_slider" style="display:none;">						
				<ul>
				 <?php foreach ($banners as $banner):
						$bann= $banner['layer_data'];
						$exp=explode(';',$bann);
						$t=json_decode($exp[1]);
					?>
					<li data-transition="<?php echo $blocks['animation']; ?>" data-slotamount="7" data-masterspeed="300" >
						<img <?php if($banner['click_url']!='') {  ?>onclick="window.open('<?php echo $banner['click_url']; ?>','<?php echo $this->getTarget($banner['tartget'])?>');" style="cursor:pointer;" <?php } ?> src="<?php echo $this->getBannerImage($banner['image']); ?>" title="<?php echo $banner['image_alt']; ?>" alt="<?php echo $banner['image_alt']; ?>" width="<?php echo $blocks['width'] ?>" height="<?php echo $blocks['height'] ?>" />
						<?php  
						if(count($exp)>1)
						{
							for($i=0;$i<count($exp);$i++)
							{
							$ban=json_decode($exp[$i]);
							$ban_type=$ban->{'type'};
							if($ban_type=='text')
							{
						?>							
						<div class="tp-caption <?php echo $ban->{'animation'}; ?> <?php echo $ban->{'style'}; ?>"  
						 data-x="<?php echo $ban->{'left'}; ?>" 
						 data-y="<?php echo $ban->{'top'}; ?>" 
						 data-speed="<?php echo $ban->{'speed'}; ?>" 
						 
						 data-start="<?php echo $ban->{'time'}; ?>" 
						 data-easing="<?php echo $ban->{'easing'}; ?>"  ><?php echo $ban->{'text'}; ?></div>
							<?php
						} else if($ban_type=='image')
						{ ?>	
						<div class="tp-caption <?php echo $ban->{'animation'}; ?>"  
						 data-x="<?php echo $ban->{'left'}; ?>" 
						 data-y="<?php echo $ban->{'top'}; ?>" 
						 data-speed="<?php echo $ban->{'speed'}; ?>" 
						 data-start="<?php echo $ban->{'time'}; ?>" 
						 data-easing="<?php echo $ban->{'easing'}; ?>"  ><img src="<?php echo $ban->{'image_url'}; ?>" alt="Image 2"></div>
							<?php } else if($ban_type=='video') { ?>				
						<div class="tp-caption <?php echo $ban->{'animation'}; ?>"  
							 data-x="<?php echo $ban->{'left'}; ?>" 
							 data-y="<?php echo $ban->{'top'}; ?>" 
							 data-speed="<?php echo $ban->{'speed'}; ?>" 
							 data-start="<?php echo $ban->{'time'}; ?>" 
							 data-easing="<?php echo $ban->{'easing'}; ?>" >
								<?php if($ban->{'video_type'}=='youtube') { ?>
							 <iframe src='http://www.youtube.com/embed/<?php echo $ban->{'video_id'} ?>?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0' width='320' height='240' style='width:<?php echo $ban->{'video_width'} ?>px;height:<?php echo $ban->{'video_height'} ?>px;'></iframe>
							 <?php } else if($ban->{'video_type'}=='vimeo') { ?>
							  <iframe src='//player.vimeo.com/video/<?php echo $ban->{'video_id'} ?>?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0' width='320' height='240' style='width:<?php echo $ban->{'video_width'} ?>px;height:<?php echo $ban->{'video_height'} ?>px;'></iframe>
							 <?php } else { ?>
							  <iframe src='http://www.youtube.com/embed/<?php echo $ban->{'video_id'} ?>?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0' width='320' height='240' style='width:<?php echo $ban->{'video_width'} ?>px;height:<?php echo $ban->{'video_height'} ?>px;'></iframe>
							 <?php } ?>
							 </div>
							<?php }
						}
					}
					else
					{
						$ban=json_decode($bann);
					$ban_type=$ban->{'type'};
					if($ban_type=='text')
					{
				?>
				<div class="tp-caption <?php echo $ban->{'animation'}; ?> <?php echo $ban->{'style'}; ?>"  
						 data-x="<?php echo $ban->{'left'}; ?>" 
						 data-y="<?php echo $ban->{'top'}; ?>" 
						 data-speed="<?php echo $ban->{'speed'}; ?>" 
						 data-start="<?php echo $ban->{'time'}; ?>" 
						 data-easing="<?php echo $ban->{'easing'}; ?>"  ><?php echo $ban->{'text'}; ?></div>
						 <?php
						} else if($ban_type=='image')
						{ ?>	
						<div class="tp-caption <?php echo $ban->{'animation'}; ?>"  
						 data-x="<?php echo $ban->{'left'}; ?>" 
						 data-y="<?php echo $ban->{'top'}; ?>" 
						 data-speed="<?php echo $ban->{'speed'}; ?>" 
						 data-start="<?php echo $ban->{'time'}; ?>" 
						 data-easing="<?php echo $ban->{'easing'}; ?>"  ><img src="<?php echo $ban->{'image_url'}; ?>" alt="Image 2"></div>
							<?php } else if($ban_type=='video') { ?>				
						<div class="tp-caption <?php echo $ban->{'animation'}; ?>"  
							 data-x="<?php echo $ban->{'left'}; ?>" 
							 data-y="<?php echo $ban->{'top'}; ?>" 
							 data-speed="<?php echo $ban->{'speed'}; ?>" 
							 data-start="<?php echo $ban->{'time'}; ?>" 
							 data-easing="<?php echo $ban->{'easing'}; ?>"  >
							 <?php if($ban->{'video_type'}=='vimeo') { ?>
							 <iframe src='//player.vimeo.com/video/<?php echo $ban->{'video_id'} ?>?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0' width='<?php echo $ban->{'video_width'} ?>' height='<?php echo $ban->{'video_height'} ?>' style='width:<?php echo $ban->{'video_width'} ?>px;height:<?php echo $ban->{'video_height'} ?>px;'></iframe>
							 <?php } else { ?>
							  <iframe src='http://www.youtube.com/embed/<?php echo $ban->{'video_id'} ?>?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0' width='<?php echo $ban->{'video_width'} ?>' height='<?php echo $ban->{'video_height'} ?>' style='width:<?php echo $ban->{'video_width'} ?>px;height:<?php echo $ban->{'video_height'} ?>px;'></iframe>
							 <?php } ?>
							 </div>
							<?php } ?>
						<?php } ?>
					</li>
					  <?php endforeach; ?>    
				</ul>
				<div class="tp-bannertimer"></div>
			</div>
	</div>					
			<script type="text/javascript">

				var tpj=jQuery;
				tpj.noConflict();
								
				var revapi1;
				
				tpj(document).ready(function() {
				
				if (tpj.fn.cssOriginal != undefined)
					tpj.fn.css = tpj.fn.cssOriginal;
				
				if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						delay:<?php echo $blocks['slider_speed']; ?>,
						startwidth:960,
						startheight:450,
						hideThumbs:200,
						
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:4,
						
						navigationType:"bullet",
						navigationArrows:"solo",
						navigationStyle:"round",
						
						touchenabled:"on",
						onHoverStop:"on",
						
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
								
						shadow:2,
						fullWidth:"on",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",
						
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0	
					});
				
				});	//ready
				
			</script>
							<!-- END REVOLUTION SLIDER -->
   