<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>



<?php if($_product->isSaleable()): ?>
	
		<?php echo $this->getBlockHtml('formkey')?>
        
    
        <?php if(!$_product->isGrouped()): ?>
<div class="qty">
	<h2>QTY:</h2>
	<div class="sp-quantity">
		<div class="sp-minus fff">
			<a class="ddd" style="cursor: pointer;"><i class="fa fa-angle-down"></i></a>
		</div>
		<div class="sp-input">
			<input type="text" name="qty" id="qty" maxlength="12" value="1"
				class="quntity-input" />
		</div>
		<div class="sp-plus fff">
			<a class="ddd" style="cursor: pointer;"><i class="fa fa-angle-up"><span
					style="visibility: hidden;">+</i></a>
		</div>
	</div>

</div>
<?php endif; ?>

<a onclick="productAddToCartForm.submit(this)" style="cursor: pointer;"
	class="proDetCart">Add to Cart</a>
<?php echo $this->getChildHtml('', true, true)?>
    
    
<?php endif; ?>
