<div class="profBtm">

    <div class="container">
      <div class="row">

      <div class="mobFixWidthrow">
        <div class="mobFixWidth"> 
        <div class="col-md-12">
        <?php if ($this->helper('wishlist')->isAllow()) : ?>
        <?php $this->getMessagesBlock()->getGroupedHtml() ?>
         <!--  <div class="checkBox checkBoxHead">
            <div class="col1">ITEM</div>
            <div class="col4">Price</div>
            <div class="col5">Delivery Details</div>
            <div class="col6"></div>
          </div> -->
          <form id="wishlist-view-form" action="<?php echo $this->getUrl('*/*/update', array('wishlist_id' => $this->getWishlistInstance()->getId())) ?>" method="post">
          <?php if ($this->hasWishlistItems()): ?>
                        <?php echo $this->getBlockHtml('formkey');?>
                        <?php $this->getChild('items')->setItems($this->getWishlistItems()); ?>
                        <?php echo $this->getChildHtml('items');?>
                        <script type="text/javascript">decorateTable('wishlist-table')</script>
                <?php else: ?>
                    <p class="wishlist-empty"><?php echo $this->__('You have no items in your wishlist.') ?></p>
                <?php endif ?>
        </div>
        </form>
        <?php endif; ?>
        </div>
        </div>
      </div>
    </div>

  </div><!-- profBtm -->
  
  <script type="text/javascript">
        //<![CDATA[
            var wishlistForm = new Validation($('wishlist-view-form'));
            var wishlistAllCartForm = new Validation($('wishlist-allcart-form'));

            function calculateQty() {
                var itemQtys = new Array();
                $$('#wishlist-view-form .qty').each(
                    function (input, index) {
                        var idxStr = input.name;
                        var idx = idxStr.replace( /[^\d.]/g, '' );
                        itemQtys[idx] = input.value;
                    }
                );

                $$('#qty')[0].value = JSON.stringify(itemQtys);
            }

            function addAllWItemsToCart() {
                calculateQty();
                wishlistAllCartForm.form.submit();
            }
        //]]>
        </script>