 <?php $posts = $this->getPosts(); ?>
<?php if (count($posts)): ?>
 <?php echo $this->getChildHtml('magic_mdlblog_comments_toolbar'); ?>
    <?php foreach ($posts as $post): ?>
        <div class="postWrapper f-block">
            <div class="postContent f-fix">
				<div class="span3"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $post->getBlogthumb(); ?>" alt=""/></div>
				<div class="span9">
                <div class="blogInner">
			        <div class="postTitle">
                        <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
                        <h3><?php echo $post->getCreatedTime(); ?></h3>
                    </div>
					<?php echo $post->getPostContent(); ?>
					<?php echo $this->getBookmarkHtml($post) ?>
                    <div class="tags"><?php echo Mage::getBlockSingleton('mdlblog/mdlblog')->getTagsHtml($post) ?></div>
                    <div class="postDetails">
                        <?php if ($this->getCommentsEnabled()): ?>
                        <span class="comment-count">
                           <?php if($post->getCommentCount()) { ?> <?php echo $post->getCommentCount(); ?> <?php } else { echo '0 '; } ?></span><a href="<?php echo $post->getAddress(); ?>#commentBox" >Comments</a> |
                        <?php endif; ?>
                        <?php $postCats = $post->getCats(); ?>
                        <?php if (!empty($postCats)): ?>
                            <?php echo Mage::helper('mdlblog')->__('Posted in'); ?>
                            <?php foreach ($postCats as $data): ?>
                                    <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <?php echo Mage::helper('mdlblog')->__('Posted'); ?>
                        <?php endif; ?><?php echo$this->__("By"); ?> <?php echo $post->getUser(); ?></div>
                </div>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
 <?php echo $this->getChildHtml('magic_mdlblog_comments_toolbar'); ?>
<?php else: ?>
    <?php echo Mage::helper('mdlblog')->__('No Posts in this Category.'); ?>
<?php endif; ?>