<?php
// ------ Added By Ninad -------------        

$services_path = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "ninad/services_icons/festival_images/wedding";
$lbl_bg_color = "#960000";  //Org :-  #960000    ninad/services_icons     // Theam Path :- ninad/services_icons/festival_images/wedding

// ------ Added By Ninad End-------------
?>
<section class="f-fix new-collections footer-top-wr">
<div class="container">
        <div class="headingBox"><h2><span>Our Services</span></h2></div>
  <div class="collection"><ul class="f-fix">
<li><a target="_self" href="/book-a-pandit"><img alt="Book a Pandit" src="<?php echo $services_path ?>/book_pandit.jpg"></a>
    <!-- <h3 style="background: <?php echo $lbl_bg_color; ?>;">Book a Pandit</h3> -->  <!-- org color = #960000  -->
</li>
<li><a target="_self" href="/puja-samagri"><img alt="Puja Samagri" src="<?php echo $services_path ?>/puja_samagri.jpg"></a> 
<!--  <h3 style="background: <?php echo $lbl_bg_color; ?>;">Puja Samagri</h3>  -->
</li>
<li><a target="_self" href="/organise-a-puja"><img alt="Organise a Puja" src="<?php echo $services_path ?>/organise_puja.jpg"></a>
<!--  <h3 style="background: <?php echo $lbl_bg_color; ?>;">Organise a Puja</h3>  -->
</li>
<li><a target="_self" href="/e-puja"><img alt="E-Puja" src="<?php echo $services_path ?>/e_puja.jpg"></a>
<!--   <h3 style="background: <?php echo $lbl_bg_color; ?>;">E-Puja</h3>  -->
</li>
</ul></div>
</div>
</section>