<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-blog"><?php echo Mage::helper('mdlblog')->__('Blog Comment') ?></h3></td>
            <td class="a-right">
            </td>
        </tr>
    </table>
</div>
<div>
    <?php echo $this->getGridHtml(); ?>
</div>