.bannerRow{ margin-bottom:0px; padding:0px; }
.bannerRow .container{ padding:0px 0px 30px; margin:0px; width:100%; max-width:none; }
.slide .camera_wrap{ margin:0px !important; }
.rowExt ul{ vertical-align:top; display:inline-block; width:100%; }
#back_to_camera {
			background: rgba(255,255,255,.9);
			clear: both;
			display: block;
			height: 40px;
			line-height: 40px;
			padding: 20px;
			position: relative;
			z-index: 1;
		}
		.fluid_container {
			bottom: 0;
			height: 100%;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 0;
		}
		.camera_bar {
			z-index: 2;
		}
		.camera_thumbs {
			margin-top: -100px;
			position: relative;
			z-index: 1;
		}
		.camera_thumbs_cont {
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
		}
		.camera_overlayer {
			opacity: .1;
		}
	.contentPos-left, .contentPos-right, .contentPos-center{}
	.contentPos-left{position:absolute; left:4%; top:20%; width:40%; color:#fff; text-align:left; display:inline-block; }
    .contentPos-right{position:absolute; right:10%; top:25%; width:35%; color:#fff; text-align:left; display:inline-block;}
    .contentPos-center{position:absolute; left:50%; margin-left:-25%; top:25%; width:50%; color:#fff; text-align:center; display:inline-block;}	
	.camera_effected h2 {
		background: none repeat scroll 0 0 #000000;
		color: #FFFFFF;
		display: inline-block;
		font-family: georgia;
		font-size: 43px;
		font-weight: normal;
		line-height: 40px;
		margin-bottom: 0;
		padding: 10px;
		text-transform: uppercase;
	}
	.span9 .camera_effected h2{ }
	.camera_effected p {
		color: #FFFFFF;
		font-size: 14px;
		line-height: 19px;
		margin: 5% 0;
		text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
	}
	.camera_effected .bannerButton {
		cursor: pointer;
		display: inline-block;
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size: 17px;
		margin:0;
		padding: 5px;
		text-decoration: none;
	}	
	.camera_effected .bannerButton span {
		border-width:1px; border-style:solid;
		display: inline-block;
		padding: 15px 35px;
	}
	.camera_effected .bannerButton:hover{background:#666; border:1px solid #fff;}
	.camera_effected .bannerButton:hover span{border:1px solid #fff;}