.opcNew li{list-style: none; display: inline-block;width: 100%;color:#666;}
.opcNew li span.number{display: none;}
.opcNew li .step-title a{display: none;}
.a-item{display: inline-block;}
.opcNew li.section .step-title{border: 0px; background: #f0f0f0; color: #333;}
/*.opcNew li.section .step-title:hover{background-color: #ed9636; color: #fff;}*/
.opcNew li.section .step-title h2{ font-size: 20px; padding: 10px; color: #333;}

.opcNew li.allow .step-title{border: 0px; background-color: #ed9636; color: #fff;    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;}
.opcNew li.allow .step-title:hover{background-color: #f04d23; color: #fff;}
.opcNew li.allow .step-title h2{ font-size: 20px; padding: 10px; color: #fff;}
.opcNew .radio{    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;}

#opc-login h3 {
	border-bottom-color:#ed9636;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 15px;
    color: #333;
    text-transform: initial;font-size: 18px;
}
.a-item{padding: 0 !important;    width: 100% !important;}
.a-item .col2-set{clear: both;}
.validate-select{    width: 100%;
    background: #fff;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;}
.inchoo-socialconnect-checkout-google p,.inchoo-socialconnect-checkout-facebook p{ min-height: 40px;}
.page-title h1, .page-title h2{margin-top: 0;
    color: #333;
    font-weight: 100;
    letter-spacing: 1px;    font-size: 30px;}
.page-title{margin-bottom: 0px;}
p.required{display: none;}
#checkout-step-login .buttons-set{ position: relative;    margin-bottom: 40px;}
#checkout-step-login .buttons-set .f-left{ position: absolute;
    bottom: -30px;
    right: 0;}
.back-link a,#review-buttons-container a,.changelink a{color: #f04d23;}
#checkout-review-submit button{    width: 100%;
    outline: none;
    border: 0;
    background: #f16e4d !important;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    display: block;
    resize: none;
    margin-bottom: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;}
.cart-padding{padding: 30px 0px;}
.cart-padding .page-title{ margin-bottom: 30px;}
.cart-padding .legend{     font-size: 20px;}
.cart-padding .buttons-set{    clear: both;}
.cart-padding .back-link{    clear: both;   margin-top: 0px;    display: block;}
   .opcNew #review-buttons-container .f-left{display: none;}

/*
*Author: Yogendra karekar
*Date: 10th feb 2016
*Description: changes done to the checkout page
*
*/
#checkoutSteps > li{
    display: none;
    visibility: hidden;
    opacity:0;
    transition:opacity 0.5s linear;
}
#checkoutSteps > li.active{
    display: block;
    visibility: visible;
    opacity: 1;
}
.checkout-steps-indicators-container{
    padding-top: 40px;
    padding-bottom: 20px;
}
.checkout-steps-indicators-container .connecting-line{
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    border: 2px solid #ddd;
}
.checkout-steps-indicators-container .checkout-steps-indicators-list{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.checkout-steps-indicators-container .checkout-steps-indicators-list .checkout-steps-indicators{
    z-index: 1;
    position: relative;
}
.checkout-steps-indicators-container .checkout-steps-indicators-list .checkout-steps-indicators.disabled:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    z-index: 11;
}
.checkout-steps-indicators-container .checkout-steps-indicators-list .checkout-steps-indicators span{
    height: 50px;
    width: 50px;
    background-color: #f4f4f4;
    border-radius: 100%;
    color: #ed9636;
    text-align: center;
    font-size: 30px;
    border: 2px solid #ed9636;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    z-index: 1;
}
.checkout-steps-indicators p{
    margin-top: 10px;
    font-size: 14px;
}
.checkout-steps-indicators-container .checkout-steps-indicators-list .checkout-steps-indicators.active span{
    background-color: #ed9636;
    color: #fff;
    border: 2px solid #ed9636;
}
.checkout-steps-indicators-container .checkout-steps-indicators-list .checkout-steps-indicators.active p{
    color: #ed9636;
}
.block-progress .block-title {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}
.block-progress .block-title span{
    color: #ed9636;
}
.block-progress dt{
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
}
/*the home page*/
.hwItWrkImg img{
    width: 200px;
}
@media(max-width: 768px){
    .checkout-steps-indicators-container .checkout-steps-indicators-list .checkout-steps-indicators span{
        height: 40px;
        width: 40px;
        font-size: 14px;
    }
    .checkout-steps-indicators-container .connecting-line{
        top: 38px;
    }
    #checkout-progress-wrapper{
        display: none;
    }
    /*indian wedding page issue*/
    .headingBox h2 span{
        background-image: none;
    }
}

/*the indian wedding pages*/
#webform_3_form{
    background-color: #fff;
}
/*general*/
a:focus{
    color: rgb(240, 77, 35);
}

/*for input boxes*/
input.input-text, select.input-text, textarea.input-text, .bookForm input, .bookForm select, .bookForm textarea,input,select,textarea{
    background: #fff;
    border-color: rgba(235, 69, 23, 0.42);
    color: #666;
}
textarea{
    height: auto!important;
}

/*the product pages*/
#horizontalTab{
    margin-top: 15px!important;
    margin-left: -15px!important;
    margin-right: -15px!important;
}

.ddd:hover, .ddd:focus{
    color: #ed9636;
}
.parameterBox .parameter{
width: 31.33%;
margin: 5px;
border-right: 1px solid #c2c2c2;
border: 1px solid #c2c2c2;
}

/*for search box*/
.flex-parent{
    display: flex;
    display: -webkit-flex;
}
.bookSearchSub{
    flex: 1;
    -webkit-flex: 1;
}

/*the account page*/
input[name="default-address-check"]{
    display: none!important;
    visibility: hidden!important;
}
.drinkcard-cc{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
