* {padding:0;margin:0;font-family: 'Open Sans', sans-serif;}

h1,h2,h3,h4,h5,h6{ font-family: 'Open Sans', sans-serif;}
html,body{width:100%;/*height:100%;*/overflow-x: hidden;} 
.clear{clear:both;}
p{font-family: 'Open Sans', sans-serif;}
ul{list-style:none;margin:0;padding:0;}
ul li{font-family: 'Open Sans', sans-serif;}
a{text-decoration:none; font-family: 'Open Sans', sans-serif;}
.clear{clear:both;}
.noPadding{padding:0;} .paddingLeft{padding-left:0;} .paddingRight{padding-right:0;}
.noMargin{margin:0;} .marginLeft{margin-left:0;} .marginRight{margin-right:0;}
.active{color:#fcb816;}
.transition , a,.bookSub,.bookSearchSub{transition:0.5s all;-webkit-transition:0.5s all;-moz-transition:0.5s all;-ms-transition:0.5s all;-o-transition:0.5s all; }
::-moz-selection { /* Code for Firefox */ color: #fff; background: #ed9636; }
::selection {color: #fff; background: #ed9636; } 
.mobScrn50{width: 50%;float: left;}
/* pseudo class https://developer.mozilla.org/en-US/docs/Web/CSS/:any */

:-moz-any(.custom-select):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
}
.sp-minus {width:12px; height:30px; float:left; text-align:center; padding: 0 !important; }
.sp-input {width:30px; height:30px; border-left:0px solid black; float:left; padding: 0 !important; }
.sp-plus {width:12px; height:30px; float:left; text-align:center; padding: 0 !important; }
.sp-input input {width:30px; height:30px; text-align:center; border: none; background: transparent; }
.sp-input input:focus {border: none !important;}
.sp-minus a, .sp-plus a {display: block; width: 100%; height: 100%; color: #f04d23; font-size: 24px; text-decoration: none; } 
.sp-quantity .fa{text-align: center; display: block; line-height: 34px;}
.sp-quantity .fa.fa-angle-down{line-height: 38px;}
header{-webkit-transition: 0.5s all; -o-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; transition: 0.5s all;}
/* Home Page */
/*Header*/
.logo { position: relative; z-index: 99; width: 145px; display: block;background: #ffffff; text-align: center; height: 50px;}
.logo:before {content: ''; vertical-align: middle; display: inline-block; height: 100%; }
.logo img{width: 110px; vertical-align: middle; display: inline-block;}
.navbar {margin: 0;background: #f0f0f0;}
.menuSec1{ float: left;}
.menuSec2{ float: right;} 
.menuNavbar ul li {display: inline-block;padding-left: 40px; }
.menuNavbar ul li a{cursor: pointer; color: #a06f4c; text-decoration: none; line-height: 48px; text-transform: uppercase; display: block; font-weight: 600;font-size: 14px;}
.menuNavbar ul li a:hover{ color: #f04d23;  }
.menuNavbar ul.menuSec2 li { padding-left: 0; }
.menuNavbar ul.menuSec2 li a {padding: 0 20px; position: relative; } 
.menuNavbar ul.menuSec2 li a:before {content: ''; position: absolute; height: 35px; width: 1px; background: #d7d7d7; top: 16px; margin-top: -10px; left: 0; } 
.menuNavbar ul.menuSec2 li:first-child a:before {display: none;}
.menuNavbar ul.menuSec2 li .menuNum{font-weight: 400;color: #666;}
.menuNavbar ul.menuSec2 li .menuCont{font-weight: 400;color: #666;}
.menuNavbar ul.menuSec2 li .menuEcom{ color: #666; font-size: 18px; line-height: 48px;} 
.menuNavbar ul.menuSec2 li .menuEcom:hover{ color: #f04d23; } 
.menuNavbar ul.menuSec2 li .menuLogin{ color: #f04d23;}
.menuNavbar{position: relative;}
/*Dropdown*/
.dropContainer {position: absolute; background: #e8e8e8; color: #666666; z-index: 999; width: 100%; left: 145px; max-width: 1100px; top: 51px; display: table;opacity: 0;z-index: -99;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.dropContainer .nav-tabs>li.active>a {border-bottom: 1px solid #d7d7d7; }
.dropLink:hover .dropContainer{opacity: 1;z-index: 999}
.dropContainer .nav-tabs {border-bottom: 0; display: table-cell; height: 100%; width: 20%; background:#f3f3f3  url('../img/menuBg1.jpg')no-repeat center bottom; background-size: contain; }
.dropContainer .nav-tabs li a{ margin: 0;line-height: 50px; height: 50px; text-align: left;position: relative; padding: 0 20px;}
.dropContainer .nav-tabs li a:before{content: ''; width: 18px;height: 7px;background: url('../img/menuIconBg.png')no-repeat center center;background-size: contain ;display: inline-block; margin-right: 12px;}

.dropContainer .nav-tabs>li.active>a, .dropContainer .nav-tabs>li.active>a:hover, .dropContainer .nav-tabs>li.active>a:focus {color: #333; background-color: #ededed; }
.menuNavbar .dropContainer ul li{width: 100%;padding: 0}
 
.menuNavbar .dropContainer .tab-content{width: 80%; display: table-cell; background: #e8e8e8 url('../img/menuBg2.jpg')no-repeat right bottom;}
.menuNavbar .dropContainer .dropMenu {width: 330px; float: left; border-left: 1px solid #d7d7d7; padding: 10px; } 
.menuNavbar .dropContainer .dropMenu li{ padding-left: 30px;}
.menuNavbar .dropContainer .dropMenu li a{ color: #666666; line-height: 50px; font-weight: 400; text-transform: capitalize;}
.menuNavbar .dropContainer .dropMenu li a:hover{ color: #a26e49; }
.menuNavbar .dropContainer .dropMenu li a:before {width: 5px; height: 5px; background: #a26e49; border-radius: 50%; content: ''; display: inline-block; vertical-align: middle; position: relative; left: -9px; }
 .dl-menuwrapper button:after {height: 3px; top: 14px;}
 .dl-menuwrapper li a { text-align: left;}

 /*Mobile*/
 .mobHomeServ{padding: 20px 15px;display: none;}
 .listServ{border-bottom: 1px #cdbcaa solid;}
 .listServ:last-child{border-bottom:0px;}
 .listServ img{width:50px; margin-right: 20px;}
 .listServ a{font-size: 18px;color: #f05a2c;font-weight: 600;text-transform: uppercase;text-decoration: none;display: block;padding: 10px;}
 .listServ a span{font-weight: 400;}
.dl-menuwrapper{ position: absolute;top: 50px; z-index: 999999;display: inline-block;max-width: 250px; right: 15px;}
.mobileMenu{display: none;}
.mobileMenu{background: #f0f0f0;}
.mobileCart{display: inline-block; float: right; margin-right: 50px;}
.mobileLogin{display: inline-block; float: right;}
.mobileLogo{display: inline-block;}
.dl-menuwrapper button {float: right ;width: 50px; height: 50px;top:-50px;}
.dl-menuwrapper .dl-menu {margin: 50px 0 0 0;top:-50px;}
.mobileCart .menuEcom,.mobileLogin .menuLogin {color: #666; font-size: 18px; line-height: 50px;padding: 0 15px; display: block;}

/* Service Section Below the Banner */
.seasonContainer{width: 100%; display: inline-block; vertical-align: top;} 
.seasonBox{ display: block; width: 25%; float: left; height: 190px; position: relative;
} 
.sesText{ position: absolute; width: 50%; padding: 20px; max-height: 100%;left: 0px; top: 50%; -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); z-index: 999; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.seasonBox:before {content: ''; position: absolute; width: 50%; height: 100%; top: 0; left: 0;z-index: 9;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.seasonBox:hover:before { width: 100%; }
.seasonBox1:before {background: rgba(245,37,31,.85);}
.seasonBox2:before {background: rgba(240,77,35,.85);}
.seasonBox3:before {background: rgba(237,150,54,.85);}
.seasonBox4:before {background: rgba(160,111,76,.85);} 
.sesText h2{ font-size: 30px; color: #fff; margin-top: 0; text-transform: uppercase;}
.sesText h2 span{}
.sesText p{ color: #fff; font-size: 14px;margin-bottom: 0;}
.seasonBox:hover .sesText {left: 20px; }

/*Home Work Section*/
.homeWork{ min-height: 300px; padding: 50px 0; background: #f5f5f5; }
.homeWork h2{ margin-top: 0; text-align: center; color: #333; font-weight: 100; letter-spacing: 1px;}
.hwItWrk{ margin-top: 30px; }
.hwItWrk img{ width: 100%; }
.hwItWrkImg img{width: 250px; display: block; margin: 0 auto;margin-bottom: 20px;}
.hwItWrkImg{font-size: 24px;text-align: center;text-transform: uppercase;position: relative;color: #f05a2c;}
.hwItWrkNum{ height: 80px; width: 80px; line-height: 80px; background: #fff; border-radius: 50%; top: 0; position: absolute; left: 50%; margin-left: -40px; margin-top: -40px;} 
.hwItWrkImg span{font-weight: 600;}
.hwItWrkMain{position: relative;margin-top: 90px;}
.hwItWrk:before {position: absolute; content: ""; width: 60%; border-bottom: 3px #dfdfdf dashed; left: 68%;}
.hwItWrk:last-child:before {position: absolute; content: ""; width: 60%; border-bottom: 0px #dfdfdf dashed; left: 68%;}
.hwItWrkImg02{color: #ed9636}
.hwItWrkImg03{color: #a06f4c}

/*Home Other Service Section Starts  */
.homeServ{/* padding: 100px 0;*/padding-top: 50px;padding-bottom: 20px;}
.serv{ position: relative; height: 215px; margin-bottom: 30px;} 
.servIn {position: absolute; display: inline-block; color: #fff; top: 55%; left: 50%;text-align: center; transform: translate(-50%,-50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.servIn img{ max-width: 60px; max-height: 60px;}
.servIn h2 {margin-bottom: 0; text-transform: uppercase; font-size: 30px; font-weight: 600; border-top: 1px solid #fff; margin-top: 20px; padding-top: 20px; }
.servIn h2 span{font-weight: 300;}
.serv:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.3);-webkit-transition: 0.5s all; -ms-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.serv:hover:before {background: rgba(0,0,0,0.6);}
.serv:hover .servIn { top:50%;}
.serv2 .servIn h2 {font-size: 24px} 
.ms-tem{ height: 600px; position: relative; }

/*Home Work Section*/
.homeProd{ min-height: 300px; padding: 20px 0; background: #f5f5f5; }
.homeProd h2{ margin-top: 0; text-align: center; color: #333; font-weight: 100; letter-spacing: 1px;} 
.prodBox{border-radius: 4px;background: #fff; }
.prodImg {width: 100%; text-align: center; height: 180px;  }
.prodImg img{ max-width: 80%; max-height: 150px; display: inline-block; vertical-align: middle;}
.prodBox p{ font-size: 14px; color: #a06f4c; font-weight: 500; margin: 10px 20px 5px;}
.prodBox a{ font-size: 16px; color: #000; text-align: left; padding: 0 20px; font-weight: 400; display: inline-block; text-decoration: none;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.prodBox a:hover{color: #f04d23;}
.prodBox h3{ color: #f04d23; font-size: 18px; padding: 10px 20px 20px; margin: 0;font-weight: 600;}
.prodBox h3 strike{ color: #757575; font-size: 18px; margin-left: 10px; font-weight: 400; }
.prodImg:before {content: ''; display: inline-block; vertical-align: middle; height: 100%; } 
.heart{ float: right; position: relative; margin-top: 3px;}
.heart .fa-heart-o{ vertical-align: top;}
.heart .fa-heart{ position: absolute; top: 0; left: 0; color: #f04d23; }
.heart a{text-decoration: none;}
.prodBox span{ font-size: 30px; color: #000;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; cursor: pointer;}
.prodBox span:hover{color: #f04d23;} 
.prodCont {display: inline-block; width: 100%; margin: 20px 0; }


/*Footer*/
footer{ background: #cdbcaa; padding: 10px 0;}
.topFt{ text-align: center; padding: 10px 0; border-bottom: 1px #fff solid; margin-bottom: 10px;}
.topFt .cntName{ font-size: 18px; color: #fff; text-transform: uppercase; }
.topFt .cntNum{ font-size: 36px; color: #fff; margin-top: 0px; text-transform: uppercase;  }
footer h3{ font-size: 16px; color: #fff; margin-top: 0; text-transform: uppercase; font-weight: 600;}
footer a {display: block; color: #fff; text-decoration: none; padding: 5px 0px 5px 10px;font-size: 14px;padding-left: 0; }
footer a:hover { color: #ed6843; text-decoration: none;  }
footer a:before {content: ''; background: #a06f4c; height: 5px; width: 5px; display: inline-block; border-radius: 50%; margin-right: 10px; vertical-align: middle;} 
footer p {display: block; color: #666666; text-decoration: none; padding: 5px 0px 5px 10px;font-size: 14px;padding-left: 0; }
.subInput{ width: 230px; display: inline-block; height: 35px; background: #fff; border: none; line-height: 35px; color: #333; padding: 0 15px; }
.subBtn{background: #f04d23; border:none; display: inline-block;color: #fff;padding: 0px 20px;text-transform: uppercase;font-size: 14px;font-weight: 500; margin-left: -5px; height: 35px;line-height: 35px;display: inline-block;}
.subBtn:hover {background: #ed9636;color: #fff;}
.subBtn:before{ display: none;}
footer .subBtn {text-transform: capitalize; letter-spacing: 1px; text-align: center; }
footer .subBtn:focus,footer .subBtn:active {text-decoration: none;color: #fff}
.cntInfo{ margin: 0; padding: 0; list-style: none; }
.cntInfo li{ margin-bottom: 5px; color: #fff; font-size: 14px; }
.mrTop10{ margin-top: 10px; }

/*Book a Pandit Starts*/
.bookContainer{ min-height: 500px;background: url('../img/bookBg.jpg') no-repeat center center;background-size: cover;}
.bookTop{background: rgba(190,163,116,0.8);text-align: center;}
.bookTop img{ padding-top: 20px; max-width: 70px; max-height: 50px; } 
.bookTop h2{ padding: 10px 0; position: relative; text-transform: uppercase;color: #000; font-size: 24px; margin-top: 10px; margin-bottom: 5px;}
.bookTop h2 span{ font-weight: 600;}
.bookTop h2:before {content: ''; height: 1px; width: 220px; background: #000; display: inline-block; position: absolute; top: 0px; left: 50%; margin-left: -110px; }
.bookSearchBox img {padding: 0 0 50px; }
.bookBottom {background: rgba(255,255,255,0.8); display: inline-block;     padding-bottom: 30px;width: 100%;    vertical-align: top; }
.panditImg {margin: 20px 0 50px; }
.bookBottomText{}
.bookBottomText p {color: #7c7c7c; font-size: 14px;line-height: 30px} 
.bookBottomText a {color: #f04d23; font-size: 14px; text-decoration: none; text-transform: uppercase; font-weight: 600; } 
.bookBottomText a:hover {color: #ed9636; }

.bookForm{ background: #fff; padding: 20px;}
.bookForm input {display: block; width: 100%; height: 40px; padding: 0 10px; border: 1px solid #d7d7d7; font-size: 16px; color: #bfbfbf; font-weight: 400; margin-bottom: 15px; }
.bookForm select{display: block; width: 100%; height: 40px; padding: 0 10px; border: 1px solid #d7d7d7; font-size: 16px; color: #bfbfbf; font-weight: 400; margin-bottom: 15px; } 
.bookForm input.bookSub{background: #f04d23; color: #fff; text-transform: uppercase; margin-bottom: 0; font-size: 16px; height: 40px; box-shadow: 1px 1px 20px #ccc; border: 0;}
.bookForm input.bookSub:hover{background: #ed9636; color: #fff; }

.bookForm input:focus,.bookForm select:focus {outline:1px solid  #f04d23;}

.bookSearchBox{ display: inline-block; background: rgba(0,0,0,0.5); margin-bottom: 20px; height: 40px;z-index: 99999;}
.bookSearchBox .ui-selectmenu-button span.ui-selectmenu-text {padding: 0;line-height: 40px;padding-left: 10px;}
.bookSearchBox .ui-corner-all,.bookSearchBox .ui-corner-top,.bookSearchBox .ui-corner-right,.bookSearchBox .ui-corner-tr{background: none;border: 0; color: #ddd; margin-top: 0px; height: 40px; bottom: 0; position: relative;outline: none; border-radius: 0; margin-right: -5px;}
.bookSearchBox select{border: none; height: 40px; line-height: 40px; color: #ddd; width: 200px; font-size: 16px; font-weight: 400; outline: none; display: inline-block; vertical-align: top; margin: 0px 10px;}
.bookSearchBox .ui-selectmenu-open {display: block; z-index: 9999; }
.ui-selectmenu-open{z-index: 999999;}
.ui-selectmenu-menu .ui-menu {    border-radius: 0;
    /* background: #f04d23; */
    background: rgba(0,0,0,0.8);
    color: #fff;
    border: 0;}
.bookSearchBox option{color: #f04d23} 
.bookSearchBox option::-moz-selection { background: #f04d23;}
.bookSearchBox option::selection { background: #f04d23;}
.common-dropdown-small-div{overflow: hidden; width: 220px; }
.common-dropdown-project-select{background: transparent; background-image: url("../img/dropdwn.png") !important; background-position: 100% 60%, 0 0 ! important; background-repeat: no-repeat; background-size: 25px 16px;outline : medium none !important; display: inline-flex !important; vertical-align: top; -webkit-appearance: none; -moz-appearance: none; } 
select::-ms-expand {display: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{background: #ed9636;color: #fff; border: 0;}
.bookSearchBox input {display: inline-block; vertical-align: top; height: 40px; line-height: 40px; padding: 0 10px; width: 500px;    background: none; border: none; outline: none; color: #fff; border-left: 1px solid #8b8479; font-size: 16px; color: #fff}  
input.bookSearchSub { background: #f04d23; border: none; width: 180px; font-size: 16px; color: #fff; font-weight: 400; text-transform: uppercase; height: 40px; line-height: 40px; display: inline-block; vertical-align: top; padding: 0; margin: 0; float: right; } 
input.bookSearchSub:hover {background: #ed9636; color: #ddd; }
.bookSearchBox input::-webkit-input-placeholder {color: #ddd; }
.bookSearchBox input:-moz-placeholder { /* Firefox 18- */ color: #ddd; }
.bookSearchBox input::-moz-placeholder {  /* Firefox 19+ */ color: #ddd; }
.bookSearchBox input:-ms-input-placeholder {color: #ddd; }
.ms-fullscreen-template{position: relative;}
.ms-fullscreen-template .bookSearchBox {position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -moz-transform: translateX(-50%); width: 100%; max-width: 908px; }

/*Contact*/
.contactPage{background: #f4f4f4;}
.bgWhite{background: #fff;}
.contactInfo{padding: 20px 20px 25px;margin: 30px 0px}
.contactInfo h2{text-transform: uppercase;font-size: 14px;font-weight: 600;color: #aa7e5e; margin-bottom: 15px;}
.contactInfo p{font-size: 16px;color:#666;margin-bottom: 5px;}
.bgWhiteMap{padding:30px;}
#map{width: 100%;height: 400px;}
.sendUsMailForm h2{font-size: 24px; margin: 30px; margin-bottom: 20px; margin-left: 0; color: #333333;}
.sendFormField{border: 1px #b7b7b7 solid; width: 100%; background: transparent; padding: 7px 10px; font-size: 16px; outline: none; margin-bottom: 20px; color: #999;}
.sendFormFieldTextarea{border: 1px #b7b7b7 solid;width:100%;background: transparent;padding: 10px;font-size: 16px;outline: none;height: 150px;margin-bottom: 15px;}
.sendFormFieldTextarea:focus,.sendFormField:focus{border: 1px #f04d23 solid;}
.sendBtn{width:150px;outline: none;border: 0;background:#f16e4d;font-size: 16px;padding: 10px;text-transform: uppercase;color: #fff;display: block; margin-bottom: 30px; resize: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
-o-transition: 0.5s all;}
.sendBtn:hover{background: #ed9636;}
.smallFooter{height: 50px;background: #fff;}
.smallFooter p{text-align: center;line-height:50px;margin-bottom: 0;font-size: 14px;color: #aaa;}
.partnerLogo ul, .socialIcon ul{ margin: 0; padding: 0; list-style: none; }
.partnerLogo ul li, .socialIcon ul li{ display: inline-block; margin-right: 10px; height: 50px; line-height: 50px; }
.partnerLogo ul li img{ }
.socialIcon ul li{ margin-right: 5px; }
.socialIcon ul li a{ color:#cdbcaa; display: block; height: 30px; width: 30px; border: 1px #cdbcaa solid; border-radius: 50%; text-align: center; line-height: 30px; margin-top: 10px;  }
.socialIcon ul li a:hover{ background: #cdbcaa; color: #fff; }

/* LOGIN */
.loginVertical{height: 100vh;}
.logReg{display: none;}
.loginContainer {position: relative; background: url("../img/login.jpg") 50% 50% no-repeat; background-size: cover; display: inline-block; width: 100%; height: calc(100% - 52px); vertical-align: middle; }
.loginForm{width: 100%;max-width: 400px;margin: 0 auto;background: #f3f3f3;top: 50%;position: absolute;left: 0;margin: auto;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);}
.loginForm h2{margin: 0px;color: #fff;text-align: center;background: url('../img/loginBg.jpg') no-repeat center center;background-size: cover;padding: 25px 0px;font-size: 24px;}
.loginField{border: 1px #b7b7b7 solid;width:100%;background: #fff;padding: 10px;font-size: 16px;outline: none;margin-bottom: 10px;}
.loginField:focus{border: 1px #f04d23 solid;}
.loginMainForm{padding: 25px;}
.loginField:disabled{background:#e1e1e1; }
label {font-family: 'Open Sans', sans-serif;font-weight: 400; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
input[type=checkbox].css-checkbox {position: absolute; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; }
input[type=checkbox].css-checkbox + label.css-label {padding-left:20px; height:15px; display:inline-block; line-height:15px; font-size: 14px; margin: 5px 0px 15px 0px; color: #f04d23; background-repeat:no-repeat; background-position: 0 0; vertical-align:middle; cursor:pointer; }
input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -15px; }
.lite-red-check{background-image:url('../img/lite-red-check.png');}
.loginBtn{width:100%;outline: none;border: 0;background:#f16e4d;font-size: 16px;padding: 10px;margin: 0 auto;text-transform: uppercase;color: #fff;display: block;resize: none;margin-bottom: 10px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
-o-transition: 0.5s all;}
.loginfbBtn{width:100%;outline: none;border: 0;font-size: 16px;padding: 10px;margin: 0 auto;text-transform: uppercase;color: #fff;display: block;resize: none;margin-bottom: 10px;background:#3b5998 url('../img/fb.png') no-repeat 15px center;border: 0;}
.logingplsBtn{width:100%;outline: none;border: 0;font-size: 16px;padding: 10px;margin: 0 auto;text-transform: uppercase;color: #fff;display: block;resize: none;margin-bottom: 10px;background:#222222 url('../img/gpls.png') no-repeat 15px center;border: 0;}
.loginOr{font-size: 16px;font-weight: 600;color:#010101;text-align: center;margin: 10px;position: relative;}
p.loginOr:before {content: " "; width: 45%; height: 1px; background: #666; position: absolute; left: 0; top: 50%;}
p.loginOr:after {content: " "; width: 45%; height: 1px; background: #666; position: absolute; right: 0; top: 50%;}
.loginForgot{    text-align: center; color: #ed9636; text-decoration: none; margin-top: 2px; display: block;}


/*User Profile*/
.profContainer { }
.profTop{ padding: 90px 0; padding-top: 60px; text-align: center;position: relative; }
.profTop h2 {padding: 0; display: inline-block; font-size: 24px; color: #fff; text-transform: uppercase; position: relative; margin-top: 0;letter-spacing: 1px; font-weight: 300;}
.profTop h2 span{ font-weight: 600;}
.profTop h2:after {content: ''; width: 120%; height: 1px; background: #fff; display: inline-block; position: absolute; bottom: -10px; left: -10%; }
.proMenu {position: absolute; bottom: 0; width: 100%; }
.proMenu ul{}
.proMenu ul:after {content: ''; width: calc(100% - 30px); height: 2px; background: #d7c19c; position: absolute; bottom: 0; left: 15px; z-index: 9; }
.proMenu ul li{ float: left; margin-right: 70px; border-bottom: transparent; z-index: 99; position: relative;}
.proMenu ul li a {font-size: 16px; text-transform: uppercase; font-weight: 500; color: #fff; display: block; padding: 10px 20px; text-decoration: none;}
.proMenu ul li.active,.proMenu ul li:hover{ border-bottom: 5px solid #f04d23; }
.proMenu ul li.active a,.proMenu ul li a:hover { color: #f04d23; }
.profBtm{background: #f4f4f4; padding: 30px 0 30px; }
.userDisc{}
div.uploadPop {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: url(../img/user.jpg);
    overflow: hidden;
}

div.uploadPop input {
    display: block !important;
    width: 120px !important;
    height: 120px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}
.userPic{ display: block; border-radius: 50%; overflow: hidden; float: left; margin-right: 35px;}
.userPic img{ width: 100%;}
.userBox {display: inline-block; margin: 20px 0; clear: both; width: 100%; margin: 15px 0 10px 0;}
.userBoxUp .userBox:first-child  {float: left; clear: none; margin: 37px 0; display: block; width: auto; } 
.userBox h2{ color: #a06f4c; font-size: 14px; font-weight: 600; letter-spacing: 1px; margin-top: 0; margin-bottom: 0;}
.userBox p{ font-size: 16px; color: #333333; font-weight: 300; margin-bottom: 0;}
.userBox input[type="password"] {font-size: 24px; background: none; border: none; outline: none; }
.userBtn{ display: inline-block; }
.userBtn a{font-size: 16px; color: #f04d23; letter-spacing: 1px; font-weight: 600; text-transform: uppercase; text-align: center; width: 220px; vertical-align: top; display: inline-block; border: 1px solid #f04d23; height: 50px; line-height: 50px; background: transparent;text-decoration: none; outline: none;}
.userBtn a:hover{ color: #fff;  background: #f04d23; }
.userAddBtn a{ color: #ed9636; border: 1px solid #ed9636; }
.userAddBtn a:hover{ color: #fff;  background: #ed9636; }  
.userAdd h2{ color: #a06f4c; font-size: 14px; font-weight: 600; letter-spacing: 1px; margin-top: 0; margin-bottom: 20px;} 
.userAddBox {display: inline-block; background: #fff; padding: 50px 200px 50px 50px; border-left: 5px solid #ed9636; margin-bottom: 20px;position: relative; }
.userAddBox h2{ color: #333; font-size: 18px;}
.userAddBox p{ letter-spacing: 1px; color: #888888; font-size: 14px; margin-bottom: 0;}
.addCheck{ width: 64px; position: absolute; right: 13%; top: 50%; margin-top: -32px; } 
.addCheck img{}
.cc-selector input{
margin:0;padding:0;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
}
.cc-selector-2 input{
position:absolute;
z-index:999;
}
.visa{background-image:url(../img/addCheck.png);}
.mastercard{background-image:url(../img/addCheck.png);}
.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
-webkit-filter: none;
-moz-filter: none;
filter: none;
}
.drinkcard-cc{
cursor:pointer;
background-size:contain;
background-repeat:no-repeat;
display:inline-block;
width:100px;height:70px;
-webkit-transition: all 100ms ease-in;
-moz-transition: all 100ms ease-in;
transition: all 100ms ease-in;
-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
-moz-filter: brightness(1.8) grayscale(1) opacity(.7);
filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
-moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
filter: brightness(1.2) grayscale(.5) opacity(.9);
}
/*Product Listing Page*/
.prodContainer{position: relative;-webkit-transition: 0.5s all; -o-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; transition: 0.5s all;}
.prodContainerIn{left: 270px;}
.ProdBox {background: #f4f4f4;}
.prodSidebar {display: inline-block; width: 100%; vertical-align: middle; background: #fff; padding-bottom: 50px;}
.prodSide h2 { font-size: 16px; text-transform: uppercase; font-weight: 600; color: #363636;border-bottom: 2px solid #363636; padding-bottom: 10px; margin-top: 20px;} 
.ui-widget-content .ui-state-default{    border-radius: 50% !important;width: 23px; height: 23px !important; border: 2px solid #f04d23 !important; background: #fff !important; top: -8px; outline: none;} 
.ui-slider-horizontal .ui-slider-range { background: #f04d23; border: none; }
.prodSide .ui-corner-all{  background: #ccc; height: 5px; border: none; border-radius: 10px; }
div#slider-range {margin: 20px auto; display: block; width: 100%; vertical-align: middle; }
.sliderRangeText{font-size: 14px;color: #999;font-weight:400 }
.sliderRangeText #amount{ font-weight: 600; color: #666; background: transparent; border: none; outline: none;}
.sideInput input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; } 
.sideInput input[type=checkbox].css-checkbox + label.css-label {padding-left:0; height:16px; display:inline-block; line-height:16px; background-repeat:no-repeat; background-position: 0 0; font-size:14px; vertical-align:middle; cursor:pointer;color:#333333;font-weight: 600; } 
.sideInput label.css-label { 
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
} 
.sideInput .css-label span { display: inline-block; width: 18px; height: 18px;  border-radius: 50%;    vertical-align: middle;margin-right: 12px;position: relative; }
.sideInput .css-label span:before {position: absolute; content: ''; width: 26px; height: 26px; border: 2px solid #f04d23; top: -4px; left: -4px; border-radius: 50%;}  
.sideInput input[type=checkbox].css-checkbox + label.css-label span:before {opacity: 0; } 
.sideInput input[type=checkbox].css-checkbox:checked + label.css-label span:before {opacity: 1; }
.sideType a {display: block; color: #333333; font-size: 16px; font-weight: 600; text-decoration: none; border-bottom: 1px solid #e1e1e1; padding-bottom: 10px; margin-bottom: 10px; }
.sideType a:hover { color: #ffa450}
.sideType a .fa { font-size: 14px; float: right; margin: 4px 0;}
.sideType a:last-child { padding-bottom: 0; margin-bottom: 0;border: none }
.ProdBox .col-md-3 {background: #fff;}
.prodSelection{ display: inline-block; width: 100%; margin-top: 20px;position: relative;}
.gridV { border: 1px solid #b28b70; width: 50px; text-align: center; border-left: 1px solid #f04d23; color: #b28b70; cursor: pointer;}
.gridVActive {border: 1px solid #f04d23; color: #f04d23; }
.listV {border: 1px solid #b28b70; width: 50px; text-align: center; border-right: none; color: #b28b70; cursor: pointer;}
.gridV .fa{ font-size: 20px; vertical-align: middle;}
.listV .fa{ font-size: 20px; vertical-align: middle;}
.sort{ border: 1px solid #b28b70; border-right: transparent; padding: 0 20px;}
.sort p{ margin: 0; color: #333333; font-size: 14px; text-transform: uppercase;}
.pageList{border: 1px solid #b28b70; border-right: transparent; padding: 0 30px;}
.pageList p{ margin: 0; color: #333333; font-size: 14px; text-transform: uppercase;}
.prodSelection .remainStn{ border: 1px solid #b28b70; border-right: transparent; width: calc(100% - 30px); position: absolute; left: 15px; top: 0;z-index: 0;}
.sort select, .pageList select{ -webkit-appearance: none; height: 50px; line-height: 50px; border: none; background: url(../img/selectArrow.png)no-repeat center right; cursor: pointer; color: #f04d23; font-weight: 600; text-align: center; text-transform: uppercase; outline: none; padding-right: 15px; }
.prodSelection div{ float: right; height: 50px; line-height: 50px; z-index: 1 !important ; position: static;}
.prodMainBox{ margin-top: 15px; display: inline-block; width: 100%; vertical-align: middle;padding-bottom: 15px;}
.prodBoxIn{display: inline-block; width: 25%; border: 1px solid #a1a1a1; /* border-top: 1px solid #a1a1a1; */ min-height: 100px; border-top: 0 !important; border-left: 0px !important; float: left;}
.prodMainBoxIn{/*border: 1px solid #a1a1a1;*/display: inline-block;width: 100%; }
.price{ display: inline-block; padding: 10px; width: 100%;}
.price p{ display: inline-block; margin: 0; float: left; color: #333333; font-size: 16px; font-weight: 600;}
.price p strike{ color: #999999; font-weight: 400;}
.price p span{ background: #ffa450; color: #fff; padding: 4px 8px; margin-left: 10px;}
.heartPro {float: right; font-size: 16px; line-height: 16px; cursor: pointer; }
.eyePro {float: right; margin: 0 10px; font-size: 16px; line-height: 16px;display: none; }
.eyePro .fa,.heartPro .fa-heart-o { color: #a9a9a9;}
.heartPro .fa-heart,.eyePro .fa:hover,.heartPro .fa-heart-o:hover { color: #f04d23;}
.prodImgIn{height: 200px; text-align: center;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.gridProView .prodImgIn{position: relative; }
.prodImgIn:before {content: ''; vertical-align: middle; display: inline-block; height: 100%; }
.prodImgIn img{ max-width: 90%; max-height: 90%; display: inline-block; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; -webkit-transform: scale(0.95, 0.95); -ms-transform: scale(0.95, 0.95); -o-transform: scale(0.95, 0.95); transform: scale(0.95, 0.95);}
.prodBoxIn:hover img{-webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); }
.prodDisc{ border-top: 0px solid #a1a1a1; padding: 10px; width: 100%; display: inline-block; min-height: 60px;}
.prodDisc a.discprd{ font-size: 14px; width: 80%; margin: 0;float: left;text-decoration: none;color: #333333;font-weight: 600;}
.prodDisc a.cart{ float: right; font-size: 30px; margin: 0;margin-right: 10px}
.prodDisc a .fa{color: #ffa450}
.prodDisc:hover a{color:#ffa450 } 
.ProdBox .col-md-9:before {position: absolute; content: ''; width: 100%; height: 100%; background: #fff; left: 0; transform: translateX(-100%); -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }
.ProdBox .col-md-3{z-index: 2; width: 350px;}
.ProdBox .col-md-9{z-index: 1; width: calc(100% - 350px);}
.productReadMore{ clear: both; margin: 20px 0; display: inline-block; width: 100%; border-top: 1px solid #ec653c; border-bottom: 1px solid #ec653c; color: #ec653c; text-align: center;}
.productReadMore a { color: #ec653c; font-weight: 400; display: block; padding: 10px 0; font-size: 14px; text-decoration: none;}
.productReadMore a:hover {background: #ec653c; color: #fff}
.prodBoxIn:nth-child(4n+1) { border-left: 1px #a1a1a1 solid !important;}
.prodBoxIn:nth-child(1),.prodBoxIn:nth-child(2),.prodBoxIn:nth-child(3),.prodBoxIn:nth-child(4) {/* border-top: 0;*/ border-top: 1px #a1a1a1 solid !important;}
.mobFilterBtn{ display: none; position: absolute !important;left: 0; border:1px solid #b28b70; padding: 0px 15px;}
.mobFilterBtn .fa{color: #f04d23; font-size: 24px;}
.posRelatv{position: relative;}
.closeBtnFilter{display: none;}
.gridProView{position: relative;width: 100%;height: 100%;}
.gridCartBtn{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(255,255,255,0.5);opacity: 0;transition:0.5s all;-webkit-transition:0.5s all;-moz-transition:0.5s all;-ms-transition:0.5s all;-o-transition:0.5s all; }
.gridCartBtn a:hover{background: #f04d23;}
.gridCartBtn a{width: 140px; height: 45px; background: #ffa450; color: #fff; display: block; line-height: 45px; /* padding: 10px; */ text-align: center; margin: 0 auto; top: 50%; position: relative; margin-top: -22px;text-decoration: none;}
.gridProView:hover .gridCartBtn{opacity: 1;}
.prodBoxInList .gridCartBtn{display: none;}

/*List View*/ 
.prodBoxInList .prodBoxIn{border: 1px #a1a1a1 solid !important;border-top: 0px #a1a1a1 solid !important;}
.prodBoxInList .prodBoxIn:first-child{border-top: 1px #a1a1a1 solid !important;}
.prodBoxInList .price,.prodBoxInList .prodDisc{display: none;}
.listViewBox{display: none;}
.prodBoxInList .listViewBox{display: block; width: 66.666666%; float: left; padding: 20px;}
.prodBoxInList .prodImgIn{ border-right: 1px solid #a1a1a1 ;width: 33.3333333%; float: left; height: 215px;}
.prodBoxInList .prodBoxIn{width: 100%; border-left: 0;}   
.listViewBox h2{ font-size: 16px; margin: 0; float: left; text-decoration: none; color: #333333; font-weight: 600; width: 100%; margin-bottom: 15px;}
.listViewBox h2 span{ float: right;}
.price_list{ display: inline-block; } 
.price_list strike{ color: #999999; font-weight: 400;} 
.listViewBox p{ clear: both; font-size: 14px; color: #666;}
.listViewBox .product_cart{}
.listViewBox .product_cart a{ background: #f04d23; color: #fff; height: 35px; display: inline-block; width: 200px; text-align: center; font-size: 14px; text-transform: uppercase; line-height: 35px; text-decoration: none;}
.listViewBox .product_cart a:hover{ background: #ed9636;  }
.listViewBox .product_cart a .fa{margin-right: 10px} 
.product_wish {display: inline-block; float: left; margin-top: 10px; margin-right: 10px; }
.product_wish a{font-size: 18px; font-weight: 600; text-decoration: none; border: 1px solid #ccc; width: 40px; text-align: center; display: inline-block; line-height: 40px; color: #333; }
.product_wish a .heart{float: none; }
.product_wish a:hover{color: #f04d23; }
.product_wish a .heart .fa-heart { top: 5px;}
.product_wish a .heart .fa-heart-o {vertical-align: middle; }
.product_quickView {display: inline-block; float: left; margin-top: 10px; display: none; }
.product_quickView a {font-size: 18px; font-weight: 600; text-decoration: none; border: 1px solid #ccc; width: 40px; text-align: center; display: inline-block; line-height: 40px; color: #333; }
.product_quickView a:hover{color: #f04d23; }
.prodBoxInList .prodBoxIn:nth-child(2), .prodBoxInList .prodBoxIn:nth-child(3) {border-top: 1px solid #a1a1a1; }
.listVActive{color: #f04d23; border: 1px solid #f04d23; border-right: 0; }
.listViewBox h2 .price_list span{ background: #ffa450; color: #fff; padding: 4px 8px; margin-left: 10px; float: none;}
.productPagination{text-align: center;}
.productPagination .pagination{text-align: center; margin-bottom: 5px;}
.productPagination .pagination>li>a{color: #333;}
.productPagination .pagination>li>a:hover{ background: #ec653c;color: #fff}
.productPagination .pagination>li>a:active{ background: #ec653c;color: #fff}
.productPagination .pagination>li>a:focus{ background: #ec653c;color: #fff}
.productPagination .pagination>li:first-child>a, .productPagination .pagination>li:first-child>span,.productPagination .pagination>li:last-child>a, .productPagination .pagination>li:last-child>span{border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;
}

/*Product Detail Page*/ 
.proDetBox {background: #f4f4f4; padding: 30px 0 20px; }
.detBox {display: inline-block; width: 100%; padding: 0 0 50px; }
.detBox h2{ font-size: 18px; color: #333333; font-weight: 600; border-bottom: 1px solid #c2c2c2; display: inline-block; padding-bottom: 20px;}
.detBox .price p {display: inline-block; margin: 0; float: left; color: #333333; font-size: 18px; }
.parameterBox{ display: inline-block; width: 100%; margin-top: 0; margin-bottom: 10px;}
.parameter{ width: 33.333333%; float: left; border: 1px solid #c2c2c2;border-right: 0; padding: 5px 10px; font-weight: 600;}
.parameter:last-child{ border-right: 1px solid #c2c2c2;}
.parameter h2{ margin-top: 0; padding-bottom: 0; border: 0;margin-bottom: 0; text-transform: uppercase; font-size: 12px; color: #999999;}
.parameter p {font-size: 18px; color: #a06f4c; margin-bottom: 0; } 
.sizeBox input[type=radio].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; }
.sizeBox input[type=radio].css-checkbox + label.css-label {display: inline-block; font-size: 18px; vertical-align: middle; cursor: pointer; border: 1px solid #c2c2c2; width: 35px; height: 35px; text-align: center; line-height: 35px; margin-right: 10px; }
.sizeBox input[type=radio].css-checkbox:checked + label.css-label {color: #f04d23;border:1px solid #fff;background: #fff; }
.sizeBox label.css-label {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.sizeboxSmall {float: left; }
.sizeBox {display: inline-block; vertical-align: middle; }
.qty h2{padding-bottom: 0; border-bottom: 0; margin: 0; margin-right: 10px; }
.qty input[type="number"] {width: 40px; margin-right: 20px; height: 30px; }
.proDetBuy {background: #f04d23; color: #fff; height: 40px; line-height: 40px; display: inline-block; width: 175px; text-align: center; font-size: 14px; text-decoration: none; margin: 10px 10px 10px 0; }
.proDetBuy:hover {background: #d63c14;color: #fff;text-decoration: none;  }
.proDetCart{background: #ed9636; color: #fff; height: 40px; line-height: 40px; display: inline-block; width: 175px; text-align: center; font-size: 14px; text-decoration: none; margin: 10px 10px 10px 0; }
.proDetCart:hover{background: #f7a64d;color: #fff;text-decoration: none; }
.proDetBox p{color: #666666;font-size: 14px;line-height: 1.6;}
.proDetBox .heartPro{float: none; display: inline-block; vertical-align: middle; color: #bc9a82;}
.proDetBox .heart {float: none; position: relative; margin-right: 10px; font-size: 24px; display: inline-block;}
.proDetBox .heartPro .fa-heart-o {color: #bc9a82; } 
.proTab{margin-top: 30px;}
.sideInputBoxDetail,.sideInputBoxDetail .sideInput{ display: inline-block;}
.sideInputBoxDetail{margin-top: 10px;}
.proColor{ padding-bottom: 0; border-bottom: 0; margin: 0; margin-right: 10px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {color: #333333; cursor: default; background-color: #fff; border: none; border-bottom-color: transparent; border-radius: 0; }
.nav-tabs>li>a {font-size: 16px; font-weight: 600; height: 45px; line-height: 45px; padding: 0 30px; text-align: center; color: #999999; text-transform: uppercase; border: none;}
.nav-tabs>li {float: left; margin-bottom: 0; }
.nav-tabs {border-bottom: 3px solid #a06f4c;} 
.proTab .tab-pane h2{ color: #333333; font-size: 14px; font-weight: 600;}
.proTab .tab-pane p {margin-bottom: 20px; }
.ms-showcase2-template .ms-view {border: 2px solid #e1e1e1; }
.ms-showcase2-template .ms-thumb-list .ms-thumb-frame {height: auto; opacity: 1; border: 1px solid #e1e1e1;}
.ms-showcase2-template .ms-thumb-list .ms-thumb-frame-selected { border: 2px solid #a27250;} 
.sp-quantity{    display: inline-block;
    height: 24px;
    margin-right: 20px;}


/*Store*/
.storeBox {background: #f4f4f4; padding: 30px 0; }
.rel1{ height: 382px; position: relative;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.rel1In  { position: absolute; display: inline-block; width: 100%; text-align: center;top: 55%;-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.rel1In h2{ font-size: 30px; color: #fff; font-weight: 300; margin-top: 0;}
.rel1In h3{font-size: 30px; color: #fff; font-weight: 600; margin-bottom: 0; position: relative; padding-top: 10px;}
.rel1In h3:before {position: absolute; content: ''; height: 1px; width: 340px; display: inline-block; background: #fff; top: 0; left: 50%; margin-left: -170px; }
.rel1:before {position: absolute; background: rgba(0,0,0,0.4); width: 100%; height: 100%; top: 0; left: 0; display: inline-block; content: '';-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.rel1:hover:before { background: rgba(0,0,0,0.6);}
.rel1:hover .rel1In  {top: 50%;}
.rel2{}
.rel2 img{width: 100%;}
.rel3{ margin: 30px 0; border: 1px solid #a06f4c; padding: 15px;}
.rek3Img{ height: 250px; }
.rek3Img img{ width: 100%;}
.rel3 h2{ font-size: 16px; font-weight: 600; color: #000; text-align: center; color: #000;}
.rel3 h3{ font-size: 18px; font-weight: 300; text-align: center; margin-top: 0; color: #000;}
.rel3 hr{ margin: 10px 60px; border: 0; border-top: 1px solid #c2c2c2;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.rel3:hover hr{ margin: 10px; }
.rel3 p{ font-size: 14px; color: #666666; font-weight: 300; text-align: center; margin-bottom: 0;}

.rel4{ height: 382px; position: relative;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.rel4In  { position: absolute; display: inline-block; width: 80%; text-align: center; top: 75%; left: 50%; background: rgba(240,77,35,0.7); padding: 15px; transform: translate(-50%,-50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.rel4:hover .rel4In  {top: 70%;background: rgba(240,77,35,0.9);}
.rel4In h2{ font-size: 18px; color: #fff; font-weight: 300; margin-top: 0;}
.rel4In p{ text-align: center;padding: 5px; width: 100%; /* border-top: 1px #c2c2c2 solid; */ /* border-bottom: 1px #c2c2c2 solid; */ margin-top: 0px; /* margin-bottom: 30px; */ position: relative;}
.rel4In p:before {position: absolute; content: ''; height: 1px; width: 340px; display: inline-block; background: #fff; top: 0; left: 50%; margin-left: -170px; }
.rel4:before {position: absolute; background: rgba(0,0,0,0.4); width: 100%; height: 100%; top: 0; left: 0; display: inline-block; content: '';-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; } 
.storeBox a{text-decoration: none;color: #fff;}

/*Cart Menu*/
.cartMenu{ display: none; position: absolute; top: 70px; background: #fff; z-index: 999; right: 90px; width: 440px;}
.cartMenu h2{font-size: 18px; color: #222222; text-align: center; border-bottom: 1px solid #d7d7d7; padding: 20px 0; margin: 0;font-weight: 400 }
.cartMenu h2 span{font-weight: 600}
.cartMenuBox {display: table;height: 85px;border-bottom: 1px solid #d7d7d7;}
.cartMenuBox div{display: table-cell; table-layout: fixed; vertical-align: middle;text-align: center;padding: 0 5px; }
.cartDel{ width: 10%;}
.cartImg{ width: 20%;}
.cartImg img{}
.cartName{ width: 40%;}
.cartName a{ color: #666666; padding: 0 10px; display: inline-block;text-decoration: none;}
.cartName a:hover{ color: #f04d23;  }
.cartNo{ width: 10%;} 
.cartNo input[type="number"] {width: 40px; margin-right: 20px; height: 30px; outline: none; }
.cartNo input[type="number"]:focus { border: 1px solid #f04d23; }
.cartPrice{ width: 20%;}
.cartPrice p{margin-bottom: 0;font-size: 14px;font-weight: 700;}
.cartDel a{text-decoration: none;}
.cartMenuBox div.cartName {text-align: left; }
.cartDel .fa {color: #f04d23; font-size: 18px; }
.cartMenuTotal{ color: #333333; font-size: 16px; font-weight: 300; text-align: right; margin: 20px 10px;}
.cartMenuTotal span{font-weight:700;margin-left: 5px}
.menuCheck{ display: inline-block; width: 100%; text-align: center; background: #f04d23; height: 60px; line-height: 60px; color: #fff; text-transform: uppercase; font-size: 24px;text-decoration: none;}
.menuCheck:hover{ background: #ed9636; color: #fff; text-decoration: none;}

/*Checkout*/
.checkoutContainer{ background: #f4f4f4;  }
.checkoutTop{background: #f1ebe2; border-bottom: 1px solid #ed9636;}
.checksec {width: 33.333333%; float: left; margin: 42px 0;position: relative; }
.checksec span{color: #b8b8b8; font-size: 54px; margin-right: 10px; font-weight: 300; float: left; line-height: 44px;}
.checksec h2{ margin-top: 0; color: #999999; font-size: 18px; margin-bottom: 5px;}
.checksec p{ margin-bottom: 0; font-size: 16px; color: #999999;}
.checksec .fa {position: absolute; color: #999999; font-size: 40px; right: 40px; top: 50%; margin-top: -20px;}
.checksec.active h2,.checksec.active span,.checksec.active .fa{color: #ed9636}
.checksec.active p{color: #333333}
.checkoutBottom{}
.checkNote{ display: table; width: 100%; table-layout: fixed; height: 120px; padding: 10px 0; margin: 20px 0; background: #fff;}
.checkNote h2{ display: table-cell; margin: 0; font-size: 16px; color: #333333; font-weight: 600; vertical-align: middle; width: 20%; text-align: right; padding-right: 20px; border-right: 1px solid #e1e1e1;}
.checkNoteAdd{ display: table-cell; vertical-align: middle; width: 60%; padding: 0 20px; }
.checkNoteAdd h3{ margin-top: 0; color: #333333; font-size: 16px; font-weight: 600;}
.checkNoteAdd h3 span {font-weight: 400; margin-left: 5px; }
.checkNoteAdd p{ font-size: 14px; color: #999;}
.checkAddChange {display: table-cell; vertical-align: middle;}
.checkAddChange a{ background: #ed9636; color: #fff; text-decoration: none; width: 150px; height: 40px; line-height: 40px; display: inline-block; text-align: center;    font-size: 16px;}
.checkAddChange a:hover{ background: #f04d23; }

.checkBox{ display: table; width: 100%; table-layout: fixed;border-bottom: 1px solid #d7d7d7; padding:10px 0;}
.checkBox div {display: table-cell; vertical-align: middle; padding: 0 15px; }
.checkBox .col1{ width: 10%; text-align: center; padding: 0; border: 1px solid #a06f4c;}
.checkBox .col1 img{ width: 100%;}
.checkBox .col2{ width: 45%; padding: 0 20px;}
.checkBox .col2 a{text-decoration:none; margin-top: 0; font-size: 16px; color: #333333; margin-bottom: 5px; line-height: 1.2;}
.checkBox .col2 a:hover{color: #ed6843;}
.checkBox .col2 p {margin-bottom: 0; color: #999999; font-size: 14px; }
.checkBox .col3 {width: 12%; text-align: center;}
.checkBox .col3 input{ width: 31px; height: 40px; outline: none; text-align: center;}
.checkBox .col3 input:focus{border: 1px solid #ed6843;}
.checkBox .col4{ width: 18%;}
.checkBox .col4 p{ font-size: 16px; color: #333333; font-weight: 600;} 
.checkBox .col5{ width: 20%;}
.checkBox .col5 p{ font-size: 16px; color: #666666; font-weight: 300;}
.checkBox .col5 p span{ font-weight: 600;}
.checkBox .col6 {width: 7%; text-align: center;}
.checkBox .col6 a{color: #f04d23; font-size: 30px;}
.checkBox .col6 a:hover{color: #ed9636;}
.checkBox .col6 a.fa{}
.checkBoxHead .col1{ width: 55%; border: none;}
.checkBoxHead {padding: 10px 0; color: #999999; text-transform: uppercase; font-weight: 600;}
.checkPinUp{ background: #ebebeb; }
.checkPin{ display: inline-block; padding: 0 20px;}
.checkPin label{ color: #999; font-size: 14px; margin-right: 15px;}
.checkPin input[type="text"]{ width: 195px; height: 40px; border: none; outline: none; margin: 15px 0; display: inline-block; vertical-align: middle;padding-left: 10px;}
.checkPin input[type="submit"]{ height: 40px; display: inline-block; vertical-align: middle; width: 100px; font-size: 16px; background: #ed9636; border: none; color: #fff; outline: none;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.checkPin input[type="submit"]:hover{ background: #f04d23; }
.checkPin:last-child{float: right; }
.checkPinwithout{float: none!important;}
.checkAddBox{display: table; width: 100%; table-layout: fixed; background: #fff; padding: 20px 50px;margin-bottom: 30px; }
.checkAddBox a.checkAddItem{color: #f1775f; text-decoration: underline; display: table-cell; width: 20%; vertical-align: middle;}
.checkAddBox .checkTot{display: table-cell; width: 20%; vertical-align: middle;}
.checkAddBox .checkTot p{color: #999999; font-size: 14px;}
.checkAddBox .checkTot h2{ color: #666; font-size: 18px; margin: 0;} 
.checkAddBox .checkAddBtn{ display: table-cell; vertical-align: middle; text-align: center;}
.checkAddBox .checkAddBtn a{ color: #fff; text-decoration: none; outline: none; font-size: 16px; background: #ef7a56; text-align: center; width: 150px; height: 40px; display: inline-block; line-height: 40px; outline: none;}
.checkAddBox .checkAddBtn a:hover{ background: #f04d23; }
.checkoutBottomWithout{margin-top: 30px;}
/*Search Result*/
.searchMainBox .col-md-3{ margin-bottom: 30px; width: 25%; background: transparent;}
.searchSingle{background: #fff;}
.searchSingleImage{position: relative;}
.resultImgInfo{position: absolute;bottom: 15px;left: 15px;}
.resultImgInfo h2{color:#fff;margin: 0;font-size: 18px;font-weight: 600;letter-spacing: 1px;}
.resultImgInfo p.resultLocation{color:#fff;margin: 0;margin-top:15px;font-size: 14px;background: url(../img/resultLocation.png) no-repeat center left;padding-left: 20px;}
.searchSingleImage img{width:100%;}
.searchSingleText{padding:30px;padding-bottom: 5px;}
.searchSingleText p{border-bottom: 1px solid #eaeaea;margin-bottom: 0;padding-bottom: 25px;color:#666666;font-size: 14px;}
.searchSingleText a{text-align: center;display: block;text-transform: uppercase;color: #f04d23;font-size: 14px;padding: 20px;}
.searchMainBox{margin-top: 30px;}
.searchNavigation ul{ text-align: center; padding: 5px; width: 100%; border-top: 1px #c2c2c2 solid; border-bottom: 1px #c2c2c2 solid; margin-top: 25px; margin-bottom: 15px;}
.searchNavigation ul li{display: inline-block;width: 35px;height: 35px;}
.searchNavigation ul li a{display: block;width: 100%;height: 100%;line-height: 35px;text-align: center;color: #666666;}
.searchNavigation ul li a:active,.searchNavigation ul li a:focus,.searchNavigation ul li a:hover{background: #f04d23;color: #fff;}

.myOrderAcc .panel-body{background: #f4f4f4;}
.myOrderAcc .panel{border-radius: 0;margin-bottom: 30px;}
.myOrderAcc .panel-default>.panel-heading{background: #fff;padding: 15px;}
.accordionName{color: #f04d23 !important;font-size: 18px;}
.accordionName span{font-weight: 600;}
.myOrderAcc .checkBox .col5 {width: 27% !important;}
.myOrderAcc .panel-default>.panel-heading+.panel-collapse>.panel-body{padding:0; }
.myOderTotal{background: #eaeaea;padding: 10px;}
.myOderTotal p{margin-bottom: 0;text-align: right;font-size: 18px;color: #333333;}
.myOderTotal p span{font-weight: 700;padding-left: 20px;}
.myOrderAcc .checkBox{padding: 15px !important;}
.accordionNameColor{color: #f04d23;}
.returnBtn{width: 100px; text-align: center; display: inline-block; float: right; background: #a06f4c; color: #fff !important; padding: 8px; margin-top: -7.5px; margin-right: 5%;}
.returnBtn2{background: #ed9636;margin-right: 10px;}
/*Product Review*/
.myOrderReview{background: #fff;}
.myOrderReview .checkBoxReview .col1-1 .col1-img{width: 100px;height: 100px;overflow: hidden;border: 1px solid #a06f4c;padding: 0px;}
.myOrderReview .checkBoxReview .col1-1 .col1-img img{width:100%;}
.checkBoxReview{display: table;width: 100%;table-layout: fixed;border-bottom: 1px solid #d7d7d7;padding: 15px 0;}
.myOrderReview .checkBoxReview .col1-1 {width: 15%;text-align: center;padding: 0;display: table-cell;vertical-align: middle;padding: 0 15px;}
.myOrderReview .checkBoxReview .col2-1{width: 20%;display: table-cell;vertical-align: middle;padding: 0 15px;}
.myOrderReview .checkBoxReview .col5-1{width: 55%;display: table-cell;vertical-align: middle;padding: 0 15px;}
.myOrderReview .checkBoxReview .col6-1{width: 10%;display: table-cell;vertical-align: middle;padding: 0 15px;text-align: center;}
.checkBoxReview .col6-1 a {color: #f04d23;font-size: 30px;}
.checkBoxReview .col2-1 a:hover{color: #ed6843;}
.col2-1 a{text-decoration: none;margin-top: 0;font-size: 16px;color: #333333;margin-bottom: 5px;line-height: 1.2;font-weight: 600;}
.col5-1 p{font-size: 14px;font-style: italic;color: #666666;}
.rating-fa {font-family: 'FontAwesome';padding-left: 1px;}
.rating-container .rating-stars {font-family: 'FontAwesome';padding-left: 0;letter-spacing: 5px;}
.rating-container:before {content: attr(data-content);letter-spacing: 5px;}
.checkBoxReview p{margin-bottom: 0;font-size: 12px;color: #949494;}

/*Product Detail Review*/
.userReview{background: #fff;margin-top: 30px;padding: 20px;}
.userReviewInfo h3{font-size: 16px;font-weight: 600;color:#333;margin-bottom: 5px;}
.userReview p{font-style: italic;color: #666;font-size: 16px;margin-top: 20px;margin-bottom: 0 !important;}
input.reviewField{border: 1px #b7b7b7 solid;width: 100%;background: #fff;padding: 0px 10px;height: 45px;line-height: 45px;font-size: 18px;outline: none;margin-bottom: 30px;color:#333;}
.userReviewWrite{margin-top: 50px;}
.userReviewWrite h2{margin-bottom: 20px;}
textarea.reviewField{border: 1px #b7b7b7 solid;width: 100%;background: #fff;padding: 0px 10px;height: 200px;line-height: 45px;font-size: 18px;outline: none;resize: none;margin-bottom: 30px;color:#333;}
.starsReview{color:#333;height: 45px;line-height: 45px;font-weight: 700;}
.starsReview .star-rating{padding-left: 10px;}
.reviewField:focus{border: 1px #f04d23 solid;}
.reviewSubmit{background: #f04d23 ;color: #fff;border: 0;outline: none;height: 40px;line-height: 40px;display: inline-block;width: 175px;text-align: center;font-size: 14px;text-decoration: none;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all;}
.reviewSubmit:hover {background: #d63c14;color: #fff;text-decoration: none;}
/*Add Adress Popup*/
.white-popup {position: relative; background: #FFF; width: auto; max-width: 500px; margin: 0 auto; }
.zoom-tiny-image{width: 32.33%;}
.zoom-desc{margin-top: 5px;}
.addPopup{}
.addPopup h2{font-size: 36px;color: #333;font-weight: 300;text-align: center; margin: 0; padding: 15px 0;}
.popCont{background: #f5f5f5; padding: 30px 0;}
.addPopup .sendFormField,.addPopup .sendFormFieldTextarea {margin-bottom: 20px; } 
.sendFormBtn{ background: #f04d23; color: #fff; text-transform: uppercase; font-size: 20px; height: 60px; box-shadow: 1px 1px 20px #ccc; border: 0; margin: 0 auto;max-width: 80%;clear: both; line-height: 60px;text-align: center;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.sendFormBtn a{color: #fff; text-decoration: none;}
.sendFormBtn:hover{ background: #ed9636;}
.addPopup .bookForm{background: transparent; padding: 0; }
.addPopup .bookForm input.bookSub{max-width: 80%; max-width: 80%; margin: auto; }

/*puja Detail Page*/
.pujaDetBox{padding: 30px 0 20px; background: #f4f4f4;}
.videoWrapper { position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; }
.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%;height: 100%; }
.pujaBtn{ margin: 20px 0; height: 50px; width: 100%; text-align: center; line-height: 50px; display: block; color: #fff; text-decoration: none; outline: none; font-size: 16px; text-transform: uppercase; font-weight: 600;}
.pujaBtn1{background: #f62b22; }
.pujaBtn2{background: #f04d23; }
.pujaBtn3{background: #ed9636; }
.pujaBtn4{background: #a06f4c; }
.pujaBtn:hover,.pujaBtn:visited{ color: #fff; text-decoration: none; outline: none;}
.pujaBtn3:hover,.pujaBtn4:hover { background: #f04d23}
.pujaBtn2:hover,.pujaBtn1:hover{background: #ed9636 } 
.pujaDet h2{ font-size: 18px; color: #333333; font-weight: 600; margin-bottom: 10px; display: inline-block; width: 100%;}
.pujaDet p{ color: #7c7c7c; font-size: 14px; margin-bottom: 10px;font-weight: 400;}
.pujaDet p span{font-weight: 600;margin-bottom: 10px;}
.pujaDet ul li{ color: #7c7c7c; font-size: 14px; margin-bottom: 10px;font-weight: 400;}
.pujaDet ul li:before {content: ''; width: 8px; height: 8px; background: #a4a4a4; display: inline-block; vertical-align: middle; margin-right: 8px; position: relative; top: -2px; border-radius: 50%; }
.pujaDetVideo{max-width: 750px; margin: 0 auto;}
.clearfixMob{display: none;clear: both;overflow: hidden;}
.slidingDiv1{display: none;}
.show_hide1{cursor: pointer;}


/*Puja Category*/
.pujaCatTop{background: #fff;padding: 25px 0;}
.pujaStep {width: 25%; float: left; text-align: center; }
.pujaStep p{ display: inline-block; margin: 0; font-size: 24px; height: 35px; width: 35px; line-height: 35px; border-radius: 50%; margin-bottom: 5px;}
.pujaStep hr{position: relative;}
.pujaStep hr:before{ content: ''; width: 0; height: 0; border-style: solid; border-width: 0 5px 10px 5px; position: absolute; top: -10px; left: 50%; margin-left: -5px;}
.pujaStep h2{ margin: 0; display: inline-block;font-size: 18px;font-weight: 600}
.pujaStep h2 span{font-weight: 300; display: block;}
.pujaStep1 p{color: #fb2820;border: 1px solid #fb2820;}
.pujaStep1 h2{color: #fb2820;}
.pujaStep1 hr {border-top: 2px solid #fb2820; }
.pujaStep1 hr:before{ border-color: transparent transparent #fb2820 transparent; }
.pujaStep2 p{color: #f04d23;border: 1px solid #f04d23;}
.pujaStep2 h2{color: #f04d23;}
.pujaStep2 hr {border-top: 2px solid #f04d23; }
.pujaStep2 hr:before{border-width: 10px 5px 0 5px; border-color: #f04d23 transparent transparent transparent; top: -2px;}
.pujaStep3 p{color: #fcb05c;border: 1px solid #fcb05c;}
.pujaStep3 h2{color: #fcb05c;}
.pujaStep3 hr {border-top: 2px solid #fcb05c; }
.pujaStep3 hr:before{ border-color: transparent transparent #fcb05c transparent; }
.pujaStep4 p{color: #a06f4c;border: 1px solid #a06f4c;}
.pujaStep4 h2{color: #a06f4c;}
.pujaStep4 hr {border-top: 2px solid #a06f4c; }
.pujaStep4 hr:before{border-width: 10px 5px 0 5px; border-color: #a06f4c transparent transparent transparent;top: -2px;}

.pujaCatBotm{background: #f4f4f4;padding-bottom: 15px;  }
.pujaCatHead{ font-size: 24px; color: #333333; margin: 30px 0 25px; text-align: center; font-weight: 300; text-transform: uppercase;}
.pujaCatImg{position: relative;}
.pujaCatImg img{ width: 100%;}
.pujaCatDisc {display: inline-block; width: 100%; padding: 0 30px 0 0;border-bottom: 1px solid #898989; margin-bottom: 20px;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.pujaCatDisc a{ color: #333333; font-size: 18px; font-weight: 600;text-decoration: none; margin: 20px 0 10px; display: inline-block; width: 100%; }
.pujaCatDisc a:hover{ color: #fb2820; }
.pujaCatDisc p {font-size: 12px; color: #666666; margin-bottom: 15px; }
.pujaCatImg:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5);opacity: 0; }
.pujaCatHover{ position: absolute; top: 50%; width: 100%; text-align: center; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);opacity: 0;-webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; transition: 0.5s all; }
.pujaCatHover img{ width: 42px; display: block; margin: auto;}
.pujaCatHover a{ display: inline-block;}
.pujaCatHover .pujaBook a{ display: inline-block; background: #fff; height: 40px; line-height: 40px; color: #fb2820; font-weight: 600; padding: 0 40px; margin-top: 20px;text-decoration: none;}
.pujaCatHover .pujaBook a:hover{ background: #fb2820;  color: #fff;  } 
.pujaCatBox:hover .pujaCatDisc {background: #fff;padding: 0 15px;border-bottom: 1px solid #fb2820; } 
.pujaCatBox:hover .pujaCatImg:before {opacity: 1 }
.pujaCatBox:hover .pujaCatHover{opacity: 1}
#sync1 .item{}
#sync2 .item{ border-bottom: 2px transparent solid; font-size: 24px; font-weight: 400; height: 50px; line-height: 50px; display: inline-block; vertical-align: top; padding: 0 15px; cursor: pointer; margin: 0; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; -o-transition: 0.5s all; }
#sync2 .item:hover{border-bottom: 2px #ed9636 solid; background: rgba(255,255,255,0.5); }
#sync2 .synced .item{border-bottom: 2px #ed9636 solid; background: rgba(255,255,255,0.5); }
#sync2 .owl-item{width: initial !important;}
#sync2 .synced .item{}
.homeProd .owl-prev{position: absolute; top: calc(50% - 12px); margin-left: -30px;background: url(../img/chevron-thin-left.png) no-repeat center center;font-size: 0;height: 25px;width:25px;}
.homeProd .owl-next{position: absolute; top: calc(50% - 12px);right: 0; margin-right: -30px;background: url(../img/chevron-thin-right.png) no-repeat center center;font-size: 0;height: 25px;width:25px;}
#sync2 .owl-wrapper{width: initial !important; left: 0px;margin-top: 30px; display: inline-block !important;}
#sync2 .owl-wrapper-outer {text-align: center; display: inline-block; }















