@charset "utf-8";
/* CSS Document */

body { background:#fff; color:#000; }
a             { color:#56CCE6; }
a:hover       { color:#333; }
h1,h2,h3,h4,h5,h6      { color:#202020; }
label{ color:#666; }
input,select,textarea,button { color:#2f2f2f; }
input.input-text,select,textarea { background:#fff; border-color:#e4e4e4; color:#666; }
select.multiselect option { border-bottom-color:#b6b6b6; }
.w-btn{ color:#fff; border-color:#56CCE6; background:#56CCE6; }
.w-btn:hover{ color:#333; background:#fff; }
.secView .w-btn{ color:#333; background:#f9f9f9; border-color:#f4f4f4; }
.secView .w-btn:hover{ color:#444; background:#e9e9e9; }
button.button { background:transparent;}
address{ color:#666; }
button.button span {background:#27aba9;}
button.button span , .btn-cart{ border-color:#56CCE6; background:#fff; color:#000; }
button.button:hover span , .btn-cart:hover{ background:#56CCE6; border-color:#56CCE6; color:#fff; }
.secView button.button span , .secView .btn-cart{ border-color:#e7e7e7; background:#e7e7e7; }
.secView button.button:hover span , .secView .btn-cart:hover{ border-color:#e2e2e2; background:#e2e2e2; color:#444; }
button.disabled span { border-color:#bbb !important; background:#bbb !important; }
button.btn-checkout span { }
button.btn-checkout.no-checkout span { color:#b8baba; }
input.input-text:focus,select:focus,textarea:focus { background-color:#fcfcfc; }
.form-list label.required em { color:#eb340a; }
.form-list li.additional-row { border-top-color:#ccc;}
.buttons-set { border-top-color:#e4e4e4;  }
.fieldset { border-color:#e4e4e4; }
.fieldset .legend { border-bottom-color:#e4e4e4; color:#333; }
.validation-advice { color:#eb340a; }
p.required { color:#EB340A; }
.messages { box-shadow:0px 0px 2px 2px rgba(0, 0, 0, 0.1); }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { text-shadow:1px 1px 1px #b6f797; }
.error-msg { border-color:#b32b29; background-color:#ef403d; color:#323232; text-shadow:1px 1px 1px #f56a68; box-shadow:0px 0px 0px 1px rgba(243,104,101,0.5) inset; }
.success-msg { border-color:#82b968; background-color:#96df73; color:#3a6028; box-shadow:0px 0px 0px 1px rgba(216,255,198,0.5) inset; }
.note-msg{ border-color:#d2ae43; background-color:#ffd557; color:#55481f; text-shadow:1px 1px 1px #fff0c4; box-shadow:0px 0px 0px 1px rgba(255,224,132,0.5) inset; }
.notice-msg { border-color:#89b7bf; background-color:#acdae2; color:#394e52; text-shadow:1px 1px 1px #dafaff; box-shadow:0px 0px 0px 1px rgba(189,231,239,0.5) inset; }
.error-msg:before, .success-msg:before, .note-msg:before, .notice-msg:before{ text-shadow:0px 1px 1px rgba(0,0,0,0.4); color:#fff; }
.messages a{ color:#000; }
.link-print { color:#56CCE6; }

.page-title { border-bottom-color:#56CCE6; }
.sub-title { color:#333; }
.pager { }
.sorter { }
.toolbar .pager { }
.toolbar .sorter { border-color:#e3e3e3; }
.data-table { border-color:#e9e9e9; }
.data-table .odd  { background:#F8F8F8; }
.data-table .even { background:#fefefe; }
.data-table thead th { border-right-color:#e4e4e4;color:#333; }
.data-table thead th a:hover { color:#fff; }
.data-table tfoot { border-bottom-color:#d9dde3; }
.data-table tfoot tr.first td { border-top-color:#e4e4e4; }
.data-table tfoot tr { }
.data-table tfoot td { border-right-color:#d9dde3; }
.data-table tbody th,
.data-table tbody td { border-top-color:#e9e9e9; border-right-color:#e9e9e9; }
.data-table tbody.odd tr { background:#f8f7f5 !important; }
.data-table tbody.even tr { background:#f6f6f6 !important; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { border-bottom-color:#d9dde3; }
.data-table ul.disc li{ color:#444; }
.data-table .data{ color:#666; }
.info-box { background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x; border-color:#d0cbc1; }
tr.summary-total .summary-collapse { background:url(../images/bkg_collapse.gif) 0 5px no-repeat; }
tr.summary-details td { background-color:#dae1e4; color:#626465; }
tr.summary-details-first td { border-top-color:#d2d8db; }
.cart-tax-total { background:url(../images/bkg_collapse.gif) 100% 5px no-repeat; }
.links li.last { background:none !important;}
.link-cart,.link-wishlist,.link-reorder { color:#333 !important; }
.link-rss { background:url(../images/i_rss.gif) 0 2px no-repeat; }
.btn-remove  { background:url(../images/btn_remove.gif) 0 0 no-repeat; }
.btn-previous  { background:url(../images/btn_previous.gif) 0 0 no-repeat; }
.btn-remove2 { background:url(../images/btn_trash.gif) 0 0 no-repeat; }
.btn-edit    { background:url(../images/btn_edit.gif) 0 0 no-repeat; }
.divider { background:url(../images/bkg_divider1.gif) 0 50% repeat-x; }
.global-site-notice { border-color:#cfcfcf; background:#ffff90; color:#2f2f2f; }
.global-site-notice .notice-inner { background:url(../images/i_notice.gif) 20px 25px no-repeat; }
.global-site-notice .notice-inner p { border-color:#cccc73; }
.demo-notice { background:#d75f07; color:#fff; }

/* Header ================================================================================ */
.header_currency{ border-color:#e4e4e4;}
.header-wrapper01 .header-top .links li + li,.header-wrapper01 .header_currency, .header-wrapper01 .language-switcher,.header-wrapper01 .header-top .block-cart{ border-left-color:#b5b2b2; }
.header-wrapper01 .header-top .block-cart,.header-top .header-compare{ background:none; }
.header-top .block-cart .summary .cart-icon{ color:#56CCE6; }
.header-wrapper01 .header-top .button span{ background:none; color:#9e9d9d; }
.mobMenu h1{ background:#56CCE6; color:#fff; }
.mobMenu h1 a{ color:#fff; }
.mobMenu .accordion{ background:#fff; border-color:#E7E7E7; }
.mobMenu .accordion li + li{ border-top-color:#e7e7e7; }
.accordion li ul li { background:#f9f9f9; border-top-color:#e7e7e7; }
.accordion li ul li ul li { background:#f1f1f1; }
.mobMenu .accordion li a{ color:#333; }
.mobMenu .accordion em.open-close { background: url(../images/common.png) no-repeat scroll 2px -392px rgba(0, 0, 0, 0);}
.mobMenu .accordion li.active > em.open-close { background: url(../images/common.png) no-repeat scroll 2px -427px rgba(0, 0, 0, 0);}


.header .welcome-msg { color:#fff; }
.header .welcome-msg a { color:#ebbc58; }
.header .form-search .search-autocomplete ul { border-color:#e4e4e4; background-color:#f9f5f0; }
.header .form-search .search-autocomplete li { text-align:left; border-bottom-color:#f4eee7; }
.header .form-search .search-autocomplete li.odd { background-color:#fffefb; }
.header .form-search .search-autocomplete li.selected { background-color:#f9f9f9; }
.header .form-language label { color:#a7c6dd; }
.header .links li { background:url(../images/bkg_pipe1.gif) 100% 60% no-repeat; }
.header .links a { color:#ebbc58; }
.header-container .top-container a { color:#ebbc58; }
.nav-container { }
#nav ul li.parent a { }
#nav ul li.parent li a { background-image:none; }
#nav li.active a { color:#d96708; }
#nav a { color:#a7c6dd; }
#nav ul li.active { background:#ecf3f6 url(../images/bkg_nav1.gif) 0 100% repeat-x; }
#nav ul li.last { }
#nav div { border-color:#899ba5; }
#nav ul.level0 > li > a, #nav ul.level0 li h2 { background:#333; color:#fff; }
nav ul#nav ul.level0 li.level1 ul.level1 li a{ background:#f8f8f8; color:#333; }
nav ul#nav ul.level0 li.level1 ul.level1 li:hover a{ background:#fcfcfc; color:#555; }
#nav ul li a,
#nav ul li a:hover { }
.header-wrapper01{ }
.header-wrapper01 header nav ul#nav li a.level-top, .header-wrapper01 header nav .sf-menu li a.level-top{ color:#333; }
.header-wrapper01 header nav ul#nav li.active a.level-top, .header-wrapper01 header nav .sf-menu li.active a.level-top{ color:#fff; }
.header-wrapper01 header nav ul#nav li:hover a.level-top, .header-wrapper01 header nav li:hover a.level-top, .header-wrapper01 header nav li.active a.level-top, .cms-index-index .header-wrapper01 header nav ul#nav li.home a.level-top, .contacts-index-index .header-wrapper01 header nav ul#nav li.contact-link a.level-top, .contacts-index-index .header-wrapper01 header nav li.contact-link a.level-top{ background:#56CCE6; color:#fff; }
.sf-menu ul.level0, .sf-menu ul.level0 li ul.level1{ background:#f8f8f8; }
.sf-menu ul.level0 li{ }
.sf-menu ul.level0 li a{ color:#666; background:#f2f2f2; width:100%; border-left-color:#56CCE6; }
.sf-menu ul.level0 li:hover > a{ border-left-color:#999; background:#f6f6f6; }
nav ul#nav ul.level0{ background:#fff; border-bottom-color:#56CCE6; box-shadow:0px 2px 2px 0px rgba(0,0,0,0.4); }
.block .block-title{ background:#f6f6f6; border-top-color:#56CCE6; }
.block .block-title strong, .block-layered-nav dt { color:#333; }
.block .block-subtitle { color:#333; }
.block-layered-nav dt .toggleBtn{ background:#56CCE6; color:#fff; }
.block .block-content { }
.block .block-content .product-name { color:#333; }
.block .actions { background:#fbfbfb;; }
.block li.odd { background-color:#f9f9f9; }
.block li.even { background-color:#fcfcfc; }
.block-account .block-content li + li,#magicat li + li, .block-layered-nav li + li,.block.block-list.header-compare #compare-items li + li{ border-color:#e4e4e4; }
.block-account .block-content li a,#magicat li a, .block-layered-nav li a, .block.block-list.header-compare #compare-items li a{ color:#444; }
.block-account .block-content li, #magicat li, .block-layered-nav li, .block.block-list.header-compare #compare-items li{ color:#aaa; }
.block-account .block-content li a + span, #magicat li a + span, .block-layered-nav li a + span, .block.block-list.header-compare #compare-items li a + span{ color:#000; }
.block-account .block-content li a:hover,#magicat li a:hover, .block-layered-nav li a:hover, .block.block-list.header-compare #compare-items li a:hover,.block-account .block-content li strong{ color:#56CCE6; }
.mini-products-list .product-image { border-color:#EDEEEF; }
.block-account { border-color:#bbb; }
.block-account .block-title { }
.block-account .block-title strong { }
.block-account .block-content { }
.block-account .block-content li a { }
.block-account .block-content li a:hover {}
.block-account .block-content li.last a {}
.block-account .block-content li.current { }
.block-currency { background:url(../images/bkg_block-currency.gif) 0 0 no-repeat; }
.block-currency .block-title { background:none; }
.block-currency .block-title strong { background:url(../images/i_block-currency.gif) 0 50% no-repeat; color:#fff; }
.block-layered-nav .block-subtitle { background:#d5e8ff url(../images/bkg_block-layered1.gif) 0 50% repeat; border-color:#b9ccdd; color:#1f5070; }
.block-layered-nav dd.last { background:none; }
.block-layered-nav .currently li { background:#fff url(../images/bkg_block-layered-li.gif) 0 100% repeat-x; }
.block-layered-nav .currently .label { background:url(../images/bkg_block-layered-label.gif) 0 4px no-repeat; }
.block-layered-nav .actions { background:#cad6e4; border-color:#dee5e8;}
.block-cart .block-title strong { background-image:url(../images/i_block-cart.gif); }
.block-cart .actions { border-bottom-color:#c2c2c2; }

.block-compare .block-title strong { background-image:url(../images/i_block-list.gif); }
.block-compare button.button span { border-color:#406a83; background:#618499; }
.page-popup .link-print { color:#56CCE6; }
.compare-table tbody th,
.compare-table tbody td { border-top-color:#e4e4e4; border-left-color:#e4e4e4; }
.compare-table tbody td.last { border-right-color:#ccc; }
.compare-table tbody tr.last th,
.compare-table tbody tr.last td { border-bottom-color:#e4e4e4 !important; }
.compare-table tr.add-to-row td { background:#f2f2f2; }
.compare-table tr.first td .product-name { color:#203548; }
.compare-table tr.first td .product-name a { color:#203548; }
.block-poll button.button span { }
.my-wishlist .buttons-set .btn-add:hover span, .my-wishlist .buttons-set .btn-share:hover span,
.block-poll button.button:hover span { }
.block-gr-search button.button span { border-color:#406a83; background:#618499; }
.block-tags .block-content .tags-list { background:none; }
.block-tags .block-content a { color:#56CCE6; }
.block-tags .block-content a:hover { color:#333; }
.block-subscribe .block-title strong { background-image:url(../images/i_block-subscribe.gif); }
.block-subscribe label { color:#666; }
.block-subscribe .actions { background:none; }
.block-subscribe .actions button.button span { border-color:#406a83; background:#618499; }
.block-login label { font-weight:bold; color:#666; }
.block-login .actions { background:none; }
.block-login .actions button.button span { border-color:#406a83; background:#618499; }
.products-grid .price-box{background:#56CCE6; background:rgba(39, 171, 166, 0.5);}
div .products-grid .secView .price-box { background:none; }
.products-grid .price-box.minimalBox, .products-grid .spBox{ background:rgba(97, 205, 9, 0.6);}
.products-grid .product-name { color:#000; }
.products-grid .secView .product-name a{ color:#333; }
.products-grid .product-name a { color:#000; }
.products-grid .product-name a:hover { color:#56CCE6; }
.products-list li.item { border-bottom-color:#d9ddd3; }
.products-list .product-name { color:#203548; }
.products-list .product-name a { color:#203548; }
.no-rating a,.rating-box { background:url(../images/bkg_rating.png) 0 0 repeat-x; }
.rating-box .rating { background:url(../images/bkg_rating.png) 0 101% repeat-x; }
.availability.out-of-stock span { color:#d83820; }
.availability-only { background:url(../images/i_availability_only.gif) 0 50% no-repeat; }
.availability-only a { border-bottom-color:#751d02; color:#000; }
.availability-only a { background:url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat; }
.availability-only strong { color:#be2c00; }
.availability-only-details th { background:#d2d6d9; }
.availability-only-details td { background:#ebf0f3; border-bottom-color:#fff; }
.availability-only-details tr.odd td.last { color:#d95e00; }
.products-grid li.item .price-box .price { color:#fff; }
.products-grid li.item.secView .price-box .price { color:#56CCE6; }
.products-grid li.item.secView .price-box .old-price .price { color:#444; }
.products-grid .regular-price { color:#fff; }
.products-grid .regular-price .price { color:#fff; }
.block .regular-price,.block .regular-price .price { color:#2f2f2f; }
.old-price .price-label { color:#999; }
.old-price .price { color:#5a5d5d; }
.special-price .price-label { color:#cd5033; }
.products-grid li.item .special-price .price { color:#fff; }
.products-grid li.item .minimal-price-link .price { color:#fff; }
.price-excluding-tax { color:#999; }
.price-excluding-tax .label { color:#999; }
.price-excluding-tax .price { color:#c76200; }
.price-including-tax { color:#999; }
.price-including-tax .label { color:#999; }
.price-including-tax .price { color:#c76200; }
.weee { color:#444; }
.price-notice { color:#999; }
.price-notice .price { color:#2f2f2f; }
.price-box-bundle .price { color:#555; }
.tier-prices { background-color:#f4f7f7; border-color:#dadddd; color:#424242; }
.tier-prices li { background:url(../images/i_tier.gif) no-repeat 0 3px; }
.tier-prices .benefit { color:#2f2f2f; }
.tier-prices .price { color:#2f2f2f; }
.tier-prices-grouped li { color:#e26703; }
.add-to-box .or { color:#666; }
.product-collateral h2 { color:#444; border-bottom-color:#e4e4e4; }
.product-collateral .std{ color:#666; }
.product-view .product-img-box .zoom { background:url(../images/slider_bg.gif) 50% 50% no-repeat; }
.product-view .product-img-box .zoom #handle { background:url(../images/magnifier_handle.gif) 0 0 no-repeat;  }
.product-view .product-img-box .more-views h2 { border-bottom-color:#ccc; }
.product-view .product-img-box .more-views li a { border-color:#e4e4e4; }
.product-image-popup .image-label { color:#2f2f2f; }
.product-view .product-shop .short-description { border-color:#E9E9E9; color:#666; }
.product-options { background-color:#fcfcfc; border-color:#e4e4e4; }
.product-options dt label { color:#2f2f2f; }
.product-options dt label.required em { color:#eb340a; }
.product-options dt .qty-disabled { background:none; color:#2f2f2f; }
.product-options dd .multiselect option { border-bottom-color:#d9e5ee; }
.product-options-bottom .product-pricing,
.product-options-bottom .tier-prices { color:#e26703; }
.product-options-bottom .tier-prices .price,
.product-options-bottom .tier-prices .benefit { color:#e26703; }
.product-view .box-up-sell .products-grid { border-color:#e5dcc3; }
.product-view .box-up-sell .products-grid td { background:#f6f2e7; border-color:#e5dcc3; }
.product-view .box-up-sell .products-grid td img { border-color:#e5dcc3; }
.product-view .box-up-sell .products-grid td.empty { background:#f1ecdb; }
.product-view .box-tags .product-tags li { background:url(../images/bkg_pipe3.gif) 100% 4px no-repeat; }
.product-view .box-tags .product-tags li.last { background:none; }
.product-view .box-tags .form-add label { color:#0a263c; }
.product-view .box-tags .form-add button.button span { }
.tags-list { border-color:#56CCE6; background:#2bb8b3; }
.tags-list li a { color:#fff; }
.advanced-search-summary { border-color:#e9d7c9; background:#fff6f1; }
.advanced-search-summary strong { color:#E17C24; background:url(../images/i_search_criteria.gif) 0 3px no-repeat; }
.breadcrumbs { background:#f7f7f7; }
.page-sitemap .sitemap a { color:#1b2d3b; }
.page-sitemap .sitemap li.level-0 a { color:#1e7ec8; }
.rss-title h1 { background:url(../images/i_rss-big.png) 0 4px no-repeat; }
.cart-table .product-name { color:#2f2f2f; }
.cart-table .item-msg { color:#df280a; }
.cart-table .btn-empty span,
.cart-table .btn-continue span,
.cart-table .btn-update span { }
button.btn-checkout:hover span, .cart .discount button:hover span, .cart .shipping button:hover span, .multiple-checkout .title-buttons button.button:hover span, #multiship-addresses-table tfoot button.button:hover span,
.cart-table .btn-empty:hover span,.cart-table .btn-continue:hover span,.cart-table .btn-update:hover span { }
.cart .crosssell { border-color:#cec3b6; background:#fafaec; }
.cart .crosssell .product-image { border-color:#d0cdc9; }
.cart .discount,
.cart .shipping { border-color:#e4e4e4; background:#fafafa; }
.cart .discount h2,
.cart .shipping h2 { color:#333; }
.cart .discount button span,
.cart .shipping button span {}
.cart .shipping .sp-methods { background:url(../images/bkg_divider1.gif) 0 0 repeat-x; }
.cart .totals { background:#fafafa; border-color:#e4e4e4; }
.truncated .truncated_full_value .item-options { border-color:#ddd; background-color:#f6f6f6; }
.tool-tip { border-color:#7BA7C9; background:#EAF6FF; }
.tool-tip .btn-close a { background:url(../images/btn_window_close.gif) 100% 0 no-repeat; }
.gift-messages h3 {  color:#e87403; }
.gift-messages p.control { color:#8e8d8b; }
.gift-messages-form h4 {  color:#e87403; }
.gift-messages-form .item .number { color:#8a8987; }
.gift-message-link { background:url(../images/bkg_collapse-gm.gif) 100% 6px no-repeat; }
.gift-message-row .btn-close { background:url(../images/btn_gm-close.gif) 0 0 no-repeat; }
.checkout-agreements .agreement-content { background-color:#fbfaf6; border-color:#bbb6a5; }
.opc .checkout-agreements { border-color:#d9dde3; }
.opc .checkout-agreements .agreement-content { background-color:#fff; border-color:#e4e4e4; }
.centinel .authentication { border-color:#ddd; background:#fff; }
.centinel .authentication iframe { background:transparent !important; }
.opc .centinel { border-color:#bbb6a5; }
.info-set { background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; border-color:#bbb6a5; }
.info-set h3,
.info-set h4 { color:#E26703; }
.info-set h2.legend { background:#f9f3e3; border-bottom-color:#bbafa0; }
.info-set h3.legend { color:#0a263c; }
.info-set .box h2 { color:#e26703; }
.info-set .data-table .product-name { color:#1e7ec8 !important; }
.block-progress .block-title strong {  color:#0a263c; }
.block-progress dt {  background:#fff; border-color:#e4e4e4; color:#888; }
.block-progress dd { background:#fff; border-color:#e4e4e4; color:#666; }
.block-progress dt.complete { background:#fff; color:#333; }
.opc li.section { border-bottom-color:#e4e4e4; }
.opc .step-title .number { background:#fff; border-color:#fff; color:#999; }
.opc .step-title { border-color:#fff #d9dde3 #d9dde3; }
.opc .step-title .number { background:#fff; border-color:#fff; color:#999; }
.opc .step-title h2 { color:#999; }
.opc .allow .step-title { background:#f6f6f6; border-left-color:#e4e4e4; border-right-color:#e4e4e4; border-top-color:#e4e4e4; color:#444; }
.opc .allow.active .step-title { border-bottom-color:#e4e4e4; }
.opc .allow .step-title .number { background:#f9f9f9; border-color:#e9e9e9; color:#aaa; }
.opc .allow .step-title h2 { color:#a4b3b9; }
.opc .active .step-title { background:#F6F6F6; border-color:#e4e4e4; color:#333; }
.opc .active .step-title .number { background:#56CCE6; border-color:#56CCE6; color:#fff; }
.opc .active .step-title h2 { color:#333; }
.opc .step { border-color:#e4e4e4; }
#opc-login h3 {  border-bottom-color:#e4e4e4; }
#opc-login h4 { color:#2f2f2f; }
.opc .gift-messages-form { background:#f6f1eb; border-color:#e9e4de; }
#opc-review .product-name { color:#333; }
#opc-review .buttons-set { border-color:#e4e4e4;  }
#opc-review .warning-message { color:#222; }
.checkout-progress li { border-top-color:#999; color:#666; }
.checkout-progress li.active { border-top-color:#56CCE6; color:#56CCE6; }
.multiple-checkout h3,
.multiple-checkout h4 { color:#333; }
.multiple-checkout .data-table .product-name { color:#1e7ec8 !important; }
.multiple-checkout .col2-set,
.multiple-checkout .col3-set { border-color:#e4e4e4; }
.multiple-checkout .col2-set h2.legend { background:#f2f2f2; border-bottom-color:#e4e4e4; }
.multiple-checkout .col2-set h3.legend { color:#0a263c; }
.multiple-checkout .box h2 { color:#333; }
.multiple-checkout .place-order .grand-total .price { color:#56CCE6; }
.multiple-checkout .title-buttons button.button span,
#multiship-addresses-table tfoot button.button span  {}
.checkout-multishipping-shipping .box-sp-methods { border-color:#e7e7e7; background:#fcfcfc; }
.checkout-multishipping-shipping .box-sp-methods .pointer { background:url(../images/bkg_sp-methods.gif) 0 0; }
.account-login .content { border-color:#e4e4e4; }
.account-login .content h2 { border-bottom-color:#e4e4e4; color:#333; }
.account-login .new-users .content p{ color:#666; }
.account-login .buttons-set { border-color:#e4e4e4; background:#fbfbfb; }
.captcha-image .captcha-img { border-color:#b6b6b6; }
.window-overlay { background:url(../images/window_overlay.png) repeat; background:rgba(0, 0, 0, 0.35); }
.remember-me-popup { background:#fff; border-color:#ccc; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; -box-shadow:0 0 6px #ccc; }
.remember-me-popup h3 { background:#d9e5ee; border-bottom-color:#ccc; }
.remember-me-popup .remember-me-popup-head .remember-me-popup-close { background:url(../images/btn_window_close.gif) no-repeat; }
.remember-me-popup .remember-me-popup-body a { border-color:#de5400; background:#f18200; color:#fff; }
.box-account { border-color:#e4e4e4; }
.box-account .box-head { border-bottom-color:#e4e4e4; }
.box-account .box-head h2 { color:#333; }
.dashboard .box-reviews .number { color:#fff; background:#0a263c; }
.dashboard .box-tags .number { color:#fff; background:#0a263c; }
.addresses-list h2 { color:#333; }
.addresses-list .link-remove { color:#646464; }
.addresses-list li.item { border-color:#e4e4e4; }
.order-info { background:#dee5e8; border-color:#d0cbc1; }
.order-info-box { background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x; border-color:#d0cbc1; }
.order-items h3 { color:#0a263c; }
.order-items .link-print { color:#1e7ec8; }
.gift-message dt strong { color:#666; }
.page-print .order-date { background:url(../images/bkg_divider1.gif) 0 100% repeat-x; }
.product-review h3 { color:#2f2f2f; }
.cart-msrp-totals { color:red; }
.map-cart-sidebar-total { color:red; text-shadow:0 1px 0 #fff; }
.map-popup { background:#fff; border-color:#aaa; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; box-shadow:0 0 6px #ccc; }

.map-popup-heading { border-bottom-color:#ccc; }
.map-popup-heading h2 { text-shadow:0 1px 0 #f6f6f6; }
.map-popup-arrow { background:url(../images/map_popup_arrow.gif) no-repeat; }
.map-popup-close { background:url(../images/btn_window_close.gif) no-repeat; -moz-box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999; box-shadow:0 0 3px #999; -moz-border-radius:2px; -webkit-border-radius:2px; }
.map-popup-content { border-top-color:#eee; }
.map-popup-only-text { border-top-color:#ddd; }
.footer .store-switcher { color:#fff; }
.footer a { color:#333; }
.footer .bugs { color:#ecf3f6; }
.footer .bugs a { color:#ecf3f6; }
.footer address { color:#ecf3f6; }
.footer address a { color:#ecf3f6; }
.footer li.last { background:none !important; }
.best-selling h3 { color:#e25203; }
.best-selling table { border-top-color:#ccc; }
.best-selling tr.odd { background:#eee url(../images/best_selling_tr_odd_bg.gif) 0 100% repeat-x; }
.best-selling tr.even { background:#fff url(../images/best_selling_tr_even_bg.gif) 0 100% repeat-x; }
.best-selling td { border-bottom-color:#ccc; }
.best-selling .product-img { border-color:#dcdcdc; }
.best-selling a.product-name,
.home-spot .best-selling a.product-name:hover { color:#203548; }
.promotion-page .promo-banner .promo-nav li a{ background:#fff; color:#000; }
.promotion-page .promo-banner .current-slide{ background:#fff; }
.promotion-page .promo-row03 .span4{ border-color:#e4e4e4; }
.promotion-page .promo-row03 .span4 .promo-ply{ background:#fff; background:rgba(255,255,255,0.7); color:#000; }
.promotion-page .promo-row03 .span4 h2{ background:#fff; background:rgba(255,255,255,0.7); }
.promotion-page .promo-row04 h2{ background:#fff; }
.cms-index-index .resp-tabs-list li,.headingBox h2 span{ color:#56CCE6; background:#fff; border-color:#56CCE6; }
#tabs .headingBox h2 span:hover{ background:#56CCE6; }
#tabs .headingBox h2 span:hover a{ color:#fff; }
.headingBox h2 span{ border-color:#56CCE6; }
.headingBox h2 span.active, #tabs .headingBox h2 span.active:hover{ border-color:#bdc3c7; background:#fff; }
#tabs .headingBox h2 span.active a, #tabs .headingBox h2 span.active:hover a{ color:#bdc3c7; cursor:default; }
#tabs .headingBox h2 span a{ color:#56CCE6; }
.cms-index-index .resp-tabs-list li.resp-tab-active{ border-color:#bdc3c7; }
.cms-index-index .resp-tabs-list li.resp-tab-active a{ color:#56CCE6; cursor:default; color:#666; }
.cms-index-index ul.resp-tabs-list:before,.headingBox:before{ background:#56CCE6; }
.about-page article{ color:#202020; }
.about-page p{ color:#666; }
.read-more{ color:#56CCE6; border-color:#56CCE6; }
.team-block{ }
.team-block .headingBox h2 span{ }
.team-block .headingBox:before{}
.team-block ul li h2{ color:#333; }
.team-block ul li p{ color:#666; }
.team-block .pagination li a{ background:#999; }
.team-block .pagination li.active a{ background:#56CCE6; }
.corporate-block .icon-block{ color:#56CCE6; }
.privacy-policy p{ color:#666; }

.latest-news ul li .f-block{ border-color:#888; }
.latest-news ul li .f-block author{ color:#5e5f5f; }
.testimonial-wrapper{ background:#56CCE6;}
.testimonial-wrapper p, .testimonial-wrapper .author{ color:#fff; }
.featuredcat-wrapper article, .featuredcat-wrapper ul li ul li a{ color:#666; }
.featuredcat-wrapper ul li ul li a:hover{ color:#202020; }
.featuredcat-wrapper h2 a{ color:#000; }
.featuredcat-wrapper h2 a:hover{ color:#56CCE6; }
.featuredcat-wrapper .cat-block + .cat-block{ border-color:#e9e9e9; }
.highlighterWrap h2, .highlighterWrap p{ color:#fff; }
.highlighterWrap .view-button{ background:#333; color:#fff; }
.highlighterWrap .view-button:hover{ background:#56CCE6; }
.freeshipping-wrapper{ background:#56CCE6; }
.freeshipping-wrapper h2, .freeshipping-wrapper h2 a{ color:#fff;}
.freeshipping-wrapper h2 a:hover{ color:#ddd;}
.footer-blocks .news-letter .input-text{ border-color:#e9e9e9; }
.key-feature ul li .fa{ background:#56CCE6; color:#fff; }
.footer-blocks .twitter-twets li:before{ color:#56CCE6;}
.mainFooterPan01 .media-payment, .mainFooterPan01 .footer .copyright{ border-color:#eee; }
.footerBottom{background: none repeat scroll 0 0 #F1F1F1; border-top: 1px solid #DDDDDD; padding: 15px 0 0;}
.mainFooterPan01 .media-payment ul li a{ color:#fff; }
.mainFooterPan01 ul li.facebook a, .mainFooterPan03 ul li.facebook a{ background:#3a589b; }
.mainFooterPan01 ul li.twitter a, .mainFooterPan03 ul li.twitter a{ background:#63b4e4; }
.mainFooterPan01 li.google-plus a,.mainFooterPan03 li.google-plus a{ background:#d6492f; }
.mainFooterPan01 ul li.youtube a,.mainFooterPan03 ul li.youtube a{ background:#cf3427; }
.mainFooterPan01 ul li.pinterest a, .mainFooterPan03 ul li.pinterest a{ background:#999; }
.mainFooterPan01 li.linkedin a,.mainFooterPan03 li.linkedin a{ background:#007ab9; }
.mainFooterPan01 ul li.skype a,.mainFooterPan03 ul li.skype a{ background:#3e9dd7; }
.mainFooterPan01 ul li.dribbble a,.mainFooterPan03 ul li.dribbble a{ background:#ec4a89; }
.mainFooterPan01 ul li.rss a,.mainFooterPan03 ul li.rss a{ background:#e19126; }
.mainFooterPan01 ul li.tumblr a,.mainFooterPan03 ul li.tumblr a{ background:#4d83ba; }
.mainFooterPan01 .footer .footer-links h3{ color:#252525; }
.mainFooterPan01 .footer .footer-links li:before{ background:#56CCE6; }
.mainFooterPan01 .footer .footer-links .link-block p { color:#666; }
.mainFooterPan01 .footer .footer-links .link-block p .fa{ color:#56CCE6; }
.mainFooterPan01 .footer .footer-links {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}
.goTop a{ background:#56CCE6; color:#fff; border-color:#fff; }
.currency_detail .currency-inner, .language_detail .language-inner{ background:#fff; box-shadow:0px 0px 4px 0px rgba(0,0,0,0.1); }
.currency_detail .currency-inner a, .language_detail .language-inner a{ border-color:#e9e9e9; }
.currency_detail .currency-inner a, .language_detail .language-inner a:hover{ background:#fff; }
.pager .pages li span, .pager .pages li a{ background:#f9f9f9; border-color:#e7e7e7; }
.pager .pages li a:hover{ background:#56CCE6; border-color:#1f9994; color:#fff; }
.pager .pages li span{ color:#888; }
.block.block-list.header-compare #compare-items li, .block.block-viewed .block-content li.item{ background:none; }
.block.block-viewed .block-content li.item + li.item{ border-top-color:#E4E4E4; }
.block.block-viewed .block-content li.item .product-name a { color:#333; }
.products-list .proImage{ border-color:#e4e4e4; }
.header-container .header_cart  .remain_cart, .header-container .compare-content{ border-color:#D4D4D4; background:#fff; box-shadow:0 2px 10px 0 rgba(105, 112, 113, 0.5); color:#697071; }
.header-container .header_cart  .remain_cart .mini-products-list, .header-container .header_cart .remain_cart .mini-products-list .item + .item,
.header-container .compare-content #compare-items li{ border-color:#DBDFE1; }
.header-container .header_cart  .remain_cart a, .header-container .header_cart  .remain_cart .quity-multy, .header-container .header_cart  .remain_cart .price,
.header-container .compare-content #compare-items li .product-name a{ color:#697071; }
.header-container .header_cart  .remain_cart a.details, .header-container .header_cart .remain_cart .btn-pencil{ color:#999; }
.truncated .show .item-options { color:#333; }
.header-container .header_cart .remain_cart:before, .header-container .compare-content:before{ 	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF; border-right:9px solid rgba(0, 0, 0, 0); }
.header-top{ background:#f0f0f0; }
.language-switcher .select_lang span, .header_currency .currency_pan span,.language-switcher .select_lang .fa, .header_currency .currency_pan .fa{ color:#252525; }
.header-contact em, .header-info em,
.language-switcher .select_lang span:before, .header_currency .currency_pan span:before{ color:#56CCE6; }
.language-switcher:hover, .header_currency:hover{ background:#fff; }
.header-top ul.links li a,.header-compare .classy a{ color:#000; }
.header-compare .classy a span{ color:#56CCE6; }
.header-top ul.links li a:hover,.header-compare .classy a:hover{ color:#56CCE6; }
.header-top ul.links li a:before, .header-compare .cart-icon,.search-right .fa-search{ color:#56CCE6; }
.header-wrapper02 .nav-wrapper{ background:#56CCE6; }
.header-wrapper02 .block-cart .summary .classy, .header-wrapper02 .block-cart .summary .classy a,
.header-wrapper02 .nav-wrapper .container nav ul#nav > li:after, .header-wrapper02 .nav-wrapper .container nav ul.sf-menu > li:after,
.header-wrapper02 .nav-wrapper .container nav ul#nav > li > a,.header-wrapper02 .nav-wrapper .container nav ul.sf-menu > li > a{ color:#fff; }
.header-wrapper02 .nav-wrapper .container nav ul#nav > li.active > a,.header-wrapper02 .nav-wrapper .container nav ul.sf-menu > li.active > a,
.header-wrapper02 .nav-wrapper .container nav ul#nav > li > a:hover,.header-wrapper02 .nav-wrapper .container nav ul.sf-menu > li > a:hover{ color:#eee; color:rgba(255,255,255,0.6); }
.header-wrapper02 .header_cart{ border-color:#67DDF5; background:#56CCE6; color:#fff; }
.header-wrapper02 .header_cart .cart-icon{ font-size:14px; margin-left:13px; line-height:34px; }
.header-wrapper02 .block-cart .summary .bag{ border-left-color:#21BADA; color:#fff; }
.header-wrapper02 .form-search select, .header-wrapper02 .form-search input{ border-color:#dcdcdc; color:#dcdcdc; }
.header-wrapper02 .form-search select:focus, .header-wrapper02 .form-search input:focus{ color:#666; }
.header-wrapper02 header .form-search button.button span span{ color:#d5d5d3; }
.mainFooterPan02{ background:#3f3f41; border-top-color:#56CCE6; }
.mainFooterPan02 .footer-toprow .span6 h3{ color:#fff; }
.mainFooterPan02 .footer-toprow .form-subscribe .button span{ background:#3F3F41; color:#fff; }
.mainFooterPan02 .footer-toprow .form-subscribe .button:hover{ }
.mainFooterPan02 .footer-toprow .form-subscribe .button:hover span{ background:#56CCE6; }
.mainFooterPan02 .footer-toprow{ border-bottom-color:#484848; }
.mainFooterPan02 .footer-toprow ul li a{ color:#bdc3c7; }
.mainFooterPan02 .footer-toprow ul li.facebook a:hover{ color:#3a589b; }
.mainFooterPan02 .footer-toprow ul li.twitter a:hover{ color:#63b4e4; }
.mainFooterPan02 .footer-toprow ul li.google-plus a:hover{ color:#d6492f; }
.mainFooterPan02 .footer-toprow ul li.youtube a:hover{ color:#cf3427; }
.mainFooterPan02 .footer-toprow ul li.pinterest a:hover{ color:#999; }
.mainFooterPan02 .footer-toprow ul li.linkedin a:hover{ color:#007ab9; }
.mainFooterPan02 .footer-toprow ul li.skype a:hover{ color:#3e9dd7; }
.mainFooterPan02 .footer-toprow ul li.dribbble a:hover{ color:#ec4a89; }
.mainFooterPan02 .footer-toprow ul li.rss a:hover{ color:#e19126; }
.mainFooterPan02 .footer-toprow ul li.tumblr a:hover{ color:#4d83ba; }
.mainFooterPan02 .footer-links-wr h3, .mainFooterPan02 .twitter-twets li:before{ color:#fff; }
.mainFooterPan02 .footer-links-wr li + li{ border-top-color:#484848; }
.mainFooterPan02 .footer-links-wr .link-block ul li a, .mainFooterPan02 ol li em.fa{ color:#fff; }
.mainFooterPan02 .footer-links-wr .link-block ul li a:hover{ color:#56CCE6; }
.mainFooterPan02 .footer-links-wr .link-block ul li:before{ background:#fff; }
.mainFooterPan02 ol li,.mainFooterPan02 .twitter-twets li{ color:#bdc3c7; }
.mainFooterPan02 .footer-bottom{ background:#2e2e30; color:#696e6e; }
.product-view .product-img-box .product-image-zoom { border-color:#e4e4e4; }
.product-view .product-img-box .product-image-zoom .zoomBtn{ background:#fff; border-color:#e4e4e4; }
.product-view .product-shop .availability span { color:#060; }
.qty_pan .add{ background:#56CCE6; color:#fff; }
.product-view .static-links { background:#fcfcfc; border-color:#e4e4e4; }
.static-links li + li {  border-left-color:#e4e4e4;}
.static-links li a { color:#666;}
.static-links li a span { color:#010101; }
.data-table > li.heading{ background:#F6F6F6; border-bottom-color:#e9e9e9; }
.data-table > li + li + li{ border-top-color:#e9e9e9; }
.data-table > li .tableImg a{ border-color:#e9e9e9; }
.data-table > li .button-b{ border-color:#e9e9e9; background:#f9f9f9; color:#666; }
.item-options dd{ color:#666;}
.opc .allow.active + li{ border-top-color:#e4e4e4; }
.contactDetail p{ color:#333; }
.contacts-index-index .content-wrapper #map_canvas{ border-color:#e4e4e4; }
.mainFooterPan03 .footer-socialmedia{ border-top-color:#e4e4e4; border-bottom-color:#e4e4e4; }
.mainFooterPan03 .footer-socialmedia ul li a{ color:#fff; }
.mainFooterPan03 ul.links li a, .mainFooterPan03 .copyText{ color:#777; }
.mainFooterPan03 ul.links li a:hover{ color:#56CCE6; }
.secView .ratings .amount a,.price-as-configured{ color:#444; }
.commentContent,.postWrapper p ,.my-account .pager .limiter{ color:#666; }
.postWrapper h3{ color:#aaa; }
.postDetails{ color:#444; }
.mainFooterPan02 .twitter-twets li a:hover{ color:#fff; }
.cms-index-index .resp-tabs-container{ border-top-color:#e4e4e4;}
.cms-index-index .resp-vtabs .resp-tab-content:last-child { border-bottom-color:#e4e4e4;}
.badge span{ background:#56CCE6; color:#fff; }
.topLinkMenu .tpm-inner{ background:#fff; border:1px solid #e4e4e4; }
.header-top .topLinkMenu .tpm-inner ul li + li{ border-top-color:#e4e4e4; }
.header-top .topLinkMenu .tpm-inner ul li a{ color:#666; }
.header-top .topLinkMenu .tpm-inner ul li a:hover{ background:#fbfbfb; }
.header .form-search button.button span{ background:none; }
.search-right .drop_search{ border-color:#e4e4e4; background:#fcfcfc; }
.search-right .drop_search:before{ 	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4; border-right:9px solid rgba(0, 0, 0, 0); }
.search-right .drop_search:after{ 	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fcfcfc; border-right:9px solid rgba(0, 0, 0, 0); }
.header-info a {
    color: #252525;
    text-transform: uppercase;
    font-size: 12px;
}
.add-to-cart button.button span{ }
.add-to-cart button.button:hover span{ }
header .form-search .search-autocomplete ul{ border-color:#e4e4e4; background:#fff; }
header .form-search .search-autocomplete li{ border-color:#e4e4e4; }
header .form-search .search-autocomplete li.selected{ background:#f9f9f9; }
.box-reviews dl .ratings-table th, .box-reviews dl .ratings-table td,.box-reviews dl{ border-color:#e4e4e4; }
.box-reviews dl dt{ background:#f2f2f2; }
.box-reviews dl dt span{ color:#666; }
.box-reviews dl .f-block{ background:#f2f2f2; border-top-color:#e4e4e4; }
.headerfix .header-wrapper01,.headerfix .header-wrapper02{ background:#fff; }
.headerfix .header-wrapper01{ box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.2); }
.blog-list{ border-color:#e4e4e4; background:#fff; }
.blog-list h2 a{ color:#101010;}
.blog-list .postContent .post-left .date-block{ color:#fff; background:#56CCE6; }
.blog-list .postContent .post-left .fa-comments{ color:#999; }
.blog-list .postContent .post-left .blog-comment a{ color:#000; }
.blog-list .postContent .postDetails{ color:#56CCE6; }
.commentWrapper{ border-color:#e4e4e4; background:#fcfcfc; }
.commentWrapper h3{ color:#999; }
.tp-caption .large-green-btn,.tp-caption .red-btn,.tp-caption .green-btn,.tp-caption .white-btn{ color:#fff; background:#56CCE6; box-shadow:0px 1px 2px rgba(0, 0, 0, 0.4); }
.tp-caption .large-green-btn:hover,.tp-caption .red-btn:hover,.tp-caption .green-btn:hover{ color:#252525; background:#fff; }
.tp-caption .white-btn{ color:#252525; background:#fff; }
.tp-caption .white-btn:hover{ background:#252525; color:#fff; }
.tp-caption .red-btn{ background:#b72836; }
.tp-caption.medium_text span{ color:#ffd800; }
.tp-caption .green-text{ color:#56CCE6; }
.tp-caption .green-text:after, .tp-caption .green-text:before{ background:#fff; }
.tp-caption .white-big-btn{ border-color:#56CCE6; color:#56CCE6; background:#fff; }
.tp-caption .white-big-btn:hover{ border-color:#252525; color:#252525; }
.mainFooterPan01 .media-payment ul li a:hover, .mainFooterPan03 .footer-socialmedia ul li a:hover{ background:#666; }
.pro-static-block li:nth-child(odd){ background:#f2f2f2; }
.pro-static-block li:nth-child(even){ background:#f9f9f9; }
.pro-static-block li p{ color:#444; }
.pro-static-block li .fa{ color:#56CCE6; }
/*jcarousel*/
.jcarousel-control-prev,
.jcarousel-control-next {
    color:#56CCE6;
	border-color:#56CCE6;
	background:#fff;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover{ background:#56CCE6; color:#fff;}
.tp-bannertimer{background:#56CCE6; background:rgba(86,204,230,0.8);}
.direction{
    background:#56CCE6;
}
.product-view .product-img-box .product-image-zoom .zoomBtn{color:#56CCE6;}
.jcarousel-pagination a.active {
    background: #56CCE6;
}
body .header-wrapper01 .header-top .header_cart, body .header-top .header-compare, .header-top .topLinkMenu, .header-container .header-top .language-switcher, .header-container .header-top .header_currency{border-color:#ddd;}
.resp-arrow {
    border-top-color:#56CCE6;
}
h2.resp-tab-active span.resp-arrow {
	border-bottom-color:#56CCE6;
}
#fancybox-close {
	background:#56CCE6;
}
.camera_effected .bannerButton {
		background:#56CCE6;
		border: 1px solid #56CCE6;
		color:#FFF;
}
.camera_fakehover .camera_prev, .camera_fakehover .camera_next{ border-color:#56CCE6;}
.camera_effected .bannerButton span {
		border-color:#fff;
}
.camera_bar_cont span{ background:#56CCE6 !important; }
.camera_bar_cont{ background:rgba(86,204,230,0.4) !important; }