<?php if (Mage::getStoreConfig('featuredcategory/general/featuredcatenable') == "1"):?>
<?php $categories=$this->getLoadedCategories();//get categories from Block CategoryBlock  ?>
<?php $_featuredCatIds= $this->getLoadedFeaturedCat();?>
<?php /* to show current category and sub categories */?>
<?php  $showCatAndSubcat= Mage::getStoreConfig('featuredcategory/general/featuedCatOptions');?>
<section class="f-block featuredcat-wrapper">
<div class="container">
<div class="featured">

    <div class="headingBox"><h2><span><?php echo Mage::getStoreConfig('featuredcategory/general/catHeading')?></span></h2></div>
    <article class="f-block"><?php echo Mage::getStoreConfig('featuredcategory/general/catIntro')?></article>
	<?php if($showCatAndSubcat==1) :?>
    <ul>
    <?php foreach($_featuredCatIds as $_featuredCat):
             $category=Mage::getModel("catalog/category")->load($_featuredCat);
             $ThumbnailUrl = Mage::getBaseUrl('media').'catalog/category/'.$category->getThumbnail();
             ?>
             <li class="cat-block">
               <?php if($category->getThumbnail()):?>
               <span class="f-block"><img src="<?php echo $ThumbnailUrl ?>" /></span>
               <?php endif ?>
                <h2><a href="<?php echo $category->getUrl(); ?>"><?php echo $category->getName();?>
                <?php  $productEnable = Mage::getStoreConfig('featuredcategory/general/noofproduct');?>
                <?php if($productEnable):?>
                <?php echo '('.count($category->getProductCollection()).')';?>
                <?php endif ?></a></h2>
               <?php  $subCategories=$category->getChildrenCategories()//get children of loaded category?>
               <?php if(count($subCategories)>0) : ?>
               <div class="featuredsubCat">
                <ul>
                  <?php foreach($subCategories as $subcat): ?>
                      <li> <a href="<?php echo $subcat->getUrl(); ?>"><?php echo $subcat->getName()?>
                      <?php /* To Show or hide  no of products in category */?>
                      <?php if($productEnable):?>
                      <?php echo '('.count($subcat->getProductCollection()).')';?>
                      <?php endif ?>
                      </a>
                      </li>
                  <?php endforeach ?>
                </ul>
               </div> 
               <?php endif ?>
            </li> 
    <?php endforeach?>
    </ul>
    <?php endif ?>

    <?php  $allCategories = Mage::getStoreConfig('featuredcategory/general/featuedCatOptions');?>
	<?php if($allCategories==0) :?>
    <ul>
    <?php foreach($_featuredCatIds as $_featuredCat):
             $category=Mage::getModel("catalog/category")->load($_featuredCat);
             $ThumbnailUrl = Mage::getBaseUrl('media').'catalog/category/'.$category->getThumbnail();?>
               <li class="cat-block">
               <?php if($category->getThumbnail()):?>
               <span class="f-block"><img src="<?php echo $ThumbnailUrl ?>" /></span>
               <?php endif ?>
               <h2><a href="<?php echo $category->getUrl(); ?>"><?php echo $category->getName();?>
                   <?php  $productEnable = Mage::getStoreConfig('featuredcategory/general/noofproduct');?>
                       <?php if($productEnable):?>
                       <?php echo '('.count($category->getProductCollection()).')';?>
                   <?php endif ?>
               </a>
               </h2>
               <?php  $subCategories=$category->getAllChildren(true); //get children of loaded category?>
               <?php  array_shift($subCategories);?>
               <?php if(count($subCategories)>0) : ?>
                <div class="featuredsubCat">
                            <ul> 
                            <?php foreach($subCategories as $sub) :?>
                            <?php  $sub1 = Mage::getModel('catalog/category')->load( $sub);?>
                            <?php $count = $sub1->getProductCount();  ?>
                           <li> <a href="<?php echo $sub1->getUrl() ?>"><?php echo  $sub1->getName() ;?>
                           <?php  $productEnable = Mage::getStoreConfig('featuredcategory/general/noofproduct');?>
                           <?php if($productEnable):?> <?php echo '('.$count.')';?> <?php endif ?></a></li> 
                           <?php endforeach ?>
                             </ul>
                             </div> 
              <?php  endif ?>
               
              </li>
    <?php endforeach?>
    </ul>
    <?php endif ?>
</div>
</div>
<?php endif ?>
 </section>