<script type="text/javascript" src="/skin/frontend/nextlevel/default/js/jquery.datetimepicker.js"></script>
<link rel="stylesheet" href="/skin/frontend/nextlevel/default/css/jquery.datetimepicker.css">
<div class="col-main">
<div class="page-title"><center>
<h2 style="text-align: center;">Organise A Pooja</h2>
<h5>YOU PLAN, WE ORGANISE</h5>
</center>
<h5 style="text-align: left;">Please fill in your details &amp; we will get in touch with you</h5>
</div>
<div id="webform_3_form">
<div id="feedback" style="display: none;">&nbsp;</div>
<iframe id="webform_3_iframe" style="width: 0; height: 0; border: 0; position: absolute;" name="webform_3_iframe" width="320" height="240"></iframe><form id="webform_3" class="webforms-contact-us" action="/index.php/eventmanager/index/eventRequest/?isAjax=true" method="post" name="webform_3" enctype="application/x-www-form-urlencoded" target="webform_3_iframe">
<p class="required">* Required Fields</p>
<input id="request" class="input-text" type="hidden" name="request" value="Organise Pooja" />
<div class="fieldset fieldset-5">
<ul class="form-list">
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="name"> <em>*</em> Name </label>
<div class="input-box"><input id="name" class="input-text required-entry" type="text" name="name" value="" /></div>
</div>
</li>
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="email"> <em>*</em> Email ID </label>
<div class="input-box"><input id="email" class="input-text required-entry validate-email" type="text" name="email" value="" /></div>
</div>
</li>
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="phone"> <em>*</em> Phone Number </label>
<div class="input-box"><input id="phone" class="input-text required-entry validate-number" type="text" name="phone" value="" /></div>
</div>
</li>
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="address"> <em></em> Address </label>
<div class="input-box"><textarea id="address" class="input-text" name="address"></textarea> <input id="looking_for" type="hidden" name="looking_for" value="both" /></div>
</div>
</li>
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="type"> <em>*</em> Type </label>
<div class="input-box"><select id="type" class="input-text required-entry" name="type" onchange="getSubCategories(document.getElementById('type').value);"> <option value="">Select type of occasion</option> </select> <span id="select_type" class="please-wait" style="display: none;"> <img class="v-middle" title="Loading..." src="/skin/frontend/nextlevel/default/images/loading.gif" alt="Loading..." /> <span id="select_type_text">Loading...</span> </span></div>
</div>
</li>
<li id="lioccasion" class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="occasion"> <em>*</em> Occasion </label>
<div class="input-box"><select id="occasion" class="input-text required-entry" name="occasion"> <option value="">Select an occasion</option> </select> <span id="select_subject" class="please-wait" style="display: none;"> <img class="v-middle" title="Loading..." src="/skin/frontend/nextlevel/default/images/loading.gif" alt="Loading..." /> <span id="select_subject_text">Loading...</span> </span></div>
</div>
</li>
<li id="liother_occasion" class="fields" style="margin-bottom: 20px; display: none;">
<div class="field webforms-fields-"><label class="required" for="other_occasion"> <em>*</em> Other Occasion </label>
<div class="input-box"><input id="other_occasion" class="input-text required-entry" type="text" name="other_occasion" value="" /></div>
</div>
</li>
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="occasion_on"> <em>*</em> Pooja Date </label>
<div class="input-box"><input id="occasion_on" class="input-text required-entry" type="text" name="occasion_on" value="" /> <input id="occasion_on_time" class="input-text required-entry" style="width: 49%; display: none;" type="text" name="occasion_on_time" value="" /></div>
</div>
</li>
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required"> <em></em> Please tick on the services you would like us to help you with : </label>
<div class="input-box"><label class="required" for="pandit">Pandit</label><input id="pandit" class="inputcheckbox" style="margin-left: 6px; width: 16px; height: 16px;" type="checkbox" name="pandit" value="yes" /><br /> <label class="required" for="samagri">Samagri</label><input id="samagri" class="inputcheckbox" style="margin-left: 6px; width: 16px; height: 16px;" type="checkbox" name="samagri" value="yes" /><br /> <label class="required" for="catering">Catering</label><input id="catering" class="inputcheckbox" style="margin-left: 6px; width: 16px; height: 16px;" type="checkbox" name="catering" value="yes" /><br /> <label class="required" for="decoration">Decoration</label><input id="decoration" class="inputcheckbox" style="margin-left: 6px; width: 16px; height: 16px;" type="checkbox" name="decoration" value="yes" /><br /> <label class="required" for="venue">Venue</label><input id="venue" class="inputcheckbox" style="margin-left: 6px; width: 16px; height: 16px;" type="checkbox" name="venue" value="yes" /><br /> <label class="required" for="technical">Technical</label><input id="technical" class="inputcheckbox" style="margin-left: 6px; width: 16px; height: 16px;" type="checkbox" name="technical" value="yes" /><br /> <label class="required" for="event_management">Event Management</label><input id="event_management" class="inputcheckbox" style="margin-left: 6px; width: 16px; height: 16px;" type="checkbox" name="event_management" value="yes" /></div>
</div>
</li>
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="budget"> <em>*</em> Estimated Budget </label>
<div class="input-box"><input id="budget" class="input-text required-entry validate-number" type="text" name="budget" value="" /></div>
</div>
</li>
<li class="fields" style="margin-bottom: 20px;">
<div class="field webforms-fields-"><label class="required" for="comments"> <em></em> Comments </label>
<div class="input-box"><textarea id="comments" class="input-text" name="comments"></textarea></div>
</div>
</li>
</ul>
</div>
<div class="buttons-set"><button id="webform_3_submit_button" class="button" title="submit" onclick="webform_3_submit()" type="button"> <span> <span>Submit</span> </span> </button> <span id="webform_3_sending_data" class="please-wait" style="display: none;"> <img class="v-middle" title="Sending..." src="/skin/frontend/nextlevel/default/images/loading.gif" alt="Sending..." /> <span id="webform_3_progress_text">Sending...</span> </span></div>
</form></div>
<script type="text/javascript" language="javascript">// <![CDATA[
		jQuery.noConflict();
		
		function getUrlParameter(sParam) {
		    var sPageURL = window.location.search.substring(1);
		    var sURLVariables = sPageURL.split('&');
		    for (var i = 0; i < sURLVariables.length; i++) 
		    {
			var sParameterName = sURLVariables[i].split('=');
			if (sParameterName[0] == sParam) 
			{
			    return sParameterName[1];
			}
		    }
		    return '';
		}
		
		addOption = function(selectbox, text, value, selected_value) {
			var optn = document.createElement("OPTION");
			optn.text = text.replace(/\s*\(\s*[\d+\,]+\s*\)\s*/, '');
			optn.value = value;
			if (selected_value != '' && selected_value != 'null' && selected_value != null && selected_value.toLowerCase().replace(/\W+/g, '').replace(/\d/g, '') == optn.text.toLowerCase().replace(/\W+/g, '').replace(/\d/g, '')) {
				optn.selected = true;
			}
			selectbox.options.add(optn);  
		}

		emptySelect = function(selectbox) {
			var length = selectbox.options.length;
			for (i = 0; i <= length; i++) {
				selectbox.remove(i);
			}
			selectbox.options.length = 0;
		}

		new Ajax.Request('/index.php/eventmanager/index/getCategories/?isAjax=true', {
			method: 'get',
			onComplete: function(req) {
				emptySelect(document.getElementById('type'));
				addOption(document.getElementById('type'), 'Select type of Pooja', '', '');
				var parsedObj = JSON.parse(req.responseText);
				//selected_value = getUrlParameter('c1').replace('-', ' ');
				selected_value = '';
				for (i=0; i<parsedObj.length; i++) {
					addOption(document.getElementById('type'), parsedObj[i].label, parsedObj[i].value, selected_value);
					if (selected_value != '' && selected_value != 'null' && selected_value != null && selected_value.toLowerCase() == parsedObj[i].label.toLowerCase()) {
						getSubCategories(parsedObj[i].value);
					}
				}
				addOption(document.getElementById('type'), 'Other', '-1', '');
			}
		});

		var selectedCategory = '';
		var selectedSubCategory = '';		
		function getSubCategories(category_id) {
			if (category_id > 0) {
				jQuery("#lioccasion").show();
				jQuery("#liother_occasion").hide();
				var length = document.getElementById('type').options.length;
				for (i = 0; i <= length; i++) {
					if (document.getElementById('type').options[i].value == category_id) {
						selectedCategory = document.getElementById('type').options[i].label;
						break;
					}
				}
				new Ajax.Request('/index.php/eventmanager/index/getCategories/?isAjax=true', {
					method: 'post',
					parameters: 'id=' + category_id + '&level=1',
					onLoading: function() { jQuery('#select_type').show(); },
					onComplete: function(req) {
						jQuery('#select_type').hide(); 
						emptySelect(document.getElementById('occasion'));
						addOption(document.getElementById('occasion'), 'Select an occasion', '', '');
						if (req.responseText == '' || req.responseText == 'null' || req.responseText == null) {
							jQuery("#occasion").attr('disabled', 'disabled');
							jQuery("#lioccasion").hide();
						} else {
							var parsedObj = JSON.parse(req.responseText);
							for (i=0; i<parsedObj.length; i++) {
								jQuery("#occasion").attr('disabled', false);
								jQuery("#lioccasion").show();
								//addOption(document.getElementById('occasion'), parsedObj[i].label, parsedObj[i].value, getUrlParameter('c2').replace('-', ' '));
								addOption(document.getElementById('occasion'), parsedObj[i].label, parsedObj[i].value, '');
							}
						}
					}
				});
			} else if (category_id == -1) {
				jQuery("#lioccasion").hide();
				jQuery("#liother_occasion").show();
			} else {
				jQuery("#lioccasion").show();
				jQuery("#liother_occasion").hide();
				emptySelect(document.getElementById('occasion'));
				addOption(document.getElementById('occasion'), 'Select an occasion', '', '');
			}
		}

		var webform_3 = new VarienForm('webform_3', 0);
		var webform_3_submit = function(){
			var form = webform_3;
			if(form.validator && form.validator.validate()){
				/*form.submit();
				jQuery('#webform_3_submit_button').hide();
				jQuery('#webform_3_sending_data').show();*/
				new Ajax.Updater(
					{success:'webform_3'}, 
					'/index.php/eventmanager/index/eventRequest/?isAjax=true', 
					{method:'post', action:"/index.php/eventmanager/index/eventRequest/?isAjax=true", asynchronous:true, evalScripts:true, onComplete:function(request, json){jQuery('#feedback').show().innerHTML(json);}, onLoading:function(request, json){jQuery('#webform_3_submit_button').hide();jQuery('#webform_3_sending_data').show();}, 
					parameters:Form.serialize($('webform_3'))});
			}
		}

		var iframe = $('webform_3_iframe');
		iframe.observe('load',function(){
			var doc = this.contentDocument ? this.contentDocument: this.contentWindow.document;
			var json = {success:false};
			if(doc.body.innerHTML.unfilterJSON())
				json = doc.body.innerHTML.evalJSON();
			else return;
			if(json.success > 0){
				if(json.script){
					eval(json.script);
					return;
				}
				if(json.redirect_url){
					jQuery('#webform_3_progress_text').update('Redirecting');
					window.location = json.redirect_url;
					return;
				}
				jQuery('#webform_3_progress_text').update('Complete');
				Effect.Fade('webform_3_form',{
					duration: 0.5, from:1, to:0,
					afterFinish: function(){
						jQuery('#webform_3_success_text').update(json.success_text.unescapeHTML()).show();
						Effect.Fade('webform_3_success_text',{
							duration:0.5, from:0, to:1
						});
					}
			
				});
			} else {
				if(jQuery('#webform_3_sending_data'))
					jQuery('#webform_3_sending_data').hide();
				if(jQuery('#webform_3_submit_button'))
					jQuery('#webform_3_submit_button').show();
				if(json.errors && typeof(json.errors) == "string"){
					Dialog.alert(json.errors.unescapeHTML(),{
						title: "Error(s) occured",
						className: "magento",
						width:300, 
						buttonClass: "button",
						okLabel: "Close",
						destroyOnClose: true, 
						recenterAuto:true
					})
				} else {
					alert('Error(s) occured');
				}
				if(json.script){
					eval(json.script);
				}
			}
		});

		jQuery( document ).ready(function( $ ) {
			jQuery("#occasion_on").datetimepicker({
				timepicker: false,
				format: 'd-m-Y',
				minDate: 0,
				closeOnDateSelect: true,
			});
			jQuery("#occasion_on_time").datetimepicker({
				datepicker: false,
				format: 'h:i A',
				formatTime: 'h:i A',
				step: 30,
			});
		});
// ]]></script>
</div>