<div class="col-main">
	<div class="page-title">
		<h2>Please provide the details below</h2>
	</div>
	<div id="webform_3_form">
		<div id="feedback" style="display: none;">&nbsp;</div>
		<iframe id="webform_3_iframe" style="width: 0; height: 0; border: 0; position: absolute;" name="webform_3_iframe" width="320" height="240"></iframe>
		<form id="webform_3" class="webforms-contact-us" action="/index.php/eventmanager/index/eventRequest/?isAjax=true" method="post" name="webform_3" enctype="application/x-www-form-urlencoded" target="webform_3_iframe">
			<p class="required">* Required Fields</p>
			<input id="occasion_on" class="input-text" type="hidden" name="occasion_on" value="" />
			<input id="request" class="input-text" type="hidden" name="request" value="Custom Event" />
			<div class="fieldset fieldset-5">
				<ul class="form-list">
					<li class="fields" style="margin-bottom: 20px;">
						<div class="field webforms-fields-">
							<label class="required" for="name"> <em>*</em> Name </label>
							<div class="input-box">
								<input id="name" class="input-text required-entry" type="text" name="name" value="" />
							</div>
						</div>
					</li>
					<li class="fields" style="margin-bottom: 20px;">
						<div class="field webforms-fields-">
							<label class="required" for="email"> <em>*</em> Email ID </label>
							<div class="input-box">
								<input id="email" class="input-text required-entry validate-email" type="text" name="email" value="" />
							</div>
						</div>
					</li>
					<li class="fields" style="margin-bottom: 20px;">
						<div class="field webforms-fields-">
							<label class="required" for="phone"> <em>*</em> Phone Number </label>
							<div class="input-box">
								<input id="phone" class="input-text required-entry validate-number" type="text" name="phone" value="" />
							</div>
						</div>
					</li>
					<li class="fields" style="margin-bottom: 20px;">
						<div class="field webforms-fields-">
							<label class="required" for="address"> <em></em> Address </label>
							<div class="input-box">
								<textarea id="address" class="input-text" name="address"></textarea>
							</div>
						</div>
					</li>
					<li class="fields" style="margin-bottom: 20px;">
						<div class="field webforms-fields-">
							<label class="required" for="type"> <em>*</em> Looking for </label>
							<div class="input-box">
								<select id="looking_for" class="input-text required-entry" name="looking_for">
									<option value="">Looking for</option>
									<option value="product">Samagri</option>
									<option value="pandit">Pandit</option>
								</select>
							</div>
						</div>
					</li>
					<li class="fields" style="margin-bottom: 20px;">
						<div class="field webforms-fields-">
							<label class="required" for="type"> <em>*</em> Type </label>
							<div class="input-box">
								<select id="type" class="input-text required-entry" onchange="getSubCategories(document.getElementById('type').value);" name="type">
									<option value="">Select type of occasion</option>
								</select>
								 <span id="select_type" class="please-wait" style="display: none;"> 
									<img class="v-middle" title="Loading..." src="/skin/frontend/nextlevel/default/images/loading.gif" alt="Loading..." /> 
									 <span id="select_type_text">Loading...</span> 
								</span>
							</div>
						</div>
					</li>
					<li class="fields" style="margin-bottom: 20px;" id="lioccasion">
						<div class="field webforms-fields-">
							<label class="required" for="occasion"> <em>*</em> Occasion </label>
							<div class="input-box">
								<select id="occasion" class="input-text required-entry" name="occasion">
									<option value="">Select a occasion</option>
								</select>
								 <span id="select_subject" class="please-wait" style="display: none;">
									<img class="v-middle" title="Loading..." src="/skin/frontend/nextlevel/default/images/loading.gif" alt="Loading..." />
									 <span id="select_subject_text">Loading...</span>
								 </span>
								 <input id="occasion_on" class="input-text" type="hidden" name="occasion_on" value=""/>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="buttons-set">
				<button id="webform_3_submit_button" class="button" title="submit" onclick="webform_3_submit()" type="button"> <span> <span>Submit</span> </span> </button> 
				<span id="webform_3_sending_data" class="please-wait" style="display: none;"> 
				<img class="v-middle" title="Sending..." src="/skin/frontend/nextlevel/default/images/loading.gif" alt="Sending..." /> <span id="webform_3_progress_text">Sending...</span> </span>
			</div>
		</form>
	</div>
	<script type="text/javascript" language="javascript">// <![CDATA[
		jQuery.noConflict();
		
		function getUrlParameter(sParam) {
		    var sPageURL = window.location.search.substring(1);
		    var sURLVariables = sPageURL.split('&');
		    for (var i = 0; i < sURLVariables.length; i++) 
		    {
			var sParameterName = sURLVariables[i].split('=');
			if (sParameterName[0] == sParam) 
			{
			    return sParameterName[1];
			}
		    }
		    return '';
		}

		jQuery("#occasion_on").val(getUrlParameter('occasion_on'));

		addOption = function(selectbox, text, value) {
			var optn = document.createElement("OPTION");
			optn.text = text.replace(/\s*\(\s*[\d+\,]+\s*\)\s*/, '');
			optn.value = value;
			selectbox.options.add(optn);  
		}

		emptySelect = function(selectbox) {
			var length = selectbox.options.length;
			for (i = 0; i <= length; i++) {
				selectbox.remove(i);
			}
			selectbox.options.length = 0;
		}

		new Ajax.Request('/index.php/eventmanager/index/getCategories/?isAjax=true', {
			method: 'get',
			onComplete: function(req) {
				emptySelect(document.getElementById('type'));
				addOption(document.getElementById('type'), 'Select type of Pooja', '');
				var parsedObj = JSON.parse(req.responseText);
				for (i=0; i<parsedObj.length; i++) {
					addOption(document.getElementById('type'), parsedObj[i].label, parsedObj[i].value);
				}
			}
		});

		var selectedCategory = '';
		var selectedSubCategory = '';		
		function getSubCategories(category_id) {
			if (category_id > 0) {
				var length = document.getElementById('type').options.length;
				for (i = 0; i <= length; i++) {
					if (document.getElementById('type').options[i].value == category_id) {
						selectedCategory = document.getElementById('type').options[i].label;
						break;
					}
				}
				new Ajax.Request('/index.php/eventmanager/index/getCategories/?isAjax=true', {
					method: 'post',
					parameters: 'id=' + category_id + '&level=1',
					onLoading: function() { jQuery('#select_type').show(); },
					onComplete: function(req) {
						jQuery('#select_type').hide(); 
						emptySelect(document.getElementById('occasion'));
						addOption(document.getElementById('occasion'), 'Select a occasion', '');
						if (req.responseText == '' || req.responseText == 'null' || req.responseText == null) {
							jQuery("#occasion").attr('disabled', 'disabled');
							jQuery("#lioccasion").hide();
						} else {
							var parsedObj = JSON.parse(req.responseText);
							for (i=0; i<parsedObj.length; i++) {
								jQuery("#occasion").attr('disabled', false);
								jQuery("#lioccasion").show();
								addOption(document.getElementById('occasion'), parsedObj[i].label, parsedObj[i].value);
							}
						}
					}
				});
			} else {
				emptySelect(document.getElementById('occasion'));
				addOption(document.getElementById('occasion'), 'Select a occasion', '');
			}
		}

		var webform_3 = new VarienForm('webform_3', 0);
		var webform_3_submit = function(){
			var form = webform_3;
			if(form.validator && form.validator.validate()){
				/*form.submit();
				jQuery('#webform_3_submit_button').hide();
				jQuery('#webform_3_sending_data').show();*/
				new Ajax.Updater(
					{success:'webform_3'}, 
					'/index.php/eventmanager/index/eventRequest/?isAjax=true', 
					{method:'post', action:"/index.php/eventmanager/index/eventRequest/?isAjax=true", asynchronous:true, evalScripts:true, onComplete:function(request, html){jQuery('#feedback').show().innerHTML(html);}, onLoading:function(request, html){jQuery('#webform_3_submit_button').hide();jQuery('#webform_3_sending_data').show();}, 
					parameters:Form.serialize($('webform_3'))});
			}
		}

		/*var iframe = $('webform_3_iframe');
		iframe.observe('load',function(){
			var doc = this.contentDocument ? this.contentDocument: this.contentWindow.document;
			var json = {success:false};
			if(doc.body.innerHTML.unfilterJSON())
				json = doc.body.innerHTML.evalJSON();
			else return;
			if(json.success > 0){
				if(json.script){
					eval(json.script);
					return;
				}
				if(json.redirect_url){
					jQuery('#webform_3_progress_text').update('Redirecting');
					window.location = json.redirect_url;
					return;
				}
				jQuery('#webform_3_progress_text').update('Complete');
				Effect.Fade('webform_3_form',{
					duration: 0.5, from:1, to:0,
					afterFinish: function(){
						jQuery('#webform_3_success_text').update(json.success_text.unescapeHTML()).show();
						Effect.Fade('webform_3_success_text',{
							duration:0.5, from:0, to:1
						});
					}
			
				});
			} else {
				if(jQuery('#webform_3_sending_data'))
					jQuery('#webform_3_sending_data').hide();
				if(jQuery('#webform_3_submit_button'))
					jQuery('#webform_3_submit_button').show();
				if(json.errors && typeof(json.errors) == "string"){
					Dialog.alert(json.errors.unescapeHTML(),{
						title: "Error(s) occured",
						className: "magento",
						width:300, 
						buttonClass: "button",
						okLabel: "Close",
						destroyOnClose: true, 
						recenterAuto:true
					})
				} else {
					alert('Error(s) occured');
				}
				if(json.script){
					eval(json.script);
				}
			}
		});*/
	// ]]></script>
</div>