<div class="sidebar"<?php if ($fullWidth) : ?> style="width: 100%;"<?php endif;?>>
    <div class="dc-widget-postslider dc-widget-postslider-<?php echo $id; ?>" style="width: <?php echo $width; ?>px; height: <?php echo $height; ?>px; overflow: hidden;">
        <div class="slides-wrapper">
            <?php foreach ($list as $item) : ?>
                <?php if ($item['link'] && $item['linkTarget']) : ?>
                    <a class="slide_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>">
                <?php endif; ?>

                    <?php if ($item['isImage']) : ?>
                        <div class="slide-krista">
                            <?php
                                $imageUrl   = Mage::helper('advancedslider')->getResizedImageUrl($item['image'], $item['imageWidth'], $item['imageHeight']);
                                $alt        = $this->getSlideOption($item, 'image_alt', $item['title']);
                            ?>
                            <img title="<?php echo $item['title']; ?>" src="<?php echo $imageUrl; ?>" alt="<?php echo $alt; ?>" />
                            <?php
                                $description = $this->getSlideOption($item, 'short_description', '');
                                $description = trim($htmlProcessor->filter($description));
                                $title_description = $this->getSlideOption($item, 'title_short_description', '');
                            ?>
                            <?php if ($description || $title_description) : ?>
                                <?php
                                    $descrBlockWidth = strtolower($this->getSlideOption($item, 'description_block_width', ''));
                                    if ($descrBlockWidth == '') $descrBlockWidth = $width - 36;
                                    $descWidth = 'width: ' . $descrBlockWidth . 'px;';
                                    $textAlign = 'text-align: ' . $this->getSlideOption($item, 'description_text_align', 'left') . ';';
                                    $position  = $this->getSlideOption($item, 'description_block_position', 'bottom');
                                    switch ($position) {
                                        case 'bottom';
                                            $position = 'bottom: 10px; top: auto!important;';
                                            break;

                                        case 'top';
                                            $position = 'top: 10px; bottom: auto!important;';
                                            break;
                                        default:
                                            $position = '';
                                    }
                                    $descStyle = $position . $descWidth . $textAlign;
                                ?>
                                <div class="desc" style="<?php echo $descStyle; ?>" rel="<?php echo $descrBlockWidth; ?>">
                                    <?php if ($title_description) : ?>
                                    <h2 class="desc_head"><?php echo $title_description; ?></h2>
                                    <?php endif; ?>
                                    <?php if ($description) : ?>
                                    <div class="desc_text">
                                        <?php echo $description; ?>
                                    </div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>

                <?php if ($item['link'] && $item['linkTarget']) : ?>
                    </a>
                <?php endif; ?>
            <?php endforeach; ?>
            <a href="javascript:;" class="krista-navigation-prev"></a>
            <a href="javascript:;" class="krista-navigation-next"></a>
        </div>
        <div class="btn-bar">
            <?php $cnt = count($list); ?>
            <?php $i = 1; ?>
            <a class="btn-active"><?php echo $i; ?></a>
            <?php for ($k = 2; $k <= $cnt; $k++) : ?>
                <a class="btn"><?php echo $k; ?></a>
            <?php endfor; ?>
        </div>
    </div>
    <script type="text/javascript">
    jqAdvSlider(document).ready(function(){
        jqAdvSlider('.dc-widget-postslider-<?php echo $id; ?>').each(function() {
            var slider              = jqAdvSlider(this);
            var interval            = <?php echo $this->getOption('auto_play_interval', 3000); ?>;
            var arrowsVisibility    = '<?php echo $this->getOption('arrows_visibility', ''); ?>';
            var size                = slider.find('.slide-krista').length;
            slider.find('.slide-krista:first').css('display', 'block');

            slider.data('dc_size', size);
            slider.data('dc_current', 0);
            slider.data('dc_block', false);

            if (arrowsVisibility) {
                var arrowPrev = slider.find('.krista-navigation-prev');
                var arrowNext = slider.find('.krista-navigation-next');
                // --- set arrows position ---
                var arrowTopPos = slider.height() / 2 - arrowPrev.height() / 2;
                arrowPrev.css('top', arrowTopPos);
                arrowNext.css('top', arrowTopPos);
                // --- set arrows action ---
                arrowNext.click(function(){
                    var prev    = slider.data('dc_current');
                    var next    = prev + 1;
                    slide_animate(slider, prev, next, 'button');
                });
                arrowPrev.click(function(){
                    var prev    = slider.data('dc_current');
                    var next    = prev - 1;
                    slide_animate(slider, prev, next, 'button');
                });
                // --- set arrows visibility ---
                if (arrowsVisibility == 'always') {
                    arrowPrev.css({'visibility': 'visible'});
                    arrowNext.css({'visibility': 'visible'});
                }
                if (arrowsVisibility == 'onhover') {
                    slider.hover(
                        function(){
                            arrowPrev.css({'visibility': 'visible'});
                            arrowNext.css({'visibility': 'visible'});
                        },
                        function(){
                            arrowPrev.css({'visibility': 'hidden'});
                            arrowNext.css({'visibility': 'hidden'});
                        }
                    );
                }
            }

            jqAdvSlider(this).find('.btn-bar a').click(function(){
                var slider  = jqAdvSlider(this).parent().parent();
                var prev    = slider.data('dc_current');
                var next    = slider.find('.btn-bar').find('a').index(this);
                if (next == prev) return;
                slide_animate(slider, prev, next, 'button');
            });

            function widget_minislider_autoplay(slider) {
                var prev    = slider.data('dc_current');
                var next    = prev + 1;
                slide_animate(slider, prev, next, 'autoplay');
            }

            function slide_animate(slider, prev, next, tmtType) {
                if (slider.data('dc_block')) return;
                slider.data('dc_block', true);

                if (tmtType == 'button') clearTimeout(slider.data('dc_handle'));

                if (next >= slider.data('dc_size')) next = 0;
                if (next < 0) next = slider.data('dc_size') - 1;

                var bar = slider.find('.btn-bar');
                bar.find('a.btn-active').removeClass('btn-active').addClass('btn');
                bar.find('a:eq('+next+')').removeClass('btn').addClass('btn-active');
                slider.find('.slide-krista:eq('+prev+')').animate({opacity: 0.0}, 300);
                slider.find('.slide-krista').css('z-index', 0);
                slider.find('.slide-krista:eq('+next+')').css('z-index', 1);
                slider.find('.slide-krista:eq('+next+')').css('opacity', 0.0).css('display', 'block').animate({opacity: 1.0}, 600);
                slider.data('dc_current', next);
                slider.data('dc_block', false);

                if (tmtType == 'button') {
                    if (slider.data('dc_size') > 1 && interval > 0) {
                        var handle = setTimeout(function(){widget_minislider_autoplay(slider);}, <?php echo $this->getOption('auto_play_after_manual_slide_pause', 8000); ?>)
                        slider.data('dc_handle', handle);
                    }
                }

                if (tmtType == 'autoplay') {
                    if (interval > 0) {
                        var handle = setTimeout(function(){widget_minislider_autoplay(slider);}, interval);
                        slider.data('dc_handle', handle);
                    }
                }
            }

            if (size > 1 && interval > 0) {
                var handle = setTimeout(function(){widget_minislider_autoplay(slider);}, interval);
                jqAdvSlider(this).data('dc_handle', handle);
            }
        });
    });
    <?php if ($fullWidth) : ?>
    jqAdvSlider(document).ready(function() {
        jqAdvSlider('.dc-widget-postslider-<?php echo $id; ?> .desc *').each(function() {
            var el = jqAdvSlider(this);
            var cssFontSize = wpElementCurrentStyle(this, 'font-size');
            el.attr('rel', cssFontSize.replace('px', ''));
        });
        function slider_<?php echo $id; ?>_resize() {
            var baseWidth           = <?php echo $width; ?>;
            var baseHeight          = <?php echo $height; ?>;
            var slider              = jqAdvSlider('.dc-widget-postslider-<?php echo $id; ?>');
            var xWidth              = slider.parent().width();
            var xHeight             = baseHeight * xWidth / baseWidth;
            slider.width(xWidth);
            slider.height(xHeight);
            // --- resize Images ---
            jqAdvSlider('.dc-widget-postslider-<?php echo $id; ?> img').each(function() {
                var xSlider = jqAdvSlider(this);
                xSlider.attr('width', xWidth);
                xSlider.attr('height', xHeight);
            });
            // --- resize TextBox ---
            jqAdvSlider('.dc-widget-postslider-<?php echo $id; ?> div.desc').each(function() {
                var descrBox = jqAdvSlider(this);
                var baseDescrBlockWidth = descrBox.attr('rel');
                var xDescrBlockWidth    = baseDescrBlockWidth * xWidth / baseWidth;
                descrBox.width(xDescrBlockWidth);
                var xFactor = xDescrBlockWidth / baseDescrBlockWidth;
                var xChildren = descrBox.find('*');
                var xCount = xChildren.length;
                xChildren.each(function() {
                    var el = jqAdvSlider(this);
                    var baseFontSize = el.attr('rel');
                    var xFontSize = Math.round(xFactor * baseFontSize);
                    el.css('font-size', xFontSize);
                    el.css('display', 'block');
                    if (xFontSize <= 10) {
                        el.css('display', 'none');
                        xCount--;
                    }
                });
                //console.log(descrBox.children(':visible').length);
                if (!descrBox.children(':visible').length) descrBox.css('display', 'none');
            });
            // --- recalculate arrows position ---
            var arrowPrev = slider.find('.krista-navigation-prev');
            var arrowNext = slider.find('.krista-navigation-next');
            var arrowTopPos = slider.height() / 2 - arrowPrev.height() / 2;
            arrowPrev.css('top', arrowTopPos);
            arrowNext.css('top', arrowTopPos);
        }
        slider_<?php echo $id; ?>_resize();
        jqAdvSlider(window).resize(function(){
            slider_<?php echo $id; ?>_resize();
        });
    });
    <?php endif; ?>
    </script>
</div>
