#imaginary_container{
    margin-top:5%; /* Don't copy this */

}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.text-border{
	border:1px solid;
	font-weight: bold;
}
.input-padding{
	padding: 2%;
}
.focusedInput {
    border-color: rgba(82,168,236,.8) ;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}
.line{
	border: 1px solid #ddd;
}
.form-size-text{
    width:64% !important;
}
.border-amount{
    border: 1px solid;
    padding: 10px 20px;
}
.text-digit{
        margin: 0 0 0px;
}
/* Making look nice */
/*body { padding: 1em; font-family: Arial; font-size: 14px; }*/
input[type="text"] { padding: 0.4em; font-family: Arial; }

/* Inline Edit */
p.hover { background: #fffbe1; }



@media only screen and (min-width: 320px) {
    .text-aligh {
        text-align: center;

    }
    .btn-space{
        margin-top: 3%;
    }
    .editable {
    position: relative;
    padding: 10px;
   }
   .digit-1{
    margin-top: 9px;
   }
}
@media only screen and (min-width: 360px) {
    .text-aligh {
        text-align: center;
    }
    .btn-space{
        margin-top: 3%;
    }
    .editable {
    position: relative;
    padding: 5px;
   }
   .digit-1{
    margin-top: 5px;
   }
}
@media only screen and (min-width: 768px) {
    .text-aligh {
        text-align: left;
    }
    .btn-space{
        margin-top: 3%;
    }
    .editable {
    position: relative;
    padding: 0px;
   }
   .digit-1{
    margin-top: 20px;
   }
}
@media only screen and (min-width: 991px) {
    .text-aligh {
        text-align: left;
    }
    .btn-space{
        margin-top: 0%;
    } 
    .editable {
    position: relative;
    padding: 0px;
   }
   .digit-1{
    margin-top: 0px;
   }
}        

