<div class="f-fix header-top">
		
        <div class="container">

           <div class="span4">

                <?php echo $this->getChildHtml('store_language') ?>

                <?php echo $this->getChildHtml('currency') ?>

                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header-contact-info')->toHtml() ?>

                <div class="topLinkMenu">

                	<a class="tpMenu" href="javascript:void(0);"><?php echo $this->__('<i class="fa fa-align-justify"></i>');?></a>

                    <div id="tpInner" class="tpm-inner">
						
                		<?php echo $this->getChildHtml('topLinks') ?>

                    </div>

                </div>

            </div> 
			<div class="span3"></div>
            <div class="span7">

                <?php echo $this->getChildHtml('topLinks') ?>

                <?php echo $this->getChildHtml('catalog.product.compare.sidebar'); ?>

            </div>

            <div class="clear"></div>

        </div>

      </div>