<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Phoenix
 * @package    Phoenix_CashOnDelivery
 * @copyright  Copyright (c) 2010 - 2013 PHOENIX MEDIA GmbH (http://www.phoenix-media.eu)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
$_code		= $this->getMethodCode();
$_extra_fee	= $this->getMethod()->getAddressCosts($this->getShippingAddress());

$_extra_fee_excl = $this->convertPrice(Mage::helper('phoenix_cashondelivery')->getCodPrice($_extra_fee, $this->helper('phoenix_cashondelivery')->displayCodFeeIncludingTax(), $this->getShippingAddress()), true);
$_extra_fee_incl = $this->convertPrice(Mage::helper('phoenix_cashondelivery')->getCodPrice($_extra_fee, true, $this->getShippingAddress()), true);

$_codFeeStr = $_extra_fee_excl;
if ($this->helper('phoenix_cashondelivery')->displayCodBothPrices() && ($_extra_fee_incl != $_extra_fee_excl)) {
	$_codFeeStr .= ' ('.$this->__('Incl. Tax').' '.$_extra_fee_incl.')';
}
?>
<?php $this->isCODApplicable();?> 
<?php if(Mage::getSingleton('checkout/session')->getCodFeeFlag()==1 && ($this->getMethod()->getCustomText() || $_extra_fee || Mage::getStoreConfig('payment/phoenix_cashondelivery/display_zero_fee'))): ?>
<fieldset class="form-list" style="width: 100%; float: left">
	<ul id="payment_form_<?php echo $_code ?>" style="display:none; padding-left: 17px; text-align: left;">
        <?php if($_extra_fee || Mage::getStoreConfig('payment/phoenix_cashondelivery/display_zero_fee')): ?>
		<li><?php echo $this->__('You will be charged an extra fee of %s.', $_codFeeStr) ?></li>
        <?php endif; ?>
		<?php if ($this->getMethod()->getCustomText()): ?>
		<li>
			<?php echo $this->getMethod()->getCustomText() ?>
		</li>
		<?php endif; ?>
	</ul>
</fieldset>
<?php endif; ?>