<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Welcome to {{var store.getFrontendName()}}. Panditji thanks you for registering with us. We are excited that you have signed-up with Where's My Pandit family. <br/>To log in when visiting our website just click on <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> or <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">My Account</a> at the top of every page, and then enter your e-mail address and password which are mentioned below.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                Use the following values when prompted to log in:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Password</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">When you log in to your account, you will be able to do the following:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Proceed through checkout faster while making a purchase</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Edit your account description such as address, password, etc.</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; View your previous orders and check the status of your orders</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Create a wishlist of the products and services you love</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Review products and comment on blog with your views</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Store alternative addresses (for shipping to multiple family members and friends!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">If you have any queries or require any clarifications for having a smooth operational experience on our website, please feel free to get in touch with our support team via email at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or by calling on {{config path='general/store_information/phone'}}. Also, be assured that we will revert to you or contact you in case we miss your call.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                    <tr></tr>
                        <tr style='font-size: 11px; line-height: 30px; text-align: center; font-family: Arial,Helvetica,sans-serif;'>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/phone.png}}" style="vertical-align: text-bottom; padding-right: 3px;" /><span class="footer_labels">{{config path='general/store_information/phone'}}</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/mail.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><span class="footer_labels">panditji@wheresmypandit.com</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/web.png}}"  style="vertical-align: text-bottom; padding-right: 3px;" /><span class="footer_labels">www.wheresmypandit.com</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/facebook.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><img alt="" src="{{skin url=images/custom/twitter.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><span class="footer_labels">/wheresmypandit</span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>