<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding: 20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">Dear {{htmlescape var=$user.name}},</h1>
                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">There was recently a request to change the password for your account.</p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">If you requested this password change, please click on the following link to reset your password: <a href="{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}" style="color:#1E7EC8;">{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}</a></p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">If clicking the link does not work, please copy and paste the URL into your browser instead.</p>
                                <br />
                                <p style="font-size:12px; line-height:16px; margin:0;">If you did not make this request, you can ignore this message and your password will remain the same.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #EAEAEA; text-align: center;"><p style="font-size:12px; margin:0; text-align: center;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></td>
                        </tr>
                        <tr></tr>
                        <tr style='font-size: 11px; line-height: 30px; text-align: center; font-family: Arial,Helvetica,sans-serif;'>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/phone.png}}" style="vertical-align: text-bottom; padding-right: 3px;" /><span class="footer_labels">{{config path='general/store_information/phone'}}</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/mail.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><span class="footer_labels">panditji@wheresmypandit.com</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/web.png}}"  style="vertical-align: text-bottom; padding-right: 3px;" /><span class="footer_labels">www.wheresmypandit.com</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/facebook.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><img alt="" src="{{skin url=images/custom/twitter.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><span class="footer_labels">/wheresmypandit</span></td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
