<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{htmlescape var=$customer.name}},</h1>
                        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;"><strong>Your new password is:</strong> {{htmlescape var=$customer.password}}</p>
                        <p style="font-size:12px; line-height:16px; margin:0;">You can change your password at any time by logging into <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">your account</a>.<p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                </tr>
                <tr></tr>
                <tr style='font-size: 11px; line-height: 30px; text-align: center; font-family: Arial,Helvetica,sans-serif;'>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/phone.png}}" style="vertical-align: text-bottom; padding-right: 3px;" /><span class="footer_labels">{{config path='general/store_information/phone'}}</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/mail.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><span class="footer_labels">panditji@wheresmypandit.com</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/web.png}}"  style="vertical-align: text-bottom; padding-right: 3px;" /><span class="footer_labels">www.wheresmypandit.com</span></td>
                        <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/facebook.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><img alt="" src="{{skin url=images/custom/twitter.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><span class="footer_labels">/wheresmypandit</span></td>
                    </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
