<?php 
$config = Mage::getStoreConfig('mdloption/homeproducts');
$config2 = Mage::getStoreConfig('bestsellingproduct/jqueryfile');
$id = $this->getRequest()->getParam('tabid');

// Check if clicked tab is bestseller
if($id=='tab-bestseller')
{
	$_product_new = $this->getLayout()->getBlockSingleton('Mdl_Bestseller_Block_Bestsellingproduct');
			$new_product=$_product_new->getProductCollection();
			$count_product = count($new_product);
			$jcarousel_status = Mage::helper('bestsellingproduct')->getBestsellingJcarousel();
}
// Check if clicked tab is new product
else if($id=='tab-newproduct')
{
	$_product_new = $this->getLayout()->getBlockSingleton('Mdl_Bestseller_Block_Newproduct');
			$new_product=$_product_new->getProductCollection();
			$count_product = count($new_product);
			$jcarousel_status = Mage::helper('bestsellingproduct')->getNewproductJcarousel();
}
// Check if clicked tab is featured
else if($id=='tab-featured')
{
	$attribute_code = "mdl_featured";
			$attribute_details = Mage::getSingleton("eav/config")->getAttribute("catalog_product", $attribute_code);
			$options = $attribute_details->getSource()->getAllOptions(false);
			foreach($options as $option){
				if($option["label"]=='Yes')
				{
					$option_value=$option["value"];
				}
			}
			$pageSize = Mage::helper('bestsellingproduct')->getFeaturedNoProduct();
	$new_product = Mage::getModel('catalog/product')->getCollection()->addAttributeToSelect('*')->addFieldToFilter('mdl_featured', $option_value)->setPageSize($pageSize);
			//$new_product=$_product_new->getProductCollection();
			$count_product = count($new_product);
			$jcarousel_status = Mage::helper('bestsellingproduct')->getFeaturedJcarousel();
}
else
{
	$_product_new = $this->getLayout()->getBlockSingleton('Mdl_Bestseller_Block_Bestsellingproduct');
			$new_product=$_product_new->getProductCollection();
			$count_product = count($new_product);
			$jcarousel_status = Mage::helper('bestsellingproduct')->getBestsellingJcarousel();
}

			 ?>
			 <?php if($config2['rowProL']=='1'):?>
				  <?php $itemwidth = 'span6'; $proCount = '2';?>
                  <?php elseif ($config2['rowProL']=='2'):?>
                  <?php $itemwidth = 'span4';  $proCount = '3'; ?>
                  <?php elseif ($config2['rowProL']=='3'):?>
                  <?php $itemwidth = 'span3';  $proCount = '4'; ?>
                  <?php elseif ($config2['rowProL']=='4'):?>
                  <?php $itemwidth = 'span2' ;  $proCount = '6'; ?>
             <?php endif; ?>
             
             <?php if($config2['flip_viewL']==1 && $config2['flip_view_styleL']==2):?>
				<?php $flipviewStylef='fadeView'; ?>
              <?php endif; ?> 
            

				<?php
				$new_product1 = array();
			    foreach ($new_product  as  $key=>$new)
				{
					$new_product1[] = $new;
				}
				$config['rowPro']==$proCount;
				$new_product2 = array_chunk($new_product1,$proCount);
				foreach($new_product2 as $new_product){
					?><ul class="newProducts itemPro products-grid"><?php
					foreach ($new_product  as  $key=>$new){
			?>
             <?php if($config2['itemviewboxL']!='1'):?>
            <!--First View-->
					<!--Product view-->
	                    <li class="item firstView <?php echo $itemwidth;?>">
                      		<div class="itemInner">
                        
                                    <!--Badge view-->
                                        <div class="badge">
                                            <?php if($new->getData('new')){echo '<span class="new"><b>'. $new->getAttributeText('new').'</b><strong>'.$this->__('new').'</strong></span>';  }?>
                                            <?php if($new->getData('sale')){echo '<span class="sale"><b>'. $new->getAttributeText('sale').'</b><strong>'.$this->__('sale').'</strong></span>';  }?>
                                        </div>
                                    <!--end badge view-->
                                    
                                    <!--Images and price container-->
                                    	<!--Flip view-->
                                    
                                        <?php if($config2['flip_viewL']==1):?>
                                        <div class="proImage <?php echo $flipviewStylef;?> flipView">
                                        <a href="<?php echo $new->getProductUrl() ?>" class="product-image">
                                             <span class="face"><img class="front-img" src="<?php echo $this->helper('catalog/image')->init($new, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($new, 'small_image'), null, true) ?>"  /></span>
                                              <span class="back-img face back">
                                                <img class="hoverImg" src="<?php echo Mage::helper('catalog/image')->init($new, 'thumbnail')->resize(250,300); ?>" alt="<?php echo $this->htmlEscape($new['name']); ?>" border="0" />
                                                </span>
                                         </a>
                                        <!--Price-->  
                                            <?php echo $this->getPriceHtml($new, true, '-right') ?>
                                        <!--End price-->  
                                         </div>
                                         <?php else:?>
										<div class="proImage">
                                          <a href="<?php echo $new->getProductUrl() ?>" class="product-image">
                                             <img class="front-img" src="<?php echo $this->helper('catalog/image')->init($new, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($new, 'small_image'), null, true) ?>"  />
                                         </a>
                                    <!--Price-->  
                                        <?php echo $this->getPriceHtml($new, true, '-right') ?>
                                    <!--End price-->  

                                         </div>
                                         <?php endif;?>
                                        <!--End flip view-->
                                    
                                    </div>
                                    <!--End images and price container-->  
                                    
                                    <!--Product detail container-->              
                            <div class="bottomProDetail">
                                <h2 class="product-name"> 
                                     <a href="<?php echo $new->getProductUrl() ?>"><?php echo $new->getName() ?></a>
                                </h2>
                                
                                <div class="proAction">
                                    <!--Quick view-->
                                       <?php if($config2['newItem_quick_view']==1):?>
                                            <?php if($new->isSaleable()) : ?>
                                                <?php if($new->getTypeID()=='configurable' || $new->getTypeID()=='grouped' || $new->getTypeID()=='bundle' || $new->getTypeInstance(true)->hasOptions($new)) : ?>                           
                                                <a title="<?php echo $this->__('Add to Cart') ?>" rel="tooltip" data-placement="top" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$new->getId()));?>' class='fancybox btn-cart' id='fancybox<?php echo $new->getId();?>'><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                                                <?php else: ?>
                                                    <button type="button" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($new) ?>')">
                                                        <span><span><?php echo $this->__('Add to Cart') ?></span> </span>
                                                    </button>
                                                 <?php endif; ?>
                                            <?php else: ?>
                                                      <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                             <?php endif; ?>
                                        <?php else: ?> 
                                              <?php if($new->isSaleable()): ?>
                                                  <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($new) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                              <?php else: ?>
                                                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                              <?php endif; ?>
                                     <!--end quick view-->
                                      <?php endif; ?>
                                     
                                     <!--Comapare-->
                                      <?php if($new->isSaleable()): ?>
                                            <?php if($_compareUrl=$this->getAddToCompareUrl($new)): ?>
                                                <a href="#" onclick="setLocation('<?php echo $_compareUrl?>','<?php echo $new->getId()?>','test'); return false;" class="link-compare w-btn">
                                                    <?php echo $this->__('<i class="fa fa-signal"></i>') ?>
                                                </a>
                                            <?php endif; ?>
                                     <?php endif; ?>       
                                     <!--End comapare-->
                                      
                                      <!--wishlist-->
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <a href="<?php echo $this->helper('wishlist')->getAddUrl($new) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="w-btn"><i class="fa fa-heart"></i></a>
                                            <?php endif; ?>
                                      <!--End wishlist-->
                                      
                                      <!--Quick view icon-->
                                          <?php if($config2['newItem_quick_view']==1):?>
                                          <a  rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$new->getId()));?>' class='fancybox w-btn' id='fancybox<?php echo $new->getId();?>'><i class="fa fa-search"></i></a>
                                          <?php endif; ?>
                                      <!--End quick view icon-->
                                </div>
                            </div>
                                    <!--End product detail container-->   
                    	</li>
                    <!--End product view-->
           <!--End First View-->    
           <?php else:?>
           <!--Second View-->
           			<!--Product view-->
	                    <li class="item secView <?php echo $itemwidth;?>">
                      		<div class="itemInner">
                                    <!--Badge view-->
                                        <div class="badge">
                                            <?php if($new->getData('new')){echo '<span class="new"><b>'. $new->getAttributeText('new').'</b><strong>'.$this->__('new').'</strong></span>';  }?>
                                            <?php if($new->getData('sale')){echo '<span class="sale"><b>'. $new->getAttributeText('sale').'</b><strong>'.$this->__('sale').'</strong></span>';  }?>
                                        </div>
                                    <!--end badge view-->
                                    
                                    <!--Images and price container-->
                                    	<!--Flip view-->
                                    
                                        <?php if($config2['flip_viewL']==1):?>
                                        <div class="proImage <?php echo $flipviewStylef;?> flipView">
                                        <a href="<?php echo $new->getProductUrl() ?>" class="product-image">
                                              <span class="face"><img class="front-img" src="<?php echo $this->helper('catalog/image')->init($new, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($new, 'small_image'), null, true) ?>"  /></span>
                                              <span class="back-img face back">
                                                <img class="hoverImg" src="<?php echo Mage::helper('catalog/image')->init($new, 'thumbnail')->resize(250,300); ?>" alt="<?php echo $this->htmlEscape($new['name']); ?>" border="0" />
                                                </span>
                                         </a>
										 <div class="image-action">
                                             <!--Comapare-->
                                               <?php if($new->isSaleable()): ?>
                                                    <?php if($_compareUrl=$this->getAddToCompareUrl($new)): ?>
                                                        <a href="#" onclick="setLocation('<?php echo $_compareUrl?>','<?php echo $new->getId()?>','test'); return false;" class="link-compare w-btn">
                                                            <?php echo $this->__('<i class="fa fa-signal"></i>') ?>
                                                        </a>
                                                    <?php endif; ?>
                                             <?php endif; ?>       
                                             <!--End comapare-->
                                              
                                              <!--wishlist-->
                                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($new) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="w-btn"><i class="fa fa-heart"></i></a>
                                                    <?php endif; ?>
                                              <!--End wishlist-->
                                              
                                              <!--Quick view icon-->
                                                  <?php if($config2['newItem_quick_view']==1):?>
                                                  <a  rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$new->getId()));?>' class='fancybox w-btn' id='fancybox<?php echo $new->getId();?>'><i class="fa fa-search"></i></a>
                                                  <?php endif; ?>
                                              <!--End quick view icon-->
                                            </div>
                                         </div>
                                         <?php else:?>
										<div class="proImage">
                                          <a href="<?php echo $new->getProductUrl() ?>" class="product-image">
                                             <img class="front-img" src="<?php echo $this->helper('catalog/image')->init($new, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($new, 'small_image'), null, true) ?>"  />
                                         </a>
                                         <div class="image-action">
                                             <!--Comapare-->
                                              <?php if($new->isSaleable()): ?>
                                                    <?php if($_compareUrl=$this->getAddToCompareUrl($new)): ?>
                                                        <a href="#" onclick="setLocation('<?php echo $_compareUrl?>','<?php echo $new->getId()?>','test'); return false;" class="link-compare w-btn">
                                                            <?php echo $this->__('<i class="fa fa-signal"></i>') ?>
                                                        </a>
                                                    <?php endif; ?>
                                             <?php endif; ?>       
                                             <!--End comapare-->
                                              
                                              <!--wishlist-->
                                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($new) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="w-btn"><i class="fa fa-heart"></i></a>
                                                    <?php endif; ?>
                                              <!--End wishlist-->
                                              
                                              <!--Quick view icon-->
                                                  <?php if($config2['newItem_quick_view']==1):?>
                                                  <a  rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$new->getId()));?>' class='fancybox w-btn' id='fancybox<?php echo $new->getId();?>'><i class="fa fa-search"></i></a>
                                                  <?php endif; ?>
                                              <!--End quick view icon-->
                                            </div>
                                         </div>
                                         <?php endif;?>
                                        <!--End flip view-->
                                    
                                    </div>
                                    <!--End images and price container-->  
                                    
                                    <!--Product detail container-->              
                                        <div class="bottomProDetail">
                                        <h2 class="product-name"> 
                                             <a href="<?php echo $new->getProductUrl() ?>"><?php echo $new->getName() ?></a>
                                        </h2>
                                    <!-- Rating -->
                                    
										<?php echo $this->getReviewsSummaryHtml($new, "short", true)?>
                             
                                    <!-- End rating -->
                                    <!--Price-->  
                                        <?php echo $this->getPriceHtml($new, true, '-right') ?>
                                    <!--End price-->  

                                        <div class="proAction">
                                            <!--Quick view-->
                                               <?php if($config2['newItem_quick_view']==1):?>
                                                    <?php if($new->isSaleable()) : ?>
                                                        <?php if($new->getTypeID()=='configurable' || $new->getTypeID()=='grouped' || $new->getTypeID()=='bundle' || $new->getTypeInstance(true)->hasOptions($new)) : ?>                           
                                                        <a title="<?php echo $this->__('Add to Cart') ?>" rel="tooltip" data-placement="top" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$new->getId()));?>' class='fancybox btn-cart' id='fancybox<?php echo $new->getId();?>'><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                                                        <?php else: ?>
                                                            <button type="button" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($new) ?>')">
                                                                <span><span><?php echo $this->__('Add to Cart') ?></span> </span>
                                                            </button>
                                                         <?php endif; ?>
                                                    <?php else: ?>
                                                              <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                                     <?php endif; ?>
                                                <?php else: ?> 
                                                      <?php if($new->isSaleable()): ?>
                                                          <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($new) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                                      <?php else: ?>
                                                          <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                                      <?php endif; ?>
                                             <!--end quick view-->
                                              <?php endif; ?>
                                        </div>
                                    </div>
                                    <!--End product detail container-->   
                    	</li>
                    <!--End product view-->
           <!--End Second View-->   
           <?php endif;?>  
				<?php }?></ul><?php	
				}
			 ?>
			
			<?php //} ?>	
	
	<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/lightmini.js')?>"></script>
    <script>
    	jQuery(document).ready(function(){
			 if(jQuery('.price-box').find('.minimal-price-link')){
				   jQuery('.minimal-price-link').parent().addClass('minimalBox');	
				}
				if(jQuery('.price-box').find('.special-price')){
				   jQuery('.special-price').parent().addClass('spBox');	
				}	
		});
    </script>