<div class="checkoutContainer">
  <div class="checkoutTop">
	<?php echo $this->getChildHtml('form_before') ?>
          <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
  </div>

    <div class="checkoutBottom checkoutBottomWithout">
        <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
        <?php echo $this->getBlockHtml('formkey'); ?>
            <div class="container">
                <div class="row">
                <div class=""> 
                  <!-- <div class="checkNote">
                    <h2>Delivery Address</h2>
                    <div class="checkNoteAdd">
                      <h3>Virendra Rathod:<span>98585 45476</span></h3>
                      <p>B-203, Neelgiri Apt, S.V.Road, Malad(West). Near N.L.Collage, Opp, Agit Nagar., Mumbai, Maharashtra - 400064</p>
                    </div>
                    <div class="checkAddChange">
                      <a href="#">Change</a>
                    </div>
                  </div> -->
                </div>
                <div class="mobFixWidthrow">
                  <div class="mobFixWidth">
                    <div class="col-md-12">
                      <div class="checkBox checkBoxHead">
                        <div class="col1"><?php echo $this->__('ITEM');?></div>
                        <div class="col3"><?php echo $this->__('Qty');?></div>
                        <div class="col4"><?php echo $this->__('Price');?></div>
                        <div class="col6"></div>
                      </div>
				<?php foreach($this->getItems() as $_item): ?>
                                <?php echo $this->getItemHtml($_item) ?>
                            <?php endforeach ?>
                      </div>

                    </div>
                <!--     <div class="col-md-12">
                      <div class="checkPinUp">
                        <div class="checkPin checkPinwithout">
                          <label>Pincode</label>
                          <input type="text" />
                          <input type="submit" value="Check" />
                        </div> 
                      </div>
                    </div> -->

                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="checkAddBox">
                      <a href="<?php echo $this->getUrl(); ?>" class="checkAddItem"><?php echo $this->__('ADD MORE ITEMS');?></a>


  		                <?php echo $this->getChildHtml('totals'); ?>

                      <div class="checkAddBtn">
                          <button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update Shopping Cart'); ?>" class="button btn-update">
                              <?php echo $this->__('Update Shopping Cart'); ?>
                          </button>
                      </div>
                      <div class="checkAddBtn">
                        <a href="<?php echo $this->getUrl('checkout/onepage') ?>"><?php echo $this->__('Proceed');?></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </div> 
</div>  
<script type="text/javascript">
    
  function updateCartAndGoto(productg_id,newVal) {
        
    var url = '<?php echo Mage::getBaseUrl() ?>'+'checkout/cart/ajaxUpdateCustom?isAjax=1';
    //var data = jQuery('.cart_form').serializeArray();
    var my_from = "<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>";
    //jQuery('#ajax_loader').show();
    try {
          jQuery.ajax({
                url: url,
                type : 'post',
                data: {'id':productg_id,'qty':newVal,'form_key': my_from},
                success: function(response){
                     // jQuery('#ajax_loader').hide();
                      jQuery('.sb_amount').children('.price').html(response['subtotal']);
                      jQuery('.gt_amount').children('strong').children('.price').html(response['grand_total']);
                      var input_name = "input[name='"+productg_id+"']";
                      jQuery( input_name ).parent().parent().next().children('.cart-price').children('.price').html(response['base_row_total']);
                      
                      
                      var mini_cart_input = "#cart_qty_"+parseInt(response['product_mini_id']);
                      jQuery('.cart-grand-total').children('.price').html(response['grand_total']);
                      jQuery('.cart-grand-total').html(response['grand_total']);
                      jQuery('.cartNo').children(mini_cart_input).val(parseInt(newVal));
                      
                      if(response['notice'])
                      {
                        jQuery(input_name).closest('.checkBox').siblings('.messages').remove();
                        var notice_message = "<div style='display:block;' class='messages tableMessageRow notice_";
                        notice_message = notice_message+response['product_mini_id']+" '><div class='container-fluid bg-danger'><p class='item-msg error'>* ";
                        notice_message = notice_message+response['notice'];
                        notice_message = notice_message+"</p></div></div>";
                        jQuery(input_name).closest('.checkBox').before(notice_message);
                      }else{
                        jQuery('.notice_'+response['product_mini_id']).remove();
                        jQuery(input_name).closest('.checkBox').siblings('.messages').remove();
                      }
                }
          });
      } catch (e) {
      }
  }

  jQuery(".dddd").on("click", function () {

    var $button = jQuery(this);
    var oldValue = jQuery(this).parent().siblings('.sp-input').children().val();

    if ($button.text() == "+") {
        var newVal = parseFloat(oldValue) + 1;
    } else {
        // Don't allow decrementing below zero
        if (oldValue > 1) {
            var newVal = parseFloat(oldValue) - 1;
        } else {
            return;
            //newVal = 0;
        }
    }

    jQuery(this).parent().siblings('.sp-input').children().val(newVal);
      //-------------------------------------------------------
      var productg_id = jQuery(this).parent().siblings('.sp-input').children().attr('name');
      updateCartAndGoto(productg_id,newVal);
    });


    jQuery( ".quntity-input" ).change(function() {
      var productg_id = jQuery(this).attr('name');
      var newVal = jQuery(this).val();
      if(newVal == 0){
        newVal = 1;
        jQuery(this).val(newVal);
      }
      updateCartAndGoto(productg_id,newVal);
    });

    </script>