<?php
$collection = Mage::getResourceModel("bookingsystem/bookingsystem_collection")->addFieldToFilter("proid",$this->getProduct()->getId())->getData();
$uid = $collection[0]['rangeid'];
// print_r($collection);
if($collection[0]["booking_type"] > 0)  {
    $booking_details = Mage::getModel("bookingsystem/bookingsystem")->load($collection[0]["rangeid"]);   ?>
    <?php
        foreach ($booking_details as $key => $value) {
            // print_r($value);
        }
    ?>
    <script type="text/javascript">
        if (typeof jQuery == "undefined")   {
             document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <div id="wk_bs_main_container">
        <h4 class="wk_bs_title">You can book this by clicking <span>SHOW BOOKINGS</span></h4>
    </div>
    <div id="wk_bs_popup_background">
        <div id="wk_bs_popup_container">
            <div class="wk_bs_header">
                <h4>Reservation Booking Sytsem</h4>
                <span onclick="close_popup(this);" class="wk_bs_close_popup"><i></i></span>
            </div>
            <div class="wk_bs_content">
<?php       if($booking_details->getBookingType() == 1)    {       ?>
                <div class="wk_bs_booking_slider_container">
                    <div class="wk_bs_booking_date_slider_container">
                        <ul class="wk_bs_booking_date_slider">
<?php                   $from = strtotime($booking_details->getDatefrom());
                        $to = strtotime($booking_details->getDateto());
                        $date_diff = $to - $from;
                        $day_count = floor($date_diff/(60*60*24))+1;
                        $format = "n/j/Y";
                        $step = "+1 day";
                        for($i=1; $i<=$day_count; $i++) {
                            $date = date($format, $from);
                            $date_string = "<li class='wk_bs_booking_dates";
                            if($i == 1)
                                $date_string .= " selected";
                            else if($i == $day_count)
                                $date_string .= " last";
                            $date_string .= "'>".$date."</li>";
                            echo $date_string;
                            $from = strtotime($step, $from);
                        }       ?>
                        </ul>
                    </div>
                    <div class="wk_bs_individual_booking_slider_container">
                        <div class="wk_bs_individual_booking_slider">
<?php                       $from = strtotime($booking_details->getDatefrom());
                            $to = strtotime($booking_details->getDateto());
                            $date_diff = $to - $from;
                            $day_count = floor($date_diff/(60*60*24))+1;
                            $format = "n/j/Y";
                            $step = "+1 day";
                            for($i=1; $i<=$day_count; $i++)  {
                                $date = date($format, $from);
                                $lowerday = strtolower(date("D",strtotime($date)));     ?>
                                <div class="wk_bs_individual_booking_slider_box">
<?php                               if($lowerday == "sun")  {
                                        if($booking_details->getSuns() != "closed"){
                                            $result = "";
                                            $difference = (strtotime($booking_details->getSune()) - strtotime($booking_details->getSuns()))/60;
                                            $diff = round($difference / ($booking_details->getCacheTime()+$booking_details->getTimeslot()));
                                            for($j=1; $j<=$diff; $j++){
                                                $signal = 0;
                                                $time = strtotime($booking_details->getSuns());
                                                $end_time = date("H:i",strtotime("+".($booking_details->getCacheTime()*($j-1))+($booking_details->getTimeslot()*$j)." minutes", $time));
                                                $start_time = date("H:i",strtotime("+".(($booking_details->getCacheTime()+$booking_details->getTimeslot())*($j-1))." minutes",$time));
                                                $this_time = $start_time."-".$end_time;
                                                $bookings = Mage::getResourceModel("bookingsystem/bookings_collection")->addFieldToFilter("from_date",$date)->addFieldToFilter("to_date",$date)->addFieldToFilter("from_time",$start_time.":00")->addFieldToFilter("to_time",$end_time.":00")->addFieldToFilter("deal_id",$uid)->getData();
                                                if($bookings[0]["id"])
                                                    $result .="<div class='wk_bs_individual_bookings booked'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'>".$this->__("booked")."</span></div>";
                                                else
                                                    $result .="<div class='wk_bs_individual_bookings'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'><input type='radio' class='wk_bookthis' name='bookthis'/></span></div>";
                                                    $total ++;
                                            }
                                            echo $result;
                                        }
                                        else
                                            echo "<div class='wk_bs_individual_bookings closed'<span class='wk_deals'>".$this->__("CLOSED")."</span></div>";
                                    }
                                    if($lowerday == "mon")  {
                                        if($booking_details->getMons() != "closed"){
                                            $result = "";
                                            $difference = (strtotime($booking_details->getMone()) - strtotime($booking_details->getMons()))/60;
                                            $diff = round($difference / ($booking_details->getCacheTime()+$booking_details->getTimeslot()));
                                            for($j=1; $j<=$diff; $j++){
                                                $signal = 0;
                                                $time = strtotime($booking_details->getMons());
                                                $end_time = date("H:i",strtotime("+".($booking_details->getCacheTime()*($j-1))+($booking_details->getTimeslot()*$j)." minutes", $time));
                                                $start_time = date("H:i",strtotime("+".(($booking_details->getCacheTime()+$booking_details->getTimeslot())*($j-1))." minutes",$time));
                                                $this_time = $start_time."-".$end_time;
                                                $bookings = Mage::getResourceModel("bookingsystem/bookings_collection")->addFieldToFilter("from_date",$date)->addFieldToFilter("to_date",$date)->addFieldToFilter("from_time",$start_time.":00")->addFieldToFilter("to_time",$end_time.":00")->addFieldToFilter("deal_id",$uid)->getData();
                                                if($bookings[0]["id"])
                                                    $result .="<div class='wk_bs_individual_bookings booked'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'>".$this->__("booked")."</span></div>";
                                                else
                                                    $result .="<div class='wk_bs_individual_bookings'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'><input type='radio' class='wk_bookthis' name='bookthis'/></span></div>";
                                                    $total ++;
                                            }
                                            echo $result;
                                        }
                                        else
                                            echo "<div class='wk_bs_individual_bookings closed'<span class='wk_deals'>".$this->__("CLOSED")."</span></div>";
                                    }
                                    if($lowerday == "tue")  {
                                        if($booking_details->getTues() != "closed"){
                                            $result = "";
                                            $difference = (strtotime($booking_details->getTuee()) - strtotime($booking_details->getTues()))/60;
                                            $diff = round($difference / ($booking_details->getCacheTime()+$booking_details->getTimeslot()));
                                            for($j=1; $j<=$diff; $j++){
                                                $signal = 0;
                                                $time = strtotime($booking_details->getTues());
                                                $end_time = date("H:i",strtotime("+".($booking_details->getCacheTime()*($j-1))+($booking_details->getTimeslot()*$j)." minutes", $time));
                                                $start_time = date("H:i",strtotime("+".(($booking_details->getCacheTime()+$booking_details->getTimeslot())*($j-1))." minutes",$time));
                                                $this_time = $start_time."-".$end_time;
                                                $bookings = Mage::getResourceModel("bookingsystem/bookings_collection")->addFieldToFilter("from_date",$date)->addFieldToFilter("to_date",$date)->addFieldToFilter("from_time",$start_time.":00")->addFieldToFilter("to_time",$end_time.":00")->addFieldToFilter("deal_id",$uid)->getData();
                                                if($bookings[0]["id"])
                                                    $result .="<div class='wk_bs_individual_bookings booked'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'>".$this->__("booked")."</span></div>";
                                                else
                                                    $result .="<div class='wk_bs_individual_bookings'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'><input type='radio' class='wk_bookthis' name='bookthis'/></span></div>";
                                                    $total ++;
                                            }
                                            echo $result;
                                        }
                                        else
                                            echo "<div class='wk_bs_individual_bookings closed'<span class='wk_deals'>".$this->__("CLOSED")."</span></div>";
                                    }
                                    if($lowerday == "wed")  {
                                        if($booking_details->getWeds() != "closed"){
                                            $result = "";
                                            $difference = (strtotime($booking_details->getWede()) - strtotime($booking_details->getWeds()))/60;
                                            $diff = round($difference / ($booking_details->getCacheTime()+$booking_details->getTimeslot()));
                                            for($j=1; $j<=$diff; $j++){
                                                $signal = 0;
                                                $time = strtotime($booking_details->getWeds());
                                                $end_time = date("H:i",strtotime("+".($booking_details->getCacheTime()*($j-1))+($booking_details->getTimeslot()*$j)." minutes", $time));
                                                $start_time = date("H:i",strtotime("+".(($booking_details->getCacheTime()+$booking_details->getTimeslot())*($j-1))." minutes",$time));
                                                $this_time = $start_time."-".$end_time;
                                                $bookings = Mage::getResourceModel("bookingsystem/bookings_collection")->addFieldToFilter("from_date",$date)->addFieldToFilter("to_date",$date)->addFieldToFilter("from_time",$start_time.":00")->addFieldToFilter("to_time",$end_time.":00")->addFieldToFilter("deal_id",$uid)->getData();
                                                if($bookings[0]["id"])
                                                    $result .="<div class='wk_bs_individual_bookings booked'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'>".$this->__("booked")."</span></div>";
                                                else
                                                    $result .="<div class='wk_bs_individual_bookings'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'><input type='radio' class='wk_bookthis' name='bookthis'/></span></div>";
                                            }
                                            echo $result;
                                        }
                                        else
                                            echo "<div class='wk_bs_individual_bookings closed'<span class='wk_deals'>".$this->__("CLOSED")."</span></div>";
                                    }
                                    if($lowerday == "thu")  {
                                        if($booking_details->getThus() != "closed"){
                                            $result = "";
                                            $difference = (strtotime($booking_details->getThue()) - strtotime($booking_details->getThus()))/60;
                                            $diff = round($difference / ($booking_details->getCacheTime()+$booking_details->getTimeslot()));
                                            for($j=1; $j<=$diff; $j++){
                                                $signal = 0;
                                                $time = strtotime($booking_details->getThus());
                                                $end_time = date("H:i",strtotime("+".($booking_details->getCacheTime()*($j-1))+($booking_details->getTimeslot()*$j)." minutes", $time));
                                                $start_time = date("H:i",strtotime("+".(($booking_details->getCacheTime()+$booking_details->getTimeslot())*($j-1))." minutes",$time));
                                                $this_time = $start_time."-".$end_time;
                                                $bookings = Mage::getResourceModel("bookingsystem/bookings_collection")->addFieldToFilter("from_date",$date)->addFieldToFilter("to_date",$date)->addFieldToFilter("from_time",$start_time.":00")->addFieldToFilter("to_time",$end_time.":00")->addFieldToFilter("deal_id",$uid)->getData();
                                                if($bookings[0]["id"])
                                                    $result .="<div class='wk_bs_individual_bookings booked'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'>".$this->__("booked")."</span></div>";
                                                else
                                                    $result .="<div class='wk_bs_individual_bookings'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'><input type='radio' class='wk_bookthis' name='bookthis'/></span></div>";
                                            }
                                            echo $result;
                                        }
                                        else
                                            echo "<div class='wk_bs_individual_bookings closed'<span class='wk_deals'>".$this->__("CLOSED")."</span></div>";
                                    }
                                    if($lowerday == "fri")  {
                                        if($booking_details->getFris() != "closed"){
                                            $result = "";
                                            $difference = (strtotime($booking_details->getFrie()) - strtotime($booking_details->getFris()))/60;
                                            $diff = round($difference / ($booking_details->getCacheTime()+$booking_details->getTimeslot()));
                                            for($j=1; $j<=$diff; $j++){
                                                $signal = 0;
                                                $time = strtotime($booking_details->getFris());
                                                $end_time = date("H:i",strtotime("+".($booking_details->getCacheTime()*($j-1))+($booking_details->getTimeslot()*$j)." minutes", $time));
                                                $start_time = date("H:i",strtotime("+".(($booking_details->getCacheTime()+$booking_details->getTimeslot())*($j-1))." minutes",$time));
                                                $this_time = $start_time."-".$end_time;
                                                $bookings = Mage::getResourceModel("bookingsystem/bookings_collection")->addFieldToFilter("from_date",$date)->addFieldToFilter("to_date",$date)->addFieldToFilter("from_time",$start_time.":00")->addFieldToFilter("to_time",$end_time.":00")->addFieldToFilter("deal_id",$uid)->getData();
                                                if($bookings[0]["id"])
                                                    $result .="<div class='wk_bs_individual_bookings booked'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'>".$this->__("booked")."</span></div>";
                                                else
                                                    $result .="<div class='wk_bs_individual_bookings'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'><input type='radio' class='wk_bookthis' name='bookthis'/></span></div>";
                                            }
                                            echo $result;
                                        }
                                        else
                                            echo "<div class='wk_bs_individual_bookings closed'<span class='wk_deals'>".$this->__("CLOSED")."</span></div>";
                                    }
                                    if($lowerday == "sat")  {
                                        if($booking_details->getSats() != "closed"){
                                            $result = "";
                                            $difference = (strtotime($booking_details->getSate()) - strtotime($booking_details->getSats()))/60;
                                            $diff = round($difference / ($booking_details->getCacheTime()+$booking_details->getTimeslot()));
                                            for($j=1; $j<=$diff; $j++){
                                                $signal = 0;
                                                $time = strtotime($booking_details->getSats());
                                                $end_time = date("H:i",strtotime("+".($booking_details->getCacheTime()*($j-1))+($booking_details->getTimeslot()*$j)." minutes", $time));
                                                $start_time = date("H:i",strtotime("+".(($booking_details->getCacheTime()+$booking_details->getTimeslot())*($j-1))." minutes",$time));
                                                $this_time = $start_time."-".$end_time;
                                                $bookings = Mage::getResourceModel("bookingsystem/bookings_collection")->addFieldToFilter("from_date",$date)->addFieldToFilter("to_date",$date)->addFieldToFilter("from_time",$start_time.":00")->addFieldToFilter("to_time",$end_time.":00")->addFieldToFilter("deal_id",$uid)->getData();
                                                if($bookings[0]["id"])
                                                    $result .="<div class='wk_bs_individual_bookings booked'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'>".$this->__("booked")."</span></div>";
                                                else
                                                    $result .="<div class='wk_bs_individual_bookings'><span class='wk_bs_deal_time'>".$this_time."</span><span class='wk_bs_deal_label'><input type='radio' class='wk_bookthis' name='bookthis'/></span></div>";
                                            }
                                            echo $result;
                                        }
                                        else
                                            echo "<div class='wk_bs_individual_bookings closed'<span class='wk_deals'>".$this->__("CLOSED")."</span></div>";
                                    }       ?>
                                </div>
<?php                       $from = strtotime($step, $from);
                            }       ?>
                        </div>
                    </div>
<?php       }
            else{       ?>                    
                <div class="wk_bs_booking_slider_container" style="width:540px;">
<?php                   $from_date = strtotime($booking_details->getDatefrom());
                        $to_date = strtotime($booking_details->getDateto());
                        $date_diff = $to_date - $from_date;
                        $day_count = floor($date_diff/(60*60*24))+1;
                        $format = "n/j/Y";$step = "+1 day";$result = "";
                        $from_array = unserialize($booking_details->getOtmFrom()); //saved FROM date from admin
                        $to_array = unserialize($booking_details->getOtmTo());  //saved TO date from admin
                        for($j=1; $j<=count($from_array); $j++) { //iterating for each FROM-TO PAIR from admin
                            $final_from = array();
                            $final_to = array();
                            $from_date = strtotime($booking_details->getDatefrom());
                            for($i=1; $i<=$day_count; $i++) {
                                $date = date($format, $from_date);
                                $date = date_format(date_create($date), "l jS F Y");
                                $date_parts = explode(" ",$date);
                                $day_name = strtolower($date_parts[0]);
                                $from_day_time = explode("-",$from_array[$j]);
                                $from_day = $from_day_time[0];  //getting FROM day from FROM date
                                $from_time = date("H:i", strtotime($from_day_time[1]));
                                $to_day_time = explode("-",$to_array[$j]);
                                $to_day = $to_day_time[0];   //getting TO day from TO date
                                $to_time = date("H:i", strtotime($to_day_time[1]));
                                if($day_name == $from_day)  //comparing FROM DAY with regular days and keeping it in an array
                                    $final_from[] = $from_date;
                                if($day_name == $to_day)  //comparing TO DAY with regular days and keeping it in an array
                                    $final_to[] = $from_date;
                                $from_date = strtotime($step, $from_date);
                            }
                            for($r=0; $r<count($final_from); $r++) {
                                if($final_from[$r] != "" && $final_to[$r] != ""){
                                    if($final_from[$r] > $final_to[$r])
                                        $final_to[$r] = $final_to[$r+1];
                                    $formated_from_date_raw = date($format, $final_from[$r]);
                                    $formated_from_date = date_format(date_create($formated_from_date_raw), "l jS F Y");
                                    $formated_to_date_raw = date($format, $final_to[$r]);
                                    $formated_to_date = date_format(date_create($formated_to_date_raw), "l jS F Y");
                                    $bookings = Mage::getResourceModel("bookingsystem/bookings_collection")->addFieldToFilter("from_date",$formated_from_date_raw)->addFieldToFilter("to_date",$formated_to_date_raw)->addFieldToFilter("from_time",$from_time.":00")->addFieldToFilter("to_time",$to_time.":00")->addFieldToFilter("deal_id",$uid)->getData();
                                    if($bookings[0]["id"])
                                        $result .="<div class='wk_bs_ofm_individual_bookings booked'><span class='wk_ofm_from'>".$formated_from_date." (".$from_time.")</span><span class='wk_ofm_string'>to</span><span class='wk_ofm_to'>".$formated_to_date." (".$to_time.")</span><span>".$this->__("booked")."</span></div>";
                                    else
                                        $result .="<div class='wk_bs_ofm_individual_bookings'><span class='wk_ofm_from'>".$formated_from_date." (".$from_time.")</span><span class='wk_ofm_string'>to</span><span class='wk_ofm_to'>".$formated_to_date." (".$to_time.")</span><p style='display:none;' class='wk_raw_from'>".$formated_from_date_raw."-".$from_day_time[1]."</p><p style='display:none;' class='wk_raw_to'>".$formated_to_date_raw."-".$to_day_time[1]."</p><input type='radio' class='wk_ofm_bookthis' name='bookthis'/></div>";
                                }
                            }
                        }    ?>
                        <div class="wk_bs_ofm_individual_booking_slider_container">
<?php                       echo $result;           ?>
                        </div>
<?php               }   $id = $this->getRequest()->getParam("id");
                        if(Mage::app()->getRequest()->getControllerName() == "cart"){
                            $trigger = 1;
                            $item = Mage::getSingleton("checkout/cart")->getQuote()->getItemById($id);
                            $collection = Mage::getResourceModel("bookingsystem/bookingsystem_collection")->addFieldToFilter("proid",$item->getProduct()->getId())->getData();
                            $booking_type = $collection[0]["booking_type"];
                            $all_data = $item->getProduct()->getTypeInstance(true)->getOrderOptions($item->getProduct());
                            $custom_options = $all_data["options"];
                            foreach ($custom_options as $one_option) {
                                if($one_option["label"] == "Reservation From"){
                                    $values = explode(" ",$one_option["value"]);
                                    $time_value = explode(" ",$one_option["option_value"]);
                                    $booking_array["from_date"] = $values[0];
                                    $booking_array["from_time"] = $time_value[1];
                                }
                                if($one_option["label"] == "Reservation To"){
                                    $values = explode(" ",$one_option["value"]);
                                    $time_value = explode(" ",$one_option["option_value"]);
                                    $booking_array["to_date"] = $values[0];
                                    $booking_array["to_time"] = $time_value[1];
                                }
                            }
                        }
                        else
                            $trigger = 0;      ?>
                    </div>
                </div>
            <div class="wk_bs_footer"></div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ready(function(){
            reservation_from = "<?php echo $this->__('Reservation From'); ?>";
            reservation_to = "<?php echo $this->__('Reservation To'); ?>";
            booking_type = "<?php echo $booking_type; ?>";
            booking_array = JSON.parse('<?php echo json_encode($booking_array); ?>');
            if(<?php echo $trigger ;?>)
                select_prev_choice();
        });
    </script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('bookingsystem/js/jquery.easing.1.3.js'); ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('bookingsystem/js/front_js.js'); ?>"></script>
<?php   }   ?>