/*
*Author: Yogendra Karekar
*date: 24th feb 2016
*Description: A custom css file to hold the customization made to file apart from one specified in the main.css
*
*/
/*general*/
a:hover, a:focus{
	color: #ed9636;
}
a#logo-navigation {
    top: -10px;
    height: 110px;
    background-image: url("../images/logo-header.png");
    width: 100%;
    background-size: 200px;
}

#SkillsTab li{
	min-width: 25%;
	width: 25%;
	height: auto;
	max-height: auto;
}

.tabs-container h2{
	text-align: center;
	font-weight: bolder;
}

#SkillsTab li a{
	line-height: 50px;
	height: auto;
}

#skill4 h2{
	margin-bottom: 25px;
}


#skill4 a{
	color: #ed9636;
}
/*footer*/
.socialIcon ul li a{
	display: flex!important;
	display: -webkit-flex!important;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}