
	#timeline {
		width: 800px;
		height: 800px;
		overflow: hidden;
		margin: 30px auto;
		position: relative;
		background: url('../images/dot.png') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 50px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 150px;
				height: 50px;
				font-size: 16px;
				text-align: center;
				background: url('../images/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 18px;
					color: #F7A61F;
				}
		
		#issues {
			width: 800px;
			height: 800px;
			overflow: hidden;
		}	
			#issues li {
				width: 800px;
				height: 800px;
				list-style: none;
				float: left;
				opacity: 1!important;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					margin: 20px 0;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
					text-shadow: #000 1px 1px 2px;
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('../images/timelin/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../images/timelin/grad_right.png') repeat-y;
			}
		
		#next,
		#prev {
			position: absolute;			
			font-size: 70px;
			top: 8.6%;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 10px;
				background-image: url('../images/timelin/next.png');
			}
			#prev {
				left:  10px;
				background-image: url('../images/timelin/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}

div#timeline ul#issues li ul.route li.car,div#timeline ul#issues li ul.route li.train,div#timeline ul#issues li ul.route li.flight {color: #ccc; font-size: 15px;}

div#timeline ul#issues li ul.route li:first-child,div#timeline ul#issues li ul.route li:last-child { line-height: 0px; color: #fff; text-transform: uppercase;}
div#timeline ul#issues li ul.route {display: block; width: 100%; background: #6F6F6F; height: 80px; border-radius: 4px;}

div#timeline ul#issues li ul.route li {display: block;width: 16%;padding: 11px 0;color: #161814;opacity: 1 !important;font-weight: bold;font-size: 13px;
 margin-bottom: 8px;}
div#timeline ul#issues li ul.route li:before{width: 100%;height: 33px;font-size: 21px;display: block;content:" ";font-family:icomoon !important;color: #F7A61F;}
.shortdesc-table table tr td {padding: 1px 9px;}
div#timeline ul#issues li ul.route li.car:before {content: "\e602";}
div#timeline ul#issues li ul.route li.train:before {content: "\e600";}
div#timeline ul#issues li ul.route li.flight:before {content: "\e601";}
div#timeline ul#issues li .row.shortlist-grid {border-bottom: 2px solid #F7A61F;padding-top: 3%;}
div#timeline ul#issues li ul.route li.km {color: #fff;}
div#timeline ul#issues li ul.route li.km:before {content: "\Km";font-family: Museo-Regular !important;}
#issues li .shortdesc-image{overflow:hidden;border-radius:5px;margin-right: 5%;}
#issues li .shortdesc-image img{max-width:100%;}
div#timeline  ul li{min-height:100%;}
			div#timeline  ul#issues li{width:800px;}
			div#timeline  ul li{min-height:100%;}
			div#timeline  ul li:before{display:none}
			div#timeline  ul#issues li{width:800px;text-align:center;overflow: hidden;}
			div#timeline ul li ul li {height: auto;}