/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* RESPONSIVE STYLESHEET 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media only screen and (min-height: 700px) {
	#header.big{min-height: 100vh;}
}
@media only screen and (max-width: 1200px) {
	.blog-grid>li:nth-of-type(odd) .blog-thumbnail{margin-left: 15px;}
	.blog-grid .blog-thumbnail{margin-right: 15px;}
	.blog-grid .blog-content{padding: 25px 20px 0 20px;}
	.blog-sum-up{font-size: .9em;}
	.main-container a.blog-post-title h2{font-size: 1.6em;}
}
@media only screen and (max-width: 1100px) {
	#navigation ul li a:after{display: none;}
	#navigation ul li{padding: 10px 0 6px 0;}
	#navigation ul.sub-menu{top: 35px;}
	#left-navigation, #right-navigation{margin-top: 5px;}
	#ticker-text ul li{font-size: 4em; letter-spacing: -3px;}
	#header.big{min-height: 65vh}			a#logo-navigation{background-size:contain;top:-12px;}		footer.footer.container,.f-fix.footer-blocks .container{width:100%;overflow-x:hidden;margin-left:0;}	.fb_iframe_widget iframe{width: 87% !important;}	.full-width{margin:0;}	.headingBox h2 span{padding-right:11% !important;padding-left:11% !important;font-size: 25px;}		header.small#header div .temple-search-block .temple-search form input {width: 34%; min-width: 150px;}	.filter-sort nav#navigation ul#left-navigation li{width: 20%;}	.form-subscribe h4{font-size: 15px;}
	.nav-tabs li {min-width: 160px;height: 55px;}
	.nav-tabs li a i {width: 40px;height: 40px;float: none;display: inline-block;vertical-align: top;margin-right: 16px;}
	.nav-tabs li a {padding: 6px;text-align: center;display: inline-block;}
	#skill5 .itinerary ul li {
    min-height: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
	padding: 5px 0;
margin-bottom: 0;
}

#skill5 .itinerary ul li:before {
    display: none;
}

#skill5 .itinerary ul li:first-child {
    text-align: center;
    background: #E7E7E7;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #F7A61F;
    border: 0;
    border-radius: 5px;
}

#skill5 .itinerary ul li span {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    text-align: center;
}
	}
@media only screen and (max-width: 992px) {
	.headingBox h2 span{padding-right:13% !important;padding-left:13% !important;font-size:21px;}	.filter-sort nav#navigation ul#left-navigation li{width:19%;}	.mainFooterPan01 .footer .footer-links h3{font-size:13px;}	header.small#header div .temple-search-block .temple-search form{width:59%;}	.mainFooterPan01 .footer .footer-links ul li,.mainFooterPan01 .footer .footer-links p{font-size:12px;}		.mainFooterPan01 .footer .copyright ul li, .mainFooterPan01 .footer .copyright p{font-size:12px;}
	#show-mobile-menu, #navigation-mobile{display: block;}
	#navigation-mobile #show-mobile-menu, #navigation-mobile #logo-container {display: none;}
	#show-mobile-menu:hover{opacity: .5;}
	#navigation-mobile #logo-navigation{display: none;}
	#navigation{z-index: 11;}
	#navigation.navigation-fixed #logo-navigation{margin-top: 10px;}
	#navigation #left-navigation,#navigation #right-navigation{display: none;}
	#logo-navigation{float: right !important;margin-right: 40px;margin-top: -20px;}
	.navigation-fixed #show-mobile-menu{color: #444; font-size: 1.5em; top: 18px;}
	#ticker-text ul li{font-size: 3em; letter-spacing: 0;}
	.contact-box{text-align: center; display: block; padding-top: 30px;}
	.contact-box:first-child{padding-top: 50px;}
	.contact-box a.btn.btn-default{float: none; margin: 0;}
	.custom-section-text{padding-left: 5%;padding-right: 5%;}
	.custom-section-buttons{padding-right: 5%;}
	#portfolio-container figure{width: 50%;}
	#top-navigation, #header-canvas{display: none;}
	#scroll-top{display: none !important;}
	#header.big{min-height: 588px;}
	.temple-search form {   padding: 0;border-left-width: 7px;border-right-width: 7px;border-top-width: 17px;border-bottom-width: 17px;}div .temple-search-block .temple-search input {padding: 5px;}div .temple-search-block .temple-search button.button span {padding: 2px 8px;}

	.blog-grid>li{margin-bottom: 40px;}
	.blog-grid>li:nth-of-type(odd) .blog-thumbnail,
	.blog-grid>li .blog-thumbnail{float: none !important;}
	.blog-grid>li:nth-of-type(odd){background: transparent;}
	.blog-grid>li, .blog-grid>li:nth-of-type(odd) .blog-sum-up, .blog-grid>li .blog-sum-up,
	.blog-grid>li:nth-of-type(odd) .blog-button, .blog-grid>li .blog-button,
	.post-metadatas, .blog-post-title h2{text-align: center !important;}
	.blog-grid .blog-content, .blog-grid li.blog-post{height: auto !important;}
	
	
}
@media only screen and (max-width: 670px) {
	#ticker-text ul li{font-size: 2em; letter-spacing: 0;}
	.main-container .btn{padding: 7px 15px 5px 15px;}
	.custom-section-text, .custom-section-buttons{float: none; width: 100%; text-align: center;}
	.custom-section-text{border: none;}
	.custom-section-buttons{padding-right: 0;}
	.custom-section-buttons:before{content: none;}
	.skills-row, .skill{width: 100%;display: block; border: 0;}
	#logo-navigation{width: 100% !important;margin-right: 0!important}
	#scroll-bottom{display: none;}
	#navigation.navigation-fixed{position: relative;}
}
@media only screen and (max-width: 492px) {
	#ticker-text ul li{font-size: 1.5em; letter-spacing: 0;}	canvas#header-canvas {height: 500px;}.main-container .container h2 {font-size: 21px;margin-top: 14px;}.main-container ul.blog-grid{margin:10px 0;}.filter-sort{display:none;}.blog-grid>li:nth-of-type(odd) .blog-content h2.temp-title , .blog-grid>li .blog-content h2.temp-title{text-align:center;}header.small#header div .temple-search-block .temple-search form input{width: 60%;max-width: 100%;margin: 4px auto;}#ticker{top:25%;}.headingBox h2 span{font-size:15px;}.blog-grid>li p{text-align:justify !important;}.blog-grid>li:nth-of-type(odd) .blog-thumbnail a img{padding:0;}.blog-grid>li:nth-of-type(even) .blog-thumbnail a img{padding:0;}.blog-grid>li:nth-of-type(odd) .blog-thumbnail, .blog-grid>li .blog-thumbnail{height:auto;margin:0;}.blog-grid>li:nth-of-type(odd) , .blog-grid>li {height:auto;margin-bottom:10px;}.with-breaker span{display:none;}div .temple-search-block .temple-search input {padding: 9px;display: block;margin: 8px auto;border-radius: 3px;border: 0;}.flex-viewport,.flexslider .slides,.flexslider .slides > li,.flexslider .slides > li img{height:280px!important;}header.small#header .flex-viewport,header.small#header .flexslider .slides,header.small#header .flexslider .slides > li,header.small#header .flexslider .slides > li img{height:280px!important;}.small#header{max-height:220px;}a#logo-navigation{min-width: 104px;left: 41%;}.temple-search-block h1{font-size:17px;}.temple-search form {background: none;border: 0;}ul.location-special strong{width:138px;}ul.temple-services li {width: 45%;text-align: left;font-size: 100%;}ul.temple-services li .fa {font-size: 26px;}.nav-tabs li a i {display: none !important;}.tabs-container ul {width: 100%;}.tabs-container ul li a {text-align: center;line-height: normal;padding: 10px;}.tabs-container ul li {height: auto;line-height: 0;}.tab-content>.active {width: 100%;padding: 5px;}.col-md-4 iframe{width:100% !important;margin-bottom:10px;}.temple-search {   padding: 5px;}#header.small div .temple-search-block .temple-search button.button span{padding:5px 8px;}div .temple-search-block .temple-search button#searchtemp span,div .temple-search-block .temple-search button#searchtemp {padding: 0;border-radius: 4px;}div#skill5 ul li h3{width:84%;}div#skill5 ul li img{width:100%;padding:0;margin-bottom:5px;}div#skill6 ul li h3{width:84%;}div#skill6 ul li img{width:100%;padding:0;margin-bottom:5px;}div#skill7 ul li h3{width:84%;}div#skill7 ul li img{width:100%;padding:0;margin-bottom:5px;}div#skill8 ul li h3{width:84%;}div#skill8 ul li img{width:100%;padding:0;margin-bottom:5px;}

div#control_panel table tr td {
width: 100% !important;
text-align: center;
}

div#control_panel table tr .tbl-list {
width: 100% !important;
font-size: 13px;
padding: 5px;
}
div#control_panel table tr td.tbl-color {
display: none;
}
div#control_panel table tr td.tbl-place {
font-size: 12px;
}

header#header.big {
min-height: 823px;
}
	div#control_panel{width: 93%;right: 0;position: relative;margin: 18% auto;float: none;}
}