<?php $_element = $this->getElement() ?>
<table id="<?php echo $_element->getHtmlId() ?>" cellspacing="0" class="form-list">
    <tbody>
        <?php echo $_element->getChildrenHtml(); ?>
    </tbody>
</table>
