<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Advanced Options');?></h4>
        <div class="form-buttons"></div>
    </div>
    <div class="fieldset fieldset-wide">
        <div class="hor-scroll">
            <?php echo $this->getChildHtml('advanced_options'); ?>
        </div>
    </div>
</div>
