<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('General');?></h4>
        <div class="form-buttons"></div>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <div class="box-left">
                <?php echo $this->getChildHtml('general'); ?>
                <?php echo $this->getChildHtml('style_description'); ?>
            </div>
        </div>
    </div>
</div>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Style Options');?></h4>
        <div class="form-buttons"></div>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <div class="box-left">
                <?php echo $this->getChildHtml('options'); ?>
            </div>
        </div>
    </div>
</div>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Display On');?></h4>
        <div class="form-buttons"></div>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <div class="box-left">
                <?php echo $this->getChildHtml('display_on'); ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    function updateFormOptions() {
        var sendData = {'id': '<?php echo $this->getSliderId(); ?>'};
        var fields = ['style', 'name', 'width', 'height', 'link_target', 'status'];
        for(var i=0; i<fields.length; i++) sendData[fields[i]] = $(fields[i]).getValue();
        new Ajax.Request('<?php echo $this->getUrl('*/*/styleoptions') ?>', {
            asynchronous: true,
            method: 'post',
            loaderArea: true,
            parameters: sendData,
            onComplete: function(transport) {
                var responseJSON = transport.responseText.evalJSON();
                if (responseJSON.ajaxExpired && responseJSON.ajaxRedirect) {
                    setLocation(responseJSON.ajaxRedirect);
                    return;
                }
                Element.replace('advancedslider_slider_general', responseJSON.general);
                Element.replace('advancedslider_slider_options', responseJSON.options);
                Element.replace('advancedslider_style_description', responseJSON.description);
            }
        });
    }
    function switchThumbParams(value) {
        if (value == 'thumb|none') {
            $$('.amanda-thumb').each(function(item) {
                item.up('tr').show();
            });
        } else {
            $$('.amanda-thumb').each(function(item) {
                item.up('tr').hide();
            });
        }
    }

    function switchThumbParamsInit() {
        var obj = $('navigation_type');
        if (obj) switchThumbParams(obj.options[obj.selectedIndex].value);
    }

    switchThumbParamsInit();
//]]>
</script>
