.wk_em_eventcont *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.wk_em_eventcont{
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
}
.wk_em_clearfix:before,
.wk_em_clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.wk_em_clearfix:after {
    clear: both;
}

.wk_em_clearfix {
    *zoom: 1;
}

.wk_em_container {
	width: 100%;
	height: 100%;
	position: relative;
}

.wk_em_container > header,
.wk_em_main {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.wk_em_container > header {
	padding: 30px;
}

.wk_em_container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #fff;
	float: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.wk_em_container > header h1 span {
	font-size: 18px;
	font-weight: 300;
	display: block;
}

/* Header Style */
.wk_em_codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.wk_em_codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.wk_em_codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.wk_em_codrops-top span.right {
	float: right;
}

.wk_em_codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.wk_em_codrops-demos {
	float: right;
}

.wk_em_codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #fff;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.wk_em_codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.wk_em_codrops-demos a.wk_em_current-demo,
.wk_em_codrops-demos a.wk_em_current-demo:hover {
	color: rgba(255,255,255,0.5);
	border-color: rgba(255,255,255,0.5);
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

.wk_em_fc-calendar-container {
	position: relative;
	height: 400px;
	width: 400px;
}

.wk_em_fc-calendar {
	width: 100%;
	height: 100%;
}

.wk_em_fc-calendar .wk_em_fc-head {
	height: 30px;
	line-height: 30px;
	background: #ccc;
	color: #fff;
}

.wk_em_fc-calendar .wk_em_fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
	border: 0;
}

.wk_em_fc-calendar .wk_em_fc-row {
	width: 100%;
	border-bottom: 0;
}

.wk_em_fc-four-rows .wk_em_fc-row  {
	height: 25%;
}

.wk_em_fc-five-rows .wk_em_fc-row  {
	height: 20%;
}

.wk_em_fc-six-rows .wk_em_fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: calc(100%/6);
}

.wk_em_fc-calendar .wk_em_fc-row > div,
.wk_em_fc-calendar .wk_em_fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	/*width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7);*/
	position: relative;
}

/* IE 9 is rounding up the calc it seems */
.ie9 .wk_em_fc-calendar .wk_em_fc-row > div,
.ie9 .wk_em_fc-calendar .wk_em_fc-head > div {
	width:  14.2%;
}

.wk_em_fc-calendar .wk_em_fc-row > div {
	border-right: 0;
	padding: 16px;
	overflow: hidden;
	position: relative;
}

.wk_em_fc-calendar .wk_em_fc-head > div {
	text-align: center;
}

.wk_em_fc-calendar .wk_em_fc-row > div > span.wk_em_fc-date {
	position: absolute;
	width: 30px;
	height: 20px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	color: #ddd;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
	bottom: 5px;
	right: 5px;
	text-align: right;
}

.wk_em_fc-calendar .wk_em_fc-row > div > span.wk_em_fc-weekday {
	padding-left: 5px;
	display: none;
}

.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-today {
	background: #fff4c3;
}

.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-out {
	opacity: 0.6;
}

.wk_em_fc-calendar .wk_em_fc-row > div:last-child,
.wk_em_fc-calendar .wk_em_fc-head > div:last-child {
	border-right: none;
}

.wk_em_fc-calendar .wk_em_fc-row:last-child {
	border-bottom: none;
}