/* Custom calendar elements */
.headingcont{background:#F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */border-bottom:1px solid #DDD;padding:2px 9px;color:white;display: none;}

.headingcont a{color:white;}

.wk_em_eventdetail span{
    text-align: left;
	font-weight:bold;
	font-size:22px;
}
.wk_em_eventdetail .wk_eventdetailnew{
	padding: 0 30px;
    text-align: left;
	height:300px;
	overflow:auto;
}
.wk_em_custom-calendar-wrap {
	margin: 10px auto;
	position: relative;
	overflow: hidden;
}

.wk_em_custom-inner {
	background: none;
	
}

.wk_em_custom-inner:before,
.wk_em_custom-inner:after  {
	content: '';
	width: 99%;
	height: 50%;
	position: absolute;
	background: none;
	bottom: -4px;
	left: 0.5%;
	z-index: -1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.wk_em_custom-inner:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;
}

.wk_em_custom-header {
	background: none;
	padding: 5px 10px 7px 14px;
	height: 38px;
	position: relative;
	border-top: 0;
	border-bottom: 2px solid #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */
}

.wk_em_custom-header h2,
.wk_em_custom-header h3 {
	text-align: center;
	text-transform: uppercase;
}

.wk_em_custom-header h2 {
	width: 47%;
	color: #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */
	font-weight: 600;
	font-size: 18px;
	/* margin-top: 10px; */
	text-align: right;
	float: left;
	font-size:15px;
}

.wk_em_custom-header h3 {
	font-size: 15px;
	font-weight: 700;
	color: #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */
	float: left;
	padding-left: 3%;
}

.wk_em_custom-header span span {
	position: absolute;
	top: 0;
	height: 30px;
	color: transparent;
	cursor: pointer;
	margin: 0 1px;
	font-size: 20px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}

.wk_em_custom-header span span:first-child {
	left: 5px;
}

.wk_em_custom-header span span:last-child {
	right: 11px;
	
}

.wk_em_custom-header span span:before {
	font-family: 'fontawesome-selected';
	color: #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */ 
	position: absolute;
	text-align: center;
	width: 100%;
}

.wk_em_custom-header span span.wk_em_custom-prev:before {
	content: '\25c2';
}

.wk_em_custom-header span span.wk_em_custom-next:before {
	content: '\25b8';
}

.wk_em_custom-header span span:hover:before {
	color: #495468;
}

.wk_em_custom-content-reveal {
	background: #f6f6f6;
	background: rgba(246, 246, 246, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0px;
	text-align: center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.wk_em_custom-content-reveal span.wk_em_custom-content-close {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	background: #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */ 
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
	line-height: 13px;
	padding: 0;
}

.wk_em_custom-content-reveal span.wk_em_custom-content-close:after {
	content: 'x';
	font-size: 18px;
	color: #fff;
}


.wk_em_custom-content-reveal .wk_eventtitlenew {
	font-size: 22px;
	padding: 10px 30px;
	display: block;
}

.wk_em_custom-content-reveal .wk_eventheading {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #777;
	padding: 20px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 5px solid #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */ 
	box-shadow: 0 1px rgba(255,255,255,0.9);
	margin-bottom: 30px;
}

.wk_em_custom-content-reveal .wk_eventtitlenew  {
	color: #888;
}

.wk_em_custom-content-reveal a {
	color: #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */ 
}

.wk_em_custom-content-reveal a:hover {
	color: #333;
}

/* Modifications */

.wk_em_fc-calendar-container {
	height: 200px;
	width: auto;
	padding: 0;
	background: none;
	box-shadow: inset 0 1px rgba(255,255,255,0);
}

.wk_em_fc-calendar .wk_em_fc-head {
	background: transparent;
	color: #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

.wk_em_fc-calendar .wk_em_fc-row > div {
	background: none;
	cursor: pointer;
}

.wk_em_fc-calendar .wk_em_fc-row > div:empty {
	background: transparent;
}

.wk_em_fc-calendar .wk_em_fc-row > div > span.wk_em_fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color: #111;
	font-weight: 400;
	pointer-events: none;
}

.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-today {
	background: none;
	border:1px solid #eb4517; /* Changed By Ninad ORG Value = #eb4517;  */
}

.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-today > span.wk_em_fc-date {
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}



.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-content:after {
margin-left: -14px;
position: absolute;
font-size: 27px;
line-height: 0;
left: 50%;
bottom: 0;
font-weight: bolder;
width: 21px;
height: 5px;
content: '__';
color: #F7A61F /* Changed By Ninad ORG Value = #F7A61F;  */  !important;
top: 14px;
}

.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-today.wk_em_fc-content:after {
	color: #b02c42;
}

.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-content:hover:after{
	color: #F7A61F; /* Changed By Ninad ORG Value = #F7A61F;  */ 
}

.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-today.wk_em_fc-content:hover:after{
	color: #fff;
}

.wk_em_fc-calendar .wk_em_fc-row > div > div a,
.wk_em_fc-calendar .wk_em_fc-row > div > div span {
	display: none;
	font-size: 22px;
}

@media screen and (max-width:767px){
/* .wk_em_custom-header {padding: 0px 7px 7px 14px;height: 32px;} */
.wk_em_custom-calendar-wrap {margin: 4px auto;}



}
@media screen and (max-width: 400px) {
	.wk_em_fc-calendar-container {
		height: 300px;
	}.wk_em_fc-calendar .wk_em_fc-row > div.wk_em_fc-content:after {top: 28px;color: #eb4517 /* Changed By Ninad ORG Value = #eb4517;  */ !important;}
	.headingBox{margin-bottom: 42px;}
	.wk_em_fc-calendar .wk_em_fc-row > div > span.wk_em_fc-date {
		font-size: 15px;
	}
	.wk_em_custom-header h2 {
	width: 55%;}
}