<?php
	/*$collection = Mage::getModel('catalog/product')
                         ->getCollection()
						 ->addAttributeToSelect('name')
                         ->addAttributeToSort('name', 'ASC')
						 ->getData();*/
	$collection =	Mage::getModel('catalog/category')->load(253)
			 ->getProductCollection()
			 ->addAttributeToSelect('*') // add all attributes - optional
			 /*->addAttributeToFilter('status', 1) // enabled
			 ->addAttributeToFilter('visibility', 4)*/ //visibility in catalog,search
			 ->setOrder('name', 'ASC');
				//echo "<pre>";
				//print_r($collection);exit;
?>

<select id="type" class="input-text required-entry" onchange="isOtherPuja(this.value)" name="type">
	<option value="">Select type of Puja</option>
	<?php foreach ($collection as $key => $value): ?>
			<option value="<?php echo $value['sku']."_".$value['name'] ?>"><?php echo $value['name'] ?></option>
	<?php endforeach; ?>
	<option value="Other">Other</option>
</select>


