<?php
if($this->getRequest()->getParam("eid"))
	$GroupCode = $this->getEventgroupcodebyid($this->getRequest()->getParam("eid"));
else
	$GroupCode = $this->getEventmanagerGroupCode();
$GroupTitle = $this->getEventgrouptitle($GroupCode);
$eventdata = $this->getDataByGroupCode($GroupCode);
if($GroupCode == "home_eventmanager")
	$eventData = $this->getAllEvents();
else if($GroupCode == ""){
	$eventData = Mage::getModel("eventmanager/eventmanager")->getCollection()
		->addFieldToFilter("event_id",array("in" => $this->getRequest()->getParam("eid")));
}
else
	$eventData = $this->getAllEventsbyGroup($eventdata);
$u = $_SERVER["HTTP_USER_AGENT"];
$isIE9  = (bool)preg_match("/msie 9./i", $u )."c";
if($isIE9==1){ ?>
	<div class="ie9 wk_em_eventcont">
<?php  }
else{ ?>
	<div class="wk_em_eventcont"><?php 
}
	if($this->getRequest()->getParam("eid")){
		$event = Mage::getModel("eventmanager/eventmanager")->load($this->getRequest()->getParam("eid"));
		$cleareddatelatest = date_create($event->getEdate());
		$datelatest = date_format($cleareddatelatest, "F d,Y");		?>
		<span style="display:none;" class="wk_latesteventdate"><?php echo $datelatest?></span>
		<span style="display:none;" class="wk_latesteventtitle"><?php echo $event->getTitle() ?></span>
		<span style="display:none;" class="wk_latesteventcontent"><?php echo $event->getBody()?></span>
		<?php 
	}
	$data = "";
	$event_links = "";
	foreach($eventData as $event){
		if($event->getStatus()==1)	{
			$time=$event->getEdate();
			$cleareddate = date_create($time);
			$cleareddatenew = date_format($cleareddate, "m-d-Y");
			$data = $data."'".$cleareddatenew."':'<div class=\'wk_em_eventdetail\'><span class=\'wk_eventtitlenew\'>".$event->getTitle()."</span><div class=\'wk_eventdetailnew\'>".addslashes($event->getBody())."</div></div>',";
			$event_links = $event_links . "'" . $cleareddatenew . "':'" . $event->getLink() . "',";
		}
	}
	$data = trim(preg_replace("/\s\s+/","",$data));	?>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('wk_evtmgr/css/calendar.css') ?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('wk_evtmgr/css/custom_2.css') ?>"/>
	<div class="container">
		<div>
			<h1 class="headingcont" style="padding:2px 9px;">
<?php		if($GroupTitle)
				echo $GroupTitle;
			else
				echo $this->__("Event Calender "); ?>
			</h1>
		</div>
		<section class="wk_em_main">
			<div class="wk_em_custom-calendar-wrap">
				<div id="wk_em_custom-inner" class="wk_em_custom-inner">
					<div class="wk_em_custom-header wk_em_clearfix">
						<span>
							<span id="wk_em_custom-prev" class="wk_em_custom-prev"></span>
							<span id="wk_em_custom-next" class="wk_em_custom-next"></span>
						</span>
						<h2 id="wk_em_custom-month" class="wk_em_custom-month"></h2>
						<h3 id="wk_em_custom-year" class="wk_em_custom-year"></h3>
					</div>
					<div id="wk_em_calendar" class="wk_em_fc-calendar-container"></div>
				</div>
			</div>
		</section>
	</div>
</div>
<script type="text/javascript">
	if (typeof jQuery == "undefined")	{
		document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('wk_evtmgr/jquery/modernizr.custom.63321.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('wk_evtmgr/jquery/jquery.calendario.js') ?>"></script>
<script type="text/javascript">
	$js=jQuery.noConflict();
	$js(function() {
		var codropsEvents={<?php echo $data?>};
		var eventLinks = {<?php echo $event_links; ?>};
		var transEndEventNames = {
			"WebkitTransition" : "webkitTransitionEnd",
			"MozTransition" : "transitionend",
			"OTransition" : "oTransitionEnd",
			"msTransition" : "MSTransitionEnd",
			"transition" : "transitionend"
		},
		transEndEventName = transEndEventNames[ Modernizr.prefixed( "transition" ) ],
		$wrapper = $js( "#wk_em_custom-inner" ),
		$calendar = $js( "#wk_em_calendar" ),
		cal = $calendar.calendario({
			onDayClick : function( $el, $contentEl, dateProperties ) {
				if( $contentEl.length > 0 ) {
					if ($contentEl.html() != '') {
						window.location.href = $contentEl.html();
					}
					//showEvents( $contentEl, dateProperties );
				} else {
					var day = ("0" + dateProperties.day).slice("-2");
					var month = ("0" + dateProperties.month).slice("-2");
					window.location.href = '/myevent?occasion_on=' + dateProperties.year + "-" + month + "-" + day;
				}
			},
			caldata : codropsEvents,
			eventlinks : eventLinks,
			displayWeekAbbr : true
		}),
		$month = $js( "#wk_em_custom-month" ).html( cal.getMonthName() ),
		$year = $js( "#wk_em_custom-year" ).html( cal.getYear() );
		$js( "#wk_em_custom-next" ).on( "click", function() {
			cal.gotoNextMonth( updateMonthYear );
		} );
		$js( "#wk_em_custom-prev" ).on( "click", function() {
			cal.gotoPreviousMonth( updateMonthYear );
		} );
		if("<?php echo $this->getRequest()->getParam('eid')?>"){
			showlatestEvents( $js(".wk_latesteventdate").text(),$js(".wk_latesteventtitle").text(),$js(".wk_latesteventcontent").html());
		}

		function updateMonthYear() {
			$month.html( cal.getMonthName() );
			$year.html( cal.getYear() );
		}

		function showlatestEvents( dateProperties,title,content) {
			hideEvents();			
			var $events = $js( "<div id='wk_em_custom-content-reveal' class='wk_em_custom-content-reveal'>"+"<?php echo $this->__('Events for '); ?>"+dateProperties+"<h4 class='wk_eventheading'></h4></div>" ),
			$close = $js( "<span class='wk_em_custom-content-close'></span>" ).on( "click", hideEvents );
			$events.append( 
					jQuery("<div/>").addClass("wk_em_eventdetail")
					.append(jQuery("<span/>").addClass("wk_eventtitlenew").text(title))
					.append(jQuery("<div/>").addClass("wk_eventdetailnew").html(content))
					, $close 
				)
				.insertAfter(".wk_em_custom-inner");
			setTimeout( function() {
				$events.css( "top", "0%" );
			}, 25 );
		}

		function showEvents( $contentEl, dateProperties ) {
			hideEvents();
			var $events = $js( "<div id='wk_em_custom-content-reveal' class='wk_em_custom-content-reveal'><h4 class='wk_eventheading'>"+"<?php echo $this->__('Events for '); ?>" + dateProperties.monthname + ' ' + dateProperties.day + ', ' + dateProperties.year+"</h4></div>" ),
				$close = $js( "<span class='wk_em_custom-content-close'></span>" ).on( "click", hideEvents );
			$events.append( $contentEl.html() , $close ).insertAfter( $wrapper );
			setTimeout( function() {
				$events.css( "top", "0%" );
			}, 25 );
		}

		function hideEvents() {
			var $events = $js( "#wk_em_custom-content-reveal" );
			if( $events.length > 0 ) {
				$events.css( "top", "100%" );
				Modernizr.csstransitions ? $events.on( transEndEventName, function() { $js( this ).remove(); } ) : $events.remove();
			}
		}
	});
</script>