<div class="block">
	<div class="block-title">
		<strong>
			<!--<span><?php echo $this->getTitle() ?></span>-->
			<span><?php echo $this->__("Upcoming Events"); ?></span>
		</strong>
	</div>
    <div class="block-content" style="height: 200px !important;">
<?php 	$collections = $this->getCollection(); ?>		
<?php 	if($collections->getSize()){ 
			
			foreach($collections as $event){ ?>
				<p class="empty">
					<strong>
						<span><?php echo date('d/m/Y', strtotime($event->getEdate())) ?></span>
					</strong>
					<!--<a style="float:right;"href="<?php echo Mage::getBaseUrl()."eventmanager?eid=".$event->getId() ?>">-->
					<a style="float:right;" href="<?php echo $event->getLink(); ?>">
						<span><?php echo $event->getTitle() ?></span>
					</a>					
				</p>
<?php 		}
		}
		echo $this->getPagerHtml();	
		?>
		<p class="block-subtitle">
			<a href="<?php echo Mage::getBaseUrl()."eventmanager" ?>"><?php echo $this->__("View Event Calender"); ?></a>
			<!--<?php echo $this->__("No upcoming events"); ?>-->
		</p>
	</div>
</div>