<?php if (Mage::getStoreConfigFlag('mdloption/item_view/ajaxdownslide')): ?>
<?php 
$productListMode = Mage::getStoreConfig('catalog/frontend/list_mode');
if ($productListMode == 'grid-list')
	$productListMode = 'grid';
elseif ($productListMode == 'list-grid')
	$productListMode = 'list';

if ($this->getRequest()->getParam('mode')) {
	if($this->getRequest()->getParam('mode') == 'grid')
		$productListMode = 'grid';
	else
		$productListMode = 'list';
}
?>
<script type="text/javascript">
jQuery(document).ready(function(){
jQuery.mdl({
	container : '.category-products',
	<?php if ($productListMode == 'grid'): ?>
	item: '.products-grid',
	<?php else: ?>
	item: '.products-list',
	<?php endif; ?>
	pagination: '.toolbar .pager',
	next: '.next',
	loader: '<img src="<?php echo($this->getSkinUrl('images/loading.gif')); ?>" alt="<?php echo __('Loading'); ?>" /> '
});
});
</script>
<?php endif; ?>
