<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Namaste, {{htmlescape var=$order.getCustomerName()}}</h1>
                    <p style="font-size:12px; line-height:16px; margin:0;">
                        We, Where’s My Pandit, thank you for placing the order. You will get a call and message from us shortly to inform you about the service / product you have availed.
                    </p><br/>
                    <p style="font-size:12px; line-height:16px; margin:0;">
                        If you have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or call us at <span class="nobr">{{config path='general/store_information/phone'}}</span>. We work from Monday - Friday, 9am - 8pm IST and Saturday, 9am – 5pm IST.
                    </p><br/>
                    <p style="font-size:12px; line-height:16px; margin:0;">
                        Your order confirmation is below and all the details regarding your order are as follows: 
                    </p><br/>
            </tr>
            <tr>
                <td>
                    <h2 style="font-size:18px; font-weight:normal; margin:0;">Your Order No. is #{{var order.increment_id}} <small>(placed on {{var order.getCreatedAtFormated('long')}})</small></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                        <tr>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Order Billing Details:</th>
                            <th width="10"></th>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Payment Method:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.getBillingAddress().format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                        <tr>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Shipping / Service Address:</th>
                            <th width="10"></th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.getShippingAddress().format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <!--<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.getShippingDescription()}}
                                &nbsp;
                            </td> -->
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}
                    {{layout handle="sales_email_order_items" order=$order}}
                    {{var items_html}}
                    <p style="font-size:12px; margin:0 0 10px 0">{{var order.getEmailCustomerNote()}}</p>
                    <center><p style="font-size:12px; margin:0 10px 10px 0;">Inclusive of all applicable taxes.</p></center>
                </td>
            </tr>
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
            <tr></tr>
             <tr style='font-size: 11px; line-height: 30px; text-align: center; font-family: Arial,Helvetica,sans-serif;'>
                <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/phone.png}}" style="vertical-align: text-bottom; padding-right: 3px;" /><span class="footer_labels">{{config path='general/store_information/phone'}}</span></td>
                <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/mail.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><span class="footer_labels">panditji@wheresmypandit.com</span></td>
                <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/web.png}}"  style="vertical-align: text-bottom; padding-right: 3px;" /><span class="footer_labels">www.wheresmypandit.com</span></td>
                <td  width="25%" style="display: inline; vertical-align: baseline;padding-right:6px;"><img alt="" src="{{skin url=images/custom/facebook.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><img alt="" src="{{skin url=images/custom/twitter.png}}"  style="vertical-align: text-bottom; padding-right: 3px;"  /><span class="footer_labels">/wheresmypandit</span></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>