<?php
    $_productCollection=$this->getLoadedProductCollection();
    $columnCount = mdlList('column_count');
    $this->setColumnCount($columnCount);
    $_helper = $this->helper('catalog/output');   
?>
<!--code start-->

<!--If products are not available-->

<?php if(!$_productCollection->count()): ?>

<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>

<!--condition end-->

<?php else: ?>
<?php $config = Mage::getStoreConfig('mdloption/item_view');?>
<div class="category-products f-block">
  <?php if($config['flip_view']==1 && $config['list_flip_view_style']==2):?>
  <?php $flipviewStyleL='fadeView'; ?>
  <?php endif; ?>
  <!--Toolbar--> 
  
  <?php echo $this->getToolbarHtml() ?> 
  
  <!--end Toolbar--> 
  
  <!--List View-->
  
  <?php if($this->getMode()!='grid'): ?>
  <?php $_iterator = 0; ?>
  <?php $imgSize = 192; ?>
  <ol class="products-list" id="products-list">
   <?php foreach ($_productCollection as $_product): ?>
			<li class="item<?php if( ++$_iterator == sizeof($_productCollection) ):?> last<?php endif; ?> firstView">
				<div class="itemInner <?php echo $flipviewStyleL; ?>">
        	
             	<!--Badge view-->
                    <div class="badge">
					  <?php if($_product->getData('new')){echo '<span class="new"><b>'. $_product->getAttributeText('new').'</b><strong>'.$this->__('new').'</strong></span>';  }?>
                      <?php if($_product->getData('sale')){echo '<span class="sale"><b>'. $_product->getAttributeText('sale').'</b><strong>'.$this->__('sale').'</strong></span>';  }?>
                    </div>
                <!--end badge view-->
                
                <!--Images and price container-->
                    
                   <?php if($config['flip_view']==1):?>
                   <div class="proImage <?php echo $flipviewStyleL; ?> flipView">
                        <a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
                        <span class="face"><img class="front-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"  /></span>
                        <span class="back-img face back">
                            <img class="hoverImg" src="<?php echo Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(250,300); ?>" 
                            alt="<?php echo $this->htmlEscape($_product['name']); ?>" border="0" />
                        </span> 
                        </a>
                        </div>
                        <?php else: ?>
                        	<div class="proImage">
                            <a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /> 
                            </a>
                            </div>
                    <?php endif; ?>
                    
				<!--End images and price container--> 
                
                
                <!--Product detail container-->              
                	<div class="bottomProDetail">
                	<div class="span7">
                    <h2 class="product-name"> 
                    	<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"> 
							<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> 
                        </a> 
                    </h2>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product) ?>
                    <?php endif; ?>
                    <div class="desc std">
                        <p><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></p>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="btn-cart"><?php echo $this->__('Read More') ?></a>
                    </div>
					</div>
                    <div class="span5">
                    <!--Price-->  
                        <?php echo $this->getPriceHtml($_product, true, '-right') ?>
                    <!--End price-->  
					
                    <div class="proAction">
                    	<!--Quick view-->
							  <?php if($config['itemviewbox_quick_view']==1):?>
								  <?php if($_product->isSaleable()): ?>
									  <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
                                      <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                      <?php else: ?>
                                      <a title="<?php echo $this->__('Add to Cart') ?>" rel="tooltip" data-placement="top" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox btn-cart' id='fancybox<?php echo $_product->getId();?>'><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                                      <?php endif; ?>
                                  <?php else: ?>
                                  	   <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php else: ?>
								  <?php if($_product->isSaleable()): ?>
                                  <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart f-right" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><i class="fa fa-shopping-cart"></i><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                  <?php else: ?>
                                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php endif; ?>
                         <!--end quick view-->
                         
                         <!--Comapare
                         <?php //if($_product->isSaleable()): ?>
							 <?php// if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                             	  <div class="link-row"><a title="Add To Compare" href="#" onclick="setLocation('<?php// echo $_compareUrl?>','<?php //echo $_product->getId()?>'); return false;" class=""><?php //echo $this->__('Add to Compare') ?></a>	</div>
                             <?php //endif; ?>
                         <?php //endif; ?>    
                         <!--End comapare-->
                          
                          <!--wishlist-->
							  <?php if ($this->helper('wishlist')->isAllow()) : ?>
                              <div class="link-row"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="">Add to Wishlist</a></div>
                              <?php endif; ?> 
                          <!--End wishlist-->
                          
                          <!--Quick view icon-->
							  <?php if($config['itemviewbox_quick_view']==1):?>
                              <div class="link-row"><a  rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox' id='fancybox<?php echo $_product->getId();?>'>Quick View</i></a>
                              <?php endif; ?>
                          <!--End quick view icon-->
                    </div>
                    </div>
                </div>
                <!--End product detail container-->     
        </div>
        </div> 
      </li>
       <?php endforeach; ?>
  </ol>
  <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
  <?php else: ?>
  
  <!--end List View-->
  
  <?php $_collectionSize = $_productCollection->count() ?>
  <?php 
        $_columnCount = $this->getColumnCount(); 
		if($_columnCount == 4){
		$listWidth = 'span3';
        $imgSize = 155;
        }elseif($_columnCount == 3){
			$listWidth = 'span4';
            $imgSize = 245;
      } 
    ?>
  
  <!--Grid view-->
  
  <?php $i=0; foreach ($_productCollection as $_product): ?>
  <?php if ($i++%$_columnCount==0): ?>
  <ul class="products-grid itemPro">
   <?php endif; ?>
  
   
   	  <?php if($config['itemviewbox']!=1):?>
  	  <!--First view-->
      	<li class="item <?php if(($i-1)%$_columnCount==0): ?> first <?php elseif($i%$_columnCount==0): ?> last <?php endif; ?><?php echo $listWidth ?>">
        	<div class="itemInner">
        	
             	<!--Badge view-->
                    <div class="badge">
					  <?php if($_product->getData('new')){echo '<span class="new"><b>'. $_product->getAttributeText('new').'</b><strong>'.$this->__('new').'</strong></span>';  }?>
                      <?php if($_product->getData('sale')){echo '<span class="sale"><b>'. $_product->getAttributeText('sale').'</b><strong>'.$this->__('sale').'</strong></span>';  }?>
                    </div>
                <!--end badge view-->
                
                <!--Images and price container-->
                    <div class="proImage <?php echo $flipviewStyleL; ?> flipView">
                   <?php if($config['flip_view']==1):?>
                        <a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
                        <span class="face"><img class="front-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"  /></span>
                        <span class="back-img back face">
                            <img class="hoverImg" src="<?php echo Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(250,300); ?>" 
                            alt="<?php echo $this->htmlEscape($_product['name']); ?>" border="0" />
                        </span> 
                        </a>
                        
                        <?php else: ?>
                            <a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /> 
                            </a>
                    <?php endif; ?>
                    <!--Price-->  
                        <?php echo $this->getPriceHtml($_product, true, '-right') ?>
                    <!--End price-->  
                    </div>
				<!--End images and price container--> 
                
                
                <!--Product detail container-->              
                	<div class="bottomProDetail">
                	<h2 class="product-name"> 
                    	<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"> 
							<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> 
                        </a> 
                    </h2>
                    
                    <div class="proAction">
                    	<!--Quick view-->
							  <?php if($config['itemviewbox_quick_view']==1):?>
								  <?php if($_product->isSaleable()): ?>
									  <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
                                      <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                      <?php else: ?>
                                      <a title="<?php echo $this->__('Add to Cart') ?>" rel="tooltip" data-placement="top" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox btn-cart' id='fancybox<?php echo $_product->getId();?>'><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                                      <?php endif; ?>
                                  <?php else: ?>
                                  	   <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php else: ?>
								  <?php if($_product->isSaleable()): ?>
                                  <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                  <?php else: ?>
                                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php endif; ?>
                         <!--end quick view-->
                         <span class="button-separator">
                         <!--Comapare-->
                         <!-- <?php //if($_product->isSaleable()): ?>
							 <?php //if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                  <a title="Add To Compare" href="javascript:void(0);" class="w-btn" onclick="setLocation('<?php //echo $_compareUrl?>','<?php //echo $_product->getId()?>'); return false;" > 
                                        <i class="fa fa-signal"></i> 
                                  </a>
                             <?php // endif; ?>
                         <?php //endif; ?>  -->  
                         <!--End comapare-->
                          
                          <!--wishlist-->
							  <?php if ($this->helper('wishlist')->isAllow()) : ?>
                              <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="w-btn">
                                 <i class="fa fa-heart"></i>
                              </a>
                              <?php endif; ?>
                          <!--End wishlist-->
                          
                          <!--Quick view icon-->
							  <?php if($config['itemviewbox_quick_view']==1):?>
                              <a  rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox w-btn' id='fancybox<?php echo $_product->getId();?>'><i class="fa fa-search"></i></a>
                              <?php endif; ?>
                          <!--End quick view icon-->
                          </span>
                    </div>
                </div>
                <!--End product detail container-->     
        </div>
        </li>
  	  <!--End first view-->
      <?php else: ?>
        <li class="item <?php if(($i-1)%$_columnCount==0): ?> first <?php elseif($i%$_columnCount==0): ?> last <?php endif; ?><?php echo $listWidth ?> secView">
        	<div class="itemInner">
        	
             	<!--Badge view-->
                    <div class="badge">
					  <?php if($_product->getData('new')){echo '<span class="new"><b>'. $_product->getAttributeText('new').'</b><strong>'.$this->__('new').'</strong></span>';  }?>
                      <?php if($_product->getData('sale')){echo '<span class="sale"><b>'. $_product->getAttributeText('sale').'</b><strong>'.$this->__('sale').'</strong></span>';  }?>
                    </div>
                <!--end badge view-->
                
                <!--Images and price container-->
                    <div class="proImage <?php echo $flipviewStyleL; ?> flipView">
                   <?php if($config['flip_view']==1):?>
                        <a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
                        <span class="face"><img class="front-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"  /></span>
                        <span class="back-img face back">
                            <img class="hoverImg" src="<?php echo Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(250,300); ?>" 
                            alt="<?php echo $this->htmlEscape($_product['name']); ?>" border="0" />
                        </span> 
                        </a>
                        
                        <?php else: ?>
                            <a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /> 
                            </a>
                    <?php endif; ?>
                    <div class="image-action">
  
                         <!--Comapare
                         <?php //if($_product->isSaleable()): ?>
							 <?php //if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                  <a title="Add To Compare" href="javascript:void(0);" class="w-btn" onclick="setLocation('<?php //echo $_compareUrl?>','<?php// echo $_product->getId()?>'); return false;" > 
                                        <i class="fa fa-signal"></i> 
                                  </a>
                             <?php //endif; ?>
                         <?php// endif; ?>    
                         <!--End comapare-->
                          
                          <!--wishlist-->
							  <?php if ($this->helper('wishlist')->isAllow()) : ?>
                              <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="w-btn">
                                 <i class="fa fa-heart"></i>
                              </a>
                              <?php endif; ?>
                          <!--End wishlist-->
                          
                          <!--Quick view icon-->
							  <?php if($config['itemviewbox_quick_view']==1):?>
                              <a  rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox w-btn' id='fancybox<?php echo $_product->getId();?>'><i class="fa fa-search"></i></a>
                              <?php endif; ?>
                          <!--End quick view icon-->
                    </div>
                    </div>
				<!--End images and price container--> 
                
                
                <!--Product detail container-->              
                	<div class="bottomProDetail">
                	<h2 class="product-name"> 
                    	<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"> 
							<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> 
                        </a> 
                    </h2>
                    <!-- Rating -->
                        <?php echo $this->getReviewsSummaryHtml($_product, "short", true)?>
                    <!-- End rating -->
                    <!--Price-->  
                        <?php echo $this->getPriceHtml($_product, true, '-right') ?>
                    <!--End price-->  
                    <div class="proAction">
                    	<!--Quick view-->
							  <?php if($config['itemviewbox_quick_view']==1):?>
								  <?php if($_product->isSaleable()): ?>
									  <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
                                      <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                      <?php else: ?>
                                      <a title="<?php echo $this->__('Add to Cart') ?>" rel="tooltip" data-placement="top" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox btn-cart' id='fancybox<?php echo $_product->getId();?>'><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                                      <?php endif; ?>
                                  <?php else: ?>
                                  	   <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php else: ?>
								  <?php if($_product->isSaleable()): ?>
                                  <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                  <?php else: ?>
                                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php endif; ?>
                         <!--end quick view-->
                       
                    </div>
                </div>
                <!--End product detail container-->     
        	</div>
        </li>
      <?php endif;?>
    	
    <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
  </ul>
  <?php endif ?>
  <?php endforeach ?>
  <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
  <?php endif; ?>
  <div class="toolbar-bottom"> <?php echo $this->getToolbarHtml() ?> </div>
</div>
<?php endif; ?>
