<?php
	$collection = Mage::getResourceModel("bookingsystem/bookingsystem_collection")->addFieldToFilter("proid",$this->getRequest()->getParam("id"))->getData();
	$booking_details = $collection[0];
 	$action_name = Mage::app()->getRequest()->getActionName();
 	$attribute_set_val = $this->getRequest()->getParam("set");
		if($action_name == "new" && $attribute_set_val == "")
			echo "<style>#product_info_tabs_BookingSystem{display:none;}</style>";		?>
<script type="text/javascript">
	if (typeof jQuery == "undefined")	{
   		 document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script>
<style type="text/css">
	.validation-failed,.validation-advice{float: left;}
</style>
<link rel="stylesheet" type="text/css" href="<?php echo Mage::getDesign()->getSkinUrl('bookingsystem/css/bs_admin.css',array('_area'=>'frontend')); ?>"/>
<div class="wk_bs_container">
	<div class="wk_bs_type">
		<input type="hidden" id="booking_type" value="" name="booking_type"></input>
		<div class="wk_bs_drop_container">
			<div class="wk_bs_opening_text">Please Select Booking Type</div>
			<span class="wk_bs_caret"></span>
			<div class="wk_bs_dropdown">				
				<span class="wk_bs_options" id="0">Disable</span>
				<span class="wk_bs_options" id="1">Many Booking in a day</span>
				<span class="wk_bs_options" id="2">One booking for many days</span>
			</div>
		</div>
	</div>
	<div style="padding:3px;margin-bottom:5px;border:2px dotted rgb(226, 226, 226);"></div>
	<div id="wk_bs_form"></div>
</div>
<script type="text/javascript">
	jQuery.noConflict();
	var start_label = ["<?php echo $this->__('Sunday Start Time'); ?>","<?php echo $this->__('Monday Start Time'); ?>","<?php echo $this->__('Tuesday Start Time'); ?>","<?php echo $this->__('Wednesday Start Time'); ?>","<?php echo $this->__('Thursday Start Time'); ?>","<?php echo $this->__('Friday Start Time'); ?>","<?php echo $this->__('Saturday Start Time'); ?>"];
	var end_label = ["<?php echo $this->__('Sunday End Time'); ?>","<?php echo $this->__('Monday End Time'); ?>","<?php echo $this->__('Tuesday End Time'); ?>","<?php echo $this->__('Wednesday End Time'); ?>","<?php echo $this->__('Thursday End Time'); ?>","<?php echo $this->__('Friday End Time'); ?>","<?php echo $this->__('Saturday End Time'); ?>"];
	var open = "<?php echo $this->__('open'); ?>";
	var closed = "<?php echo $this->__('closed'); ?>";
	var from_text = "<?php echo $this->__('Select From Date'); ?>";
	var to_text = "<?php echo $this->__('Select To Date'); ?>";
	var time_slot_text = "<?php echo $this->__('Booking Time Slot'); ?>";
	var hint_text = "<?php echo $this->__('in minutes'); ?>";
	var saved_data = [{"booking_type":"<?php echo $booking_details['booking_type']; ?>","datefrom":"<?php echo $booking_details['datefrom']; ?>","dateto":"<?php echo $booking_details['dateto']; ?>","timeslot":"<?php echo $booking_details['timeslot']; ?>","cache_time":"<?php echo $booking_details['cache_time']; ?>","proid":"<?php echo $booking_details['proid']; ?>","suns":"<?php echo $booking_details['suns']; ?>","sune":"<?php echo $booking_details['sune']; ?>","mons":"<?php echo $booking_details['mons']; ?>","mone":"<?php echo $booking_details['mone']; ?>","tues":"<?php echo $booking_details['tues']; ?>","tuee":"<?php echo $booking_details['tuee']; ?>","weds":"<?php echo $booking_details['weds']; ?>","wede":"<?php echo $booking_details['wede']; ?>","thus":"<?php echo $booking_details['thus']; ?>","thue":"<?php echo $booking_details['thue']; ?>","fris":"<?php echo $booking_details['fris']; ?>","frie":"<?php echo $booking_details['frie']; ?>","sats":"<?php echo $booking_details['sats']; ?>","sate":"<?php echo $booking_details['sate']; ?>"}];
	saved_data = saved_data[0];
	var otm_from = JSON.parse('<?php echo json_encode(unserialize($booking_details["otm_from"])); ?>');
	var otm_to = JSON.parse('<?php echo json_encode(unserialize($booking_details["otm_to"])); ?>');
</script>
<script type="text/javascript" src="<?php echo Mage::getDesign()->getSkinUrl('bookingsystem/js/admin_js.js',array('_area'=>'frontend')); ?>"></script>