<section class="f-fix latest-news">
  <div class="container">
    <div class="headingBox">
      <h2><span><?php echo Mage::getStoreConfig('mdlblog/mdlblog/title');?></span></h2>
    </div>
    <?php 
 $posts = $this->getPosts();
 $numberofpost = Mage::getStoreConfig('mdlblog/mdlblog/numCount');
 $jcarousel_status = Mage::helper('mdlblog')->getJcarousel(); 
	if($jcarousel_status==1){
?>
    
    <div class="jcarousel-wrapper">
      <div class="jcarousel scrollerBlog">
        <ul>
          <?php $i=1; foreach ($posts as $post):
								if($i<=$numberofpost) {
						 ?>
          <li> <a class="" href="<?php echo $post->getAddress()?>">
		  <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $post->getBlogimage(); ?>" alt="" width="100%"/>
<!--		  <img src="<?php //echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $post->getBlogthumb(); ?>" alt=""  />-->
		  </a>
            <h2><?php echo $post->getTitle(); ?></h2>
            <h3><i class="fa fa-calendar"></i> <?php echo date('M d, Y', strtotime($post->getCreatedTime())); ?><span>/</span><i class="fa fa-comments-o"></i> <a class="" href="<?php echo $post->getAddress()?>">Comments (<?php echo $this->getCommentsCount($post->getId()) ?>)</a></h3>
            <?php 
			   $desc = $post->getPostContent();
			   $text = substr($desc,0,150);
			   //echo $text; 
			  ?>
            ...
            <div class="f-block">
              <author class="f-left"><i class="fa fa-user"></i> <?php echo $post->getUser(); ?></author>
              <a class="magic-mdlblog-read-more f-right" href="<?php echo $post->getAddress()?>"><?php echo $this->__('Read More')?></a> </div>
          </li>
          <?php $i++; } endforeach; ?>
        </ul>
      </div>
      <a href="#" class="jcarousel-control-prev prevBlog"><i class="fa fa-angle-left"></i></a> <a href="#" class="jcarousel-control-next nextBlog"><i class="fa fa-angle-right"></i></a> </div>
    <?php } else { ?>
    <ul class="all-news">
      <?php $i=1; foreach ($posts as $post):
									if($i<=$numberofpost) {
						 ?>
      <li> <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $post->getBlogimage(); ?>" alt="" width="100%"/>
        <h2><?php echo $post->getTitle(); ?></h2>
        <h3><i class="fa fa-calendar"></i> <?php echo date('M d, Y', strtotime($post->getCreatedTime())); ?><span>/</span><i class="fa fa-comments-o"></i>
          <?php $this->__('Comments') ?>
          (<?php echo $this->getCommentsCount($post->getId()) ?>)</h3>
        <?php 
									   $desc = $post->getPostContent();
									   $text = substr($desc,0,250);
									   //echo $text; 
									  ?>
        <div class="f-block">
          <author class="f-left"><i class="fa fa-user"></i> <?php echo $post->getUser(); ?></author>
          <a class="magic-mdlblog-read-more f-right" href="<?php echo $post->getAddress()?>"><?php echo $this->__('Read More')?></a> 
		  </div>
      </li>
      <?php $i++; } endforeach; ?>
    </ul>
    <?php } ?>
    <?php
	
?>
  </div>
</section>
<script type="text/javascript">
			(function($) {
				$(function() {
				var scrollerBlog = $('.scrollerBlog');
			
					scrollerBlog
						.on('jcarousel:reload jcarousel:create', function () {
							var width = scrollerBlog.innerWidth();
			
							if (width >= 960) {
								width = width / 4;
							} else if (width >= 600) {
								width = width / 2;
							} else if (width >= 350) {
								width = width / 1;
							}
			
							scrollerBlog.jcarousel('items').css('width', width + 'px');
						})
						
						$('.scrollerBlog').jcarousel({
							wrap: 'both'
						});
						
						
					$('.prevBlog')
						.jcarouselControl({
							target: '-=1'
						});
			
					$('.nextBlog')
						.jcarouselControl({
							target: '+=1'
						});
				});
			})(jQuery);			
		</script>
