<!-- Service Section Below the Banner Starts -->
<div class="seasonContainer">
  <a href="indian-wedding-season">
    <div class="seasonBox seasonBox1" style="background: url('<?php echo $this->getSkinUrl('css/wmplatest/img/s1.jpg') ?>')no-repeat center center"> 
      <div class="sesText">
        <h2>Indian <span>Wedding Season</span></h2>
      </div>
    </div>
  </a>
  <a href="yatra-registration-form">
    <div class="seasonBox seasonBox2" style="background: url('<?php echo $this->getSkinUrl('css/wmplatest/img/s2.jpg') ?>')no-repeat center center"> 
      <div class="sesText">
        <h2>Yatra <span>And<br/> Tirth</span></h2>
      </div>
    </div>
  </a>
  <a href="puja-samagri">
    <div class="seasonBox seasonBox3" style="background: url('<?php echo $this->getSkinUrl('css/wmplatest/img/s3.jpg') ?>')no-repeat center center"> 
      <div class="sesText"> 
        <h2>Exclusive <span>Puja Samagri</span></h2>
      </div>
    </div>
  </a>
  <a href="rudrabhishek-puja">
    <div class="seasonBox seasonBox4" style="background: url('<?php echo $this->getSkinUrl('css/wmplatest/img/Rudrabhishek_Puja.jpg') ?>')no-repeat center center"> 
      <div class="sesText"> 
        <h2>Rudra Abhishek <span>Puja</span></h2>
      </div>
    </div>
  </a>
</div>
<!-- Service Section Below the Banner Ends -->