<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>
</div>

<?php echo $this->getChildHtml('magic_mdlblog_comments_toolbar'); ?>
<?php

$post_array = array();foreach($posts as $post){
	$post_array[] = $post;		
}//$result = count($post_array);//echo $result;
$post_count = Mage::getStoreConfig('mdlblog/bloglist/bloglistoption'); ;
$post_chunk = array_chunk($post_array, $post_count);
foreach($post_chunk as $posts):
?>
<ul class="blogListStyle<?php echo$post_count?>">
<?php
 foreach ($posts as $post): ?>
    <li class="postWrapper blog-list">
		<h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
        <div class="postContent">
			<div class="f-block"><a href="<?php echo $post->getAddress(); ?>" ><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $post->getBlogimage(); ?>" alt="" width="100%"/></a></div>
			<div class="f-block">
            	<div class="post-left">
                	<div class="date-block"><span><?php echo date('M', strtotime($post->getCreatedTime())); ?></span><?php echo date('d', strtotime($post->getCreatedTime())); ?></div>
                    <div class="blog-comment">
                    	<div class="f-block"><i class="fa fa-comments"></i></div>
						<?php if ($this->getCommentsEnabled()): ?>
                        <span class="comment-count">
                        <?php if($post->getCommentCount()) { ?> <?php echo $post->getCommentCount(); ?> <?php } else { echo '0 '; } ?></span> <a href="<?php echo $post->getAddress(); ?>#commentBox" >Comments</a>
                        <?php endif; ?>
                    </div>
                </div>
                
                <?php if((Mage::getStoreConfig('mdlblog/bloglist/useshortcontent')==1)):?>
                	 <?php 
					   $desc = $post->getPostContent();
					   $text = substr($desc,0,250);
					   //echo $text; 
					  ?>
				  
                <?php endif?>

        <?php echo $this->getBookmarkHtml($post) ?>
             <div class="postDetails">
            <?php $postCats = $post->getCats(); ?>
            <?php if (!empty($postCats)): ?>
                <?php echo Mage::helper('mdlblog')->__('Posted in'); ?>
                <?php foreach ($postCats as $data): ?>
                    <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a> | 
                <?php endforeach; ?>
            <?php else: ?>
                <?php echo Mage::helper('mdlblog')->__('Posted'); ?>
            <?php endif; ?><?php echo $this->__(" By"); ?> <?php echo $post->getUser(); ?></div>
             </div>
		</div>
    </li>
<?php endforeach; ?>
</ul>
<?php endforeach; ?>
<?php echo $this->getChildHtml('magic_mdlblog_comments_toolbar'); ?>
