.wp_block_link {
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 7777777!important;
    background: #000;
    opacity: 0;
    -moz-opacity: 0; /* older Gecko-based browsers */
    filter:alpha(opacity=0); /* For IE6&7 */
}
.wp_block_html {
    position: relative;
    width:100%;
    height:100%;
}
.category-slider {
    margin-bottom: 10px;
}

.sp {
    display: block !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    clear: both !important;
}
