<script type="text/javascript">
(function($) {
    $(function() {
	var rightBanner = $('.rightBanner');

        rightBanner
            .on('jcarousel:reload jcarousel:create', function () {
                var width = rightBanner.innerWidth();

                if (width >= 600) {
                    width = width / 1;
                } else if (width >= 350) {
                    width = width / 1;
                }

                rightBanner.jcarousel('items').css('width', width + 'px');
            })
			
            $('.rightBanner').jcarousel({
				wrap: 'both'
			});
			
			
        $('.prevRightBanner')
            .jcarouselControl({
                target: '-=1'
            });

        $('.nextRightBanner')
            .jcarouselControl({
                target: '+=1'
            });
			
			
			 $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .on('click', function(e) {
                e.preventDefault();
            })
            .jcarouselPagination({
                perPage: 1,
                item: function(page) {
                    return '<a href="#' + page + '">' + page + '</a>';
                }
            });
    });
})(jQuery);			
</script>
<div class="block-banner block jcarousel">
     <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block-slide-right')->toHtml() ?>	
     <p class="jcarousel-pagination"></p>
</div>  