<?php
	Mage::getSingleton('core/session')->setPagerDisplay(0);
    $_productCollection=$this->getLoadedProductCollection();
    $columnCount = mdlList('column_count');
    $this->setColumnCount($columnCount);
    $_helper = $this->helper('catalog/output');   
    
    function mdlList ($mdlList) {
    	switch ($mdlList) {
    		case 'column_count':
    			return Mage::getStoreConfig('mdloption/item_view/column_count', Mage::app()->getStore()->getId());
    			break;
    	}
    }
    $wishlistProducts = array();
    $customer = Mage::getSingleton('customer/session')->getCustomer();  //Get Current user
	 if($customer->getId())
	{
	     $wishlist = Mage::getModel('wishlist/wishlist')->loadByCustomer($customer, true);  // Load Current user wishlist product collections
	     $wishListItemCollection = $wishlist->getItemCollection();
	     foreach ($wishListItemCollection as $witem)
	     {
	     	$wishlistProducts[] = $witem->getProduct()->getId();
	     	$whishListIds[$witem->getProduct()->getId()] = $witem->getId();
	     }
	}
?>
<!--code start-->

<!--If products are not available-->

<?php if(!$_productCollection->count()): ?>

<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>

<!--condition end-->

<?php else: ?>
<?php $config = Mage::getStoreConfig('mdloption/item_view');?>
<div class="category-products f-block">
  <?php if($config['flip_view']==1 && $config['list_flip_view_style']==2):?>
  <?php $flipviewStyleL='fadeView'; ?>
  <?php endif; ?>
  <!--Toolbar--> 
  
  <?php echo $this->getToolbarHtml();  ?> 
  
  <!--end Toolbar--> 
  
  <div class="prodMainBox">
            
 
              <!-- Product 1 -->
              <!-- Grid View -->
              <?php if($this->getMode()=='grid'): ?>
              	<?php $_collectionSize = $_productCollection->count() ?>
				  <?php 
				        $_columnCount = $this->getColumnCount(); 
						if($_columnCount == 4){
						$listWidth = 'span3';
				        $imgSize = 155;
				        }elseif($_columnCount == 3){
							$listWidth = 'span4';
				            $imgSize = 245;
				      } 
				    ?>
				    <div class="prodMainBoxIn transition">
				 <?php $i=0; foreach ($_productCollection as $_product): ?>
				 		<div class="prodBoxIn">
		                <div class="gridProView">
		                  <div class="price">
		                    <p>
		                    	<?php echo $this->getPriceHtml($_product, true, '') ?> <!-- Price In Grid View -->
		                    </p>
		                    <div class="eyePro">
		                      <a href="#"><i class="fa fa-eye"></i></a>
		                    </div> <!-- Quick view In Grid View -->
		                    <div class="heartPro">
		                      <?php if(in_array($_product->getId(), $wishlistProducts)):?>
		                      
		                      <a href="<?php echo $this->helper('wishlist')->getRemoveUrl($_product).'item/'.$whishListIds[$_product->getId()] ?>"><span class="heart"><i class="fa fa-heart-o"></i><i class="fa fa-heart" style="display:block "></i></span></a>
		                      <?php else:?>
		                      <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><span class="heart"><i class="fa fa-heart-o"></i><i class="fa fa-heart" style="display:none" ></i></span></a>
		                      <?php endif;?>
		                    </div> <!-- wishList In Grid View -->
		                  </div>
		                  <div class="prodImgIn">
		                    <a href="<?php echo $_product->getProductUrl() ?>">
		                    <img class="front-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(542,476); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"  />
		                    </a>                    
		                    <div class="gridCartBtn">
		                     
		                      <a title="<?php echo $this->__('Add to Cart') ?>" id='fancybox<?php echo $_product->getId();?>' href='<?php echo $this->getAddToCartUrl($_product) ?>' class="cart"><i class="fa fa-shopping-cart"></i> Add To Cart</a> <!-- Add to cart In Grid View -->
		                    </div>
		                  </div> <!-- Product Image -->
		                  <?php 
		                  $prodName = $_helper->productAttribute($_product, $_product->getName(), 'name');
		                  
		                  ?>
		                  <div class="prodDisc">
		                     <a title="<?php echo $prodName ?>" href="<?php echo $_product->getProductUrl() ?>" class="discprd">
		                     	<?php echo truncate($prodName, 60);?>
		                     </a>  <!-- Product Name -->
		                  </div>
		                </div>
		                </div>
				<?php endforeach;?>
				</div>
                <!-- List view -->
                 <?php else: ?>
                 	<div class="prodMainBoxIn transition  prodBoxInList">
                 	<?php foreach ($_productCollection as $_product): ?>
                 	<?php 
		                  $prodName = $_helper->productAttribute($_product, $_product->getName(), 'name');
		                  
		                  ?>
                 	<div class="prodBoxIn">
                 		<div class="gridProView" style="border: none;">
                 			<div class="prodImgIn" style="border: none;">
			                    <a href="<?php echo $_product->getProductUrl() ?>">
			                    <img class="front-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(542,476); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"  />
			                    </a>                    
			                    <div class="gridCartBtn">
			                     
			                      <a title="<?php echo $this->__('Add to Cart') ?>" id='fancybox<?php echo $_product->getId();?>' href='<?php echo $this->getAddToCartUrl($_product) ?>' class="cart"><i class="fa fa-shopping-cart"></i> Add To Cart</a> <!-- Add to cart In Grid View -->
			                    </div>
			                  </div> <!-- Product Image -->
                 		</div>
		                <div class="listViewBox" style="border-left:1px solid #a1a1a1">
							 
		                    <h2 onclick="location.href='<?php echo $_product->getProductUrl() ?>'" style="cursor: pointer;" title="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name')?>">
		                    	<?php echo truncate($prodName, 70);?>
		                    	 <span class="price_list"><p><?php echo $this->getPriceHtml($_product, true, '') ?></p></span></h2> <!-- Name and Price in List View --> 
		                    <p> <?php echo truncate($_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description'),100) ?> </p> <!-- Dicription in List View -->
		                    <div class="product_cart">
		                      <a href="<?php echo $this->getAddToCartUrl($_product) ?>"><i class="fa fa-shopping-cart"></i> add to cart</a>
		                    </div> <!-- Cart In List View -->
		                    <div class="product_wish">
		                      <?php if(in_array($_product->getId(), $wishlistProducts)):?>
		                      
		                      <a href="<?php echo $this->helper('wishlist')->getRemoveUrl($_product).'item/'.$whishListIds[$_product->getId()] ?>"><span class="heart"><i class="fa fa-heart-o"></i><i class="fa fa-heart" style="display:block "></i></span></a>
		                      <?php else:?>
		                      <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><span class="heart"><i class="fa fa-heart-o"></i><i class="fa fa-heart" style="display:none" ></i></span></a>
		                      <?php endif;?>
		                    </div> <!-- Wishlist In List View -->
		                    <div class="product_quickView">
		                      <a href="<?php echo $_product->getProductUrl() ?>"><i class="fa fa-eye"></i></a>
		                    </div>  <!-- Quick View In List View -->
		
		                </div>
		                </div>
	                <?php endforeach;?>
	                </div>
	             <?php endif;?>
               
              <!-- Product 1 Ends -->
 

            </div>
            <!-- Pagination -->

            <div id="list-pager-bottom-wmp" class="searchNavigation">
            
            </div>
            
           

          
  
</div>
<?php endif; ?>
<script>
	jQuery("#list-pager-bottom-wmp").html(jQuery("#list-pager-hidden").html());
	jQuery(".mobFilterBtn").click(function(){ 
		  jQuery(".prodContainer").css("transform","translatex(100%)") ; 
		  jQuery("header").css("transform","translatex(100%)") ; 
			jQuery(".mobFilterBtn").css("display","none") ;
		 });
		jQuery(".closeBtnFilter").click(function(){ 
		  jQuery(".prodContainer").css("transform","translatex(0)") ; 
		  jQuery("header").css("transform","translatex(0)") ; 
			jQuery(".mobFilterBtn").css("display","block") ;
		 });

		//jQuery('.fa-heart').fadeOut();
		jQuery(".heart").click(function(){
			jQuery(this).find(".fa-heart").fadeIn(500);
		});
</script>
<?php 
function truncate($str, $len) {
	$tail = max(0, $len-10);
	$trunk = substr(trim(strip_tags($str)), 0, $tail);
	$trunk .= strrev(preg_replace('~^..+?[\s,:]\b|^...~', '...', strrev(substr($str, $tail, $len-$tail))));
	return $trunk;
}
?>