<?php 
    $config = Mage::getStoreConfig('mdloption/homeproducts');
    $categoryId = $config['rfy'];
	$cObj = Mage::getModel('catalog/category')->load($categoryId);
	
	$visibility = array(
            Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
            Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
    );
	$productObj = $cObj->getProductCollection()->addAttributeToFilter('visibility', $visibility)->setPageSize($config['rfytItem']);
    $_helper = $this->helper('catalog/output');
?>
<?php if($config['rfysetting']):?>
<div class="headingBox">
  <h2><span><?php echo $config['rfyHeadingS']?></span></h2>
</div>
<?php if(count($productObj)<=0): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="jcarousel-wrapper">
  <div class="jcarousel scrollerRfy">
    <ul class="products-grid">
      <?php if($config['rfy_flip_view']==1 && $config['rfy_flip_view_style']==2):?>
      	<?php $flipviewStylef='fadeView'; ?>
      <?php endif; ?>
      <?php $i=1;foreach($productObj as $_productData): ?>
      <?php $_product = Mage::getModel('catalog/product')->load($_productData['entity_id']); ?>
      
      <?php if($config['itemviewbox']!=1):?>
       <!--First view-->
       
      		<li class="item firstView">
            	<div class="itemInner">
                
                <!--Badge view-->
                	<div class="badge">
						<?php if($_product->getData('new')){echo '<span class="new"><b>'. $_product->getAttributeText('new').'</b><strong>'.$this->__('new').'</strong></span>';  }?>
                    	<?php if($_product->getData('sale')){echo '<span class="sale"><b>'. $_product->getAttributeText('sale').'</b><strong>'.$this->__('sale').'</strong></span>';  }?>
	                </div>
                <!--end badge view-->
                <!--Images and price container-->
               <?php if($config['rfy_flip_view']==1):?>
               <div class="proImage <?php echo $flipviewStylef; ?> flipView">
          			<a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
	                    <span class="face"><img class="front-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"  /></span>
                        <span class="back-img face back">
                            <img class="hoverImg" src="<?php echo Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(250,300); ?>" 
                            alt="<?php echo $this->htmlEscape($_product['name']); ?>" border="0" />
                        </span> 
                    </a>
                <!--Price-->  
          			<?php echo $this->getPriceHtml($_product, true, '-right') ?>
                <!--End price-->  

                    </div>
          			<?php else: ?>
                    <div class="proImage">
          				<a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
          					<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /> 
                        </a>
                <!--Price-->  
          			<?php echo $this->getPriceHtml($_product, true, '-right') ?>
                <!--End price-->  

                </div>
          		<?php endif; ?>

				<!--End images and price container-->  
                <!--Product detail container-->              
                <div class="bottomProDetail">
                	<h2 class="product-name"> 
                    	<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"> 
							<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> 
                        </a> 
                    </h2>
                    
                    <div class="proAction">
                    	<!--Quick view-->
							  <?php if($config['rfy_quick_view']==1):?>
								  <?php if($_product->isSaleable()): ?>
									  <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
                                      <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                      <?php else: ?>
                                      <a title="<?php echo $this->__('Add to Cart') ?>" rel="tooltip" data-placement="top" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox btn-cart' id='fancybox<?php echo $_product->getId();?>'><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                                      <?php endif; ?>
                                  <?php else: ?>
                                  	   <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php else: ?>
								  <?php if($_product->isSaleable()): ?>
                                  <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                  <?php else: ?>
                                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php endif; ?>
                         <!--end quick view-->
                         
                         <!--Comapare
                         <?php// if($_product->isSaleable()): ?>
							 <?php //if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                  <a href="javascript:void(0);" class="w-btn" onclick="setLocation('<?php //echo $_compareUrl?>','<?php //echo $_product->getId()?>'); return false;" > 
                                        <i class="fa fa-signal"></i> 
                                  </a>
                             <?php //endif; ?>
                         <?php //endif; ?>    
                         <!--End comapare-->
                          
                          <!--wishlist-->
							  <?php if ($this->helper('wishlist')->isAllow()) : ?>
                              <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="w-btn">
                                 <i class="fa fa-heart"></i>
                              </a>
                              <?php endif; ?>
                          <!--End wishlist-->
                          
                          <!--Quick view icon-->
							  <?php if($config['rfy_quick_view']==1):?>
                              <a rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox w-btn' id='fancybox<?php echo $_product->getId();?>'><i class="fa fa-search"></i></a>
                              <?php endif; ?>
                          <!--End quick view icon-->
                    </div>
                </div>
                <!--End product detail container-->                   
                </div>
            </li>
            
       <!--end first view-->
       
       
       <?php else:?>
       <!--Second view-->
       
       		<li class="item secView">
            	<div class="itemInner">
                
                <!--Badge view-->
                	<div class="badge">
						<?php if($_product->getData('new')){echo '<span class="new"><b>'. $_product->getAttributeText('new').'</b><strong>'.$this->__('new').'</strong></span>';  }?>
                    	<?php if($_product->getData('sale')){echo '<span class="sale"><b>'. $_product->getAttributeText('sale').'</b><strong>'.$this->__('sale').'</strong></span>';  }?>
	                </div>
                <!--end badge view-->
                <!--Images and price container-->
               <?php if($config['rfy_flip_view']==1):?>
             		<div class="proImage <?php echo $flipviewStylef; ?> flipView">
          			<a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
                    <span class="face"><img class="front-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"  /></span>
                    <span class="back-img face back">
                    	<img class="hoverImg" src="<?php echo Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(250,300); ?>" 
                        alt="<?php echo $this->htmlEscape($_product['name']); ?>" border="0" />
                    </span> 
                    </a>
                    <div class="image-action">
                          <!--Comapare 
							 <?php //if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                  <a href="javascript:void(0);" class="w-btn" onclick="setLocation('<?php //echo $_compareUrl?>','<?php //echo $_product->getId()?>'); return false;" > 
                                        <i class="fa fa-signal"></i> 
                                  </a>
                             <?php// endif; ?>
                         <!--End comapare-->
                          
                          <!--wishlist-->
							  <?php if ($this->helper('wishlist')->isAllow()) : ?>
                              <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="w-btn">
                                 <i class="fa fa-heart"></i>
                              </a>
                              <?php endif; ?>
                          <!--End wishlist-->
                          
                          <!--Quick view icon-->
							  <?php if($config['rfy_quick_view']==1):?>
                              <a  rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox w-btn' id='fancybox<?php echo $_product->getId();?>'><i class="fa fa-search"></i></a>
                              <?php endif; ?>
                          <!--End quick view icon-->

                        </div>
                    </div>
          			<?php else: ?>
                    <div class="proImage">
          				<a href="<?php echo $_product->getProductUrl() ?>" class="product-image"> 
          					<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250,300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /> 
                        </a>
                        
                        <div class="image-action">
                         <!--Comapare
                          <?php //if($_product->isSaleable()): ?>
							 <?php // if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                  <a href="javascript:void(0);" class="w-btn" onclick="setLocation('<?php //echo $_compareUrl?>','<?php //echo $_product->getId()?>'); return false;" > 
                                        <i class="fa fa-signal"></i> 
                                  </a>
                             <?php //endif; ?>
                         <?php //endif; ?>    
                         <!--End comapare-->
                          
                          <!--wishlist-->
							  <?php if ($this->helper('wishlist')->isAllow()) : ?>
                              <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" rel="tooltip" data-placement="top" class="w-btn">
                                 <i class="fa fa-heart"></i>
                              </a>
                              <?php endif; ?>
                          <!--End wishlist-->
                          
                          <!--Quick view icon-->
							  <?php if($config['rfy_quick_view']==1):?>
                              <a  rel="tooltip" data-placement="top" title="<?php echo $this->__('Quick View')?>" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox w-btn' id='fancybox<?php echo $_product->getId();?>'><i class="fa fa-search"></i></a>
                              <?php endif; ?>
                          <!--End quick view icon-->

                        </div>
                </div>
          		<?php endif; ?>

				<!--End images and price container-->  
                <!--Product detail container-->              
                <div class="bottomProDetail">
                	<h2 class="product-name"> 
                    	<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"> 
							<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> 
                        </a> 
                    </h2>
                    <!-- Rating -->
                        <?php echo $this->getReviewsSummaryHtml($_product, "short", true)?>
                    <!-- End rating -->
                    <!--Price-->  
                        <?php echo $this->getPriceHtml($_product, true, '-right') ?>
                    <!--End price-->  
                    <div class="proAction">
                    	<!--Quick view-->
							  <?php if($config['rfy_quick_view']==1):?>
								  <?php if($_product->isSaleable()): ?>
									  <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ): ?>
                                      <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                      <?php else: ?>
                                      <a title="<?php echo $this->__('Add to Cart') ?>" rel="tooltip" data-placement="top" href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox btn-cart' id='fancybox<?php echo $_product->getId();?>'><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                                      <?php endif; ?>
                                  <?php else: ?>
                                  	   <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php else: ?>
								  <?php if($_product->isSaleable()): ?>
                                  <button rel="tooltip" data-placement="top" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                  <?php else: ?>
                                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                  <?php endif; ?>
                              <?php endif; ?>
                    </div>
                </div>
                <!--End product detail container-->                   
                </div>
            </li>
       
       
       <!--End second view-->
       <?php endif; ?>
       
       
       
             
      <?php endforeach ?>
    </ul>
  </div>
  <a href="#" class="jcarousel-control-prev prevRfy"><i class="fa fa-angle-left"></i></a> 
  <a href="#" class="jcarousel-control-next nextRfy"><i class="fa fa-angle-right"></i></a> </div>
  
  
<script type="text/javascript">
(function($){
    $(function() {
	var scrollerRfy = $('.scrollerRfy');
        scrollerRfy
            .on('jcarousel:reload jcarousel:create', function () {
                var width = scrollerRfy.innerWidth();

                if (width >= 900) {
                    width = width / <?php echo $config['rfyItem']?>;
                } else if (width >= 700) {
                    width = width / 3;
                }else if(width >= 350) {
                    width = width / 2;
                }

                scrollerRfy.jcarousel('items').css('width', width + 'px');
            })
			
            $('.scrollerRfy').jcarousel({
				wrap: 'both'
			});
			
			
        $('.prevRfy')
            .jcarouselControl({
                target: '-=1'
            });

        $('.nextRfy')
            .jcarouselControl({
                target: '+=1'
            });
    });
})(jQuery);			
</script>
<?php endif; ?>
<?php endif; ?>
