<div class="profBtm">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <?php $_orders = $this->getOrders(); ?>
         <!--  <div class="checkBox checkBoxHead">
            <div class="col1">ITEM</div>
            <div class="col4">Price</div>
            <div class="col5">Delivery Details</div>
            <div class="col6"></div>
          </div> -->
          
          <div class="mobFixWidthrow">
            <div class="mobFixWidth">
            <div class="panel-group myOrderAcc" id="accordion">
            <?php echo $this->getPagerHtml(); ?>
            <?php if($_orders->getSize()): ?>
            <?php foreach ($_orders as $_order): ?>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle accordionName" data-toggle="collapse" data-parent="#accordion" href="#<?php echo $_order->getRealOrderId() ?>">
                      Order ID:-<span onclick="location.href='<?php echo $this->getUrl("sales/order/view", array('order_id'=>$_order->getId()))?>'"> <?php echo $_order->getRealOrderId() ?></span>
                      <i class="indicator glyphicon glyphicon-plus  pull-right accordionNameColor"></i>
                    </a>
                    <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                    	<a class="returnBtn" href="<?php echo $this->getReorderUrl($_order) ?>">Reorder</a>
                    <?php endif;?>
                    <?php if($_order->getTracksCollection()->count()):?>
                    	<a onclick="popWin('<?php echo $this->helper('shipping')->getTrackingPopupUrlBySalesModel($_order) ?>','trackorder','top=0,left=0,width=800,height=600,resizable=yes,scrollbars=yes'); return false;" class="returnBtn returnBtn2" href="">Tracking</a>
                    <?php endif;?>
                  </h4>
                </div>
                <div id="<?php echo $_order->getRealOrderId() ?>" class="panel-collapse collapse">
                  <div class="panel-body">
                  <?php 
                      $order = Mage::getModel('sales/order')->load($_order->getEntityId());
                      $items = $order->getAllItems();
                      //print_r($_order->getData());
                      ?>
                   <?php foreach ($items as $item):?>
                   <?php 
                   $_product = Mage::getModel('catalog/product')->load($item->getProductId());
                   $categoryIds = $_product->getCategoryIds();
                   $categoryName = '';
                   if (isset($categoryIds[0])){
                   	$category = Mage::getModel('catalog/category')->setStoreId(Mage::app()->getStore()->getId())->load($categoryIds[0]);
                   	$categoryName = $category->getName();
                   }
                   ?>
                   <div class="checkBox">
                    <div class="col1">
                    <a href="<?php echo $_product->getProductUrl()?>">
                      <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" alt="<?php echo $item->getName();?>" />
                    </a>
                    </div>
                    <div class="col2">
                      <a href="<?php echo $_product->getProductUrl()?>"><?php echo $item->getName();?></a>
                      <p><?php echo $categoryName; ?></p>
                    </div>
                    <div class="col4">
                      <p><?php echo $_order->formatPrice($item->getProduct()->getFinalPrice())?></p>
                    </div>
                    <div class="col5">
                      <p><?php echo $_order->getStatusLabel() ?></p>
                    </div>
                  </div>
				<?php endforeach;?>
                  <div class="myOderTotal">
                    <p>Total<span><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></span></p>
                  </div>
                  </div>
                </div>
              </div>
              <?php endforeach;?>
              <?php else: ?>
				    <p><?php echo $this->__('You have placed no orders.'); ?></p>
              <?php endif;?>
            </div>  
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- profBtm -->