
header.header.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    background: rgba(255, 255, 255, 0.54);
    /* margin-top: 0% !important; */
   /*  border-bottom: 3px solid rgba(255, 2, 2, 0.71); */
    /* padding-top: 13px; */
    /* padding-bottom: 6px; */
}


header.header.container div .logo-row.f-fix {
    /* padding-bottom: 0; */
}
.temple-search-block  h3{
	color:#fff ;
	position: absolute;
	top: 20%;
	width: 100%;
	font-size: 30px;}
.temple-search-block .temple-search {
    top: 51%;
    position: absolute;
    width: 100%;
}
.temple-search-block {
	position:absolute;
	top: 40%;
	width: 100%;
	
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
	z-index: 99;
	min-height: 200px;
}

.temple-search-block .temple-search input {
    padding: 10px;
    width: 22%;
    margin-left: -3px;
    border: 4px solid rgba(255, 255, 255, 0.12);
    background: #FFF;
	
    /* border-radius: 5px; */
}

.temple-search-block .temple-search  button.button span i:before {
    display: block;
float: left;

    padding-left: 0px;

    padding-top: 5px;

    font-size: 16px;
    line-height: 9px;
    padding-right: 5px;
}

.temple-search-block .temple-search  button.button span {
    padding: 7px 6px;
    width: 116px;
    line-height: 33px;
    font-size: 14px;
}

/*Slider*/
.rslides {position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}

.rslides li {-webkit-backface-visibility: hidden;
position: absolute;
display: none;
width: 100%;
left: 0;
top: 0;
}

.rslides li:first-child {position: relative;
display: block;
float: left;
}
.rslides img {display: block;
height: auto;
float: left;
width: 100%;
border: 0;
height:474px;
/* border-top:1px solid #D5D5D5; */
border-radius: 0;
}

.banner-text h3{margin-top: 13px;
font-size: 26px;
color:#fff;}

.banner-text {width: 328px;
height: 80px;
background: rgba(0,0,0,0.6);
z-index: 99;
position: absolute;
color: #fff;
top: 78%;
left: 11%;
border-radius: 0px;
font-size: 16px;
line-height: 0px;
padding: 0px 0 0 22px;
margin-left: 42px;

}

.rslides h2 {
    position: absolute;
    z-index: 999;
    text-align: center;
    font-size: 34px;
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
    width: 100%;
    background: rgba(17, 17, 17, 0.37);
    height: 100%;
    padding-top: 13%;
}
/*end slider*/
.header-wrapper02 .block-cart .summary .classy{color:#fff;}
.famous-temples {
    width: 100%;
    margin: 0 auto;
}

.famous-temples .span3 {
    margin: 2%;
    width: 21%;
    margin-bottom: 4%;
    height: 136px;
}

.famous-temples .span3 img {
    width: 100%;
    height: 100%;
}

.famous-temples .span3 h3 {
    z-index: 999;
    background: #F9801B;
    color: #fff;
    padding: 4px;
	opacity:0.5;
	overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.famous-temples .span3 img:hover {
    opacity: 0.3;
    transition-duration: 1s;
}

.famous-temples .span3:hover {cursor:pointer;}
.famous-temples .span3:hover h3 {
    opacity: 1;
    transition-duration: 1s;
}



.grey1 .filter li {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}


.grey1 .filter {
    text-align: left;
    float: left;
    background: #f7a61f;
	color:#fff;
    width: 100%;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filter-sort{ text-align:left}

.filter-sort ul li {
    padding: 3px 0;
}

.filter-sort ul li i {
    float: right;
    color: #6B6B6B;
}

.filter-sort ul li:first-child {
    padding: 5px 1px;
}
.filter-sort ul li:first-child input{}
.blogListStyle3 .blog-list .postContent .post-left .date-block {
    width: auto !important;
}

.cms-index-index .header-wrapper02 .nav-wrapper{margin-bottom:0;}
.temple-img {
    width: 57%;
    float: left;
    height: 50px;
}