<?php
/**
 * Vincent Enjalbert
 *
 * Version Française :
 * *****************************************************************************
 *
 * Notification de la Licence
 *
 * Ce fichier source est sujet au CLUF
 * qui est fourni avec ce module dans le fichier LICENSE-FR.txt.
 * Il est également disponible sur le web à l'adresse suivante:
 * http://www.enjalbert.net/licences/magento/LICENSE-FR.txt
 *
 * =============================================================================
 *        NOTIFICATION SUR L'UTILISATION DE L'EDITION MAGENTO
 * =============================================================================
 * Ce module est conçu pour l'édition COMMUNITY de Magento
 * WebCooking ne garantit pas le fonctionnement correct de cette extension
 * sur une autre édition de Magento excepté l'édition COMMUNITY de Magento.
 * WebCooking ne fournit pas de support d'extension en cas
 * d'utilisation incorrecte de l'édition.
 * =============================================================================
 *
 * English Version :
 * *****************************************************************************
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE-EN.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 *
 * =============================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =============================================================================
 * This package designed for Magento COMMUNITY edition
 * WebCooking does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * WebCooking does not provide extension support in case of
 * incorrect edition usage.
 * =============================================================================
 *
 * @category   Webcooking
 * @package    Webcooking_GoogleUniversalAnalytics
 * @copyright  Copyright (c) 2011-2015 Vincent René Lucien Enjalbert
 * @license    http://www.web-cooking.net/licences/magento/LICENSE-EN.txt
 */
?>
<div class="content-header">
    <table cellspacing="0">
        <tbody>
            <tr>
                <td style="width:50%;"><h3 class="icon-head head-gua-dashboard"><?php echo $this->__('Google Analytics Dashboard')?></h3></td>
                <td class="form-buttons"></td>
            </tr>
        </tbody>
    </table>
</div>

<?php if(!Mage::getStoreConfig('googleuniversalanalytics/dashboard/access_code')): ?>
<button onclick="setLocation('<?php echo $this->getUrl('adminhtml/system_config/edit', array('section'=>'googleuniversalanalytics')) ?>#googleuniversalanalytics_dashboard-head')"><?php echo $this->__('Authenticate'); ?></button>
<?php else: ?>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <?php echo $this->getChildHtml() ?>
    <br/><br/><small><em><strong>Web Cooking's note :</strong> This page is under construction. If you have any suggestion, feel free to tell us at chef [at] web-cooking [dot] net</em></small>
<?php endif; ?>