.tp-caption.big_white{
			position: absolute; 
			color:#252525; 
			text-shadow: none; 
			font-weight:700; 
			font-size:62px; 
			line-height:62px; 
			padding:3px 8px 7px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color:#f0f0f0;	
			letter-spacing:0px;										
			text-transform:uppercase;
		}

.tp-caption.big_orange{
			position: absolute; 
			color:#fff; 
			text-transform:uppercase;
			text-shadow:2px 2px 1px rgba(0,0,0,0.4); 
			font-weight:900; 
			font-size:40px; 
			line-height:40px; 
			padding:10px 20px; 
			margin:0px; 
			border-width: 0px; 
			border-style: none; 
			background-color:#e08815;	
			letter-spacing:0px;															
		}	
					
.tp-caption.big_black{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight:400; 
			font-size: 144px; 
			line-height:144px; 
                        text-transform:uppercase;
			padding:0px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			letter-spacing: 0px;		
                        text-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);													
		}		

.tp-caption.medium_grey{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 20px; 
			line-height: 20px; 
			font-family: Arial; 
			padding: 2px 4px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color:#888;		
			white-space:nowrap;	
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);		
		}	
					
.tp-caption.small_text{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 14px; 
			line-height: 20px; 
			font-family: Arial; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);		
		}
					
.tp-caption.medium_text{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight:900; 
			font-size:20px; 
			line-height:20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			text-transform:uppercase;
		}
					
.tp-caption.large_text{
			position: absolute; 
			color: #3b3b3b; 
			text-shadow: none; 
			font-weight:300; 
			font-size: 48px; 
			line-height: 48px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
                        text-transform:uppercase;
		}	
					
.tp-caption.very_large_text{
			position: absolute; 
			color: #3a3a3a; 
			text-shadow: none; 
			font-weight:400; 
			font-size: 62px; 
			line-height: 62px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;
                        text-transform:uppercase;	
                        transform: rotate(-90deg) !important;
                        -webkit-transform: rotate(-90deg) !important;
                        -ms-transform: rotate(-90deg) !important;
		}
					
.tp-caption.very_big_white{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight:300; 
			font-size:68px; 
			line-height:68px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			padding:0px 8px 5px; 
			background-color:#27aba6;
			text-transform:uppercase;
					}	
					
.tp-caption.very_big_black{
			position: absolute; 
			color: #000; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 60px; 
			line-height: 60px; 
			font-family: Arial; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			padding: 0px 4px; 
			padding-top: 1px;
			background-color:#fff;		
					}
					
.tp-caption.boxshadow{
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}
											
.tp-caption.black{
		color: #000; 
		text-shadow: none;		
	}	
					
.tp-caption.noshadow {
		text-shadow: none;		
	}	
					
.tp-caption a { 
	color: #ff7302; text-shadow: none;	-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;	 
}			
	
.tp-caption a:hover { 
	color: #ffa902; 
}
