
.edit_slide_wrapper .editor_buttons_wrapper_top{ height:1px; }
.edit_slide_wrapper .editor_buttons_wrapper_bottom{ display:inline-block; width:100%; vertical-align:top; padding-bottom:20px; }

/* 	Buttons	 */

.no-accordion { background:url(../images/nav1_bg.gif) repeat-x 0px 100% #666E73; border:1px solid #2D444F; padding:0px 0px 0px 10px; display:inline-block; width:100%; vertical-align:top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.no-accordion > span{ font-weight:normal; text-transform:uppercase; color:#fff; font-size:14px; float:left; line-height:27px; }
.no-accordion ul{ float:right; }
.entry-edit .fieldset .no-accordion ul li{ float:right; margin:0px; background:url(../images/nav1_sep.gif) no-repeat 0px; border:none; }
.entry-edit .fieldset .no-accordion ul li.ui-state-active{ background:url(../images/nav1_active.gif) no-repeat 0 0; font-weight:bold; margin-left:-1px; }
.entry-edit .fieldset .no-accordion ul li.ui-state-active a{ cursor:default; }
.entry-edit .fieldset .no-accordion ul li a{ color:#FFF; float:left; line-height:27px; padding:0px 14px; text-decoration:none; }
.entry-edit .fieldset .no-accordion ul li span{ margin:0px; }

.mdl-btn{ border-width:1px; border-style:solid; border-color:#ed6502 #a04300 #a04300 #ed6502; padding:1px 7px 2px 7px; background:#ffac47 url(images/btn_bg.gif) repeat-x 0 100%; color:#fff !important; font:bold 12px arial, helvetica, sans-serif !important; cursor:pointer; text-align:center !important; white-space:nowrap; margin:0px 5px 0px 0px; text-decoration:none; }
a.mdl-btn{ padding:4px 8px; }
.mdl-btn:hover                    { background:#f77c16 url(images/btn_over_bg.gif) repeat-x 0 0; color:#fff; text-decoration:none; }
.mdl-btn:active                   { background:#f77c16 url(images/btn_on_bg.gif) repeat-x 0 0; color:#fff; }
.mdl-btn span                     { line-height:1.35em; background-repeat:no-repeat; background-position:0 50%; display:inline-block; }
.mdl-btn span span                { background:none !important; padding:0 !important; margin:0 !important; display:inline !important; }
.add-btn span{ padding-left:17px; background:url(images/add_btn_icon.gif) no-repeat 0px 1px; }
.images-btn span{ padding-left:17px; background:url(images/btn_add-image_icon.gif) no-repeat 0px 1px; }
.cancel-btn{ background-image:url(images/cancel_btn_bg.gif); }
.cancel-btn span{ padding-left:20px; background:url(images/cancel_btn_icon.gif) no-repeat 0px 0px; }
.video-btn span{ padding-left:20px; background:url(images/video_btn_icon.png) no-repeat 0px 3px; }

.block-header{ border-bottom:4px solid #DFDFDF; margin-bottom:18px; padding:8px 0px; }
.block-header h3{ font-size:16px; line-height:18px; font-weight:bold; color:#EB5E00; margin:0px; }
form { }
.contents-uploader{	background:#D7E5EF; margin-bottom:10px; padding:5px 10px;}
.progress { position:relative; width:100%; border:1px solid #ddd; padding:1px; margin-bottom:20px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
.uploaded_layer_image img{ border:1px solid #CCC; padding:2px; max-width:300px; max-height:200px; margin-right:10px; width:auto; height:auto; vertical-align:sub; display:inline-block; }
.youtube-inputs-wrapper, .add-button-wrapper{ margin:10px 0px 0px; }
.youtube-inputs-wrapper input{ margin-right:10px; }
.video-content-title{ font-size:14px; font-weight:bold; line-height:18px; margin:10px 0px 5px; text-transform:uppercase; }
.edit_slide_wrapper .timeline	{
	width:90%;	
	height:10px;
	background:url(../images/timeline.png) repeat-x 0px 0px;
	position:relative;
	margin:10px 5% 40px;
	z-index:10;
}	



.edit_slide_wrapper .timeline .mintime	{
	font-color:#777;
	font-size:10px;
	position:absolute;
	top:20px;
	left:-20px;
	white-space:no-wrap;
	width:40px; text-align:center;
}

.edit_slide_wrapper .layertime {
	position:absolute;
	top:1px;
	height:9px;
	background:rgba(234,118,1,0.4);
	xwidth:300px;left:10px;
	display:none;
}

.edit_slide_wrapper .layertime.layertime-error{
	background:rgba(157,23,23,0.4); 
}


.edit_slide_wrapper .timeline .maxtime	{
	font-color:#777;
	font-size:10px;
	position:absolute;
	top:20px;
	left:480px;
	white-space:no-wrap;
	width:40px; text-align:center;
}

.list-settings hr	{	width:100%; 
						clear:both;
						border-top: 1px solid #DDD;
						border-bottom: 1px solid white;
						margin-bottom:0px;
					}
					
span.setting_text	{	line-height:24px;}

span.setting_text_2	{	color:#ACA899;
						line-height: 10px;
						font-size: 11px;
}

.edit_slide_wrapper .attribute_title	{
											clear:both;padding-bottom:0px !important;
										}

/************************************************************/

.edit_layers_left{
	width:450px;
	float:left;
}

.edit_layers_right{
	width:450px;
	float:left;
	margin-left:50px;
}

#link_slider_settings{
	font-size:18px;
	padding-left:50px;
}

.edit_slide_wrapper .slide_layers{
	border:1px solid black;
	overflow:hidden;
	background-position:center center;
	background-repeat:no-repeat;
	position:relative;
	float:left;
}

.edit_slide_wrapper .caption{
	font-weight:bold;
}

.slide_layers .slide_layer{
	position:absolute;
	white-space:nowrap;
}

/* video layer */

.slide_layer .slide_layer_video{
	background-color:black;
	position:relative;	
	background-repeat:no-repeat;
	background-position:center center;
}

.slide_layer .video-layer-inner{
	height:100%;
	width:100%;
	background-repeat:no-repeat;
	background-position:right bottom;
}

.slide_layer .video-icon-youtube{	
	background-image:url(../images/icon_youtube.png);
}

.slide_layer .video-icon-vimeo{	
	background-image:url(../images/icon_vimeo.png);
}


.slide_layer_video .layer-video-title{
	color:#fff;
	padding:5px 0px;
	text-align:center;
	font-size:14px; font-weight:bold; text-transform:uppercase;
	line-height:24px;
	background:#000;
	overflow:hidden;
	position:relative;
}
.slide_layer_video .layer-video-title:after{ right:0px; top:0px; background:#000; width:5px; height:100%; content:''; position:absolute; }


.ui-draggable{
	cursor:move;
}


.edit_layers_left .area-layer-params{
	width:415px;
	height:80px;
}
.entry-edit .fieldset li textarea.area-layer-params, .edit_layers_left .list_settings li .setting_input .text-sidebar, .edit_layers_left .list_settings li .setting_input select,
.edit_layers_left .textbox-caption{
	border-width:1px; border-style:solid; border-color:#aaa #c8c8c8 #c8c8c8 #aaa; background:#fff; font:12px arial, helvetica, sans-serif; padding:2px; width:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

#layer_captions_down{
	margin-top:1px;
	width:26px;
	height:21px;
	float:left;
	cursor:pointer;
}

#layer_captions_down span{
	margin-top:2px;
	margin-left:5px;
}

#button_edit_css{
	float:right;
	margin-right:10px;
}


.edit_layers_left .setting_text{
	min-width:60px;
}

.edit_layers_left .text-disabled{
	color:#ACA899;
}

#divLayers .layer_selected{
	/* glow on selected */
	box-shadow: 0 0 8px #DDE573;
    -webkit-box-shadow: 0 0 8px #DDE573; 
    -moz-box-shadow: 0 0 8px #DDE573;	
}

.layer_sortbox{
	width:460px;
	min-height:266px;
}

.layer_sortbox input.sortbox_time,		/* sortbox inputboxes */
.layer_sortbox input.sortbox_depth
{	
	float:right;
	width:40px;
	background-color:#EBEBEB;
	border:1px solid #E0E0E0;
	color:#04076A;		
	height:24px; text-align:center;

}

.layer_sortbox input.sortbox_depth{
	width:28px;
	cursor:default;
	height:24px; text-align:center;
}

.layer_sortbox .sortbox_eye{
	width:20px;	
	height:14px;
	background:url(../images/eyes.png) no-repeat;
	float:right;	
	margin-top:5px;
	margin-left:3px;
	margin-right:3px;
	cursor:pointer;
}

.sortlist li.sortitem-hidden .sortbox_eye{
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

.sortlist li.sortitem-hidden .sortbox_text{
	color:#B9A8B9;
}

.sortlist li.sortitem-hidden{
	background-image:none;
	background-color:#f6f6f6;
}

.sortlist{
	padding:0px;
	margin:0px;
}

.sortlist li span.ui-icon{
	float:right;
	margin-top:4px;
}

.sortlist li{
	padding-left:4px;
	cursor:move;
	min-height:17px;
}

.sortlist li .sortbox_text{
	display:block;
	float:left;
	padding-top:4px;
	padding-bottom:4px;
}

/* ------ Layer Sorting Button ---- */

#button_sort_visibility{
}
 
#button_sort_visibility.e-disabled {
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}
 
 
.layer_sortbox .button_sorttype{
}

.layer_sortbox .button_sorttype.ui-state-hover{	
	cursor:pointer;
}

.layer_sortbox .button_sorttype.ui-state-active{
	cursor:default;
}

.layer_sortbox .button_sorttype span{
	display:block;
	padding:0px;
	margin:0px;
	float:none;
	margin-top:3px;
	text-align:center;
}

.slide_update_button_wrapper{
	float:left;
	width:110px;
}

.slider_update_button_wrapper{
	float:left;
	width:115px;
	margin-top:2px;
}

.slide_update_button_wrapper div{
	float:left;
}

#button_save_slide{
	display:block;
	width:73px;
	margin:0px;
	float:left;
}

#button_close_slide{
	display:block;
	float:left;
}

.edit_layers_left .list_settings li .setting_text{
	width:120px;
	float:left;
}
.edit_layers_left .list_settings li .setting_input{ display:block; margin-left:130px; }
.setting-disabled{
	color:#B9A8B9;
}

#layer_caption.setting-disabled{
	color:#B9A8B9;
}


/* ============================================= */ 
/*   		Layer Form Position 				 */ 
/* ============================================= */

#layer_left_row{
	float:left;
}

#layer_left_row .setting_text,
#layer_top_row .setting_text{
	min-width:10px;
	width:10px;
}

#layer_top_row{
	float:left;
} 

#button_edit_video_row{
	float:right;
	margin-right:30px;
}

#button_change_image_source_row{
	float:right;
	margin-right:30px;
}

#button_edit_video{
	cursor:pointer;
}

#layer_animation_row{
	clear:both;
	float:left;
}

#layer_video_autoplay_row{
	margin-left:10px;
	float:left;
}
.layer_props_wrapper .list_settings li{ width:100%; position:relative; }
.layer_props_wrapper .list_settings li .setting_unit{ position:absolute; top:2px; right:-20px; font-size:10px; color:#666; }
#layer_easing_row{
	float:right;
}

#layer_easing_row .setting_text{
	min-width:50px;
	width:50px;
}

#layer_hidden_row{
	float:left;
	margin-left:70px;
}

#layer_speed_row{
	clear:left;
	float:left;
}

#layer_slide_link_row{
	clear:both;
}

#linkInsertButton{
	float:right;
	margin-right:8px;
	padding:0px;
	padding-bottom:2px;	
	font-size:11px;	
	text-decoration:none;
	cursor:pointer;
}

#linkInsertButton.disabled{
	color:#ACA899;
	cursor:default;
}

.list-buttons li{
	float:left;
	margin-left:10px;
}

/* ============================================= */ 
/*   		End Params Layer Form Part			 */ 
/* ============================================= */

.row_link_end_params{
	clear:both;
	text-align:center;	
}

#link_show_end_params.button-selected{
	color:green;
}

#layer_endtime_row{
	clear:both;
}

#layer_endanimation_row{
	float:left;
}

#layer_endeasing_row{
	float:right;
	xmargin-right:10px;
}

#layer_endeasing_row .setting_text{
	width:50px;
	min-width:50px;
}

#layer_endtime_row{
	float:left;
}

#layer_endspeed_row{
	float:right;
	margin-right:26px;
}

