<?php 
$customerid = Mage::getSingleton("customer/session")->getCustomerId();
if($customerid){	?>
		<div class="page-head">
			<h3><?php echo Mage::helper("additionalinfo")->__("Account Additional Information") ?></h3>
		</div>	
<?php 	echo $this->getMessagesBlock()->getGroupedHtml()?>	
		<form action="<?php echo $this->getUrl("additionalinfo/index/editadditionalinfo") ?>" method="post" id="form-validate" enctype="multipart/form-data">
			<div class="fieldset">
				<input type="hidden" name="customerid" value="<?php echo $customerid ?>" />
				<h2 class="legend"><?php echo Mage::helper("additionalinfo")->__("Additional Information") ?></h2>
				<ul class="form-list">
<?php 				$store_id = Mage::app()->getStore()->getId(); 
					$additionalinfo = Mage::getModel("additionalinfo/additionalinfofields")->getCollection()->setOrder("setorder","ASC");
					foreach ($additionalinfo as $record) {
						$store = $record->getStore();
						$store = explode(",",$store);
						if(in_array($store_id, $store)) {
							$collection = Mage::getModel("additionalinfo/additionalinfodata")->getCollection()->addFieldToFilter("field_id",$record->getId())->addFieldToFilter("customer_id",$customerid)->addFieldToFilter("store",$store_id);
							$reqclass = "";
							if($record->getReuiredfield())
								$reqclass = "required-entry";
							$fieldval = "";
							foreach($collection as $coll)
								$fieldval = $coll->getValue();
							if($record->getInputtype() == "multiselect" || $record->getInputtype() == "file"){	?>
					<li>
<?php						}
							else{	?>
					<li style="display:inline-block;">
<?php						}	?>
						<div class="field name-firstname">
							<div class="input-box">
								<label <?php if($reqclass != "")echo "class='required'";?>><?php echo $record->getLabelname();if($reqclass != "")echo "<em>*</em>";?></label>
<?php 						if($record->getInputtype() == "text"){	?>
								<input type="<?php echo $record->getInputtype(); ?>" class="input-text <?php echo $reqclass; ?>" id="<?php echo $record->getInputname(); ?>" name="<?php echo $record->getInputname(); ?>" title="<?php echo $record->getInputname(); ?>" value="<?php echo $fieldval; ?>"/>
<?php 						}
							else
							if($record->getInputtype() == "textarea"){		?>
								<textarea class="input-text <?php echo $reqclass; ?>" id="<?php echo $record->getInputname(); ?>" name="<?php echo $record->getInputname(); ?>" title="<?php echo $record->getInputname(); ?>"><?php echo $fieldval?></textarea>
<?php 						}
							else
							if($record->getInputtype() == "select"){
								$selectoption = explode(",",$record->getSelectoption());	?>
								<select class="input-text <?php echo $reqclass?>" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>" title="<?php echo $record->getInputname()?>">
									<option value=""><?php echo Mage::helper('additionalinfo')->__(' --Please Select-- ') ?></option>
<?php 								foreach($selectoption as $opt){		?>
<?php 									if($opt){
											if($fieldval == $opt){	?>
												<option selected="selected" value="<?php echo $opt?>"><?php echo $opt?></option>
<?php 										}
											else{	?>
												<option value="<?php echo $opt?>"><?php echo $opt?></option>
<?php										}
										}	?>
<?php 								}	?>
								</select>
<?php 						}
							else
							if($record->getInputtype() == "multiselect"){
								$selectoption = explode(",",$record->getSelectoption());		?>
								<select class="input-text <?php echo $reqclass?>" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>[]" title="<?php echo $record->getInputname()?>" multiple>
									<option value=""><?php echo Mage::helper("additionalinfo")->__("--Please Select--") ?></option>
<?php 								foreach($selectoption as $opt){
										$flag = 0;
										if($opt){
											foreach(explode(",",$fieldval) as $multival){
												if($opt == $multival){		?>
													<option selected="selected" value="<?php echo $opt?>"><?php echo $opt?></option>
<?php												$flag = 1;
												}
											}
											if($flag == 0) {		?>
												<option value="<?php echo $opt?>"><?php echo $opt?></option>
<?php										}
										}
									}		?>
								</select>
<?php 						}	
							else
							if($record->getInputtype() == "radio"){
								$selectoption = explode(",",$record->getSelectoption());	?>
								<br><div style="width:254px;" class="additional_radio">
<?php							foreach($selectoption as $opt) {
									if($opt == $fieldval)	{		?>
										<input type="radio" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>" value='<?php echo $opt?>' title="<?php echo $opt?>" checked />
										<?php echo $opt?>&nbsp;&nbsp;
<?php 								}
									else 	{		?>
										<input type="radio" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>" value='<?php echo $opt?>' title="<?php echo $opt?>"/>
										<?php echo $opt?>&nbsp;&nbsp;
<?php								}
								}		?>
								</div>
<?php 						}
							else
							if($record->getInputtype() == "file") {	
								if($fieldval){
									$reqclass = "";
								}	?>
								<br>
								<img src="<?php echo Mage::getBaseUrl("media")."/customeradditionalinfo/".$customerid."/".$fieldval?>" width="100px" height="70px"/>
								<br>
								<input type="file" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>" class="<?php echo $reqclass?>" title="<?php echo Mage::helper("additionalinfo")->__("Select Image") ?>"/>
<?php 						}	?>
							</div>
						</div>
					</li>
<?php					}
					}	?>
				</ul>
			</div>
			<div class="buttons-set">
				<p class="back-link">
					<a href="<?php echo $this->getBackUrl()?>" class="left">&laquo; <?php echo Mage::helper("additionalinfo")->__("Back") ?></a>
				</p>
				<button class="button" title="Save" type="submit">
					<span><?php echo Mage::helper("additionalinfo")->__("Save Account Information")?></span>
				</button>
			</div>
		</form>
		<script type="text/javascript">
		    if (typeof jQuery == "undefined"){
		        document.write(unescape("%3Cscript src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
		    }
		</script>
		<script type="text/javascript">
			jQuery.noConflict();
			new VarienForm("form-validate", true);	
			jQuery(".button").click(function(){
				jQuery(".additional_radio").each(function(){
					jQuery(this).removeClass("validation-failed");
					jQuery(this).next(".validation-advice").remove();
					var val = jQuery(this).find("input[type='radio']:checked").val();
					if(typeof val == "undefined"){
						jQuery(this).addClass("validation-failed");
						jQuery(this).after("<div class='validation-advice'>This is a required field.</div>");
					}
				});
			});
		</script>
<?php
}	?>