.wk_bs_container{border: 10px solid #E2E2E2;padding: 10px;}
.wk_bs_lbl{
	color: #676767;
    display: inline-block;
    font-size: 13pt;
    font-weight: bold;
    vertical-align: middle;
}
.wk_bs_from{
	display: inline-block;
    padding: 5px;
    width: 45%;
    text-align: center;
}
.wk_bs_to{
	display: inline-block;
    padding: 5px;
    width: 45%;
    text-align: center;
}
#wk_bs_dateto{display: inline-block;}
#wk_bs_datefrom{display: inline-block;}
.collapse {
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}
.bootstrap-datetimepicker-widget .picker-switch {text-align: center;}
.wk_dp_input{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px 0 0 4px;
    color: #555555;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 4px 6px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wk_dp_addon{
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-left: -4px;
    width: 14px;
    padding: 4px 5px;
    text-align: center;
    vertical-align: top;
}
.wk_dp_addon i{
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
    text-align: center;
    font-size: 14px;
    background-position: -457px -72px;
}
.wk_bs_days{margin-bottom: 12px;width: 618px;}
.wk_bs_dayinput{
    display: inline-block;
    height: 30px;
    width: 40%;
    position: relative;
}
.wk_bs_daylbl{
    float: left;
    padding-right: 30px;
    text-align: right;
    width: 40%;
}
.wk_bs_dayinput>input{
    border-radius: 4px 0 0 4px;
    position: relative;
    width: 90%;
    z-index: 1;
}
#wk_duration_input{
    background: none repeat scroll 0 0 #EAEAEA;
    border: 5px solid;
    border-radius: 10px;
    color: #888888;
    font-weight: bold;
    left: 53%;
    padding: 10px;
    position: absolute;
    width: 105px;
    display: none;
}
#wk_duration_input input{margin-right: 10px;width: 30px;}
.wk_dur_up{
    background: url("../images/sprite.png") repeat scroll 183px 40px transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
}
.wk_dur_down{
    background: url("../images/sprite.png") repeat scroll 158px 40px transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
}
.wk_dur_pnl{
    display: inline-block;
    width: 80px;
    vertical-align: top;
}
.wk_time_slide{
    left: 240px;
    position: absolute;
    top: 0px;
}
.wk_time_slide_cntnt{
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    height: 24px;
    left: 37px;
    margin-left: -1px;
    position: absolute;
    top: 0px;
    width: 196px;
    display: inline-block;
    padding: 2px;
}
.wk_days_up{
    background: url("../images/sprite.png") repeat scroll 181px 40px transparent;
    cursor: pointer;
    display: block;
    height: 13px;
}
.wk_days_down{
    background: url("../images/sprite.png") repeat scroll 156px 37px transparent;
    cursor: pointer;
    display: block;
    height: 9px;
}
.wk_days_pnl{
    float: left;
    height: 24px;
    margin-left: 3px;
    width: 13px;
}
.wk_hour{
    border: 1px solid #CCCCCC;
    float: left;
    height: 90%;
    margin-left: 12px;
    padding-left: 5px;
    width: 22px;
}
.wk_min{
    border: 1px solid #CCCCCC;
    float: left;
    height: 90%;
    margin-left: 12px;
    padding-left: 5px;
    width: 22px;
}
.wk_meridian{margin-left: 12px;padding: 3px;}
.im_btn_action {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    margin-left: 0;
    padding: 4px 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#submit_this{
    font-family: sans-serif;
    font-size: 13pt;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}
.wk_bs_type{
    margin-bottom: 10px;
}
.wk_bs_drop_container{
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    height: 22px;
    line-height: 20px;
    margin: 0 auto;
    padding: 4px 12px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    width: 189px;
    z-index: 2;
    position: relative;
}
.wk_bs_dropdown:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.wk_bs_dropdown:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.wk_bs_dropdown{
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    left: -12px;
    list-style: none outside none;
    min-width: 160px;
    padding: 5px 0;
    position: relative;
    top: 15px;
    width: 216px;
    z-index: 1;
}
.wk_bs_options{
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}
.wk_bs_options:hover{
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow:none;
}
.wk_bs_caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    float: right;
    margin-top: 8px;
    vertical-align: top;
}
.wk_bs_opening_text{
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.open{
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.open > .wk_bs_dropdown{
    display: block;
}
.wk_bs_add_booking_container{
    margin-bottom: 5px;
}
.wk_bs_add_booking_button{
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 100px;
}
.wk_bs_add_booking_button:hover {
    background-position: 0 -15px;
    background-color: #0044CC;
    transition: background-position 0.1s linear 0s;
}
.wk_bs_otm_row_container{

}
.wk_bs_otm_row{
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    width: 600px;
}
.wk_bs_otm_row_from{
    display: inline-block;
}
.wk_bs_otm_row_from_input{
    height: 21px;
    padding: 4px;
    position: relative;
    top: -30px;
    width: 178px;
}
.wk_bs_otm_row_from_maininput{
    border: 1px solid #CCCCCC;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 20px;
    left: 0;
    padding: 4px;
    position: absolute;
    top: -1px;
    width: 177px;
}
.wk_bs_otm_row_from_input select{
    margin-bottom: 10px;
    padding: 2px;
    width: 172px;
}
.wk_bs_otm_row_action{
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
    text-align: center;
    font-size: 14px;
    background-position: -313px -119px;
}
.wk_bs_otm_row_input_container{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 27px;
    width: 175px;
    z-index: 100;
}
.wk_bs_otm_row_to{
    float: right;
    position: relative;
    right: 26px
}
.wk_bs_otm_row_icon{
    height: 28px;
}
.wk_bs_otm_row_action_span{
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 5px;
    position: relative;
    right: -185px;
    top: -1px;
    width: 14px;
}
.wk_bs_otm_time{
    border: 1px solid #CCCCCC;
    display: inline-block;
    height: 24px;
    margin-left: -1px;
    padding: 2px;
    text-align: center;
    width: 168px;
}
.wk_bs_otm_time .wk_hour{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.wk_bs_otm_time .wk_min{
    display: inline-block;
    float: none;
    margin: 0 0 0 40px;
    vertical-align: top;
}
.wk_bs_otm_time .wk_days_pnl{
    display: inline-block;
    float: none;
}
.showing{
    background-position: -287px -120px;
}
.wk_bs_otm_row_from_input .validation-advice{
    position: relative;
    top: 26px;
}
.wk_bs_remove_booking{
    border-radius: 4px;
    cursor: pointer;
    display: block;
    height: 20px;
    left: 291px;
    position: absolute;
    top: 9px;
    width: 20px;
    background-color: #DA4F49;
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.wk_bs_remove_booking:hover{
    transition: background-position 0.1s linear 0s;
    background-color: #BD362F;
    background-position: 0 -15px;
}
.wk_bs_remove_booking i{
    background: url("../images/sprite.png") repeat scroll 155px -2px rgba(0, 0, 0, 0);
    display: block;
    height: 10px;
    left: 5px;
    position: relative;
    top: 5px;
    width: 10px;
}