#wk_bs_main_container{
    background-color: #ededed;
border-left: 4px solid #FF000A;
    padding: 20px;
    color: #333333;
    margin-bottom: 5px;
    position: relative;
}
.wk_bs_title a{text-decoration:none;color:;}
.wk_bs_title{
    color: #f7a61f;
    margin: 0;
}
.wk_bs_title span{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.wk_bs_title span:hover{
    text-decoration: none;
}
#wk_bs_popup_background{
    background: none repeat scroll 0 0 rgba(152, 152, 152, 0.56);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#wk_bs_popup_container{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    top: -1000px;
    width: 30%;
min-width: 490px;
}
.wk_bs_header{
    border-bottom: 0;
    min-height: 20px;
    padding: 14px;
}
.wk_bs_header h4{
    color: #F7A61F;
    float: left;
    line-height: 19px;
    margin: 0;
}
.wk_bs_footer{
    border-top: 0;
    min-height: 20px;
    padding: 19px;
    text-align: center;
}
.wk_bs_close_popup{
  border-radius: 50%;

display: block;
float: right;
height: 20px;
width: 20px;
top: -23px;
position: relative;

right: -22px;
    
}
.wk_bs_close_popup:hover{
    
}
.wk_bs_close_popup i{
    background: url("http://www.wheresmypandit.com/skin/frontend/nextlevel/default/css/images/ui-icons_888888_256x240.png") !important;
display: block;
position: relative;
background-repeat: no-repeat;
background-size: cover;
width: 23px;
height: 23px;
cursor: pointer;
}
.wk_bs_booking_slider_container{
    border: 1px solid #F7A61F;
    border-radius: 5px;
    height: 176px;
    margin: 10px auto;
    width: 483px;
    /* overflow: hidden; */
}

div#wk_bs_popup_container {
    min-height: 50px;
}
.wk_bs_booking_date_slider_container{
    border-right: 1px solid #CCCCCC;
    float: left;
    height: 100%;
    overflow-y: auto;
    width: 30%;
}
.wk_bs_individual_booking_slider_container{
    float: left;
    height: 174px;
    width: 70%;
    overflow: hidden;
}
.wk_bs_booking_dates{
    border-bottom: 1px solid #CCCCCC;
    color: #111;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0;
    padding: 5px;
}
.wk_bs_booking_dates.selected{
    background: none repeat scroll 0 0 #F7A61F;
    color: #fff;
	margin-top:40%;  /** Added by Nitin  */
 }
.wk_bs_booking_dates:hover{
    background: none repeat scroll 0 0 #EEEEEE;
}
.wk_bs_booking_dates.last{
    border: none;
}
.wk_bs_individual_booking_slider{
    position: relative;
    width: 100%;
}
.wk_bs_individual_booking_slider_box{
    height: 160px;
    overflow-y: auto;
    text-align: center;
    margin-top: 10%;
}
.wk_bs_individual_bookings{
    border: 0;
    display: inline-block;
    height: auto;
    line-height: 24px;
    margin: 0;
    padding: 3px 10px;
    text-align: left;
    width: 135px;
}
.wk_bs_individual_bookings.closed{
    background: none repeat scroll 0 0 #FFD3D3;
    border: 1px dashed;
    color: #AA0202;
    font-weight: bold;    
    position: relative;
    text-align: center;
   
}
.wk_bs_individual_bookings.booked{
    background: none repeat scroll 0 0 #FFD3D3;
    border: 1px dashed;
    color: #AA0202;
    font-weight: bold;
}
.wk_bs_deal_time{
    font-size: 16px;
    letter-spacing: 1px;
}
.wk_bs_deal_label{
    float: right;
}
.wk_rs_alert{
    background: #EFC1C1!important;
}
.wk_bs_ofm_individual_bookings.booked{
    background: none repeat scroll 0 0 #FFD3D3;
    border: 1px dashed;    
    font-weight: bold;
}
.wk_bs_ofm_individual_bookings.booked span{
    color: #AA0202;
}
.wk_bs_ofm_individual_bookings{
    border: 1px solid #BEBEBE;
    display: inline-block;
    margin: 5px;
    padding: 3px;
    text-align: center;
    width: 245px;
}
.wk_bs_ofm_individual_booking_slider_container{
    height: 100%;
    overflow-y: auto;
    text-align: center;
}
.wk_bs_ofm_individual_bookings span{
    clear: both;
    color: #414040;
    display: block;
    font-size: 15px;
}