<?php

if (Mage::getStoreConfig('mdltestimonials/general/mdltestimonialsenabled') == "1"):         
    $brandModel = Mage::getModel('mdltestimonials/mdltestimonials')->getCollection()->addFieldToFilter('status', 1);
    if (count($brandModel) > 0):
?>
<section class="f-fix">
	<div class="container">
 <?php if (Mage::getStoreConfig('mdltestimonials/general/mdltestimonialsenabled')=="1") : ?>
    <?php $config = Mage::getStoreConfig('mdloption/footerpan'); ?>
		<?php if($config['footer-option']==3):?>
             <div class="headingBox"><h2 class="line_heading"><span><?php if (Mage::getStoreConfig('mdltestimonials/general/testimonialstitle') != "") echo Mage::getStoreConfig('mdltestimonials/general/testimonialstitle'); ?></span></h2></div>
        <?php else: ?>
        	<div class="headingBox">
            <h2>
				<span><?php if (Mage::getStoreConfig('mdltestimonials/general/testimonialstitle') != "") echo Mage::getStoreConfig('mdltestimonials/general/testimonialstitle'); ?></span>
    		</h2>  
            </div>
        <?php endif; ?>
    <?php endif; ?>
	</div>
</section>
<section class="f-fix testimonial-wrapper">
	<div class="container">
        <div class="jcarousel-wrapper">
        <div class="jcarousel scroller-testimonial">
        <ul id="owl-demo5" class="brandlogo">
        <?php
        $imageUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "mdltestimonials" ;
        foreach ($brandModel as $k => $v) {
        $pi = pathinfo($v->getFilename());
        if (Mage::getStoreConfig('mdltestimonials/general/mdltestimonialsresizeenabled') == 1) {
        $fileThumb = $imageUrl .'/'.$pi['filename'].'_thumb.'.$pi['extension'];	   
        } else{
        $fileThumb = $imageUrl .'/'.$pi['filename'].'.'.$pi['extension'];
        }
        
        ?>
        <li class="testimonialPan">
        <p>
        "
        <?php echo $v->getContent(); ?>
        "
        </p>        
        <span class="author"><?php echo $v->getAuthor(); ?></span>      
        </li>
        <?php
        }?>
        </ul>
        </div>
        <a href="#" class="jcarousel-control-prev prevTestimonial"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="jcarousel-control-next nextTestimonial"><i class="fa fa-angle-right"></i></a>
        </div>
	</div>
</section>
<script type="text/javascript">
(function($) {
    $(function() {
	var jcarouselTestimonial = $('.scroller-testimonial');

        jcarouselTestimonial
            .on('jcarousel:reload jcarousel:create', function () {
                var width = jcarouselTestimonial.innerWidth();

                if (width >= 600) {
                    width = width / 1;
                } else if (width >= 350) {
                    width = width / 1;
                }

                jcarouselTestimonial.jcarousel('items').css('width', width + 'px');
            })
			
           $('.scroller-testimonial').jcarousel({
				wrap: 'both'
			});
			
			
        $('.prevTestimonial')
            .jcarouselControl({
                target: '-=1'
            });

        $('.nextTestimonial')
            .jcarouselControl({
                target: '+=1'
            });
    });
})(jQuery);			
</script>
<?php endif; ?>
<?php endif; ?>
