<script type="text/javascript">
	if (typeof jQuery == "undefined"){
		document.write(unescape("%3Cscript src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script>
<style type="text/css">
	#wkadditionalinfo{display:none;}
</style>
<?php
		$store_id = Mage::app()->getStore()->getId(); 
		$collection = Mage::getModel("additionalinfo/additionalinfofields")->getCollection()->addFieldToFilter("status",1)->setOrder("setorder","ASC");
		if(count($collection)){		?>
			<div class="fieldset" id="wkadditionalinfo">
				<h2 class="legend"><?php echo Mage::helper("additionalinfo")->__("Additional Information") ?></h2>
				<ul class="form-list">
<?php 				$store_id = Mage::app()->getStore()->getId(); 
					$additionalinfo = Mage::getModel("additionalinfo/additionalinfofields")->getCollection()->setOrder("setorder","ASC");
					foreach ($additionalinfo as $record) {
						$reqclass = "";
						if($record->getReuiredfield())
							$reqclass = "required-entry";
						$store = $record->getStore();
						$store = explode(",",$store);
						if(in_array($store_id, $store)) {
							if($record->getInputtype() == "multiselect" || $record->getInputtype() == "file"){	?>
					<li>
<?php						}
							else{	?>
					<li style="display:inline-block;">
<?php						}	?>
						<div class="field name-firstname">
							<div class="input-box">
								<label <?php if($reqclass != "")echo "class='required'";?>><?php echo $record->getLabelname();if($reqclass != "")echo "<em>*</em>";?></label>
<?php 						if($record->getInputtype() == "text"){	?>
								<input type="<?php echo $record->getInputtype(); ?>" class="input-text <?php echo $reqclass; ?>" id="<?php echo $record->getInputname(); ?>" name="<?php echo $record->getInputname(); ?>" title="<?php echo $record->getInputname(); ?>"/>
<?php 						}
							else
							if($record->getInputtype() == "textarea"){		?>
								<textarea class="input-text <?php echo $reqclass; ?>" id="<?php echo $record->getInputname(); ?>" name="<?php echo $record->getInputname(); ?>" title="<?php echo $record->getInputname(); ?>"></textarea>
<?php 						}
							else
							if($record->getInputtype() == "select"){
								$selectoption = explode(",",$record->getSelectoption());	?>
								<select class="input-text <?php echo $reqclass?>" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>" title="<?php echo $record->getInputname()?>">
									<option value=""><?php echo Mage::helper("additionalinfo")->__(" --Please Select-- ") ?></option>
<?php 								foreach($selectoption as $opt){		
	 									if($opt){	?>
											<option value="<?php echo $opt?>"><?php echo $opt?></option>
<?php									}	?>
<?php 								}	?>
								</select>
<?php 						}
							else
							if($record->getInputtype() == "multiselect"){
								$selectoption = explode(",",$record->getSelectoption());		?>
								<select class="input-text <?php echo $reqclass?>" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>[]" title="<?php echo $record->getInputname()?>" multiple>
									<option value=""><?php echo Mage::helper("additionalinfo")->__("--Please Select--") ?></option>
<?php 								foreach($selectoption as $opt){
										if($opt){		?>
											<option value="<?php echo $opt?>"><?php echo $opt?></option>
<?php									}
									}		?>
								</select>
<?php 						}	
							else
							if($record->getInputtype() == "radio"){
								$selectoption = explode(",",$record->getSelectoption());	?>
								<br><div style="width:254px;" class="additional_radio">
<?php							foreach($selectoption as $opt) {		?>
									<input type="radio" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>" value="<?php echo $opt?>" title="<?php echo $opt?>"/>
										<?php echo $opt?>&nbsp;&nbsp;
<?php							}		?>
								</div>
<?php 						}
							else
							if($record->getInputtype() == "file") {		?>
								<br>
								<input type="file" id="<?php echo $record->getInputname()?>" name="<?php echo $record->getInputname()?>" class="<?php echo $reqclass?>" title="<?php echo Mage::helper("additionalinfo")->__("Select Image") ?>"/>
<?php 						}	?>
							</div>
						</div>
					</li>
<?php					}
					}	?>
				</ul>							
			</div>
			<script type="text/javascript">
				jQuery.noConflict();
				jQuery(document).ready(function(){
					jQuery("#password").parents(".fieldset").after(jQuery("#wkadditionalinfo"));
					jQuery("#wkadditionalinfo").show();
					jQuery(".button").click(function(){
						jQuery(".additional_radio").each(function(){
							jQuery(this).removeClass("validation-failed");
							jQuery(this).next(".validation-advice").remove();
							var val = jQuery(this).find("input[type='radio']:checked").val();
							if(typeof val == "undefined"){
								jQuery(this).addClass("validation-failed");
								jQuery(this).after("<div class='validation-advice'>This is a required field.</div>");
							}
						});
					});
					jQuery("#form-validate").attr("enctype","multipart/form-data");
				});
			</script>
<?php 
}?>