/*
Theme Name:     STARRY
*/

/******************************************************************************************************************************

    MAIN STYLE
        
    HEADER
    
    MAIN CONTAINER
    
    PORTFOLIO
    
    SKILLS
    
    CONTACT
    
    FOOTER
    
*******************************************************************************************************************************/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* MAIN STYLE
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@font-face {
	font-family: 'icomoon';
	src:url('font/icomoon.eot?-msoo8p');
	src:url('font/icomoon.eot?#iefix-msoo8p') format('embedded-opentype'),
		url('font/icomoon.woff?-msoo8p') format('woff'),
		url('font/icomoon.ttf?-msoo8p') format('truetype'),
		url('font/icomoon.svg?-msoo8p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
html,body{ margin:0; padding:0; height:100%; width:100%; }
/* LINK */
a, a:hover{
	text-decoration: none;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            
	transition-duration: 0.4s;
}
button:hover{
	/* opacity: .8; */
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            
	/* transition-duration: 0.6s; */
}
button:focus{outline:0;}
.with-separation-top, .with-separation-bottom{
	position: relative;
}
.with-separation-bottom:after{
	content: "";
	/*  background-image: url("images/breaker.svg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 90px;
}
.small.with-separation-bottom:after{
	content: "";
	 background-image: url("images/breaker.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 90px;
}
.with-separation-top:before{
	content: "";
	background-image: url("images/breaker-bottom.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center -40px;
	position: absolute;
	top: -20px;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 90px;
	
}
::selection{color: #FFF;}
::-moz-selection{color: #FFF;}


@font-face {
font-family:Museo700-Regular;
src: url('font/Museo700-Regular.ttf');
src: url(font/Museo700-Regular.ttf); /* IE */
}

@font-face {
font-family:Museo-Regular;
src: url('font/Museo Regular.woff');
src: url(font/Museo Regular.woff); /* IE */
}



/* SCROLL TOP */
#scroll-top{
	position: fixed;
	right: 30px;
	display: none;
	bottom: 60px;
	z-index: 5;
	font-size: 2em;
	color: rgba(50,50,50,.6);
	/* background: rgba(255,255,255,.8); */
	padding: 0 10px;
	border-radius: 2px;
}
#scroll-top:hover{
	color: rgba(50,50,50,1);
	/* background: rgba(255,255,255,1); */
}
/*PAGE LOADER*/
#loader{
	position: fixed;
	z-index: 10;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFF;
}
#loading-logo{
	position: relative;
	top: 50%;
	margin: 0 auto;
}
/*BOXED LAYOUT*/
body.boxed #page{
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
	position: relative;
	background: #FFF;
}
body.boxed #page #navigation{
	width: 95%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* HEADER 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#header, #header a{
	color: #FFF;
}
#header{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	font-size: 1em;
}
#header-canvas{
	position: relative;
	z-index: 3;
}
#header-slider{
	width: 100%;
	z-index: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#header-slider img{
	width: 100%;
}
#sliderPrev,
#sliderNext{
	font-size: 2em;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: 4;
	opacity: .4;
}
#sliderPrev:hover,
#sliderNext:hover{
	opacity: 1;
}
#sliderPrev{
	left: 50px;
}
#sliderNext{
	right: 50px;
}
#header{
	max-height: 150px;}
#header.big{
	min-height: 100vh;
}
/*HEADER VIDEO*/
#header-video{
	width: 100%;
	z-index: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#header-video video{
	width: 100% !important;
}

/* TOP NAVIGATION */
#top-navigation ul{
	text-align: center;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 6;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
#top-navigation ul li{
	list-style-type: none;
	display: inline-block;
	line-height: 30px;
	padding: 0 10px;
	font-size: .9em;
	margin: 0;
	border-left: 1px solid rgba(255,255,255,.2);
	opacity: .7;
	position: relative;
}
#top-navigation ul li:first-child{
	border-left: none;
}
#top-navigation ul li:hover {
	opacity: 1;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
#top-navigation ul li i{
	padding: 0 8px 0 8px;
}
#top-navigation ul li.menu-item-has-children ul{
	display: none;
}
#top-navigation ul.sub-menu{
	position: absolute;
	right: -15px;
	border-bottom: 0;
	width: 120px;
	top: 30px;
}
#top-navigation ul.sub-menu.open{
	display: block;
}
#top-navigation ul.sub-menu li{
	font-weight: normal;
	line-height: 20px;
	opacity: 1;
}
#top-navigation span.navigation-social{
	padding-right: 6px;
}
/* SEARCHFORM */
#header #search-container{
	display: none;
}
#header #search-container.clicked{
	display: inline-block;
}
#header #search-toggle{
	display: inline-block;
}
#header #search-toggle i:before{
	content: "\f002";
}
#header #search-toggle.clicked i:before{
	content: "\f00d";
}
#header #search-container input,
#header #search-container button{
	background: transparent;
	border: 0;
	padding: 0;
}
#header #search-container button:hover{
	opacity: .6;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
/* MENU */
#navigation{
	position: absolute;
	z-index: 3;
	top: 0;
	border-bottom-right-radius: 40%;  border-bottom-left-radius: 40%;  
	/* background: rgba(255, 255, 255, 0.9); */
	width: 15%;
	margin: 0px 42.5%;
}
#left-navigation{
	text-align: right;
	padding-left: 0;
	position: relative;
	display: block;
	width: 38%;
	float: left;
}
#right-navigation{
	text-align: left;
	padding-left: 0;
	position: relative;
	display: block;
	width: 38%;
	float: left;
}
#navigation ul li{
	display: inline-block;
	list-style-type: none;
	margin: 0 20px; 
	padding: 10px 0 16px 0;
	text-align: center;
	position: relative;
	text-shadow: 0px 0px 10px rgba(0,0,0,.2);
}
#navigation ul li.current-menu-item, #navigation ul li:hover{
	border-bottom: 1px solid rgba(255,255,255,.8);
}
#navigation ul li a:after {
	opacity: .7;	
	content: attr(data-description);
	font-size: 12px;
	display: block;
	line-height: 0;
	margin: 10px 0 -3px;
	text-align: center;
	text-transform: none;
}
#navigation ul li a:hover,#navigation ul li a:hover:after{
	opacity: .4;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
/* SUBMENU */
#navigation ul.sub-menu .menu-item-has-children{
	position: relative;
}
#navigation ul.sub-menu{
	display: none;
	position: absolute;
	top: 50px;
	width: 160px;
	padding-left: 0;
	z-index: 3;
}
#navigation ul.sub-menu.open{
	display: block;
}
#navigation ul.sub-menu li,
#top-navigation ul.sub-menu li{
	position: relative;
	text-shadow: none;
	margin: 0;
	height: auto;
	text-align: left;
	float: none;
	width: 100%;
	display: block;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid;
}
#navigation ul.sub-menu li:last-child,
#navigation ul.sub-menu li:last-child:hover,
#top-navigation ul.sub-menu li:last-child,
#top-navigation ul.sub-menu li:last-child:hover{
	border-bottom: 0;
}
#navigation ul.sub-menu li a,
#top-navigation ul.sub-menu li a{
	text-transform: inherit;
	font-size: 0.8em;
	width: 100%;
	line-height: 1.1em;
	display: block;
	margin: 0;
	padding: 12px 10px 10px 10px;
}
#navigation ul.sub-menu li a:hover,
#top-navigation ul.sub-menu li a:hover{
	opacity: 1;
}
#navigation ul.sub-menu li:hover,
#top-navigation ul.sub-menu li:hover{
	border-bottom: 1px solid;
}
#navigation ul.sub-menu li:hover:after {
	border: 0;
	border-color: transparent;
}
/* LANGUAGE SWITCHER IN MAIN MENU */
#navigation ul li.language-switcher{
	border-bottom: 0 !important;
}
#navigation ul li.language-switcher:after{
	border: 0 !important;
}
#navigation ul li.language-switcher a{
	top: -10px;
	position: relative;
}
/* LOGO */
a#logo-navigation{
	text-align: center;
	display: block;
	width: 24%;
	position: relative;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
}
a#logo-navigation:hover{
	/* opacity: .5; */
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
#logo-navigation span{
	opacity: .9;
	position: absolute;
	font-size: .9em;
	bottom: -12px;
	display: block;
	text-shadow: 0px 0px 4px rgba(0,0,0,.5);
	width: 100%;

}
/* NAVIGATION FIXED*/
#navigation.navigation-fixed{
	background: #FFF;
	z-index: 6;
	top: 0;
	height: 56px;
}
#navigation.navigation-fixed:before{
	content: "";
	background-image: url("images/breaker-bottom.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 50px;
	z-index: 0;
	width: 100%;
	height: 35px;
}
#navigation.navigation-fixed #logo-navigation span{
	display: none;
}
#navigation.navigation-fixed a#logo-navigation{
	top: 0;
}
#navigation.navigation-fixed #left-navigation, 
#navigation.navigation-fixed #right-navigation{
	margin-bottom: 0;
}
#navigation.navigation-fixed ul li{
	padding: 0;
	line-height: 55px;
}
#navigation.navigation-fixed ul.sub-menu li{
	line-height: 26px;
}
#navigation.navigation-fixed ul li{
	text-shadow: none;
}
#navigation.navigation-fixed ul li a:after{
	display: none;
}
#navigation.navigation-fixed ul.sub-menu li a,
#navigation.navigation-fixed ul li.current-menu-item a,
#navigation.navigation-fixed ul li a:hover{
	opacity: 1;
}
#navigation.navigation-fixed ul li.language-switcher a{
	top: 0;
}
#navigation.navigation-fixed ul.sub-menu{
	z-index: 10;
	right: -60px;
}
/* MOBILE MENU */
#navigation-mobile, #close-navigation-mobile, #show-mobile-menu{ display: none;}
#show-mobile-menu{
	position: fixed;
	z-index: 10;
	left: 40px;
	font-size: 2em;
	top: 50px;
}
#navigation #show-mobile-menu.mobile-button-left{ left: 240px;}
#navigation-mobile.display-nav-menu{ left: 0px; }
#navigation-mobile{
	position: fixed;
	width: 200px;
	z-index: 10;
	top: 0;
	height: 100%;
	left: 0;
	padding: 20px;
	left: -400px;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}
#header a#close-navigation-mobile{
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 1.4em;
}
#header a#close-navigation-mobile:hover{
	color: #FFF;
}
#navigation-mobile #left-navigation, 
#navigation-mobile #right-navigation{
	float: none;
	text-align: left;
	width: 100%;
	list-style-type: none;
}
#navigation-mobile li{
	line-height: 30px;
}
#header #navigation-mobile li a{ 
	display: block;
	padding: 5px 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
#header #navigation-mobile li a:hover, 
#header #navigation-mobile li.current-menu-item a{ 
	color: #FFF;
}
#header #navigation-mobile ul.sub-menu li{
	list-style-type: none;
	font-size: .9em;
	line-height: 20px;
}
#header #navigation-mobile #logo-navigation{display: none;}
#header #navigation-mobile ul.sub-menu li a{
	border-bottom: 0;
}
/* SCROLL BOTTOM */
#scroll-bottom{
	position: fixed;
	bottom: 30px;
	width: 100%;
	z-index: 4;
	text-align: center;
}
#scroll-bottom a{
	color: rgba(255,255,255,1);
	font-size: 2em;
}
#scroll-bottom a:hover{
	color: rgba(255,255,255,.5);
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
}
/* TEXT TICKER */
#ticker{
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	top: 40%;
}
#ticker h4{
	font-size: 1.2em;
	text-transform: none;
	margin-bottom: 10px;
	position: relative;
}
#ticker-text ul li{
	text-align: center;
	padding: 0 40px;
	list-style-type: none;
	font-size: 5em;
}
#ticker-text ul{
	width: 100%;
}
#header .with-breaker:after{
	display: none;
}
#header .with-breaker{
	margin-bottom: 20px;
	padding-bottom: 10px;
}
#header .with-breaker:before{
	width: 0;
	margin-left: -40px;
	bottom: -10px;
	opacity: .6;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* MAIN CONTAINER
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.main-container{
	padding: 0px 0 20px 0;
	z-index: 5;
	position: relative;
}
.main-container h1,
.main-container h2,
.main-container h3,
.main-container h4{
	margin: 20px 0 15px 0;
}
.with-breaker{
	margin-bottom: 30px;
	text-align: center;
	position: relative;
}
.with-breaker:before{
	width: 140px;
	height: 2px;
	z-index: 3;
	display: block;
	content: "";
	left: 50%;
	margin-left: -70px;
	background: #E7E7E7;
	position: absolute;
	bottom: 14px;
}
h1.with-breaker:before{
	bottom: 21px;
}
h2.with-breaker:before{
	bottom: 18px;
}
h3.with-breaker:before{
	bottom: 14px;
}
h4.with-breaker:before{
	bottom: 11px;
}
h4.with-breaker:after{
	margin-top: 8px;
}
.with-breaker:after{
	content: "\f02e";
	font-weight: normal;
	font-style: normal;
	font-family: "FontAwesome";
	display: block;
	margin-top: 15px;
	font-size: .6em;
}
.with-breaker span{
	display: block;
	font-size: .6em;
	text-transform: none;
	margin-top: 10px;
	letter-spacing: normal;
}
.main-container p{
	line-height: 1.5em;

	
}
.main-container a:focus{
	color: rgb(240, 77, 35);
}
.main-container code {
	font-size: .8em;
	position: relative;
	top: -1px;
	color: #FFF;
	border-radius: 2px;
}
.main-container hr{
	border: 0;
	margin: 40px auto;
	width: 60px;
	border-top: 2px solid;
}
.main-container hr.align-left{
	border: 0;
	margin: 0px 0 20px 0;
	width: 60px;
	border-top: 2px solid;
}
.main-container ul, 
.main-container ol{
	margin: 0 0;	
}
.main-container li{
	line-height: 2em;
}
.main-container blockquote{
	border: none;
	font-size: 1.2em;
	line-height: 1.9em;
	margin: 30px 0 20px 0;
	padding: 0;
}
.main-container blockquote:before{
	content: "\f10d";
	font-family: "FontAwesome";
	font-style: normal;
	font-size: 1.4em;
	float: left;
	margin: 0 20px -18px 0;
}
.main-container pre{
	border: none;
}
.main-container .center{
	text-align: center;
}
.main-container .btn{
	margin: 10px;
	border: 0;
	padding: 9px 20px;
	font-size: .9em;
	background: #EE2B26 !important;
}
.main-container .btn i{
	padding-right: 6px;
}
.main-container .icon{
	font-size: 3em;
	text-align: center;
	margin: 20px 0 0 0;
}
.main-container .surline{
	background: #FBFF9E;
	padding: 2px 3px;
	border-radius: 1px;
}
.main-container .dropcap{
	font-size: 2.5em;
	float: left;
	margin: 10px 20px 10px 0;
}
.main-container .welcome-message{
	text-transform: none;
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 0 10%;
	line-height: 1.5em;
}
/* FAQ */
.main-container .faqs-container{
	padding: 0 20px;
}
.main-container li.faq{
	list-style-type: none;
}
.main-container h4.faq-link{
	border-bottom: 1px solid;
	padding: 16px 0;
	margin: 20px 0;
}
.main-container h4.faq-link a:hover i{
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
}
.main-container h4.faq-link i{
	padding-right: 10px;
	position: relative;
}
.main-container .faq-content{
	display: none;
}
/* SOCIAL ICONS */
.main-container ul.social-list{
	margin-top: 10px;
	padding-left: 0;
}
.main-container ul.social-list li{
	display: inline-block;
	padding-right: 15px;
	font-size: 1.2em;
}
.main-container ul.social-list li:hover a{
	-webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
	opacity: 1;
}
.main-container ul.share-buttons{
	padding-left: 0;
	text-align: center;
	list-style-type: none;
	margin: 0;
}
.main-container ul.share-buttons li{
	display: inline;
}
.main-container ul.share-buttons li a.button-facebook{
	background: #3B5998;
	color: #FFF;
}
.main-container ul.share-buttons li a.button-twitter{
	background: #00ACED;
	color: #FFF;
}
/* SEARCHFORM */
#container-search-container{
	text-align: center;
	width: 80%;
	margin: auto;
}
#container-search-container #s{
	width: 100%;
	display: inline-block;
	padding-top: 23px;
	padding-bottom: 23px;
	width: 50%;
	box-shadow: none;
	top: 2px;
	position: relative;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* SKILLS 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* SKILLS TABS */
.tabs-container{
	width: 100%;
	margin: 40px auto; 
}
.nav-tabs{
	width: 100%;
	float: left;
	border-right: 0px solid #E7E7E7;
	border-bottom: 0;
	position: relative;
	z-index: 2;
}
.nav-tabs>li:nth-of-type(even){
	background: #FFFFFF;
}
.nav-tabs>li{
	display: inline-block;
	float: none;
	margin-bottom: 0;
	width: 19%;
min-width: 180px;
	border-bottom: 3px solid #BEBEBE;
border-radius: 6px;
overflow:hidden;
	border-top: 1px solid #E8E8E8;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	max-height: 65px;
	vertical-align:middle;
}
.nav-tabs>li>a{
	border-radius: 0;
	border-bottom: 1px solid #E7E7E7;
	text-align: right;
	padding: 25px;
	margin-right: 0;
}
.nav-tabs>li>a i{
	padding-right: 5px;
}
.nav-tabs>li>a:hover{
	opacity: .9;
}
.nav-tabs > li:last-child > a{
	border-bottom: 0;
	position: relative;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
	border-left: 0;
	border-right: 0;
	border-top: 0;
	color:#F7A61F;
}
/*.nav-tabs>li.active>a:after,
.nav-tabs>li.active>a:hover:after,
.nav-tabs>li.active>a:focus:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 0 0 10px 10px;
}*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background: inherit;}
.tab-pane{
	width: 100%;
	padding: 20px;
	float: left;
	display: block;
	z-index: 1;
	position: relative;;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
	-webkit-animation-duration: 0.7s;
	     -o-animation-duration: 0.7s;
	   -moz-animation-duration: 0.7s;
			animation-duration: 0.7s;
}
.tab-pane h2{
	margin-top: 0;
	margin-bottom: 15px;
}
h2 i,
h1 i{
	margin-right: 18px;
	font-size: 1.6em;
	position: relative;
	bottom: -2px;
}
/* SKILLS SHORTCODE */
.skills{
	margin: 40px auto 30px auto;
	width: 100%;
}
.skills-row{
	width: 100%;
}
.skill{
	border: 1px solid #E7E7E7;
	padding: 20px 40px;
	width: 33%;
	text-align: center;
}
.skill:hover{
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
    color: #FFF;
    cursor: pointer;
}
.skill:hover h4 i{
	position: relative;
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
}
.skill h4{
	margin-top: 0;
	margin-bottom: 15px;
}
.skill h4 i{
	margin-right: 18px;
	font-size: 1.6em;
	position: relative;
	bottom: -2px;
}
.skills .skills-row:first-child .skill{
	border-top: 0;
}
.skills .skills-row:last-child .skill{
	border-bottom: 0;
}
.skills .skills-row .skill:first-child{
	border-left: 0;
}
.skills .skills-row .skill:last-child{
	border-right: 0;
}
.skill-button{
	margin-bottom: 60px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* PORTFOLIO 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.main-container h1.project-title{
	margin-bottom: 20px;
}
/* PORTFOLIO FILTERS */
#portfolio-filters{
	text-align: center;
	margin-bottom: 25px;
}
/*  SINGLE PAGE */
.flexslider.image-slider{
	margin: 25px 0 10px 0;
}
.flexslider.image-slider img{
	max-width: 100%;
	border-radius: 5px;
}
/*POSTMETADATAS*/
.main-container ul.post-metadatas{
	padding-left: 0;
	list-style-type: none;
	margin-top: 0;
}
.main-container ul.post-metadatas li i{
	padding-right: 8px;
	color:#f7a61f ;
}
.main-container ul.post-metadatas li a {
    color: #000000;
    font-weight: 700;
}
/* PORTFOLIO SHORTCODE (http://tympanus.net/Development/HoverEffectIdeas/)*/
#portfolio-container{
	width: 100%;
	margin: 0px auto 60px auto;
	position: relative;
	zoom: 1;
	text-align: center;
	margin-bottom:0;
}
#portfolio-container figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width: 33.333%;
}
#portfolio-container figure img {
	position: relative;
	display: block;
	height: auto;
	opacity: 1;
	max-width: 100%;
}
#portfolio-container figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#portfolio-container figure figcaption::before,
#portfolio-container figure figcaption::after {
	pointer-events: none;
}
#portfolio-container figure figcaption,
#portfolio-container figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#portfolio-container figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.6) 75%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.6) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.effect-sadie h4 {
	position: absolute;
	top: 50%;
	left: 0;
	opacity: 0;
	font-size: 1.2em;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	text-transform: none;
	text-align:center;
	font-size: 15px;
	color: #FFF;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
figure.effect-sadie:hover h4 {
	color: #fff;
	opacity: 1;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.portfolio-button{
	position: relative;
	top: -20px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* CUSTOM SECTION SHORTCODE 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.custom-section-container{
	padding: 20px 0 10px 0;
	color: #FFF;
	position: relative;
}
.custom-section-container .container:before{
	content: "\f0c0";
	font-family: "FontAwesome";
	position: absolute;
	font-size: 15em;
	opacity: .2;
	left: -30px;
	top: -20px;
}
.custom-section-container .container{
	padding: 40px 0 35px 0;
}
.custom-section-text, .custom-section-buttons{
	width: 50%;
	float: left;
}
.custom-section-text{
	padding-right: 10%;
	border-right: 1px solid #FFF;
}
.custom-section-text p{
	opacity: .7;
}
.custom-section-text h2{
	margin: 15px 0 15px 0;
}
.custom-section-buttons{
	text-align: right;
	padding-top: 20px;
	position: relative;
}
.custom-section-buttons:before{
	content: "\f0da";
	position: absolute;
	font-family: "FontAwesome";
	left: -0.5px;
	top: 50%;
}
.main-container .custom-section-buttons .btn{
	background: transparent;
	z-index: 10;
	position: relative;
	border: 1px solid #FFF;
	color: #FFF;
}
.main-container .custom-section-buttons a.btn:hover{
	background: #FFF;
	border-color: #FFF;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* ABOUT 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* TEAM SHORTCODE */
.team-single{
	text-align: center;
	margin-top: 20px;
}
.team-single img{
	border-radius: 50%;
	width: 140px;
}
.team-single h3{
	margin-top: 25px;
	margin-bottom: 15px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* PARTNERS 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.partners-slide img{
	max-width: 100%;
}
.partners-slide a{
	opacity: .5;
	width: 70%;
	display: block;
	margin: 10px auto;
}
.partners-slide a:hover{
	opacity: 1;
}
#partners-slider .flex-direction-nav a{
	margin: -40px 0 0;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* BLOG 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BLOG GRID */
.main-container ul.blog-grid {
	list-style-type: none;
	padding-left: 0;
	margin: 42px 0;
}
.blog-grid li.blog-post:first-child{
	border-radius: 5px 5px 0 0 ;
}
.blog-grid li.blog-post:first-child img{
	border-radius: 0px 5px 0px 0px;
}
.blog-grid li.blog-post{
	height: 275px;
overflow: hidden;
}
.blog-grid>li:nth-of-type(odd){
	background: #F2F2F2;
}
.blog-grid>li:nth-of-type(odd) .blog-thumbnail{
	float: right;
	margin-right: 0;
	margin-left: 45px;
}
.blog-grid>li:nth-of-type(odd) .blog-content{
	text-align: right;
}
.blog-grid>li:nth-of-type(odd) .blog-content,.blog-grid>li:nth-of-type(odd) .blog-content .blog-button,.blog-grid>li:nth-of-type(odd) .blog-content h2,.blog-grid>li:nth-of-type(odd) .blog-content p{
	text-align: right;
}

.blog-grid>li:nth-of-type(odd) .blog-thumbnail a img{
	padding: 29px 40px 9px 2px;
}
.blog-grid>li:nth-of-type(even) .blog-thumbnail a img{
	padding: 29px 2px 9px 40px;
}
.blog-grid>li:nth-of-type(even) .blog-content ul {
    text-align: left;
}
.blog-grid>li:nth-of-type(odd) .blog-button{
	text-align: left;
}
.blog-grid>li:nth-of-type(odd) .blog-sum-up{
	text-align: right;
}
.blog-grid .blog-thumbnail{
	height: 300px;
	float: left;
	margin-right: 45px;
}
.blog-grid .blog-thumbnail a{
	max-width: 100%;
	overflow: hidden;
}
.blog-grid .blog-thumbnail a img{
	height: 220px;
	margin: 16px auto;
	
}
.blog-grid .blog-content{
	padding: 25px 50px 0 25px;
	height: 300px;
}
.blog-sum-up{
	text-align: left;
}
.main-container a.blog-post-title h2{
	margin: 0;
	padding-bottom: 10px;
}
.main-container .blog-grid ul.post-metadatas{
	margin-bottom: 0px;
}
.blog-button a{margin:0;}
.blog-button a.btn.btn-default {
    margin: 0;
    padding: 7px 18px;
	background: #EE2B26;
}
.blog-button{
	text-align: left;
}
.blog-grid .blog-content h2.temp-title {
    margin-top: 0;
	margin-bottom: 5px;
}

.temple-description p {
    text-align: justify;
    margin: 0;
}
/* BLOG SINGLE */
.single-post ul.post-metadatas{
	margin-bottom: 10px;
}

.tab-content>.tab-pane ul li:before {
content: "\f138";
color: rgb(139, 139, 139);
display: block;
float: left;
font-size: 23px;
padding: 0px 6px;
margin-right: 3px;
font-family: FontAwesome;

}

.tab-content> .accommodation ul li:before{display:none;}
.tab-content> .details ul li strong {
    display: inline-block;
    width: 31%;
    vertical-align: top;
}

.tab-content> .details ul li i {
    display: inline-block;
    width: 61%;
}
.tab-content> .accommodation div ul li{ background: #A6A6A6;
    width: 76%;    text-align: center;}
.tab-content>.tab-pane ul li {
    list-style: none;
    text-align: left;
    line-height: 20px;
    margin-bottom: 5px;
   
    padding: 5px;
    border-radius: 5px;
}

.single-post .blog-content{
	padding-top: 40px;
}
#comments-container{
	background: #F8F8F8;
	padding: 80px 0;
}
.main-container ol.comment-list{
	padding-left: 0;
	width: 80%;
	margin: auto;
}
.comment-list li{
	background: #FFF;
	list-style-type: none;
	border-radius: 3px;
	padding: 40px 40px 30px 40px;
	position: relative;
	margin-bottom: 50px;
}
.comment-list li p{
	padding-left: 95px;
}
.comment-list li:last-child{
	margin-bottom: 0;
}
.comment-author img{
	border-radius: 50%;
	float: left;
	margin: 10px 20px 20px 0;
	width: 75px;
}
.comment-meta{
	padding: 0px 0 10px 0;
}
.comment-list li:before {
	font-size: 5em;
	position: absolute;
	left: 30px;
	top: 65px;
}
.comment-list .children li:before{
	font-family: "FontAwesome";
	content: "\f064";
	font-size: 2em;
	top: 80px;
	left: -20px;
}
#comment-form{
	margin: 50px auto !important;
	width: 50%;
}
/* BLOG SHORTCODE */
#blog-container:after{
	bottom: 0;
}
#blog-container .flexslider .blog-post{
	background: #F8F8F8;
}
#blog-container .flexslider .blog-post:nth-of-type(odd){
	background: #FFF;
}
#blog-container .blog-thumbnail{
	height: 200px;
	text-align: center;
	display: block;
	overflow: hidden;
}
#blog-container .blog-thumbnail img{
	width: 100%;
	height: auto;
}
#blog-container .blog-thumbnail i{
	font-size: 4em;
	position: relative;
	top: 40%;
}
#blog-container .blog-thumbnail:hover{
	opacity: .4;
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
}
#blog-container .blog-content{
	padding: 20px 40px 20px 40px;
}
#blog-container .blog-sum-up{
	text-align: justify;
}
#blog-container .blog-post-title h2{
	margin: 0;
	font-size: 1.6em;
}
#blog-container a.blog-post-title{
	padding: 10px 20px 15px 20px !important;
	display: block;
}
#blog-container .post-content{
	padding: 5px 20px;
}
#blog-container .blog-button{
	padding-bottom: 30px;
	text-align: center;
	margin:0;
}
#blog-container .blog-button .btn.btn-default{
	background: transparent;
	border: 1px solid;
}
#blog-container ul.post-metadatas{
	margin-bottom: 10px;
}
#blog-container ul.post-metadatas li{
	padding-left: 0;
}
.blog-button{
	margin-bottom: 20px;
	margin-top: 10px;
}
#blog-container .blog-button a.btn.btn-default:hover{
	opacity: 1 !important;
	color: #FFF;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* CONTACT 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* FORM PROCESSING*/
#form_processing .alert-success,
#form_processing .alert-danger{
	width: 100%;
	height: 100%;
	text-align: center;
	border: 0;
	padding-top: 10%;
}
/* CONTACT MAP */
#GoogleMap{
	width: 100%;
	height: 290px;
	margin: 35px 0;
	border-radius: 5px;
}
/* CONTACT FORM */
#contact-form, 
#comment-form{
	margin: 35px 0;
}
#contact-form .control-group,
#comment-form .control-group
{
	margin: 25px 0;
}
#contact-form input.form-control,
#contact-form textarea.form-control,
#contact-form select.form-control,
#comment-form input.form-control,
#comment-form textarea.form-control,
#comment-form select.form-control{
	width: 100%;
	display: block;
	box-shadow: none;
}
/* CONTACT SHORTCODE */
.contact-boxes{
	width: 100%;
	table-layout: fixed;
	display: table;
}
.contact-box{
	color: #FFF;
	display: table-cell;
	padding: 60px 25px 50px 25px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.contact-box:before{
	font-family: "FontAwesome";
	position: absolute;
	font-size: 15em;
	opacity: .4;
	left: -30px;
	top: 20px;
}
.contact-box.contact-box-email:before{content: "\f003";}
.contact-box.contact-box-facebook:before{content: "\f09a";}
.contact-box.contact-box-twitter:before{content: "\f099";}
.contact-box.contact-box-google:before{content: "\f0d5";}
.contact-box.contact-box-skype:before{content: "\f17e";}

.contact-box.contact-box-email{background: #444;}
.contact-box.contact-box-facebook{background: #3b5998;}
.contact-box.contact-box-twitter{background: #55acee;}
.contact-box.contact-box-google{background: #dd4b39;}
.contact-box.contact-box-skype{background: #00aff0;}

.contact-box.contact-box-email a.btn.btn-default:hover{color: #444;}
.contact-box.contact-box-facebook a.btn.btn-default:hover{color: #3b5998;}
.contact-box.contact-box-twitter a.btn.btn-default:hover{color: #55acee;}
.contact-box.contact-box-google a.btn.btn-default:hover{color: #dd4b39;}
.contact-box.contact-box-skype a.btn.btn-default:hover{color: #00aff0;}
.contact-box h2{
	margin: 0 0 20px 0;
}
.contact-box p{
	color: #FFF;
	opacity: .8;
	font-size: .9em;
	min-height: 45px;
}
.contact-box a.btn.btn-default{
	background: transparent;
	border: 1px solid rgba(255,255,255,.6);
	color: rgba(255,255,255,1);
}
.contact-box a.btn.btn-default:hover{
	border: 1px solid #FFF;
	background: #FFF;
	opacity: 1;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* FOOTER 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#footer{
	padding-top: 70px;
} 
#footer a:hover{
	opacity: .6;
}
/* WIDGETS */
#widgets{
	padding-bottom: 45px;
}
.widget{
	padding: 0 50px;
}
.widget h4{
	font-size: 1.4em;
	padding-bottom: 15px;
}
.widget a.btn.btn-default{
	margin-top: 15px;
	background: transparent;
	font-size: .9em;
	border-radius: 2px;
}
.widget a.btn.btn-default:hover{
	border-color: white;
}
.widget a.btn.btn-default i{
	padding-right: 8px;
}
.widget ul{
	padding-left: 5px;
	list-style-type: none;
	margin: 0;
}
.widget ul li{
	line-height: 1.8em;
}
.widget ul li:before{
	content: "\f105";
	padding-right: 10px;
	font-family: "FontAwesome";
}
.widget ul.widget-social{
	margin-top: 10px;
}
.widget ul.widget-social li{
	display: inline-block;
	padding-right: 15px;
}
.widget ul.widget-social li:before{
	content: "";
	padding-right: 0;
}
.widget ul.widget-social li:hover a{	
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
}
#widgets .widget ul li.contact-address:before,
#widgets .widget ul li.contact-phone:before{
	color: #FFF;
}
.widget ul li.contact-address:before{
	content: "\f0f7";
}
.widget ul li.contact-phone:before{
	content: "\f095";
}
#footer-logo{
	width: 160px;
	margin-bottom: 30px;
}
/* COPYRIGHT */
#copyright{
	background: rgba(0,0,0,.2);
	padding: 15px 0 0 10px;
	font-size: .9em;
}
#copyright p{
	display: inline-block;
}
#footer-navigation{
	display: inline;
	padding-left: 10px;
}
#footer-navigation li{
	display: inline-block;
}
#footer-navigation li:after{
	content: "|";
	padding: 0 10px;
}
#footer-navigation li:last-child:after{
	content: "";
	padding: 0;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* PLUGINS 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* FANCYBOX */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}.fancybox-inner,.fancybox-outer{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px Museo700-Regular;margin:0;padding:15px;white-space:nowrap}.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}.fancybox-image{width:100%;height:100%;max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../images/fancybox/fancybox_sprite.png)}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url(../images/fancybox/fancybox_loading.gif) center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url(images/fancybox/blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;opacity:.2;visibility:visible}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible;opacity:1}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:visible!important;width:auto}.fancybox-lock body{overflow:hidden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(images/fancybox/fancybox_overlay.png)}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:400 13px/20px Museo700-Regular;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){
	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url("images/fancybox/fancybox_sprite@2x.png");
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}
	#fancybox-loading div {
		background-image: url("images/fancybox/fancybox_loading@2x.gif");
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
/* FLEXSLIDER */
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; max-width: 100%; overflow: hidden;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; list-style-type: none; float: left;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides div {display: block; overflow: hidden;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0px auto 0 auto;width: 100%; position: relative; zoom: 1; }
.flex-viewport { width: 100%; max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { margin: 0 !important; padding: 0 !important; }
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 50px; margin: -22px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 20px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 20px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "FontAwesome"; padding-top: 15px; font-size: 40px; display: inline-block; content: "\f104"; }
.flex-direction-nav a.flex-next:before  { content: "\f105"; }
/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.1); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.3); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.3); cursor: default; }
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

/*PACE*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #444;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}
.pace.pace-active .pace-activity {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}
.pace .pace-activity::before,
.pace .pace-activity::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}
.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-rotation 3s linear infinite;
    animation: pace-rotation 3s linear infinite;
}
.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-rotation 1s linear infinite;
    animation: pace-rotation 1s linear infinite;
}
@-webkit-keyframes pace-rotation {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
/*COLOR FONT AWESOME SOCIAL ICONS */
.social-list a:hover .fa-adn{color:#504e54;} 
.social-list a:hover .fa-apple{color:#aeb5c5;} 
.social-list a:hover .fa-android{color:#A5C63B;}  
.social-list a:hover .fa-bitbucket,.social-list .fa-bitbucket-square{color:#003366;} 
.social-list a:hover .fa-bitcoin,.social-list .fa-btc{color:#F7931A;} 
.social-list a:hover .fa-css3{color:#1572B7;} 
.social-list a:hover .fa-dribbble{color:#F46899;}  
.social-list a:hover .fa-dropbox{color:#018BD3;}
.social-list a:hover .fa-facebook,.social-list .fa-facebook-square{color:#3C599F;}  
.social-list a:hover .fa-flickr{color:#FF0084;}
.social-list a:hover .fa-foursquare{color:#0086BE;}
.social-list a:hover .fa-github,.social-list .fa-github-alt,.social-list .fa-github-square{color:#070709;} 
.social-list a:hover .fa-google-plus,.social-list .fa-google-plus-square{color:#CF3D2E;} 
.social-list a:hover .fa-html5{color:#E54D26;}
.social-list a:hover .fa-instagram{color:#A1755C;}
.social-list a:hover .fa-linkedin,.social-list .fa-linkedin-square{color:#0085AE;} 
.social-list a:hover .fa-linux{color:#FBC002;color:#333;}
.social-list a:hover .fa-maxcdn{color:#F6AE1C;}
.social-list a:hover .fa-pagelines{color:#241E20;color:#3984EA;}
.social-list a:hover .fa-pinterest,.social-list .fa-pinterest-square{color:#CC2127;} 
.social-list a:hover .fa-renren{color:#025DAC;}
.social-list a:hover .fa-skype{color:#01AEF2;}
.social-list a:hover .fa-stack-exchange{color:#245590;}
.social-list a:hover .fa-stack-overflow{color:#FF7300;}
.social-list a:hover .fa-trello{color:#265A7F;}
.social-list a:hover .fa-tumblr,.social-list .fa-tumblr-square{color:#314E6C;} 
.social-list a:hover .fa-twitter,.social-list .fa-twitter-square{color:#32CCFE;} 
.social-list a:hover .fa-vimeo-square{color:#229ACC;}
.social-list a:hover .fa-vk{color:#375474;}
.social-list a:hover .fa-weibo{color:#D72B2B;}
.social-list a:hover .fa-windows{color:#12B6F3;}
.social-list a:hover .fa-xing,.social-list .fa-xing-square{color:#00555C;} 
.social-list a:hover .fa-youtube,.social-list .fa-youtube-play,.social-list .fa-youtube-square{color:#C52F30;}
.temple-search form {
    display: inline;  
    padding: 3px 0px 3px 0px;
    /* border: 24px solid rgba(255, 255, 255, 0.2); */  
    background: rgba(255, 255, 255, 0.2);  
    /* border-left-width: 10px; */  
    /* border-right-width: 8px; */  /* border-radius: 5px; */;
}

.temple-search-block .temple-search input {
    padding: 10px;  width: 22%; 
		margin-left: 0;
     border: 4px solid rgba(255, 255, 255, 0.12);  background: #FFF;
}

.temple-search-block .temple-search button.button span {
    padding: 7px 15px;  width: 116px;  
    line-height: 35px;  font-size: 14px;
    background: #ee2b26 !important;
}
button#searchtemp {
    margin-left: -4px;
}
.temple-search-block h1 {
    margin-bottom: 25px;
}
h2.classy.f-left {
    margin: 0;
}

.summary {
    height: 22px;
}
h2.classy.f-left {
    font-size: 15px;
    margin: 8px;
}
.headingBox {
    display: inline-block;  width: 100%;  vertical-align: top;  margin: 20px 0px 30px;  position: relative;  text-align: center;
}

.headingBox h2 { font-size: 30px;}
.headingBox h2 span {
    color: #f7a61f;  background-color: #fff;
    background-image: url('images/div-r.png'),url('images/div-l.png');  background-position: right center,left center;  background-repeat: no-repeat;  width: auto !important;  padding-right: 9% !important;  padding-left: 9% !important;  background-size: contain;  text-transform: uppercase;  font-family: Museo700-Regular; 
}
.famous-temples .span3 {
    margin: 1.5%;  
    width: 22%;    
    /* height: 250px; */
    float: left;
}

.famous-temples .span3 img {
    width: 100%;  
    /* height: 100%; */
    border-radius: 3px;
	-webkit-filter: grayscale(100%);
}

.famous-temples .span3 h3 {
	visibility: hidden;
    position: relative;  
    background: #f7a61f;
    margin-top: -33px;
    margin-bottom: 0;
    font-size: 30px;  
    /* font-weight: bold; */
    text-align: center;
    color: #000000;  
    /* padding: 4px; */  
    /* opacity: 0.5; */  
    /* overflow: hidden; */  
    /* text-overflow: ellipsis; */  
    /* white-space: nowrap; */
}
.spnhover:hover h3 {
    visibility: visible;
}
.spnhover:hover  a img {
    background: rgba(0, 0, 0, 0.3);
}
.famous-temples {
    width: 90%;  margin: 0 auto;
}
.full-width {
    width: 100%;
    padding: 0;
}
.f-block {
    display: inline-block;  vertical-align: top;  width: 100%;
}

.footer-container {
    font-size: 13px;
}

.f-fix {
    float: left;  width: 100%;
}

.footer-blocks {
    text-align: left;  margin-top: 30px;
	font-family: Museo-Regular;
}

.footer-blocks .container {
    border-top: 1px solid #f7a61f;  padding-top: 40px;
}

.span3 {
    width: 25%;
}

[class*="span"] {
    float: left;  
    
}

.footer-blocks h3 {
    font-size: 15px;  font-weight: 400;  text-transform: uppercase;  margin-bottom: 23px;
}

form {
    display: inline;  border: 20px solid rgba(255, 255, 255, 0.2);  /* background: rgba(255, 255, 255, 0.2); */  border-left-width: 10px;  border-right-width: 10px;
}

.form-subscribe {
    text-align: center;
}

.form-subscribe h4 {
    text-align: left;
}

.footer-blocks .news-letter .input-text {
    width: 95%;  float: left;
    height: 42px;  border-width: 1px;  border-style: solid;  padding: 0px 10px;  color: #F7A617;
    background-color: #fff;
}

button.button {
    overflow: visible;  width: auto;  border: 0;  
    padding: 0px;  
    margin: 0;  margin-left: -4px;  cursor: pointer;  vertical-align: top;
}

.key-feature ul li {
    text-transform: uppercase;  display: inline-block;  width: 100%;
    margin-bottom: 10px;
}

.key-feature ul li .fa {
    background: #f7a61f;  color: #fff;
    width: 35px;  height: 35px;  line-height: 35px;  text-align: center;  font-size: 14px;  float: left;  border-radius: 50%;
}

.span3.key-feature ul {
    padding-left: 0;
}

.key-feature ul li span {
    display: block;  margin: 8px 0px 0px 44px;
}

.footer-blocks .twitter-twets li {
    position: relative;  
    padding: 0px 40px 0px 18px;  line-height: 15px;
}

.footerBottom {
    background: none repeat scroll 0 0 #F1F1F1;  border-top: 1px solid #DDDDDD;  
    padding: 15px 0 0;
}

.footer {
    font-size: 14px;
}

.mainFooterPan01 .media-payment, .mainFooterPan01 .footer .copyright {
    border-color: #eee;
}

.mainFooterPan01 .media-payment, .mainFooterPan01 .footer .copyright {
    border-bottom-width: 1px;  border-bottom-style: solid;  padding-top: 13px;
    /* padding-bottom: 13px; */
}

.mainFooterPan01 .media-payment .span6 {
    margin-bottom: 0px;  padding-left: 0;  padding-right: 9px;
}

.mainFooterPan01 .media-payment ul li {
    float: left;  
    padding-right: 20px;
    font-size: 35px;
}

.f-right, .right {
    float: right !important;
}

.span6 {
    width: 49%;
}

.mainFooterPan01 .footer .footer-links {
    border-bottom: 1px solid #303030;  border-top: 1px solid #303030;
}

.mainFooterPan01 .footer .footer-links .link-block {
    float: left;  width: 20%;
    margin-bottom: 15px;
}

.mainFooterPan01 .footer .footer-links h3 {
    color: #252525;
	text-transform: uppercase;
font-size: 15px;
}

.footer ul {
    /* display: inline; */
    padding-left: 0;
}

.mainFooterPan01 .footer .footer-links li {
    margin-top: 3px;  padding-left: 0px;  position: relative;
}

.footer a {
    color: #000;
	font-family: Museo-Regular;
}

.mainFooterPan01 .footer .footer-links li a span {
    font-weight: 700;
}

.mainFooterPan01 .footer .footer-links .link-block p {
    position: relative;  
    padding-left: 20px; padding-bottom: 0;
    margin-bottom: 5px;
	font-family: Museo-Regular;
}

.mainFooterPan01 .footer .footer-links .link-block p .fa {
    position: absolute;  left: 0px;  top: 2px;  font-size: 16px;  width: 16px;  text-align: center;color: #f7a61f;
}

.mainFooterPan01 .media-payment, .mainFooterPan01 .footer .copyright {
    border-color: #eee;
}

.mainFooterPan01 .footer .copyright ul li {
    margin-right: 7px;
}

.mainFooterPan01 .footer .copyright ul li, .mainFooterPan01 .footer .copyright p {
    font-size: 14px;
    padding-bottom: 0;
	font-family: Museo-Regular;
}

.mainFooterPan01 .footer .copyright ul li a {
    display: inline-block;  margin-right: 5px;
}
.input-box .button {
    margin-top: 10px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}

.input-box .button span {
    padding: 10px;
}
ul.footer-bottom-links.ul-left li {
    float: left;
}
footer.footer.container {
    width: 100%;
}

.f-fix.footer-blocks .container {
    width: 100%;
}
li {
    list-style: none;
}
ul.twitter-twets {
    padding-left: 0;
    padding-right: 5px;
}
ul.twitter-twets a {
    color: #f7a61f;
}
.news-letter h3,.find-on-fb h3,.lattest-tweets h3, .key-feature h3 {
    color: #f7a61f;
}
.footer a:hover {
    color: #f7a61f;
}
.famous-temples .span3 img:hover {
    -webkit-filter: none;
}

.filter-sort nav#navigation {
    width: 100%;
    position: relative;
    z-index: 9999;
    margin: 0;
}

.filter-sort nav#navigation ul#left-navigation {
    float: left;
    display: inline-block;
    position: relative;
	width: 100%;
}

.filter-sort nav#navigation ul#left-navigation li {
    float: left;
	width: 21%;
display: inline-block;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0;
    border-color: #ccc;
	text-align: left;
}
.filter-sort nav#navigation ul#left-navigation li ul.sub-menu {
    margin: 0;
    width: 100%;
    position: absolute;
    background: none;
	top: 106%;
}

.filter-sort nav#navigation ul#left-navigation li ul.sub-menu li {
    background: none;
    width: 100%;
    border-bottom-color: #A3A3A3;
}

.filter-sort nav#navigation ul#left-navigation li ul.sub-menu li a {
    padding: 5px;
    background: grey;
    color: #fff;
    display: block;
}
.filter-sort nav#navigation ul#left-navigation li a {
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
}
#header.small div .temple-search-block, #header.small div .temple-search-block .temple-search {
    top: 21%;
}

#header.small div .temple-search-block .temple-search button.button span {
    padding: 9px 8px;
    line-height: normal;
}

#header.small div .temple-search-block .temple-search input {
    padding: 4px;
}

#header.small div .temple-search-block .temple-search form {
    padding: 0px;
}
#header.small div .temple-search-block {
    top: 0;
}

header.small#header div .temple-search-block, header.small#header div .temple-search-block .temple-search {
    top: 23%;
}

header.small#header div .temple-search-block .temple-search form {
    padding: 5px;
    border: 0;
    height: 46px;
    display: block;
    margin: 0 auto;
    width: 45%;
}

header.small#header div .temple-search-block .temple-search form input {
    padding: 4px;
    width: 39%;
}

header.small#header div .temple-search-block .temple-search form button span {
    line-height: normal;
    padding: 9px;
}
.fixed{text-align: left;
position: fixed;
width: 100%;
left:0;
padding:8px;
top: 0;
z-index: 9;
background: #fff;
border-bottom:2px solid #B4B4B4;
}

.tab-content> .accommodation div ul li:before {
    display: none;
}

.tab-content> .accommodation div ul li a {
    color: #fff;
}

.tab-content> .accommodation div ul li span.rating {
    background: #ffc000;
    padding: 5px;
    border-radius: 50%;
    visibility: hidden;
    margin-left: 9px;
}

.tab-content> .accommodation div ul li:hover span.rating {
    visibility: visible;
    color: #fff;
}

.tab-content> .accommodation div ul li:hover {
    background: #FD5454;
}

.tab-content> .accommodation div ul li:hover a {
    opacity: 1;
}
.tab-content>.tab-pane p span.red {
    color: #FF0404;
    font-weight: bold;
}

.tab-content>.tab-pane .span4{max-height:650px;padding-right:10px;text-align:justify;}
.tab-content>.tab-pane .span4 h2{text-align:center;font-size: 25px;margin-top: 12px;color:#8B8B8B;}

.blog-button a.btn.btn-default:hover {
    border: 1px solid;
    color: #EE2B26;
    background: rgba(255, 255, 255, 0) !important;
    opacity: 1;
}
div#skill5 ul li {min-height:250px;}
div#skill5 ul li h3 {
    display: block;
    float: left;
    width: 95%;
    margin-top: 0;
	font-size:19px;
}
div#skill5 ul li img {
    float: left;
    padding-right: 42px;

}
div#skill6 ul li {min-height:250px;}
div#skill6 ul li h3 {
    display: block;
    float: left;
    width: 95%;
    margin-top: 0;
	font-size:19px;
}
div#skill6 ul li img {
    float: left;
    padding-right: 42px;
	
}
div#skill7 ul li {min-height:250px;}
div#skill7 ul li h3 {
    display: block;
    float: left;
    width: 94%;
    margin-top: 0;
	font-size:19px;
}
div#skill7 ul li img {
    float: left;
    padding-right: 42px;
	
}
div#skill8 ul li {min-height:250px;}
div#skill8 ul li h3 {
    display: block;
    float: left;
    width: 94%;
    margin-top: 0;
	font-size:19px;
}
div#skill8 ul li img {
    float: left;
    padding-right: 42px;
	
}


.captionOrange, .captionBlack
{
color: #fff;
font-size: 20px;
line-height: 30px;
text-align: center;
border-radius: 4px;
}
.captionOrange
{
background: #EB5100;
background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
font-size:16px;
background: #000;
background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
color: #ffffff;
text-decoration: none;
}
a.captionOrange:hover
{
color: #eb5100;
text-decoration: underline;
background-color: #eeeeee;
background-color: rgba(238, 238, 238, 0.7);
}
.bricon
{
background: url(slidericon/browser-icons.png);
}
/* jssor slider arrow navigator skin 02 css */
/*
.jssora02l              (normal)
.jssora02r              (normal)
.jssora02l:hover        (normal mouseover)
.jssora02r:hover        (normal mouseover)
.jssora02ldn            (mousedown)
.jssora02rdn            (mousedown)
*/
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../img/a02.png) no-repeat;
overflow:hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02ldn { background-position: -243px -33px; }
.jssora02rdn { background-position: -303px -33px; }

 /* jssor slider thumbnail navigator skin 03 css */
                /*
                .jssort03 .p            (normal)
                .jssort03 .p:hover      (normal mouseover)
                .jssort03 .pav          (active)
                .jssort03 .pav:hover    (active mouseover)
                .jssort03 .pdn          (mousedown)
                */
                .jssort03 .w, .jssort03 .pav:hover .w
                {
                	position: absolute;
                	width: 100%;
                	height: 100%;
                	border: #a4a4a4 1px solid;
                }
                * html .jssort03 .w
                { 
                	width /**/: 100%;
                	height /**/: 100%;
                }
                .jssort03 .pdn .w, .jssort03 .pav .w { border-style: solid; border-color:orange;}
                .jssort03 .c
                {
                	width: 100%;
                	height: 100%;
                	filter:  alpha(opacity=45);
                	opacity: .45;
                	
                	transition: opacity .6s;
                    -moz-transition: opacity .6s;
                    -webkit-transition: opacity .6s;
                    -o-transition: opacity .6s;
                }
                .jssort03 .p:hover .c, .jssort03 .pav .c
                {
                	filter:  alpha(opacity=0);
                	opacity: 0;
                }
                .jssort03 .p:hover .c
                {
                	transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }
				span.location {
padding-left: 0%;
color: gray;
font-size: 16px;
text-transform: initial;
}
p.img-gan {

}
#portfolio-filters button.btn.btn-default {
width: 15%;
min-width: 130px;
font-size: 14px;
font-weight: bold;
color: #fff;
}

.nav-tabs>li.active {
    background: #E4E4E4;
}

.nav-tabs li a i {
    display: inline-block;
    width:50px;
    height:50px;
    background-size: contain !important;
	background-repeat:no-repeat !important;
	float:left;
	border:0;
	margin:0;
	padding:0;
}
.nav-tabs>li>a{padding:5px 11px;display:inline-block;width:100%;line-height: 50px;font-weight:700;font-family:Museo700-Regular;}

.nav-tabs li a .story{background:url('images/content/1.png');}
.nav-tabs li a .facts{background:url('images/content/2.png');}
.nav-tabs li a .festivals{background:url('images/content/3.png');}
.nav-tabs li a .architecture{background:url('images/content/4.png');}
.nav-tabs li a .guidance{background:url('images/content/5.png');}
.nav-tabs li a .accommodation{background:url('images/content/6.png');}
.nav-tabs li a .near-place{background:url('images/content/7.png');}
.nav-tabs li a .more-details{background:url('images/content/8.png');}


.tab-pane h2{}
.tab-pane h2 i{
			display: inline-block;
			width: 40px;
			height: 40px;
			background-size: contain !important;
			background-repeat: no-repeat !important;
			vertical-align: bottom;}

.tab-pane h2 .story{background:url('images/content/1.png');}
.tab-pane h2 .facts{background:url('images/content/2.png');}
.tab-pane h2 .festivals{background:url('images/content/3.png');}
.tab-pane h2 .architecture{background:url('images/content/4.png');}
.tab-pane h2 .guidance{background:url('images/content/5.png');}
.tab-pane h2 .accommodation{background:url('images/content/6.png');}
.tab-pane h2 .near-place{background:url('images/content/7.png');}
.tab-pane h2 .more-details{background:url('images/content/8.png');}	


span.location {
padding-left: 0%;
color: gray;
font-size: 16px;
text-transform: initial;
}
p.img-gan {

}
#portfolio-filters button.btn.btn-default {
width: 14%;
}
#canvas_holder{
position: absolute;
top: 0px;
left: 0px;
width:100%;

}
 
#map_canvas{
width:100%;
height:100%;
position: absolute;
top: 0px;
left: 0px;

}
 
#map
{
position: relative;
width: 100%;
height:100%;
}

.info
{
width: 370px;
height: 200px;
}


.info img
{
width: 150px;
height: 100px;
}

.ss-container{
	margin-top: 0px;
    width:100%;
	height:100%;
    position: relative;
    text-align: left;
    float: left;
	overflow: hidden;
	padding-bottom: 90%;
}
/*.yatra-map {
width: 86%;
position: relative;
height: 400px;
margin-left: -3%;
border: 1px rgba(0, 0, 0, 0.24) solid;

}*/
div#control_panel {
width: 26%;
position: absolute;
float: right;
right: 5%;

top: 7%;
z-index:9;
}
.foo {   
    float: left;
    width: 30px;
    height: 20px;
    
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}
td.tbl-list {
text-align: center;
vertical-align: middle;
background-color: rgb(250, 176, 95);
color: white;
font-weight: bold;
font-size: 21px;
}
td.tbl-place {
position: relative;
vertical-align: middle;
padding-left: 10px;
padding: 8px;
}
td.tbl-color:hover{background: #DFDFDF;}
td.tbl-color  a{display:block;}
td.tbl-color {
/* padding-left: 6px; */
/* padding-right: 18px; */
padding: 6px;
width: 43%;
height: auto;
vertical-align: middle;
text-align: center;
background: #A8A296;
min-width:150px
}
table.tbk-ytra {
border-color: rgba(203, 200, 200, 0);
background: #fff;
border-radius: 8px;
overflow: hidden;
}
table.tbk-ytra tbody tr:hover{background:rgba(218, 218, 218, 0.57);}
table.tbk-ytra tbody tr.tbl-list{background:#FAB05F !important;}
table.tbk-ytra tbody tr {
    border-bottom-color: #DCDCDC;    
}

#header .tbk-ytra td.tbl-place a:hover{ color:#FAB05F;}
#header .tbk-ytra td.tbl-place a{
font-weight:bold;
color:#111;}

.tbk-ytra tr.1{border-bottom-color:white;}

.span12 h2 {

margin-right: 89%;
}
td.tbl-color a {
    font-size: 16px;
    display: block;
}
td.tbl-color a img {
    width: 31px;
    height: 30px;
    margin-right: 12px;
}
.tbl-color:hover a:hover {
color: orange !important;
cursor: pointer;
}


.span3.shortdesc-list {
    display: inline-block;
    position: relative;
    padding: 0 24px;
    overflow: visible;
    background: #FFFFFF;
}

.span3.shortdesc-list strong {
    display: inline-block;
    width: 100%;
    background: #ccc;
    border-radius: 3px;
    padding: 2px;
	color:#fff;
}

.shortdesc-table {
border: 1px solid;
border-radius: 11px;
margin-top: 2%;
background: rgba(204, 204, 204, 0.58);
margin-left: 6%;
width: 64%;
}

/* 
div#skill5 ul li:before {
    display: none;
}

div#skill5 div ul {
    display: inline-block;
    width: 19%;
    background: #FFFFFF;
    border: 2px solid rgba(17, 17, 17, 0.43);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 26px 6px rgba(0,0,0,0.75);  -moz-box-shadow: 10px 10px 26px 6px rgba(0,0,0,0.75);  
    box-shadow: 4px 10px 14px 0px rgba(0,0,0,0.75);
    margin: 5%;
}

div#skill5 div ul span {
    display: inline-block;
    background: #F7A61F;
    text-align: center;
    padding: 32px;
    color: #fff;
    font-size: 17px;
    width: 100%;
    font-weight: bold;
}
div#skill5 ul li{padding:0;} 
div#skill5 ul li p {
    text-align: center;
}

div#skill5 ul li p.r1 {
    font-size: 27px;
    font-weight: bold;
}

div#skill5 div ul span i {
    display: block;
    font-weight: 200;
    margin-top: 14px;
} */

.form-subscribe h4 {
    font-size: 14px;
    margin-top: 0;
	font-weight: lighter !important;
	text-transform:capitalize !important;
}
.form-subscribe .input-box button.button span {
    padding: 5px 12px;
    border-radius: 7px;
}
.span3.news-letter form {
    border: 0;
}
.mainFooterPan01 .footer .footer-links .link-block p a,.mainFooterPan01 .footer .footer-links .link-block p {
    color: #000;
	text-decoration: none;
}

.mainFooterPan01 .footer .footer-links .link-block p a:hover {
    color: #F7A61F;
}
.mainFooterPan01 .media-payment{padding-top:0;}