@charset "utf-8";
/*1111111111111111111*/
.cloud-zoom-lens {border: 4px solid #888;margin:-4px;background-color:#fff;cursor:move;}
/* 222222222222222222 */
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}
/* 33333333333333333 */
.cloud-zoom-big {border:4px solid #ccc;overflow:hidden;}
/* 44444444444444444 */
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}