.ms-fullscreen-template .slide-pattern{
	background: url(../img/masterSlider/pattern.png) scroll;
	width: 100%;
	height: 100%;
	z-index: 8;
	position: absolute;
	top: 0;
}
  
.slide-4 .small-text {
	margin: 0;
	top: 50% !important;
	font-weight: 300;
	left: 10px !important;
	padding: 0;
	margin-top: 0px !important;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);
} 
.slideBox{}
.slideBox p{font-size: 18px; color: #eee;display: inline-block; width: 100%;} 
.slideBox p .fa{margin-right: 10px;}
.slideBox h2{ color: #fff; font-size: 36px; font-weight: 600; display: inline-block; width: 100%; margin: 0;}
.slideBox h3{ color: #eee; font-size: 24px; font-weight: 500; display: inline-block; width: 100%; margin: 0;}
.slideBox a{background: #f04d23; display: inline-block; color: #fff; padding: 20px 40px; text-transform: uppercase; font-size: 16px; font-weight: 500; margin-top: 20px; text-decoration: none; display: inline-block;  }
.slideBox a:hover{background: #ed9636;}















