@charset "utf-8";
/* CSS Document */


/* optional  */
@media all and (max-width: 1366px) {



.menuNavbar ul li { padding-left: 30px;}
.menuNavbar ul.menuSec2 li a {padding: 0 15px;}
.sesText h2{ font-size: 24px; line-height: 30px;}
.seasonBox { height: 220px;}

/*Product*/
.price p { font-size: 14px;}
.ProdBox .col-md-3 { width: 270px;}
.ProdBox .col-md-9 { width: calc(100% - 270px);}

} 



@media all and (max-width: 1200px) { 



.menuSec2 .menuNum, .menuSec2 .menuCont{ display: none; }
#navbar{ padding: 0; }
.menuNavbar ul li{ padding-left: 15px; }
.seasonBox:before, .sesText{ width: 75%; }
.partnerLogo ul li img{ max-width: 60px; }
.subInput{ width: 70%; }
footer .subBtn{ width: 30%; padding: 0; }
/*bookPandit*/
.panditImg {width: 100%; }
/*product*/
.prodImgIn { height: 140px;}
.prodBoxIn {display: inline-block;width: 33.3333%;}
.prodBoxIn:nth-child(3n+1) {border-left: 1px #a1a1a1 solid !important; border-top: 0 !important; border-right: 0;}
.prodBoxIn:nth-child(1){border-top: 1px #a1a1a1 solid !important;border-right: 1px #a1a1a1 solid !important;}
.prodBoxIn:nth-child(4){border-top:0;}
/*product Detail*/
.nav-tabs>li>a { font-size: 14px; height: 45px; line-height: 45px;}

.rel1 {height: 311px;}
.rek3Img { height: auto;}

} 
@media all and (max-width: 1024px) {



.proMenu ul li { margin-right: 20px;}
.proMenu ul li a { font-size: 14px;}
.listViewBox h2 span { float: none; margin-top: 15px;}
.prodBoxInList .prodImgIn { height: 250px;}
.mobFilter{display: block;position: relative;}
.ProdBox .col-md-9{width: 100%;}
.mobFilterBtn,.closeBtnFilter{display: block;}
.closeBtnFilter{position: absolute; right: 0; top: 0; font-size: 24px; margin-right: 15px; font-weight: 600; margin-top: 5px; color: #f04d23; cursor: pointer;}
.ProdBox .col-md-3 {width: 270px;position: absolute;top: -54px; left: -270px; -webkit-transition: all 0.5s ease-in;
-moz-transition: all 0.5s ease-in;
-ms-transition: all 0.5s ease-in;
-o-transition: all 0.5s ease-in;
transition: all 0.5s ease-in;}
.parameter h2 { min-height: 22px;}
.ms-showcase2-template { padding-bottom: 125px;}



}
@media all and (max-width: 992px) {


.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float: left;} .col-md-12 {width: 100%;} .col-md-11 {width: 91.66666667%;} .col-md-10 {width: 83.33333333%;} .col-md-9 {width: 75%;} .col-md-8 {width: 66.66666667%;} .col-md-7 {width: 58.33333333%;} .col-md-6 {width: 50%;} .col-md-5 {width: 41.66666667%} .col-md-4 {width: 33.33333333%;} .col-md-3 {width: 25%;} .col-md-2 {width: 16.66666667%;} .col-md-1 {width: 8.33333333%;} .col-md-pull-12 {right: 100%;} .col-md-pull-11 {right: 91.66666667%;} .col-md-pull-10 {right: 83.33333333%;} .col-md-pull-9 {right: 75%;} .col-md-pull-8 {right: 66.66666667%;} .col-md-pull-7 {right: 58.33333333%;} .col-md-pull-6 {right: 50%;} .col-md-pull-5 {right: 41.66666667%} .col-md-pull-4 {right: 33.33333333%;} .col-md-pull-3 {right: 25%;} .col-md-pull-2 {right: 16.66666667%;} .col-md-pull-1 {right: 8.33333333%;} .col-md-pull-0 {right: auto;} .col-md-push-12 {left: 100%;} .col-md-push-11 {left: 91.66666667%;} .col-md-push-10 {left: 83.33333333%;} .col-md-push-9 {left: 75%;} .col-md-push-8 {left: 66.66666667%;} .col-md-push-7 {left: 58.33333333%;} .col-md-push-6 {left: 50%;} .col-md-push-5 {left: 41.66666667%;} .col-md-push-4 {left: 33.33333333%;} .col-md-push-3 {left: 25%;} .col-md-push-2 {left: 16.66666667%;} .col-md-push-1 {left: 8.33333333%;} .col-md-push-0 {left: auto;} .col-md-offset-12 {margin-left: 100%;} .col-md-offset-11 {margin-left: 91.66666667%;} .col-md-offset-10 {margin-left: 83.33333333%;} .col-md-offset-9 {margin-left: 75%;} .col-md-offset-8 {margin-left: 66.66666667%;} .col-md-offset-7 {margin-left: 58.33333333%;} .col-md-offset-6 {margin-left: 50%;} .col-md-offset-5 {margin-left: 41.66666667%;} .col-md-offset-4 {margin-left: 33.33333333%;} .col-md-offset-3 {margin-left: 25%;} .col-md-offset-2 {margin-left: 16.66666667%;} .col-md-offset-1 {margin-left: 8.33333333%;} .col-md-offset-0 {margin-left: 0%;} 
/* start here */
.bookSearchBox select {width: 150px;font-size: 14px;}
.bookSearchBox input {width: 290px;font-size: 14px;}
input.bookSearchSub {width: 150px;font-size: 14px;}
/*checkout*/
.checksec span {line-height: 44px; font-size: 42px;} 
.checksec h2 {font-size: 16px;} 
.checksec p {font-size: 14px;} 
.checksec .fa {right: 20px;} 
.checkNote {padding: 15px;} 
.checkNote h2 {width: 15%;} 
.checkAddChange a {width: 100%;} 
.checkPin:last-child {float: left; } 
.checkBox .col2 a {font-size: 14px;} 
.checkBox .col4 p {font-size: 14px;} 
.checkBox .col5 p {font-size: 14px;} 
.checkBox .col5 {width: 25%;} 
.checkAddBox .checkAddBtn a {width: 135px;}
/*Contact*/
.contactPage .col-md-4,.contactPage .col-md-8{width: 100%;}
.sendUsMailForm h2 { margin-top: 0;font-size: 18px;}
.contactInfo h2 { margin-top: 15px;}
.contactInfo p { font-size: 14px;}
.sendFormField { font-size: 14px;}
.sendFormFieldTextarea { font-size: 14px;}
/*Product*/
.ProdBox .col-md-9 {width: 100%;}
.myOrderReview .checkBoxReview .col1-1 .col1-img {width: 80px; height: 80px;}
.addCheck {width: 40px;}
.userAddBox {padding: 30px 100px 30px 30px;}
.rel1 {height: 233px;}
.hwItWrk:before {position: absolute; content: ""; width: 60%; border-bottom: 0px #dfdfdf dashed; left: 68%; }
.hwItWrk{margin-top: 60px;}
/*.hwItWrk:first-child{margin-top: 0px;}*/
.gridCartBtn {position: relative; top: 0; left: 0; width: 100%; height: auto; background: none; opacity: 1;margin-top: 20px;}
.prodDisc {margin-top: 40px;}
.gridCartBtn a {width: 125px;line-height: 40px;height: 40px;}
 }
 

@media all and (max-width: 768px) {



.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 ,.col-md-pull-12,.col-md-pull-11,.col-md-pull-10,.col-md-pull-9,.col-md-pull-8,.col-md-pull-7,.col-md-pull-6,.col-md-pull-5,.col-md-pull-4,.col-md-pull-3,.col-md-pull-2,.col-md-pull-1,.col-md-push-12,.col-md-push-11,.col-md-push-10,.col-md-push-9,.col-md-push-8,.col-md-push-7,.col-md-push-6,.col-md-push-5,.col-md-push-4,.col-md-push-3,.col-md-push-2,.col-md-push-1{float: none; display:block; width: 100%;} .col-md-pull-12,.col-md-pull-11,.col-md-pull-10,.col-md-pull-9,.col-md-pull-8,.col-md-pull-7,.col-md-pull-6,.col-md-pull-5,.col-md-pull-4,.col-md-pull-3,.col-md-pull-2,.col-md-pull-1,.col-md-pull-0 {right: 0;} .col-md-push-12,.col-md-push-11,.col-md-push-10,.col-md-push-9,.col-md-push-8,.col-md-push-7,.col-md-push-6,.col-md-push-5,.col-md-push-4,.col-md-push-3,.col-md-push-2,.col-md-push-1,.col-md-push-0 {left: 0;} .col-md-offset-12,.col-md-offset-11,.col-md-offset-10,.col-md-offset-9,.col-md-offset-8,.col-md-offset-7,.col-md-offset-6,.col-md-offset-5,.col-md-offset-4,.col-md-offset-3,.col-md-offset-2,.col-md-offset-1,.col-md-offset-0 {margin-left: 0;} 
.menuNavbar ul li a{ font-size: 12px; }
.menuNavbar ul li{ padding-left: 10px; }
.logo{ width: 96px; }
.logo img{ width: 90%; }
.menuNavbar ul.menuSec2 li a{ padding: 0 10px; }
.siteMenu{display: none;}
.mobileMenu{display: block;}
/* start here */
.ms-fullscreen-template .bookSearchBox{ width: 98%; }
.bookSearchBox select{ width: 27%; }
.bookSearchBox input{ width: 48.9%; }
input.bookSearchSub{ width: 20%; }
.seasonBox{ width: 50%; }
.seasonBox:before, .sesText{ width: 50%; }
.homeServ{padding: 15px 0;}
.serv{ margin-bottom: 15px; } 
.homeServ .col-md-6:last-child .col-md-12 .serv{ margin-bottom: 0; }
.prodCont{ padding: 20px 0; }
.prodCont .col-md-4{ float: left; width: 50%; margin-bottom: 10px; padding: 0 5px; }
footer{ display: none !important; }
.homeProd{ padding: 20px 0; }
.homeProd .prodCont{ padding: 0; margin: 0; }
.smallFooter{ height: auto; }
.socialIcon{ padding-top: 35px; }
.socialIcon ul{ width: 267px; margin: 0 auto; text-align: center; }
.copy{ position: absolute !important; left:0; top:0; width: 100%; height: 50px; }
.smallFooter{ position: relative; }
.partnerLogo ul{ width: 281px; margin: 0 auto; margin-top: -15px; }
.mobScrn50{width: 50%;float: left;}
/*booPandit*/
.bookSearchBox {width: 90%;}
.bookForm {margin-bottom: 30px;}
.bookSearchBox input {width: 48%;}
input.bookSearchSub { width: 100px; float: right;}
/*product*/
.prodBoxIn { width: 50%;}
.prodDisc a.discprd { text-align: center; width: 100%}
.prodBoxIn:nth-child(2n+1) { border-left: 1px #a1a1a1 solid !important;}
.prodBoxIn:nth-child(3){ border-top: 0 !important;}
.prodBoxIn:nth-child(3n+1) { border-right: 1px #a1a1a1 solid; border-left: 0px #a1a1a1 solid !important;}
.prodBoxIn:nth-child(6n+1) {border-left: 1px #a1a1a1 solid !important;}
.prodBoxIn:nth-child(1) { border-left: 1px #a1a1a1 solid !important;}
.rek3Img { height: auto;}
.userPic {float: none; margin-right: 35px; max-width: 130px; text-align: center; margin: 0 auto;} 
.userBoxUp .userBox:first-child { width: 50%;    margin: 15px 0 10px 0;}
.userBox { width: 50%;float: left;clear: none;}
.userAdd{margin-top: 30px;}
.userAddBox { padding: 30px 150px 30px 30px;}
.checkBox .col1 {width: 17%;}
.proDetCart {width: 100px;}
.checkBox .col6 {width: 10%;}
.rel2 { margin-top: 25px;}
.rel3 { margin: 25px 0;}
.rel4 { margin-bottom: 25px;}
.rel4In p:before,.rel1In h3:before { width: 130px; margin-left: -65px;}
.mobileLogin .menuLogin { border-right: 1px #999 solid;}
.mobileCart .menuEcom, .mobileLogin .menuLogin{ color: #f04d23;text-decoration: none;}
.homeProd{display: none;}
.dl-menuwrapper {right: 0;}
.homeWork{display: none;}
.ProdBox .col-md-3 { width: 100%;left: -100%;height: 100%;}
.mobHomeServ{display: block;}
.homeServ{display: none;}
.checkBoxHead .col1{width: 60%;}
.checkBox .col3 {width: 31%;}
.checkBoxHead {font-size: 12px;}
 .checkBox .col5 { width: 30%;}


}




@media all and (max-width: 640px) {



.bookSearchBox input {width: 50%; }
input.bookSearchSub {width: 90px; float: right; }
.panditImg{margin-bottom: 0;}
.bookForm {margin-top: 30px;}
/*chackout*/
.checksec{text-align: center;}
.checksec .fa {right: 0px;}
.checksec span {float: none;}
.checkNote h2 {display: block; width: 100%; text-align: center; margin: 0; border: 0; margin-bottom: 10px;}
.checkNoteAdd {display: block; width: 100%; text-align: center;}
.checkAddChange {display: block;}
.mobFixWidth{width: 590px; margin: 0 auto;}
.mobFixWidthrow{overflow-x:auto; }
/*.checkBox .col3 {width: 30%; text-align: center; } */
.checksec h2 {display: none; }
.checksec p{display: none;}
.proMenu ul li { margin-right: 20px; width: calc(50% - 20px); border-bottom: 5px solid transparent; float: left;} 
.proMenu ul:after {height: 0px;} 
.profTop {padding: 120px 0; padding-top: 60px;} 
.price { padding: 6px;}
.checkAddBox {display: block; margin-bottom: 30px; margin-top: 30px; text-align: center; }
.checkAddBox a.checkAddItem {display: block; width: 100%; margin-bottom: 15px;}
.checkAddBox .checkTot{display: block; width: 100%;margin-bottom: 20px;}.checkAddBox .checkAddBtn{display: block; width: 100%;}
.checkAddBox .checkTot p {margin-bottom: 0px;}
.myOrderReview .checkBoxReview .col1-1 {width: 100%; text-align: center; padding: 0; display: block; vertical-align: middle; padding: 0 15px;}
 .checkBoxReview .col1-1 .col1-img {width: 80px; height: 80px; margin: 0 auto; margin-bottom: 20px; }
.checkBoxReview {position: relative;
    display: block;}
.checkBoxReview .fa-pencil-square-o{    position: absolute;
    top: 40px;
    left: 45px;}
.checkBoxReview .fa-trash-o{    position: absolute;
    top: 40px;
    right: 45px;}
.checkAddBox .checkAddBtn a {
    width: 100%;
}
.checkAddBox .checkAddBtn{position: fixed; z-index: 9; bottom: 0; right: 0; width: 50%; background: #fff;} 
.checkAddBox a.checkAddItem{ position: fixed; z-index: 9; bottom: 0px; left: 0; width: 50%; background: #fff; display: block; height: 40px; line-height: 40px; margin: 0 !important;}
.logo img{ width: 100%; }
.dl-menuwrapper button {width: 45px;}

}
@media all and (max-width: 480px) {



.ms-fullscreen-template .bookSearchBox{ width: 100%; margin-bottom: 10px; }
.bookSearchBox select,.bookSearchBox input{ margin: 0px 0px; float: left;  font-size: 12px;}
input.bookSearchSub{ height: 40px; line-height: 40px; float: left; }
.bookSearchBox select{ width: 30%; }
.bookSearchBox input{ width: 50%; }
.bookSearchBox .ui-icon{ display: none; }
input.bookSearchSub{ width: 20%; }
.slideBox p{ font-size: 12px; }
.slideBox h2{ font-size: 18px; }
.slideBox h3{ font-size: 16px; }
.slideBox a{ padding: 10px 20px; font-size: 12px; }
.seasonBox{ height: 160px; }
.seasonBox:before, .sesText{ width: 100%; }
.sesText h2{ font-size: 18px; }
.prodCont .col-md-4{ float: none; width: 100%; padding: 0 15px; }
.mobileMenu{text-align: center;}
.mobileLogo{float: left;} 
.mobScrn50{width: 100%;float: left;}
.mobScrn50 a{text-align: left;margin-bottom: 10px;}
.loginForm {width: 100%; max-width: 400px; margin: 30px auto; background: #f3f3f3; top: 0; position: relative; left: 0; transform: initial;}
.loginContainer {height: initial;}
.proMenu ul li a { font-size: 12px; padding: 10px 5px;}
/*Prodict*/
.prodBoxIn {width: 100%;}
.prodBoxIn:nth-child(1) {border-bottom: 0px !important;}
.prodBoxIn:nth-child(n+1) {border-left: 1px #a1a1a1 solid !important;}
/**/
.pageList { padding: 0 15px;}
.listV,.gridV{display: none;}
.sort { border-right:  1px solid #b28b70;}
.proDetBox .heart { margin-right: 5px;}
.heartPro { font-size: 14px;}
.proDetCart,.proDetBuy { width: 100px;}
.detBox { padding: 0 0 25px;}
.detBox h2 { font-size: 16px; padding-bottom: 10px;}
.detBox .price p { font-size: 14px;}
.parameter h2 { font-size: 12px;}
.parameter h2 { min-height: 32px;}
.myOrderReview .checkBoxReview .col1-1,.myOrderReview .checkBoxReview .col2-1,.myOrderReview .checkBoxReview .col5-1 {width: 100%;display: block;}
.myOrderReview .checkBoxReview .col6-1 {width: 15%;}
.checkBoxReview .col1-1 .col1-img {/*margin: 25px auto;*/}
.userBoxUp .userBox:first-child {width: 90%;}
.userBoxUp .userBox{width: 90%;}
.addCheck img {width: 100%;}
.userAddBox {padding: 30px 100px 30px 30px;}

.prodSelection div {float: none; height: 50px; line-height: 50px; z-index: 1 !important; position: static; margin-bottom: 10px; border-right:  1px solid #b28b70;cursor: pointer;} 
/*.prodSelection { margin-bottom: 50px;}*/
.clearfixMob{display: block; margin: 5px;}
.proTab .nav-tabs>li {    float: none;
display: inline-block;
/* width: 100%; */
/* padding: 0px 10px; */}
.proTab .nav-tabs>li.active>a,.proTab .nav-tabs>li.active>a:hover,.proTab .nav-tabs>li.active>a:focus {    width: 100%;
/* padding: 0; */
padding: 0px 10px;
font-size: 12px;}
.proTab {
margin-top: 0px;
}
.bookSearchBox .ui-corner-all, .bookSearchBox .ui-corner-top, .bookSearchBox .ui-corner-right, .bookSearchBox .ui-corner-tr{width: 30% !important; margin: 0; float: left; font-size: 12px;}
.pageList{width: 78%;float: right !important;}
.slideBox a {margin-top: 5px;}


}
 
@media all and (max-width: 320px) {



.slideBox a{ margin-top: 5px; }
.seasonBox{ height: 140px; }
.homeWork{ padding: 20px 0; min-height: 0; }
.mobScrn50{width: 100%;float: left;}
.mobScrn50 a{text-align: left;}



}

 
 