<?php
	$customerid = $this->getRequest()->getParam("id");
	$collection = Mage::getModel("additionalinfo/additionalinfodata")->getCollection()->addFieldToFilter("customer_id",$customerid);
	if(count($collection)){
		$customfields = array();
		foreach($collection as $coll)
			array_push($customfields,array($coll->getFieldId()));
	}		?>
<div id="customer_info_tabs_customfield_content">
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper("additionalinfo")->__("Custom Registration Fields Information") ?></h4>
		</div>
		<div id="_accountbase_fieldset" class="fieldset">
			<div class="hor-scroll">
				<table class="form-list" cellspacing="0">
					<tbody>
						<tr>
							<td class="label">
								<label><?php echo Mage::helper("additionalinfo")->__("Select Store") ?></label>
							</td>
							<td class="value">
								<select class="input-text selectstore" id="<?php echo $customerid; ?>" name="store">
									<option value=""><?php echo Mage::helper("additionalinfo")->__(" --Please Select-- ") ?></option>
<?php 									$everyStore = Mage::app()->getStores();
										foreach($everyStore as $eachStore => $val) { 	?>
											<option value="<?php echo Mage::app()->getStore($eachStore)->getId(); ?>"><?php echo Mage::app()->getStore($eachStore)->getName(); ?></option>
<?php 									} 	?>
								</select>
							</td>
						</tr>
					</tbody>
					<tbody class="tr_store"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	if (typeof jQuery == "undefined") {
	document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script>
<script type="text/javascript">
	jQuery.noConflict();
	jQuery(".selectstore").change(function(){
		var storeid = jQuery(this).val();
		var customerid = jQuery(this).attr("id");
		jQuery.ajax({
			url: "<?php echo $this->getUrl('additionalinfo/adminhtml_additionalinfo/getstoreoption'); ?>",
			type:"GET",
			DataType:"text",
			data:{"storeid":storeid,"customerid":customerid},
			success: function(msg){
				jQuery(".tr_store").html(msg);
			},
			error : function(){
				alert("Error Occured!!!!");
			}
		});
	});
</script>