<?php
	if (Mage::getStoreConfig('magiclogo/general/magiclogoenabled') == "1"):         
    $brandModel = Mage::getModel('magiclogo/magiclogo')->getCollection()->addFieldToFilter('status', 1);
    if (count($brandModel) > 0):
?>
<div class="logBox">
<div class="container">
 <?php if (Mage::getStoreConfig('magiclogo/general/magiclogoenabled')=="1") : ?>
 <div class="headingBox">
		<h2><span><?php if (Mage::getStoreConfig('magiclogo/general/logotitle') != "") echo Mage::getStoreConfig('magiclogo/general/logotitle'); ?></span></h2>
    </div>    
    <?php endif; ?>
<div class="jcarousel-wrapper">
                <div class="jcarousel scroller-brand">
                    <ul>
        <?php
             $imageUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "magiclogo";
             foreach ($brandModel as $k => $v) {
        ?>
        <li class="logopan">
        	<a href="<?php echo $v->getUrl(); ?>">
            	<img src="<?php echo $imageUrl . $v->getFilename(); ?>" alt="<?php echo $v->getTitle(); ?>" title="<?php echo $v->getTitle(); ?>" />
            </a>		        
        </li>
        <?php
       }?>
       </ul>
                </div>
  	      <a href="#" class="jcarousel-control-prev prevBrand"><i class="fa fa-angle-left"></i></a>
          <a href="#" class="jcarousel-control-next nextBrand"><i class="fa fa-angle-right"></i></a>
</div>




</div>
</div>
<script type="text/javascript">
(function($) {
    $(function() {
	var jcarouselBrand = $('.scroller-brand');

        jcarouselBrand
            .on('jcarousel:reload jcarousel:create', function () {
                var width = jcarouselBrand.innerWidth();

                if (width >= 600) {
                    width = width / 5;
                } else if (width >= 350) {
                    width = width / 2;
                }

                jcarouselBrand.jcarousel('items').css('width', width + 'px');
            })
			
            $('.scroller-brand').jcarousel({
				wrap: 'both'
			});
			
			
        $('.prevBrand')
            .jcarouselControl({
                target: '-=1'
            });

        $('.nextBrand')
            .jcarouselControl({
                target: '+=1'
            });
    });
})(jQuery);			
</script>
<?php endif; ?>
<?php endif; ?>
