#tabs > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
#tabs > ul li {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #EEEEEE;
    float: left;
    list-style: none outside none;
    margin-right: 10px;
}

.tab-contents {

}
.tab-contents > table {
    display: block;
    width: 100%;
}
.tab-contents tbody {
    display: block;
    width: 100%;
}
.tab-contents tr {
    display: block;
    width: 100%;
}
.tab-contents td {
    width: 20%;
}

.tab-contents-new {
}
.tab-contents-new > table {
    display: block;
    width: 100%;
}
.tab-contents-new tbody {
    display: block;
    width: 100%;
}
.tab-contents-new tr {
    display: block;
    width: 100%;
}
.tab-contents-new td {
    width: 20%;
}

.tab-contents-feature {

}
.tab-contents-feature > table {
    display: block;
    width: 100%;
}
.tab-contents-feature tbody {
    display: block;
    width: 100%;
}
.tab-contents-feature tr {
    display: block;
    width: 100%;
}
.tab-contents-feature td {
    width: 20%;
}

#tabs  ul li a {
}
.active {
    background: none repeat scroll 0 0 #FFFFFF;
}